<div class="row mb-3">
  <div class="col-8">
    <span class="header1">
      Transfer from <%= @warehouse.name %>: <%= @transfer_order.name %>
    </span>
  </div>
	<div class= "col-4 text-right">
  <label class="d-inline-block mr-4">Destination Warehouse</label>
	<%= f.select :to_warehouse_id, options_for_select(Warehouse.all.map{|s|[s.name, s.id.to_i]}), { include_blank: true }, class: "form-control d-inline-block w-50" %>
	<%= f.hidden_field :from_warehouse_id, value: @warehouse.id.to_i %>
	</div>
  <div class= "col-4">
    <%= f.label :etc_date, "ETC date" %>
    <%= f.date_field :etc_date, class: "form-control d-inline-block w-50"  %>
	</div>
</div>

<%= link_to "Search Product", add_product_admin_warehouse_transfer_orders_path(warehouse_id: @warehouse.id), class: "btn btn-primary mr-4", style: "width: 150px", remote: true %>
<div id="productPurchase"></div>

<section id="warehouse-item-results">
	<%= render partial: "result_items", locals: { current_user: current_user } %>
</section>


<div class="row">
  <div class="col-12 text-right">
    <%= link_to "Cancel", clear_array_admin_warehouse_transfer_orders_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
</div>