<div class="table-responsive">
	<table class="table table-borderless table-hover">
		<thead>
			<tr>
				<th style="width: 60%">Description</th>
				<th style="width: 10%">SKU</th>
				<th style="width: 10%">On Hand</th>
				<th style="width: 20%">Supplier</th>
			</tr>
		</thead>
		<tbody>    
			<% $array_for_warehouse_items.each do |war_var| %>
				<% var = war_var.product_variant %>
				<tr>
					<td><%= var&.title %></td>
					<td><%= var&.sku.upcase %></td>
					<td><%= var&.inventory_quantity unless var&.inventory_quantity.to_i.negative? %></td>
					<td><%= var.product&.supplier&.name%></td>
					<td><%= war_var.quantity %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>