<div class="container position-center" style="top: 45%">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
    <div class="row justify-content-center">
      <div class="col12 col-md-6 col-lg-3">
        <div class="mb-5 text-center">
          <%= image_tag "logo-em-2.png", class: "img-fluid w-75" %>
        </div>

        <div class="mb-5">
          <span class="header2 text-grey font-weight-normal">OTP Verify</span>
        </div>

        <div class="mb-5">
          <label>OTP</label>
          <%= f.hidden_field :email, value: given_params[:email] %>
          <%= f.hidden_field :password, value: given_params[:password] %>
          <%= f.text_field :otp_attempt, autofocus: true, autocomplete: "off", class: 'form-control login-form mb-4', required: true %>
          
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Verify</button>
      </div>
    </div>
  <% end %>
</div>

<div class="position-absolute w-100 text-center" style="left: 0; bottom: 1rem">
  &copy; <%= Date.current.year %> Northbanq All Rights Reserved
</div>
