<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_production" %>
    </div>

    <div class="col-10">
      <a href="<%= new_admin_factory_path %>">
        <button class="btn btn-primary">
          <%= show_svg("plus.svg") %>
          Create Factory
        </button>
      </a>
    
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 90%">Name</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @factories.each do |factory| %>
              <tr>
                <td><%= factory.name %></td>
                <td>
                  <a href="<%= edit_admin_factory_path(factory) %>" class="mr-4">
                    <%= show_svg("recent_activity.svg") %>
                  </a>
                  <%= link_to admin_factory_path(factory), method: :delete, data: { confirm: "Are you sure you want to delete this factory?" } do %>
                    <%= show_svg("close.svg") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>