<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @user.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-6 mb-3">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "form-control", required: true %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, class: "form-control", required: true %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field :phone_number, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :user_group_id, "Select Group" %>
    <%= f.select :user_group_id, options_for_select(UserGroup.all.map{ |s| [s.name, s.id] }, :selected => f.object.user_group_id.blank? ? UserGroup.find_by(name: 'Default').id : f.object.user_group_id), {}, { class: "form-control" } %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :employee_id, "Employee Record" %>
    <%= f.select :employee_id, options_for_select(Employee.where(exit_date: nil).includes(:users).where( users: { employee_id: [nil, f.object.employee_id] }).order("users.user_group_id DESC, employees.first_name DESC").map{ |s| [s.full_name, s.id] }, :selected => f.object.employee_id), { include_blank: true }, { class: "form-control" } %>
  </div>

  <div class="col-1 mb-3">
    <label>Enable F2A</label><br>
    <%= f.check_box :otp_required_for_login, data: { switch: "blue" } %>
    <%= f.label :otp_required_for_login, "&nbsp;".html_safe %>
  </div>

  <div class="col-1 mb-3">
    <label>Deactivate</label><br>
    <%= f.check_box :deactivate, data: { switch: "blue" } %>
    <%= f.label :deactivate, "&nbsp;".html_safe %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>