<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_team" %>
    </div>

    <div class="col-10">
      <%= form_for @user, url: { action: "update_password" }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <% @user.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-6 mb-3">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
          <div class="col-12 mb-3">
            <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary mr-4" %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>