<div class="row">
  <div class="col-12 col-md-8 mb-3">
    <% if @invoice.customer.customer_shipping_address.present? %>
      <p class="header2">SHIP TO</p>
      <%= link_to @invoice.customer.customer_shipping_address.first_name.present? ? @invoice.customer.customer_shipping_address&.first_name + " " + @invoice.customer.customer_shipping_address&.last_name : @invoice.customer.full_name, admin_customer_path(@invoice.customer_id) %><br>
      <%= @invoice.customer.customer_shipping_address.address %>
      <%= @invoice.customer.customer_shipping_address.city %>,
      <%= @invoice.customer.customer_shipping_address.state %>
      <%= @invoice.customer.customer_shipping_address.full_country %>
      <%= @invoice.customer.customer_shipping_address.zip %><br>
      <% if @invoice.customer.customer_shipping_address.email.present? || @invoice.customer.email.present? %>
        Email: <%= @invoice.customer.customer_shipping_address.email.present? ? @invoice.customer.customer_shipping_address.email : @invoice.customer.email %><br>
      <% end %>
      <% if @invoice.customer.customer_shipping_address.phone.present? || @invoice.customer.phone.present? %>
        Tel: <%= @invoice.customer.customer_shipping_address.phone.present? ? @invoice.customer.customer_shipping_address.phone : @invoice.customer.phone %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 col-md-4 mb-3 text-md-right">
    <% case @invoice&.status %>
      <% when "new_lead" %>
        <span class="badge badge-outline-light-grey">
          <%= @invoice&.status&.titleize %>
        </span><br>
      <% when "quote_offered" %>
        <span class="badge badge-outline-blue">
          <%= @invoice&.status&.titleize %>
        </span><br>
      <% when "deposit" %>
        <span class="badge badge-outline-yellow">
          <%= @invoice&.status&.titleize %>
        </span><br>
      <% when "full_payment" %>
        <span class="badge badge-outline-green">
          <%= @invoice&.status&.titleize %>
        </span><br>
      <% when "no_sale" %>
        <span class="badge badge-outline-black">
          <%= @invoice&.status&.titleize %>
        </span><br>
    <% end %>
    <a class="mr-2" style="vertical-align: text-bottom" data-toggle="modal" data-target="#leadNoteModal">
      <%= show_svg("ri-edit-box-line.svg") %>
    </a>
    <span class="header1">
      <% if @invoice.order.present? %>
        <a class="text-black" href="<%= edit_admin_order_path(@invoice.order) %>">
          <%= @invoice.order.name %>
        </a>
      <% else %>
        <%= @invoice.invoice_number %>
      <% end %>
    </span><br>
    <span>Invoice Date: <%= @invoice.created_at.strftime("%B %d, %Y") %></span><br>
    <span class="header2 mr-3">Source</span>
    <%= f.select :source, options_for_select(Invoice.sources.keys.map { |w| [w.titleize, w] }, f.object.source), { include_blank: true }, class: "form-control d-inline-block mb-3", style: "width: 200px", required: true, disabled: @invoice.order_id.present? || @invoice.status == "no_sale", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id } %>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3">
    <label>ITEMS INVOICED</label>
    <% unless @invoice.order_id.present? || @invoice.status == "no_sale" %>
      <span class="toggle-view text-blue ml-3 font-weight-normal" data-toggle="item-search">
        Add Item
      </span>
    <% end %>
    <div class="table-responsive">
      <table class="table table-borderless table-hover" id="invoice-table">
        <thead class="bg-light-blue">
          <tr>
            <th style="width: 15%">
              SKU
            </th>
            <th style="width: 28%">Description</th>
            <th style="width: 10%">Status</th>
            <th style="width: 13.5%">DC ETS</th>
            <th style="width: 10%">Quantity</th>
            <th style="width: 13.5%">Price</th>
            <th style="width: 5%">Amount</th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <% total = 0 %>
          <%= f.fields_for :invoice_line_items, f.object.invoice_line_items.order(:created_at) do |ff| %>
            <tr>
              <td>
                <% if ff.object.return_id.present? %>
                  <% if ff.object.product_variant.sku.start_with? "WS" %>
                    <%= ff.object.product_variant.sku %>
                  <% else %>
                    <%= "WS-" + ff.object.product_variant.sku.to_s %>
                  <% end %>
                <% else %>
                  <%= ff.object.product_variant.sku %>
                <% end %>
              </td>
              <td>
                <%= ff.object.product_variant.title %>
                <% if ff.object.product_variant.sku[0..2] == "CST" || ff.object.product_variant.sku[0..2] == "COM" %>
                  <%= ff.text_field :additional_notes, class: "form-control", style: "width: 300px", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, placeholder: "Additional Notes", disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
                <% end %>
              </td>
              <td>
                <% if @invoice.order_id.present? && @invoice.order.line_items.find_by(variant_id: ff.object.product_variant_id).present? %>
                  <%= @invoice.order.line_items.find_by(variant_id: ff.object.product_variant_id).status&.titleize %>
                <% else %>
                  <% if ff.object.product_variant.inventory_quantity.to_i > 0 %>
                    <span class="text-green">Ready</span>
                  <% elsif ff.object.product_variant.purchase_items.where(line_item_id: nil).sum { |pi| (pi.containers.present? && pi.containers.any? { |con| !(con.status == "arrived") }) ? pi&.quantity.to_i : 0 } > 0 %>
                    <span class="text-yellow">In Container</span>
                  <% elsif ff.object.product_variant.purchase_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum > 0 %>
                    <span class="text-yellow">Container Ready</span>
                  <% elsif ff.object.product_variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum > 0 %>
                    <span class="text-yellow">In Production</span>
                  <% else %>
                    <span class="text-black">Not Ready</span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if @invoice.order_id.present? && @invoice.order.line_items.find_by(variant_id: ff.object.product_variant_id).present? %>
                  <% if @invoice.order.line_items.find_by(variant_id: ff.object.product_variant_id).status == "ready" %>
                    Available
                  <% elsif @invoice.order.line_items.find_by(variant_id: ff.object.product_variant_id).purchase_items.present? %>
                    <% arriving_date = [] %>
                    <% product_variant&.purchase_items.where(line_item_id: nil).each do |item| %>
                      <% if item.containers.present? %>
                        <% item.containers.each do |cant| %>
                          <% arriving_date.push(cant.arriving_to_dc) if (cant.status != "arrived" && cant.arriving_to_dc.present?) %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if arriving_date.length > 1 %>
                      <%= arriving_date.min.strftime("%B %d, %Y") %>
                    <% else %>
                      8 - 12 weeks
                    <% end %>
                  <% else %>
                    8 - 12 Weeks
                  <% end %>
                <% else %>
                  <% if ff.object.product_variant.inventory_quantity.to_i > 0 %>
                    Available
                  <% elsif ff.object.product_variant.purchase_items.present?%>
                    <% arriving_date = [] %>
                    <% ff.object.product_variant&.purchase_items.where(line_item_id: nil).each do |item| %>
                      <% if item.containers.present? %>
                        <% item.containers.each do |cant| %>
                          <% arriving_date.push(cant.arriving_to_dc) if (cant.status != "arrived" && cant.arriving_to_dc.present?) %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if arriving_date.length > 1 %>
                      <%= arriving_date.min.strftime("%B %d, %Y") %>
                    <% else %>
                      8 - 12 weeks
                    <% end %>
                  <% else %>
                    8 - 12 Weeks
                  <% end %>
                <% end %>
              </td>
              <td><%= ff.number_field :quantity, class: "form-control", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %></td>
              <td>
                <% if ff.object.price.present? || ff.object.product_variant.price == nil %>
                  <%= ff.number_field :price, class: "form-control w-75", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
                <% else %>
                  <%= number_to_currency((ff.object.product_variant.special_price.present? && ff.object.product_variant.special_price.to_f > 0) ? ff.object.product_variant.special_price.to_f : ff.object.product_variant.price.to_f) %>
                <% end %>
              </td>
              <td>
                <% if ff.object.price.present? %>
                  <% sum = ff.object.quantity * ff.object.price %>
                <% else %>
                  <% sum = ff.object.quantity * ((ff.object.product_variant.special_price.present? && ff.object.product_variant.special_price.to_f > 0) ? ff.object.product_variant.special_price.to_f : ff.object.product_variant.price.to_f) %>
                <% end %>
                <%= number_to_currency(sum) %>
                <% total += sum %>
              </td>
              <td>
                <% unless @invoice.order_id.present? || @invoice.status == "no_sale" %>
                  <a data-reflex="click->InvoiceReflex#remove_invoice_line_item", data-invoice-id= "<%= @invoice.id %>" data-item-id="<%= ff.object.id %>">
                    <%= show_svg("delete.svg") %>
                  </a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% unless @invoice.order_id.present? || @invoice.status == "no_sale" %>
      <div class="position-relative toggle-content" data-toggle="item-search">
        <select class="form-control d-inline-block mr-3" id="search-select" style="width: 75px">
          <option value="all" selected="selected">All</option>
          <option value="com">COM</option>
          <option value="ws">WS</option>
          <option value="cst">CST</option>
          <option value="cem">CEM</option>
          <option value="mto">MTO</option>
        </select>
        <div class="d-inline-block w-50" id="search-invoice">
          <div class="search-bar">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-inline-block" data-reflex="debounced:input->InvoiceReflex#search_all" data-search="all" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-none" data-reflex="debounced:input->InvoiceReflex#search_com" data-search="com" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-none" data-reflex="debounced:input->InvoiceReflex#search_ws" data-search="ws" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-none" data-reflex="debounced:input->InvoiceReflex#search_cst" data-search="cst" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-none" data-reflex="debounced:input->InvoiceReflex#search_cem" data-search="cem" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
            <input type="text" placeholder="Search Product/SKU..." class="form-control item-search d-none" data-reflex="debounced:input->InvoiceReflex#search_mto" data-search="mto" data-invoice-id="<%= @invoice.id %>" data-store-type="<%= @invoice.store || current_store %>">
          </div>
          <section class="search-results" id="variant-search-results">
          </section>
        </div>
        <select class="form-control ml-3 item-search d-none" id="category-selection" style="width: 75px" data-search="cem">
          <option></option>
          <% ProductVariant.where("length(sku) < 3 AND title ILIKE '%-%'").where.not("title ILIKE '%-%-%'").where.not("title ILIKE '%|%'").order(:title).pluck(:title).map { |title| title.split("-")[0] }.uniq.each do |category| %>
            <option><%= category %></option>
          <% end %>
        </select>
        <select class="form-control ml-3 item-search d-none" id="material-selection" style="width: 75px" data-search="cem">
          <option></option>
          <% ProductVariant.where("length(sku) < 3 AND title ILIKE '%-%'").where.not("title ILIKE '%-%-%'").where.not("title ILIKE '%|%'").order(:title).pluck(:title).uniq.each do |title| %>
            <option style="display: none" data-category="<%= title.split("-")[0] %>"><%= title.split("-")[1] %></option>
          <% end %>
        </select>
        <button class="btn btn-primary ml-3 item-search d-none" id="submit-cem" type="button" style="width: 75px; min-width: 75px" data-search="cem">Add</button>
        <span class="toggle-view ml-4" data-toggle="item-search">
          <%= show_svg("close.svg") %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-12 border-bottom mb-3"></div>
  <div class="col-12 col-md-4 mb-3">
    <label>NOTES / TERMS & CONDITIONS</label>
    <%= f.text_area :notes, class: "form-control mb-3", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.invoice_macro_id.present? || @invoice.status == "no_sale" %>
    <button type="button" class="btn btn-primary mr-4 d-inline-block" data-toggle="modal" data-target="#taskModal">Add Task</button>
    <label class="mr-3">Macro</label>
    <%= f.select :invoice_macro_id, options_for_select(InvoiceMacro.all.map{|s|[s.name, s.id]}, f.object.invoice_macro_id), { include_blank: true }, class: "form-control d-inline-block", style: "width: calc(100% - 100px - 1.5rem - 35px - 1rem - 2px)", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
  </div>
  <% unless @invoice.status == "no_sale" %>
    <div class="col-12 col-md-7 offset-md-1 mb-3">
      <div class="row">
        <div class="col-4 offset-6 offset-md-5 mb-3"><label>SUBTOTAL:</label></div>
        <div class="col-2 offset-md-1 pl-1 mb-3"><%= number_to_currency(total) %></div>
        <div class="w-100"></div>

        <div class="col-6 col-md-5 mb-3">
          <label class="d-inline-block mr-2" style="width: calc(35% - 0.75rem)">Discount</label>
          <%= f.text_field :discount, class: "form-control d-inline-block", style: "width: 65%", placeholder: "Code Name", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
        </div>
        <div class="col-4 mb-3">
          <%= f.number_field :discount_amount, class: "form-control", step: :any, data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
          <span style="position: absolute; top: 0.45rem; right: 2rem; font-size: 1.15rem">%</span>
        </div>
        <div class="col-2 offset-md-1 pl-1 mb-3">
          <% discount = f.object.discount_amount.present? ? total * f.object.discount_amount * 0.01 : 0 %>
          <%= number_to_currency(-discount) %>
          <% total -= discount %>
        </div>
        <div class="w-100"></div>

        <div class="col-6 col-md-5 mb-3">
          <label class="d-inline-block mr-2" style="width: calc(35% - 0.75rem)">
            Shipping <span class="text-red">*</span>
          </label>
          <%= f.select :shipping_type, options_for_select(["Standard", "Local", "Remote", "Admin"], f.object.shipping_type), { include_blank: true }, class: "form-control d-inline-block", style: "width: 65%", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, required: true, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
        </div>
        <div class="col-4 mb-3">
          <%= f.select :shipping_method, options_for_select([["Curbside Delivery", class: ("d-none" if @invoice.shipping_type == "Admin")], ["Curbside Delivery - Waive Fee", class: ("d-none" unless @invoice.shipping_type == "Local")], ["White Glove Delivery", class: ("d-none" if @invoice.shipping_type == "Admin")], ["Local Pickup", class: ("d-none" unless @invoice.shipping_type == "Local")], ["Shipping", class: ("d-none" unless @invoice.shipping_type == "Admin")]], f.object.shipping_method), { include_blank: true }, class: "form-control", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, required: true, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
        </div>
        <div class="col-2 offset-md-1 pl-1 mb-3">
          <% shipping_amount = 0 %>
          <% if f.object.shipping_type == "Standard" %>
            <% shipping_amount = StandardShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{f.object.shipping_method}%").where("order_min_price <= ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
          <% elsif f.object.shipping_type == "Local" %>
            <% if f.object.shipping_method == "Curbside Delivery - Waive Fee" %>
              <% shipping_amount = 0 %>
            <% else %>
              <% shipping_amount = LocalShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{f.object.shipping_method}%").where("order_min_price <= ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
            <% end %>
          <% elsif f.object.shipping_type == "Remote" %>
            <% shipping_amount = RemoteShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{f.object.shipping_method}%").where("order_min_price <= ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
          <% end %>

          <% if @invoice.shipping_type == "Admin" %>
            <%= f.text_field :shipping_amount, class: "form-control", step: :any, data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, disabled: @invoice.order_id.present? || @invoice.status == "no_sale" %>
            <% total += @invoice.shipping_amount.to_f %>
          <% else %>
            <%= number_to_currency(shipping_amount) %>
            <% total += shipping_amount %>
          <% end %>
        </div>
        <div class="w-100"></div>

        <div class="col-6 col-md-5 mb-3">
          <label class="d-inline-block mr-2" style="width: calc(35% - 0.75rem)">Tax</label>
          <label class="checkbox checkbox-blue" style="vertical-align: middle">
            <%= f.check_box :waive_tax, disabled: @invoice.order_id.present? || @invoice.status == "no_sale", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id } %>
            <span class="checkmark"></span>
          </label>
          <span class="ml-2">Waive Tax</span>
        </div>
        <div class="col-4 mb-3">
          <%= f.object.tax_amount %> %
        </div>
        <div class="col-2 offset-md-1 pl-1 mb-3">
          <% tax = f.object.tax_amount.present? ? total * f.object.tax_amount * 0.01 : 0 %>
          <%= number_to_currency(tax) %>
          <% total += tax %>
        </div>
        <div class="w-100"></div>

        <div class="col-4 offset-6 offset-md-5 mb-3"><label>TOTAL:</label></div>
        <div class="col-2 offset-md-1 pl-1 mb-3"><%= number_to_currency(total) %></div>
        
        <div class="col-6 col-md-5 mb-3 text-right">
          <label>Payment Method <span class="text-red">*</span></label>
        </div>
        <div class="col-4 mb-3">
          <%= f.select :payment_method, options_for_select(Invoice.payment_methods.keys.map { |w| [w, w] }, @invoice.payment_method), { include_blank: true }, class: "form-control", disabled: @invoice.order_id.present? || @invoice.status == "no_sale", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, required: true %>
        </div>
        <% unless ["Credit Card Deposit", "Cash Deposit", "Trade Cheque Deposit", "Stripe Payment Link"].include?(@invoice.payment_method) || @invoice.status == "deposit" %>
          <div class="col-2 offset-md-1 pl-1 mb-3"><%= number_to_currency(total) %></div>
        <% end %>
        <% if ["Credit Card Deposit", "Cash Deposit", "Trade Cheque Deposit", "Stripe Payment Link"].include?(@invoice.payment_method) || @invoice.status == "deposit" %>
          <div class="col-6 col-md-5 mb-3 text-right">
            <label>Deposit Amount</label>
          </div>
          <div class="col-4 mb-3">
            <%= f.number_field :deposit, class: "form-control", disabled: @invoice.order_id.present? || @invoice.status == "no_sale", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id }, step: :any %>
          </div>
          <div class="col-2 offset-md-1 pl-1 mb-3"><%= number_to_currency(total - @invoice.deposit.to_f) %></div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col-12 col-md-4 mb-3">
      <label>No Sale Notes</label>
      <%= f.text_area :no_sale_notes, class: "form-control", data: { reflex: "change->InvoiceReflex#update", reflex_dataset: "combined", invoice_id: @invoice.id } %>
    </div>
  <% end %>
</div>

<div class="modal" id="leadNoteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <label>Lead Note</label>
        <%= f.text_area :lead_note, class: "form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
        <button type="button" class="btn btn-primary" data-invoice-id="<%= @invoice.id %>" data-reflex="click->InvoiceReflex#update">Submit</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#search-select").on("change", function() {
    $(".item-search").removeClass("d-inline-block").addClass("d-none");
    $(".item-search[data-search='" + $(this).val() + "']").removeClass("d-none").addClass("d-inline-block");
  });

  $("#category-selection").on("change", function() {
    $("#material-selection option").hide();
    $("#material-selection option[data-category='" + $(this).val() + "']").show();

    $("#add-cem-form #category_name").val($(this).val());
  });

  $("#material-selection").on("change", function() {
    $("#add-cem-form #material_name").val($(this).val());
  });

  $(document).on("click", ".add-cem", function() {
    $(".item-search[data-search='cem']").val($(this).data("sku"));

    $("#add-cem-form #product_id").val($(this).data("id"));
  });

  $("#submit-cem").on("click", function() {
    $("#add-cem-form").submit();
    document.getElementById("loaderOverlay").style.display = "flex";
    document.getElementById("loaderOverlay").style.left = 0;
  });
</script>