<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% @variants&.each do |variant| %>
        <tr data-reflex="click->InvoiceReflex#add_invoice_line_item_all" data-variant-id="<%= variant.id %>" data-invoice-id="<%= @invoice_id %>">
          <td class="pl-5" style="width: 30%"><%= variant.sku %></td>
          <td style="width: 70%"><%= variant.title %></td>
        </tr>
      <% end %>
      <% @products&.each do |product| %>
        <tr data-reflex="click->InvoiceReflex#add_invoice_line_item_com" data-product-id="<%= product.id %>" data-invoice-id="<%= @invoice_id %>">
          <td class="pl-5" style="width: 30%"><%= product.sku %></td>
          <td style="width: 70%"><%= product.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>