<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% @returns&.each do |ret| %>
        <tr data-reflex="click->InvoiceReflex#add_invoice_line_item_ws" data-return-id="<%= ret.id %>" data-invoice-id="<%= @invoice_id %>">
          <td class="pl-5" style="width: 30%">
            <% if ret.line_item_id.present? %>
              <%= "WS-" + ret&.line_item&.sku&.upcase %>
            <% elsif ret.product_variant_id.present? %>
              <%= ret&.product_variant&.sku&.upcase %>
            <% end %>
          </td>
          <td style="width: 70%">
            <% if ret.line_item_id.present? %>
              <%= ret&.line_item&.title %>
            <% elsif ret.product_variant_id.present? %>
              <%= ret&.product_variant&.title %>
            <% end %>
            <% if ret.quantity.present? %>
              (Qty: <%= ret.quantity %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>