<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>
  
  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-10">
      <%= render partial: "/admin/departments/hr_navigation" %>
    </div>
    <div class="col-2 text-right">
      <label class="mr-3">Year</label>
      <select id="year-selection" class="form-control w-75 d-inline-block" data-reflex="change->InvoiceReflex#change_year" data-quarter="<%= @quarter %>">
        <% y = 2023 %>
        <% while y <= Date.today.year %>
          <option <%= "selected" if y == @year.to_i %>><%= y %></option>
          <% y += 1 %>
        <% end %>
      </select>
    </div>
  </div>
  
  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-2">
      <h1 class="header1">Sales</h1>
      <a class="side-link <%= "active" unless params[:employee_id].present? %>" href="<%= commission_admin_invoices_path %>">
        <span>All Staff</span>
      </a>
      <% Employee.where(exit_date: nil).where.not(sales_permission: nil).order(:first_name).each do |employee| %>
        <a class="side-link <%= "active" if params[:employee_id].to_i == employee.id %>" href="<%= commission_admin_invoices_path(employee_id: employee.id) %>">
          <span><%= employee.full_name %></span>
        </a>
      <% end %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col mb-3">
          <div class="commission-section w-100 p-3 border <%= "bg-light-blue" if @quarter == 1 %>" data-reflex="click->InvoiceReflex#change_quarter" data-quarter="1" data-year="<%= @year %>">
            <h1 class="header1 mb-3" style="font-size: 18px">Q1 | January - March</h1>
            <div class="text-center">
              <p class="mb-3">Sales</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o1_sales) %>
              </h1>
              <p class="mb-3">Orders</p>
              <h1 class="header1 mb-3"><%= @o1.count %></h1>
              <div class="w-100 border-bottom mb-3"></div>
              <p class="mb-3">Commission</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o1_commission) %>
              </h1>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="commission-section w-100 p-3 border <%= "bg-light-blue" if @quarter == 2 %>" data-reflex="click->InvoiceReflex#change_quarter" data-quarter="2" data-year="<%= @year %>">
            <h1 class="header1 mb-3" style="font-size: 18px">Q2 | April - June</h1>
            <div class="text-center">
              <p class="mb-3">Sales</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o2_sales) %>
              </h1>
              <p class="mb-3">Orders</p>
              <h1 class="header1 mb-3"><%= @o2.count %></h1>
              <div class="w-100 border-bottom mb-3"></div>
              <p class="mb-3">Commission</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o2_commission) %>
              </h1>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="commission-section w-100 p-3 border <%= "bg-light-blue" if @quarter == 3 %>" data-reflex="click->InvoiceReflex#change_quarter" data-quarter="3" data-year="<%= @year %>">
            <h1 class="header1 mb-3" style="font-size: 18px">Q3 | July - September</h1>
            <div class="text-center">
              <p class="mb-3">Sales</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o3_sales) %>
              </h1>
              <p class="mb-3">Orders</p>
              <h1 class="header1 mb-3"><%= @o3.count %></h1>
              <div class="w-100 border-bottom mb-3"></div>
              <p class="mb-3">Commission</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o3_commission) %>
              </h1>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="commission-section w-100 p-3 border <%= "bg-light-blue" if @quarter == 4 %>" data-reflex="click->InvoiceReflex#change_quarter" data-quarter="4" data-year="<%= @year %>">
            <h1 class="header1 mb-3" style="font-size: 18px">Q4 | October - December</h1>
            <div class="text-center">
              <p class="mb-3">Sales</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o4_sales) %>
              </h1>
              <p class="mb-3">Orders</p>
              <h1 class="header1 mb-3"><%= @o4.count %></h1>
              <div class="w-100 border-bottom mb-3"></div>
              <p class="mb-3">Commission</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o4_commission) %>
              </h1>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="commission-section w-100 p-3 border <%= "bg-light-blue" if @quarter == 5 %>" data-reflex="click->InvoiceReflex#change_quarter" data-quarter="5" data-year="<%= @year %>">
            <h1 class="header1 mb-3" style="font-size: 18px">YTD</h1>
            <div class="text-center">
              <p class="mb-3">Sales</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o1_sales + @o2_sales + @o3_sales + @o4_sales) %>
              </h1>
              <p class="mb-3">Orders</p>
              <h1 class="header1 mb-3"><%= @o1.count + @o2.count + @o3.count + @o4.count %></h1>
              <div class="w-100 border-bottom mb-3"></div>
              <p class="mb-3">Commission</p>
              <h1 class="header1 mb-3">
                <%= number_to_currency(@o1_commission + @o2_commission + @o3_commission + @o4_commission) %>
              </h1>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="table-responsive" style="height: 40rem">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Invoice</th>
                  <th>Order</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% if @quarter == 1 %>
                  <% @orders = @o1 %>
                <% elsif @quarter == 2 %>
                  <% @orders = @o2 %>
                <% elsif @quarter == 3 %>
                  <% @orders = @o3 %>
                <% elsif @quarter == 4 %>
                  <% @orders = @o4 %>
                <% elsif @quarter == 5 %>
                  <% @orders = @o5 %>
                <% end %>
                <% @orders.order(created_at: :desc).each do |order| %>
                  <tr>
                    <td><%= link_to order&.customer&.full_name, admin_customer_path(id: order&.customer&.id) if order&.customer.present? %></td>
                    <td><%= link_to order&.invoice&.invoice_number, edit_admin_invoice_path(id: order&.invoice&.id) if order&.invoice.present? %></td>
                    <td><%= link_to order&.name, edit_admin_order_path(order) %></td>
                    <td><%= number_to_currency((order.line_items.where(order_from: nil).sum { |item| ((item&.price.to_f * item&.quantity.to_i) unless (item.sku.include?("mulberry") || item.title.include?("Mulberry") || item.sku.include?("custom") || ShipmentCode.pluck(:sku_for_discount).include?(item.sku))).to_f }).to_f - (order.discount_codes["discount_amount"].to_f.abs if order.discount_codes.present?).to_f) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .commission-section {
    color: var(--black);
    cursor: pointer;
  }
</style>

<script type="text/javascript">
  $(".commission-section").on("click", function() {
    document.getElementById("loaderOverlay").style.display = "flex";
    document.getElementById("loaderOverlay").style.left = 0;
  });

  $("#year-selection").on("change", function() {
    document.getElementById("loaderOverlay").style.display = "flex";
    document.getElementById("loaderOverlay").style.left = 0;
  });
</script>