<style type="text/css">
  @media print {
    .btn {
      display: none;
    }
  }
  
  .navbar, #layoutSidenav_nav, #notification {
    display: none !important;
  }

  #layoutSidenav {
    width: 100% !important;
    max-width: 800px !important;
    top: 1.5rem !important;
  }

  #layoutSidenav_content {
    overflow: initial !important;
    padding: 0 !important;
  }

  .table-bordered,
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ccc;
  }
</style>

<div class="mb-3 text-right">
  <div class="col-12">
    <button class="btn btn-primary dripicons-print" onclick="window.print()" style="font-size: 12px"> Print</button>
  </div>
</div>

<div class="container px-5">
  <div class="row py-4" style="background: #f2f2f2">
    <div class="col-4">
      <%= image_tag "logo-em-2.png", class: "img-fluid mb-3" %>
    </div>
    <div class="w-100"></div>
    <div class="col-6">
      <% store_address = StoreAddress.find_by(store: current_store) %>
      <label>Eternity Modern</label>
      <p>
        <%= store_address.address %><br>
        <%= store_address.city %>, <%= store_address.state %>, <%= store_address.zip %><br>
        <%= store_address.store.upcase %>
      </p>
    </div>
    <div class="col-6">
      <% if params[:type] == "payment" %>
        <label>Invoice</label>
        <p><%= @invoice.order_name %></p>
      <% else %>
        <label>Quote</label>
        <p><%= @invoice.invoice_number %></p>
      <% end %>
      <label>Date</label>
      <p><%= @invoice.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-12">
      <% if @invoice.customer.customer_shipping_address.present? %>
        <label>Shipping Address</label>
        <p>
          <%= @invoice.customer.customer_shipping_address.first_name.present? ? @invoice.customer.customer_shipping_address&.first_name + " " + @invoice.customer.customer_shipping_address&.last_name : @invoice.customer.full_name %><br>
          <%= @invoice.customer.customer_shipping_address.address %>
          <%= @invoice.customer.customer_shipping_address.city %>,
          <%= @invoice.customer.customer_shipping_address.state %>
          <%= @invoice.customer.customer_shipping_address.full_country %>
          <%= @invoice.customer.customer_shipping_address.zip %><br>
          <% if @invoice.customer.customer_shipping_address.email.present? || @invoice.customer.email.present? %>
            Email: <%= @invoice.customer.customer_shipping_address.email.present? ? @invoice.customer.customer_shipping_address.email : @invoice.customer.email %><br>
          <% end %>
          <% if @invoice.customer.customer_shipping_address.phone.present? || @invoice.customer.phone.present? %>
            Tel: <%= @invoice.customer.customer_shipping_address.phone.present? ? @invoice.customer.customer_shipping_address.phone : @invoice.customer.phone %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row py-4" style="background: #f2f2f2">
    <div class="col-6">
      <label>ITEM(S)</label>
    </div>
    <div class="col-2">
      <label>UNIT COST</label>
    </div>
    <div class="col-2">
      <label>QTY</label>
    </div>
    <div class="col-2">
      <label>SUBTOTAL</label>
    </div>
  </div>
  <div class="row py-4">
    <% total = 0 %>
    <% @invoice.invoice_line_items.each do |item| %>
      <div class="col-6 <%= "mb-3" if item != @invoice.invoice_line_items.last %>">
        <label class="mb-0"><%= item.product_variant.title %></label><br>
        <%= item.product_variant.sku %>
      </div>
      <div class="col-2 <%= "mb-3" if item != @invoice.invoice_line_items.last %>">
        <% if item.price.present? %>
          <%= number_to_currency(item.price.to_f) %>
        <% else %>
          <%= number_to_currency((item.product_variant.special_price.present? && item.product_variant.special_price.to_f > 0) ? item.product_variant.special_price.to_f : item.product_variant.price.to_f) %>
        <% end %>
      </div>
      <div class="col-2 <%= "mb-3" if item != @invoice.invoice_line_items.last %>">
        <%= item.quantity %>
      </div>
      <div class="col-2 <%= "mb-3" if item != @invoice.invoice_line_items.last %>">
        <% if item.price.present? %>
          <% sum = item.quantity * item.price %>
        <% else %>
          <% sum = item.quantity * (item.product_variant&.special_price.present? && item.product_variant&.special_price.to_f > 0 ? item.product_variant&.special_price.to_f : item.product_variant&.price.to_f) %>
        <% end %>
        <%= number_to_currency(sum) %>
        <% total += sum %>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
  </div>
  <div class="row py-4">
    <div class="col-6">
      Order Notes<br>
      <%= @invoice.notes %><br>
      To view terms and conditions, please visit:<br>
      <u>eternitymodern.com/terms-conditions</u>
    </div>
    <div class="col-6">
      <div class="row no-gutters">
        <div class="col-8">
          Subtotal
        </div>
        <div class="col-4">
          <%= number_to_currency(total) %>
        </div>

        <% if @invoice.discount_amount.present? %>
          <div class="col-8">
            Discount (<%= @invoice.discount %> - <%= @invoice.discount_amount %>%)
          </div>
          <div class="col-4">
            <% discount = @invoice.discount_amount.present? ? total * @invoice.discount_amount * 0.01 : 0 %>
            <%= number_to_currency(-discount) %>
            <% total -= discount %>
          </div>
        <% end %>

        <% shipping_amount = 0 %>
        <% if @invoice.shipping_type == "Standard" %>
          <% shipping_amount = StandardShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{@invoice.shipping_method}%").where("order_min_price < ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
        <% elsif @invoice.shipping_type == "Local" %>
          <% if @invoice.shipping_method == "Curbside Delivery - Waive Fee" %>
            <% shipping_amount = 0 %>
          <% else %>
            <% shipping_amount = LocalShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{@invoice.shipping_method}%").where("order_min_price < ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
          <% end %>
        <% elsif @invoice.shipping_type == "Remote" %>
          <% shipping_amount = RemoteShippingRate.where(store: current_store).where("shipping_method ILIKE ?", "%#{@invoice.shipping_method}%").where("order_min_price < ? AND order_max_price >= ?", total, total)&.first&.discount.to_f %>
        <% elsif @invoice.shipping_type == "Admin" %>
          <% shipping_amount = @invoice.shipping_amount.to_f %>
        <% end %>

        <div class="col-8">
          Shipping - <%= @invoice.shipping_type %> <%= @invoice.shipping_method %>
        </div>
        <div class="col-4">
          <%= number_to_currency(shipping_amount) %>
          <% total += shipping_amount %>
        </div>

        <% if @invoice.tax_amount.present? %>
          <div class="col-8">
            Tax
          </div>
          <div class="col-4">
            <% tax = @invoice.tax_amount.present? ? total * @invoice.tax_amount * 0.01 : 0 %>
            <%= number_to_currency(tax) %>
            <% total += tax %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @invoice.status == "deposit" %>
    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        Deposit Payment (<%= @invoice.deposit_date&.strftime("%B %d, %Y") %>)
      </div>
      <div class="col-2">
        <%= number_to_currency(@invoice.deposit.to_f) %>
      </div>
    </div>
    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        <span class="header2">Total</span>
      </div>
      <div class="col-2">
        <span class="header2"><%= number_to_currency(total - @invoice.deposit.to_f) %></span>
      </div>
    </div>

  <% elsif @invoice.additional_payment_method.present? %>
    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        <span class="header2">Total</span>
      </div>
      <div class="col-2">
        <span class="header2"><%= number_to_currency(total) %></span>
      </div>
    </div>

    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        Deposit Payment (<%= @invoice.deposit_date&.strftime("%B %d, %Y") %>)
      </div>
      <div class="col-2">
        <%= number_to_currency(@invoice.deposit.to_f) %>
      </div>
      <div class="col-4 offset-6">
        Balance Payment (<%= @invoice.additional_deposit_date&.strftime("%B %d, %Y") %>)
      </div>
      <div class="col-2">
        <%= number_to_currency(@invoice.additional_deposit.to_f) %>
      </div>
    </div>

    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        <span class="header2">Total Payment</span>
      </div>
      <div class="col-2">
        <span class="header2"><%= number_to_currency(@invoice.deposit.to_f + @invoice.additional_deposit.to_f) %></span>
      </div>
    </div>

  <% else %>
    <div class="text-right">
      <div class="w-50 d-inline-block" style="border-bottom: solid 1px var(--black)"></div>
    </div>
    <div class="row py-4">
      <div class="col-4 offset-6">
        <span class="header2">Total</span>
      </div>
      <div class="col-2">
        <span class="header2"><%= number_to_currency(total) %></span>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("load") < 1) {
      document.getElementById("loaderOverlay").style.display = "flex";
      document.getElementById("loaderOverlay").style.left = 0;
      setTimeout(function() {
      window.location.replace("<%= pdf_admin_invoice_path(id: @invoice.id, type: params[:type]) %>?load=load");
      }, 2000);
    }
  });
</script>