<div class="side-panel short <%= "active" if employee.present? %>">
  <div class="row mx-0 p-5">
    <div class="col-12 mb-3 text-center">
      <span class="header1">Information</span>
    </div>
    
    <% if employee.present? %>
      <div class="col-6 mb-3">
        <label>Name</label>
        <p><%= employee&.full_name %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Position</label>
        <p><%= employee&.position.name %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Tenure</label>
        <% if employee&.start_date.present? %>
          <p>
            <% total_days = (Date.today - employee&.start_date).to_i %>
            <% year = (total_days / 365.25).floor %>
            <% month = (total_days % 365.25 / 30.437).floor %>
            <% day = (total_days % 365.25 % 30.437).floor %>

            <%= year.to_s + " Year".pluralize(year) if year > 0 %>
            <%= month.to_s + " Month".pluralize(month) if month > 0 %>
            <%= day.to_s + " Day".pluralize(day) if day > 0 %>
          </p>
        <% end %>
      </div>
      <div class="col-6 mb-3">
        <label>Mobile</label>
        <p><%= employee&.phone %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Status</label>
        <% if employee&.leaves.any? { |l| l.start_date.present? && l.end_date.present? && l.start_date < Date.today && l.end_date > Date.today && l.status == "Approved" } %>
          <p><%= employee&.leaves.where(status: "Approved").where("start_date < ?", Date.today).where("end_date > ?", Date.today).first.leave_type %> Leave</p>
        <% else %>
          <p>
            <% case Date.today.wday %>
              <% when 0 %>
                <%= employee.work_sun ? "Work Day" : "Off Day" %>
              <% when 1 %>
                <%= employee.work_mon ? "Work Day" : "Off Day" %>
              <% when 2 %>
                <%= employee.work_tue ? "Work Day" : "Off Day" %>
              <% when 3 %>
                <%= employee.work_wed ? "Work Day" : "Off Day" %>
              <% when 4 %>
                <%= employee.work_thu ? "Work Day" : "Off Day" %>
              <% when 5 %>
                <%= employee.work_fri ? "Work Day" : "Off Day" %>
              <% when 6 %>
                <%= employee.work_sat ? "Work Day" : "Off Day" %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="col-6 mb-3">
        <label>Start Date</label>
        <p><%= employee&.start_date&.strftime("%B %d, %Y") %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Personal Days Remaining</label>
        <p><%= employee&.personal_remain %> / <%= employee&.personal_days %>
      </div>
      <div class="col-6 mb-3">
        <label>PTO Remaining</label>
        <p><%= employee&.pto_remain %> / <%= employee&.pto_days %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Sick Days Remaining</label>
        <p><%= employee&.sick_remain %> / <%= employee&.sick_days %>
      </div>
      <div class="col-6 mb-3">
        <label>Unpaid Days Taken</label>
        <p><%= employee&.unpaid_days %></p>
      </div>
      <div class="col-12 mb-3">
        <label>Work Days</label>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee.work_sun %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">S</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_mon %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">M</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_tue %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">T</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_wed %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">W</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_thu %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">T</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_fri %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">F</p>
      </div>
      <div class="col text-center">
        <label class="checkbox checkbox-blue radio">
          <input type="checkbox" disabled <%= "checked" if employee&.work_sat %>>
          <span class="checkmark"></span>
        </label>
        <p class="font-weight-bold">S</p>
      </div>
      <div class="col-12 text-right">
        <%= link_to "Go to record", edit_admin_employee_path(employee&.id), class: "font-weight-bold" if params[:action] == "show" %>
      </div>
    <% end %>
  </div>
</div>
<div class="backdrop"></div>