<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>
    
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-2">
      <% Department.joins(:employees).distinct.each do |department| %>
        <a class="side-link switch-tab <%= "active" if department == Department.joins(:employees).distinct.first %>" data-switch-group="directory" data-switch-index="<%= department.name %>">
          <%= department.name %>
        </a>
      <% end %>
    </div>
    <div class="col-10">
      <% Department.joins(:employees).distinct.each do |department| %>
        <div class="table-responsive switch-content <%= "active" if department == Department.joins(:employees).distinct.first %>" data-switch-group="directory" data-switch-index="<%= department.name %>">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="width: 30%">Full Name</th>
                <th style="width: 30%">Position</th>
                <th stlye="width: 40%">Contact</th>
              </tr>
            </thead>
            <tbody>
              <% department.employees.where(exit_date: nil).each do |employee| %>
                <tr>
                  <td><%= employee.full_name %></td>
                  <td><%= employee.position.name %></td>
                  <td>
                    <% employee.users.where(deactivate: [false, nil]).each do |user| %>
                      <%= user.email %><br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>