<div class="container px-4">
  <%= form_for @department, url: {action: "update"}, html: {class: "form-horizontal form-bordered"} do |f| %>
    <div class="row">
      <div class="col-12 mb-3">
        <span class="header1">Update Department</span>
      </div>

      <% if @department.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @department.errors.full_messages.each do |message| %>
            <%= message %><br>
          <% end %>
        </div>
      <% end %>
      
      <div class="col-6 mb-3">
        <%= f.label :name %>
        <%= f.text_field :name,  data: { reflex: "change->DepartmentReflex#update", department_id: @department.id }, class: "form-control", required: true %>
      </div>
      <div class="w-100"></div>

      <div class="col-6 mb-3">
        <span class="header2 mr-2">Positions</span>
        <%= link_to "", data: { reflex: "click->DepartmentReflex#build_position", department_id: @department.id } do %>
          <%= show_svg("plus.svg") %>
        <% end %>
      </div>
      <div class="w-100"></div>
          
      <div class="col-6 mb-3">
        <% if f.object.positions.any? %>
          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th style="width: 75%">Position Name</th>
                  <th class="text-center" style="width: 20%">Manager Position?</th>
                  <th style="width: 5%"></th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :positions, f.object.positions.order(:created_at) do |ff| %>
                  <tr>
                    <td><%= ff.text_field :name,  data: { reflex: "change->DepartmentReflex#update", department_id: @department.id }, class: "form-control" %></td>
                    <td class="text-center">
                      <%= ff.check_box :is_manager, data: { reflex: "change->DepartmentReflex#update", department_id: @department.id, switch: "blue" } %>
                      <%= ff.label :is_manager, "&nbsp;".html_safe %>                      
                    </td>
                    <td>
											<a data-reflex="click->DepartmentReflex#destroy_position" data-position-id="<%= ff.object.id %>">
				  							<%= show_svg("delete.svg") %>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>