<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>
  
  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-6">
      <%= render partial: "/admin/departments/hr_navigation" %>
    </div>
    <div class="col-6 text-right">
      <a href="<%= expense_request_admin_departments_path %>">Back to Requests</a>
    </div>
  </div>

  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 10%">Name</th>
              <th style="width: 15%">Department</th>
              <th style="width: 15%">Category</th>
              <th style="width: 15%">Sub-Category</th>
              <th style="width: 15%">Date of Expense</th>
              <th style="width: 10%">Requested Amount</th>
              <th style="width: 10%">Approved Amount</th>
              <th style="width: 10%">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.order(expense_date: :desc).each do |expense| %>
              <tr class="open-side-panel" style="cursor: pointer" data-reflex="click->ExpenseReflex#show_expense" data-expense-id="<%= expense.id %>">
                <td><%= expense.employee.full_name %></td>
                <td><%= expense.employee.department.name %></td>
                <td><%= expense.expense_category&.title %></td>
                <td><%= expense.expense_subcategory&.title %></td>
                <td><%= expense.expense_date&.strftime("%B %d, %Y") %></td>
                <td><%= number_to_currency(expense.amount.to_f) %></td>
                <td><%= number_to_currency(expense.approve_amount.to_f) %></td>
                <td>
                  <% case expense.status %>
                    <% when "Pending" %>
                      <span class="badge badge-outline-red">Pending</span>
                    <% when "Approved" %>
                      <span class="badge badge-outline-green">Approved</span>
                    <% when "Declined" %>
                      <span class="badge badge-outline-black">Declined</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="side-panel short <%= "active" if @expense.present? %>">
  <div class="row mx-0 p-5">
    <div class="col-12 mb-3 text-center">
      <span class="header1">Expense Details</span>
    </div>

    <% if @expense.present? %>
      <div class="col-6 mb-3">
        <label>Requester's Name</label>
        <p><%= @expense.employee.full_name %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Date of Submission</label>
        <p>
          <%= @expense.expense_date.strftime("%B %d, %Y") %>
          <% case @expense.status %>
            <% when "Pending" %>
              <span class="badge badge-outline-red ml-2">Pending</span>
            <% when "Approved" %>
              <span class="badge badge-outline-green ml-2">Approved</span>
            <% when "Declined" %>
              <span class="badge badge-outline-black ml-2">Declined</span>
          <% end %>
        </p>
      </div>
      <div class="col-6 mb-3">
        <label>Department</label>
        <p><%= @expense.employee.department.name %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Position</label>
        <p><%= @expense.employee.position.name %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Category</label>
        <p><%= @expense.expense_category&.title %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Sub-Category</label>
        <p><%= @expense.expense_subcategory&.title %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Subtotal</label>
        <p><%= number_to_currency(@expense.amount.to_f - @expense.pst.to_f - @expense.gst.to_f - @expense.tips.to_f) %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Tax</label>
        <p><%= number_to_currency(@expense.pst.to_f + @expense.gst.to_f) %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Tips</label>
        <p><%= number_to_currency(@expense.tips.to_f) %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Invoice Total</label>
        <p><%= number_to_currency(@expense.amount.to_f) %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Approved Amount</label>
        <p><%= number_to_currency(@expense.approve_amount.to_f) %></p>
      </div>
      <div class="col-6 mb-3">
        <label>Approved By</label>
        <p><%= Employee.find_by(id: @expense.approver_id).full_name if @expense.approver_id.present? %></p>
      </div>
      <div class="col-12 mb-3">
        <label>Approval Date</label>
        <p><%= @expense.approve_date&.strftime("%B %d, %Y") %></p>
      </div>
      <div class="col-12 mb-3">
        <label>Description</label>
        <p><%= @expense.comment %></p>
      </div>
      <div class="col-12 mb-3">
        <label>Notes</label>
        <%= form_for [:admin, @expense], html: { class: "form-horizontal form-bordered" } do |f| %>
          <%= f.text_area :notes, data: { reflex: "change->ExpenseReflex#update", expense_id: f.object.id }, class: "form-control" %>
        <% end %>
      </div>

      <% if @expense.files.present? %>
        <div class="col-12 mb-3">
          <div class="table-responsive" style="max-height: 100px">
            <table class="table table-borderless">
              <thead class="bg-off-white">
                <tr>
                  <th>Name</th>
                  <th>Size</th>
                  <th>Updated</th>
                </tr>
              </thead>
              <tbody>
                <% @expense.files.each do |doc| %>
                  <tr> 
                    <% if doc.created_at? %>
                      <td><%= link_to doc.filename, doc, target: :_blank  %></td>
                      <td><%= (doc.byte_size / (1024.0 * 1024.0)).round(2) %>MB</td>
                      <td><%= doc.created_at.to_date.strftime('%B %d, %Y') %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="backdrop"></div>