<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>
  
  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <%= render partial: "/admin/departments/hr_navigation" %>
    </div>
  </div>

  <% @departments.order(:name).each do |department| %>
    <div class="row mb-5 position-relative" style="top: calc(57px + 1rem)">
      <div class="col-11 mb-3">
        <span class="header2"><%= department.name %></span>
      </div>
      <% if current_user.user_group.hr_cru %>
        <div class="col-1 text-right mb-3">
          <div class="dropdown">
            <a class="dropdown-toggle arrow-none" data-toggle="dropdown">
              <i class="uil-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Add Employee", new_admin_department_employee_path(department), class: "dropdown-item" %>
              <%= link_to "Edit Department", edit_admin_department_path(department), class: "dropdown-item" %>
              <%= link_to "Export to CSV", admin_department_path(id: department.id, format: "csv"), class: "dropdown-item" %>
            </div>
          </div>
        </div>
      <% end %>

      <% if current_user.user_group.hr_cru %>
        <div class="col mb-3">
          <a href="<%= admin_expenses_path(department_id: department.id) %>">
            <div class="border-blue text-blue rounded p-3">
              <span>Expense Requests</span><br>
              <% expense_sum = Expense.joins(:employee).where(employees: {department_id: department.id}).where(status: "Pending").count %>
              <span class="header2 text-blue">
                <%= expense_sum.to_s + " request".pluralize(expense_sum).upcase %>
              </span>
            </div>
          </a>
        </div>
        <div class="col mb-3">
          <a href="<%= leave_request_admin_department_path(department.id) %>">
            <div class="border-blue text-blue rounded p-3">
              <span>Time-off Requests</span><br>
              <% request_sum = Leave.joins(:employee).where(employees: { department_id: department.id }).where(status: "Pending").count %>
              <span class="header2 text-blue">
                <%= request_sum.to_s + " ticket".pluralize(request_sum).upcase %>
              </span>
            </div>
          </a>
        </div>
        <div class="col mb-3">
          <a href="<%= leave_upcoming_admin_department_path(department.id) %>">
            <div class="border-blue text-blue rounded p-3">
              <span>Upcoming Leaves</span><br>
              <% upcoming_sum = Leave.joins(:employee).where(employees: { department_id: department.id }).where(status: "Approved").where("leaves.start_date > ?", Date.today).count %>
              <span class="header2 text-blue">
                <%= upcoming_sum.to_s + " employee".pluralize(upcoming_sum).upcase %>
              </span>
            </div>
          </a>
        </div>
        <div class="col mb-3">
          <a href="<%= leave_current_admin_department_path(department.id) %>">
            <div class="border-blue text-blue rounded p-3">
              <span>Current Leaves</span><br>
              <% current_sum = Leave.joins(:employee).where(employees: { department_id: department.id }).where(status: "Approved").where("leaves.start_date < ?", Date.today).where("end_date > ?", Date.today).count %>
              <span class="header2 text-blue">
                <%= current_sum.to_s + " employee".pluralize(current_sum).upcase %>
              </span>
            </div>
          </a>
        </div>
        <div class="col mb-3">
          <a href="<%= leave_history_admin_department_path(department.id) %>">
            <div class="border-blue text-blue rounded p-3">
              <span>View History</span><br>
              <span class="header2 text-blue">
                LEAVE HISTORY
              </span>
            </div>
          </a>
        </div>
      <% end %>

      <% if department.employees.where(exit_date:nil).count > 0 %>
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th style="width: 20%">Name</th>
                  <th style="width: 20%">Employment Type</th>
                  <th style="width: 20%">Position</th>
                  <th style="width: 20%">Mail</th>
                  <th style="width: 20%">Mobile</th>
                </tr>
              </thead>
              <tbody>
                <% department.employees.joins(:position).where(positions: { is_manager: true }).where(exit_date: nil).order(:first_name).each do |employee| %>
                  <tr class="open-side-panel" data-reflex="click->DepartmentReflex#show_employee" data-employee-id="<%= employee.id %>">
                    <td><%= employee.full_name.titleize %></td>
                    <td><%= employee.employment_type.titleize %></td>
                    <td><%= employee.position.name %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.phone %></td>
                  </tr>
                <% end %>

                <% department.employees.joins(:position).where.not(positions: { is_manager: true }).where(exit_date: nil).order(:first_name).each do |employee| %>
                  <tr class="open-side-panel" data-reflex="click->DepartmentReflex#show_employee" data-employee-id="<%= employee.id %>">
                    <td><%= employee.full_name.titleize %></td>
                    <td><%= employee.employment_type.titleize %></td>
                    <td><%= employee.position.name %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.phone %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if Employee.where.not(exit_date: nil).count > 0 %>
    <div class="row mb-5 position-relative" style="top: calc(57px + 1rem)">
      <div class="col-10 mb-3">
        <span class="header2">Past Employees</span>
      </div>

      <div class="col-12 mb-3">
        <div class="table-responsive">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="width: 20%">Name</th>
                <th style="width: 20%">Employment Type</th>
                <th style="width: 20%">Position</th>
                <th style="width: 20%">Mail</th>
                <th style="width: 20%">Mobile</th>
              </tr>
            </thead>
            <tbody>
              <% Employee.where.not(exit_date: nil).order(exit_date: :desc).each do |employee| %>
                <tr class="open-side-panel" data-reflex="click->DepartmentReflex#show_employee" data-employee-id="<%= employee.id %>">
                  <td><%= employee.full_name.titleize %></td>
                  <td><%= employee.employment_type.titleize %></td>
                  <td><%= employee.position.name %></td>
                  <td><%= employee.email %></td>
                  <td><%= employee.phone %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12 mb-3">
      <a href="<%= new_admin_department_path %>">
        <div class="rounded p-3" style="border: dashed 1px var(--black)">
          <span class="header2">
            <%= show_svg("plus.svg") %>
            Add Department
          </span>
        </div>
      </a>
    </div>
  </div>
</div>

<%= render partial: "employee_panel", locals: { employee: @employee, current_user: @current_user } %>