<div class="container px-4">
  <div class="row mb-3">
    <div class="col-12">
      <span class="header1">Upcoming Leaves</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 10%">Name</th>
              <th style="width: 10%">Position</th>
              <th style="width: 15%">Type Leave</th>
              <th style="width: 15%">From</th>
              <th style="width: 15%">To</th>
              <th style="width: 15%">Duration</th>
              <th style="width: 10%">Status</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% Leave.joins(:employee).where(employees: { department_id: @department.id }).where(status: "Approved").where("leaves.start_date > ?", Date.today).each do |leave| %>
              <tr>
                <td><%= leave.employee.full_name %></td>
                <td><%= leave.employee.position.name %></td>
                <td><%= leave.leave_type %></td>
                <td><%= leave.start_date.strftime("%B %d, %Y") %></td>
                <td><%= leave.end_date.strftime("%B %d, %Y") %></td>
                <td>
                  <%= leave.duration == leave.duration.to_i ? leave.duration.to_i : leave.duration %>
                  <%= "Day".pluralize(leave.duration) %>
                </td>
                <td>
                  <% case leave.status %>
                    <% when "Pending" %>
                      <span class="badge badge-outline-red">Pending</span>
                    <% when "Approved" %>
                      <span class="badge badge-outline-green">Approved</span>
                    <% when "Declined" %>
                      <span class="badge badge-outline-black">Declined</span>
                  <% end %>
                </td>
                <td>
                  <a href="<%= cancel_leave_admin_leave_path(leave.id) %>" data-confirm="This leave request will be set to 'Declined' and <%= leave.employee.full_name %> will receive <%= leave.duration %> <%= "day".pluralize(leave.duration) %> back. Are you sure you want to do this?">
                    <%= show_svg("close.svg") %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>