<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-6 mb-3">
      <span class="header2">
        <%= @department.name %>
        Department
      </span>
    </div>
    <div class="col-6 mb-3 text-right">
      <% if current_user.user_group.manager_view %>
        <div class="dropdown">
          <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
            Filter: Department <%= show_svg("arrow.svg") %>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <% Department.order(:name).each do |department| %>
              <a href="<%= manager_admin_department_path(department.id) %>">
                <div class="dropdown-item"><%= department.name %></div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-3 mb-3">
      <a href="<%= leave_request_admin_department_path(@department.id) %>">
        <div class="border-blue text-blue rounded p-3">
          <span>Time-off Requests</span><br>
          <% request_sum = Leave.joins(:employee).where(employees: { department_id: @department.id }).where(status: "Pending").count %>
          <span class="header2 text-blue">
            <%= request_sum.to_s + " ticket".pluralize(request_sum).upcase %>
          </span>
        </div>
      </a>
    </div>
    <div class="col-3 mb-3">
      <a href="<%= leave_upcoming_admin_department_path(@department.id) %>">
        <div class="border-blue text-blue rounded p-3">
          <span>Upcoming Leaves</span><br>
          <% upcoming_sum = Leave.joins(:employee).where(employees: { department_id: @department.id }).where(status: "Approved").where("leaves.start_date > ?", Date.today).count %>
          <span class="header2 text-blue">
            <%= upcoming_sum.to_s + " employee".pluralize(upcoming_sum).upcase %>
          </span>
        </div>
      </a>
    </div>
    <div class="col-3 mb-3">
      <a href="<%= leave_current_admin_department_path(@department.id) %>">
        <div class="border-blue text-blue rounded p-3">
          <span>Current Leaves</span><br>
          <% current_sum = Leave.joins(:employee).where(employees: { department_id: @department.id }).where(status: "Approved").where("leaves.start_date < ?", Date.today).where("end_date > ?", Date.today).count %>
          <span class="header2 text-blue">
            <%= current_sum.to_s + " employee".pluralize(current_sum).upcase %>
          </span>
        </div>
      </a>
    </div>
    <div class="col-3">
      <a href="<%= leave_history_admin_department_path(@department.id) %>">
        <div class="border-blue text-blue rounded p-3">
          <span>View History</span><br>
          <span class="header2 text-blue">LEAVE HISTORY</span>
        </div>
      </a>
    </div>
    <div class="col-12">
      <p class="header2">Employees</p>
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Name</th>
              <th style="width: 20%">Position</th>
              <th style="width: 20%">Start Date</th>
              <th style="width: 20%">Mobile</th>
              <th style="width: 20%">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @department.employees.where(exit_date: nil).each do |employee| %>
              <tr class="open-side-panel" data-reflex="click->DepartmentReflex#show_employee" data-employee-id="<%= employee.id %>">
                <td><%= employee.full_name %></td>
                <td><%= employee.position.name %></td>
                <td><%= employee.start_date&.strftime("%B %d, %Y") %></td>
                <td><%= employee.phone %></td>
                <td>
                  <% if employee.leaves.any? { |l| l.start_date.present? && l.end_date.present? && l.start_date < Date.today && l.end_date > Date.today && l.status == "Approved" } %>
                    <p><%= employee.leaves.where(status: "Approved").where("start_date < ?", Date.today).where("end_date > ?", Date.today).first.leave_type %> Leave</p>
                  <% else %>
                    <p>
                      <% case Date.today.wday %>
                        <% when 0 %>
                          <%= employee.work_sun ? "Work Day" : "Off Day" %>
                        <% when 1 %>
                          <%= employee.work_mon ? "Work Day" : "Off Day" %>
                        <% when 2 %>
                          <%= employee.work_tue ? "Work Day" : "Off Day" %>
                        <% when 3 %>
                          <%= employee.work_wed ? "Work Day" : "Off Day" %>
                        <% when 4 %>
                          <%= employee.work_thu ? "Work Day" : "Off Day" %>
                        <% when 5 %>
                          <%= employee.work_fri ? "Work Day" : "Off Day" %>
                        <% when 6 %>
                          <%= employee.work_sat ? "Work Day" : "Off Day" %>
                      <% end %>
                    </p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render partial: "employee_panel", locals: { employee: @employee, current_user: @current_user } %>