<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>
  
  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-6">
      <%= render partial: "/admin/departments/hr_navigation" %>
    </div>
    <div class="col-6 text-right">
      <a href="<%= time_off_request_admin_departments_path %>">Back to Requests</a>
    </div>
  </div>

  <div class="row mb-3 position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 10%">Name</th>
              <th style="width: 10%">Position</th>
              <th style="width: 15%">Requested</th>
              <th style="width: 15%">Requested Date</th>
              <th style="width: 15%">Status</th>
              <th style="width: 15%">Approval Date</th>
              <th style="width: 15%">Approved By</th>
              <th style="width: 5%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @leaves.where(status: ["Approved", "Declined"]).order(created_at: :desc).each do |leave| %>
              <tr>
                <td><%= leave.employee.full_name.titleize %></td>
                <td><%= leave.employee.position.name.titleize %></td>
                <td>
                  <%= leave.duration == leave.duration.to_i ? leave.duration.to_i : leave.duration %>
                  <%= "Day".pluralize(leave.duration) %>
                </td>
                <td><%= leave.start_date.strftime("%B %d, %Y") %></td>
                <td>
                  <% case leave.status %>
                    <% when "Approved" %>
                      <span class="badge badge-outline-green">Approved</span>
                    <% when "Declined" %>
                      <span class="badge badge-outline-black">Declined</span>
                  <% end %>
                </td>
                <td><%= leave.approval_date&.strftime("%B %d, %Y") %></td>
                <td><%= User.find_by(id: leave.approved_by_id)&.username&.titleize %></td>
                <td>
                  <% if leave.status == "Approved" %>
                    <a href="<%= cancel_leave_admin_leave_path(leave.id) %>" data-confirm="This leave request will be set to 'Declined' and <%= leave.employee.full_name %> will receive <%= leave.duration %> <%= "day".pluralize(leave.duration) %> back. Are you sure you want to do this?">
                      <%= show_svg("close.svg") %>
                    </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>