<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_shipping" %>
    </div>

    <div class="col-10">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr><h3>In Stock</h3></tr>
            <tr>
              <th style="width: 45%">Type</th>
              <th style="width: 16%">Terminal</th>
              <th style="width: 16%">From days</th>
              <th style="width: 15%">To days</th>
            </tr>
          </thead>
          <tbody>
            <% @in_stocks.each do |stock| %>
              <tr>
                <td><%= stock.delivery_method %></td>
                <td><%= stock.terminal %></td>
                <td><%= stock.from_days %></td>
                <td><%= stock.to_days %></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#instockModal-<%= stock.id %>">Edit</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr><h3>Pre Order</h3></tr>
            <tr>
              <th style="width: 45%">Type</th>
              <th style="width: 16%">Terminal</th>
              <th style="width: 16%">From days</th>
              <th style="width: 15%">To days</th>
            </tr>
          </thead>
          <tbody>
            <% @pre_orders.each do |stock| %>
              <tr>
                <td><%= stock.delivery_method %></td>
                <td><%= stock.terminal %></td>
                <td><%= stock.from_days %></td>
                <td><%= stock.to_days %></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#prestockModal-<%= stock.id %>">Edit</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr><h3>Transfer from Another Warehouse</h3></tr>
            <tr>
              <th style="width: 45%">Type</th>
              <th style="width: 16%">Terminal</th>
              <th style="width: 16%">From days</th>
              <th style="width: 15%">To days</th>
            </tr>
          </thead>
          <tbody>
            <% @transfer_pre_orders.each do |stock| %>
              <tr>
                <td><%= stock.delivery_method %></td>
                <td><%= stock.terminal %></td>
                <td><%= stock.from_days %></td>
                <td><%= stock.to_days %></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#transferstockModal-<%= stock.id %>">Edit</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr><h3>MTO</h3></tr>
            <tr>
              <th style="width: 45%">Type</th>
              <th style="width: 16%">Terminal</th>
              <th style="width: 16%">From days</th>
              <th style="width: 15%">To days</th>
            </tr>
          </thead>
          <tbody>
            <% @mtos.each do |stock| %>
              <tr>
                <td><%= stock.delivery_method %></td>
                <td><%= stock.terminal %></td>
                <td><%= stock.from_days %></td>
                <td><%= stock.to_days %></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#mtostockModal-<%= stock.id %>">Edit</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr><h3>Transfer</h3></tr>
            <tr>
              <th style="width: 45%">Type</th>
              <th style="width: 16%">Terminal</th>
              <th style="width: 16%">From days</th>
              <th style="width: 15%">To days</th>
            </tr>
          </thead>
          <tbody>
            <% @transfer_tables.each do |stock| %>
              <tr>
                <td><%= stock.delivery_method %></td>
                <td><%= stock.terminal %></td>
                <td><%= stock.from_days %></td>
                <td><%= stock.to_days %></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#wgdstockModal-<%= stock.id %>">Edit</button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


    </div>
  </div>

  <!-- In-stock Modal -->
  <% @in_stocks.each do |stock| %>
    <div class="modal" id="instockModal-<%= stock.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <%= form_for stock, url: warehouse_deliveries_admin_tax_rates_path, method: :post, html: { class: "form-horizontal form-bordered" } do |f| %>
          <div class="modal-content">
            <div class="modal-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr><h3>In Stock</h3></tr>
                  <tr>
                    <th style="width: 45%">ID</th>
                    <th style="width: 45%">Type</th>
                    <th style="width: 16%">Terminal</th>
                    <th style="width: 16%">From days</th>
                    <th style="width: 15%">To days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= f.text_field :id %></td>
                    <td><%= f.text_field :war_type %></td>
                    <td><%= f.text_field :terminal %></td>
                    <td><%= f.text_field :from_days, data: { reflex: "change->StateZipCode#in_stock", stock_id: stock.id } %></td>
                    <td><%= f.text_field :to_days, data: { reflex: "change->StateZipCode#in_stock", stock_id: stock.id }  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Pre-order Modal -->
  <% @pre_orders.each do |stock| %>
    <div class="modal" id="prestockModal-<%= stock.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <%= form_for stock, url: warehouse_deliveries_admin_tax_rates_path, method: :post, html: { class: "form-horizontal form-bordered" } do |f| %>
          <div class="modal-content">
            <div class="modal-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr><h3>Pre Order</h3></tr>
                  <tr>
                    <th style="width: 45%">ID</th>
                    <th style="width: 45%">Type</th>
                    <th style="width: 16%">Terminal</th>
                    <th style="width: 16%">From days</th>
                    <th style="width: 15%">To days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= f.text_field :id %></td>
                    <td><%= f.text_field :war_type %></td>
                    <td><%= f.text_field :terminal %></td>
                    <td><%= f.text_field :from_days, data: { reflex: "change->StateZipCode#pre_stock", stock_id: stock.id } %></td>
                    <td><%= f.text_field :to_days, data: { reflex: "change->StateZipCode#pre_stock", stock_id: stock.id }  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Transfer order Modal -->
  <% @transfer_pre_orders.each do |stock| %>
    <div class="modal" id="transferstockModal-<%= stock.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <%= form_for stock, url: warehouse_deliveries_admin_tax_rates_path, method: :post, html: { class: "form-horizontal form-bordered" } do |f| %>
          <div class="modal-content">
            <div class="modal-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr><h3>Transfer from Another Warehouse</h3></tr>
                  <tr>
                    <th style="width: 45%">ID</th>
                    <th style="width: 45%">Type</th>
                    <th style="width: 16%">Terminal</th>
                    <th style="width: 16%">From days</th>
                    <th style="width: 15%">To days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= f.text_field :id %></td>
                    <td><%= f.text_field :war_type %></td>
                    <td><%= f.text_field :terminal %></td>
                    <td><%= f.text_field :from_days, data: { reflex: "change->StateZipCode#transfer_stock", stock_id: stock.id } %></td>
                    <td><%= f.text_field :to_days, data: { reflex: "change->StateZipCode#transfer_stock", stock_id: stock.id }  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- MTO Modal -->
  <% @mtos.each do |stock| %>
    <div class="modal" id="mtostockModal-<%= stock.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <%= form_for stock, url: warehouse_deliveries_admin_tax_rates_path, method: :post, html: { class: "form-horizontal form-bordered" } do |f| %>
          <div class="modal-content">
            <div class="modal-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr><h3>MTO</h3></tr>
                  <tr>
                    <th style="width: 45%">ID</th>
                    <th style="width: 45%">Type</th>
                    <th style="width: 16%">Terminal</th>
                    <th style="width: 16%">From days</th>
                    <th style="width: 15%">To days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= f.text_field :id %></td>
                    <td><%= f.text_field :war_type %></td>
                    <td><%= f.text_field :terminal %></td>
                    <td><%= f.text_field :from_days, data: { reflex: "change->StateZipCode#mto_stock", stock_id: stock.id } %></td>
                    <td><%= f.text_field :to_days, data: { reflex: "change->StateZipCode#mto_stock", stock_id: stock.id }  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- WGD Modal -->
  <% @wgds.each do |stock| %>
    <div class="modal" id="wgdstockModal-<%= stock.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <%= form_for stock, url: warehouse_deliveries_admin_tax_rates_path, method: :post, html: { class: "form-horizontal form-bordered" } do |f| %>
          <div class="modal-content">
            <div class="modal-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr><h3>WGD</h3></tr>
                  <tr>
                    <th style="width: 45%">ID</th>
                    <th style="width: 45%">Type</th>
                    <th style="width: 16%">Terminal</th>
                    <th style="width: 16%">From days</th>
                    <th style="width: 15%">To days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= f.text_field :id %></td>
                    <td><%= f.text_field :war_type %></td>
                    <td><%= f.text_field :terminal %></td>
                    <td><%= f.text_field :from_days, data: { reflex: "change->StateZipCode#wgd_stock", stock_id: stock.id } %></td>
                    <td><%= f.text_field :to_days, data: { reflex: "change->StateZipCode#wgd_stock", stock_id: stock.id }  %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
