<% if @pallet.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @pallet.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-6 mb-3">
    <%= f.label :pallet_size, "Size" %>
    <%= f.text_field :pallet_size, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :pallet_length,"Length" %>
    <%= f.text_field :pallet_length, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :pallet_width, "Width" %>
    <%= f.text_field :pallet_width, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :pallet_height, "Height" %>
    <%= f.text_field :pallet_height, class: "form-control", required: true %>
  </div>
  <div class="col-6 mb-3">
    <%= f.label :pallet_weight, "Weight" %>
    <%= f.text_field :pallet_weight, class: "form-control", required: true %>
  </div>
  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_pallets_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>