<div class="modal" id="receiveModal-<%= @return_line_item.id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, @return_line_item], html: {class: "form-horizontal form-bordered" } do |f| %>
      <div class="modal-content">
        <div class="modal-header">        
          <span class="header2 modal-title">Receive Product</span>
        </div>
        <div class="modal-body text-left">
          <div class="row mx-0">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th style="width: 35%">Description</th>
                      <th style="width: 15%">SKU</th>
                      <th class="text-center" style="width: 10%">Quantity</th>
                      <th class="text-center" style="width: 10%">Dispose</th>
                      <th class="text-center" style="width: 10%">Return to Stock</th>
                      <th class="text-center" style="width: 10%">Overstock</th>
                      <th class="text-center" style="width: 10%">Marketplace</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= @return_line_item.line_item.title %></td>
                      <td><%= @return_line_item.line_item.sku %></td>
                      <td class="text-center">
                        <%= @return_line_item.quantity %>
                      </td>
                      <% ReturnLineItem.statuses.keys.drop(1).each do |status| %>
                        <td class="text-center">
                          <label class="checkbox checkbox-blue radio">
                            <%= f.radio_button :status, status %>
                            <span class="checkmark"></span>
                          </label>
                        </td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-6 mb-3">
              <span class="font-weight-bold">Inspection Checklist</span>
            </div>
            <div class="col-6 mb-3 text-right">
              <span class="mr-3">Marketplace Value</span>
              <%= f.number_field :market_value, step: :any, readonly: true, class: "form-control d-inline-block w-25" %>
            </div>
            <div class="col-4 mb-3 d-flex">
              <div class="w-75">
                <span>Package in Good Condition</span>
              </div>
              <div class="w-25">
                <label class="checkbox checkbox-blue">
                  <%= f.check_box :package_condition %>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-4 mb-3 d-flex">
              <div class="w-75">
                <span>Product in Good Condition</span>
              </div>
              <div class="w-25">
                <label class="checkbox checkbox-blue">
                  <%= f.check_box :product_condition %>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-4 mb-3 d-flex">
              <div class="w-75">
                <span class="mr-3">
                  Product In Good Condition<br>
                  Requires New Packaging
                </span>
              </div>
              <div class="w-25">
                <label class="checkbox checkbox-blue">
                  <%= f.check_box :new_packaging %>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <span class="mr-3">Visible Damage(s)</span>
              <%= f.text_field :notes, class: "form-control d-inline-block w-75" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>