<div class="container px-4">
  <%= render partial: "admin/returns/navigation" %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 30%">Return Number</th>
              <th style="width: 30%">Order Number</th>
              <th style="width: 30%">Claim Number</th>
              <th style="width: 10%">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @returns.each do |re| %>
              <tr>
                <td><%= link_to re.name, edit_admin_return_path(re.id) %></td>
                <td><%= link_to re.order.name, edit_admin_order_path(re.order) %></td>
                <td>
                  <%= link_to "ISS" + (re.order.store == "us" ? "US" : "CA") + re.issue.id.to_s, edit_admin_issue_path(re.issue.id) %>
                </td>
                <td>
                  <% case re&.status %>
                    <% when "pending" %>
                      <span class="badge badge-outline-blue">
                        <%= re&.status&.titleize %>
                      </span>

                    <% when "complete" %>
                      <span class="badge badge-outline-green">
                        <%= re&.status&.titleize %>
                      </span>

                    <% when "cancelled" %>
                      <span class="badge badge-outline-black">
                        <%= re&.status&.titleize %>
                      </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>