<% @product_picks.order("LOWER(sku)").each do |variant| %>
  <a href="<%= variant_pick_admin_warehouses_path(variant_id: variant.id) %>" class="row mx-0 py-3 border-grey bg-white rounded-5 mb-3">
    <div class="col-9">
      <span class="header1 font-weight-bold"><%= variant&.sku&.upcase %></span><br>
      <% LineItem.eager_load(:shipping_detail).where(variant_id: variant.id, status: :ready, shipping_detail: { status: :staging }).order(:created_at).each do |line_item| %>
        <span class="text-light-grey">
          <%= line_item.order.name %><%= ", " unless line_item == LineItem.eager_load(:shipping_detail).where(status: :ready, sku: variant.sku, shipping_detail: { status: :staging }).order(:created_at).last %>
        </span>
      <% end %>
    </div>
    <div class="col-3 text-right">
      <span class="header2">pick</span><br>
      <span class="header1"><%= variant&.to_do_quantity %></span>
    </div>
  </a>
<% end %>