<% @product_variants.order("LOWER(sku)").each do |variant| %>
  <a href="<%= variant_put_admin_warehouses_path(variant_id: variant.id) %>" class="row mx-0 py-3 border-grey bg-white rounded-5 mb-3">
    <div class="col-9">
      <span class="header1 font-weight-bold"><%= variant&.sku&.upcase %></span><br>
      <span class="text-light-grey"><%= variant.title %> <%= variant.option1 %></span>
    </div>
    <div class="col-3 text-right">
      <span class="header2">put</span><br>
      <span class="header1"><%= variant&.received_quantity %></span>
    </div>
  </a>
<% end %>