<div class="row mx-0 warehouse-modal active rounded">
  <div class="col-12 mb-3">
    <%= link_to variant_admin_search_admin_warehouses_path(variant_id: @product_variant.id, active_carton_id: active_carton.id), class: "text-white bg-light-grey rounded-circle rounded-circle-2 d-inline-block", style: "vertical-align: middle" do %>
      <%= show_svg("arrow.svg") %>
    <% end %>
    <span class="font-weight-bold ml-2" style="vertical-align: middle">
      Add - SKU: <%= @product_variant.sku %> (<%= active_carton.carton_detail.index %> / <%= active_carton.carton_detail.product.carton_details.maximum(:index) %>)
    </span>
  </div>
  <div class="col-2 mb-3 text-center">
    <p class="font-weight-bold">Rack</p>
    <%= search_location.rack %>
  </div>
  <div class="col-2 mb-3 text-center">
    <p class="font-weight-bold">Level</p>
    <%= search_location.level %>
  </div>
  <div class="col-2 mb-3 text-center">
    <p class="font-weight-bold">Bin</p>
    <%= search_location.bin %>
  </div>
  <div class="col-12">
    <%= form_tag assign_admin_location_to_product_admin_warehouses_path, html: {class: "form-horizontal form-bordered"} do |f| %>
      <div class="row">
        <div class="col-6">
          <label>Quantity</label>
          <%= number_field_tag "quantity", "", class: "form-control" %>
          <% if @product_variant.cartons.present? %>
            <%= hidden_field_tag "carton_id", active_carton.id %>
          <% end %>
        </div>
        <div class="col-6">
          <label>&nbsp;</label>
          <%= hidden_field_tag "product_id", @product_variant.id %>
          <%= hidden_field_tag "location_id", search_location.id %>
          <button class="btn btn-secondary w-100" name="button" type="submit">Assign</button>
        </div>
      </div>
    <% end %>
  </div>
</div>