<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_team" %>
    </div>

    <div class="col-10">
      <%= form_for @warehouse.users.new , url: { action: "create", controller: "admin/users" }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true }, data: { reflex: "submit->UserReflex#user_submit", user_id: current_user.id, warehouse_id: @warehouse.id } do |f| %>
        <div class="row">
          <div class="col-6 mb-3">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control", required: true %>
          </div>

          <div class="col-6 mb-3">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label :phone_number, "Phone Number" %>
            <%= f.text_field :phone_number, class: "form-control", required: true %>
          </div>
          
          <div class="col-12 mb-3">
            <%= link_to "Cancel", admin_warehouses_path(@warehouse.id), class: "btn btn-secondary mr-4" %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>