<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-3">
      <div class="col-12 mb-3">
        <span class="header1"><%= @carton_location.carton.product_variant.sku&.upcase %></span><br>
        <span class="text-light-grey"><%= @carton_location.carton.product_variant.title %></span>
      </div>
      <div class="col-12 mb-3">
        <span class="header2">
          Carton <%= @carton_location.carton.carton_detail.index %> / <%= @carton_location.carton.carton_detail.product.carton_details.maximum(:index) %>
        </span>
      </div>
      <div class="col-3 mb-3">
        <span class="text-light-grey">Rack</span><br>
        <span class="header1"><%= @carton_location.product_location.rack %></span>
      </div>
      <div class="col-3 mb-3">
        <span class="text-light-grey">Level</span><br>
        <span class="header1"><%= @carton_location.product_location.level %></span>
      </div>
      <div class="col-3 mb-3">
        <span class="text-light-grey">Bin</span><br>
        <span class="header1"><%= @carton_location.product_location.bin %></span>
      </div>
      <div class="col-3 mb-3">
        <span class="text-light-grey">In-stock</span><br>
        <span class="header1"><%= @carton_location.quantity %></span>
      </div>
      <div class="col-12 mb-3 border-bottom"></div>
      <%= form_tag variant_quantity_adjust_admin_warehouses_path(carton_location_id: @carton_location.id), class: "col-12" do |f| %>
        <%= hidden_field_tag :type %>
        <div class="row">
          <div class="col-12 mb-3">
            <span class="text-light-grey">Adjust Qty</span>
          </div>
          <div class="col-6 mb-3">
            <%= number_field_tag :quantity, "", class: "form-control border-black header1 text-center", style: "height: 5rem" %>
          </div>
          <div class="col-3 mb-3">
            <button type="button" class="btn text-green bg-light-green font-weight-bold w-100" style="font-size: 30px !important; height: 5rem; min-width: initial" data-toggle="modal" data-target="#add">+</button>
          </div>
          <div class="col-3 mb-3">
            <button type="button" class="btn text-red bg-light-red font-weight-bold w-100" style="font-size: 30px !important; height: 5rem; min-width: initial" data-toggle="modal" data-target="#deduct">-</button>
          </div>
        </div>

        <div class="modal" id="add" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" style="max-width: calc(100% - 20px); position: absolute; transform: none !important; top: initial; bottom: 1rem; left: 10px">
            <div class="modal-content" style="background: none">
              <div class="row mx-0">
                <div class="col-12 mb-2">
                  <button type="submit" id="add" class="btn text-green bg-light-green w-100 rounded-5" style="font-size: 15px; height: 5rem">
                    Add <span class="total"></span> to stock
                  </button>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-secondary mr-4 w-100 rounded-5" data-dismiss="modal" style="font-size: 15px; height: 5rem">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="deduct" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" style="max-width: calc(100% - 20px); position: absolute; transform: none !important; top: initial; bottom: 1rem; left: 10px">
            <div class="modal-content" style="background: none">
              <div class="row mx-0">
                <div class="col-12 mb-2">
                  <button type="submit" id="deduct" class="btn text-red bg-light-red w-100 rounded-5" style="font-size: 15px; height: 5rem">
                    Deduct <span class="total"></span> from stock
                  </button>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-secondary mr-4 w-100 rounded-5" data-dismiss="modal" style="font-size: 15px; height: 5rem">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <% if params[:source] == "location" %>
      <a href="<%= show_location_admin_warehouses_path(location_id: @carton_location.product_location.id) %>" class="icon-large-left">
        <%= show_svg("ri-arrow-up-line.svg") %>
      </a>
    <% elsif params[:source] == "search" %>
      <a href="<%= variant_admin_search_admin_warehouses_path(variant_id: @carton_location.carton.product_variant.id ) %>" class="icon-large-left">
        <%= show_svg("ri-arrow-up-line.svg") %>
      </a>
    <% else %>
      <a href="<%= request.referrer %>" class="icon-large-left">
        <%= show_svg("ri-arrow-up-line.svg") %>
      </a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#quantity").on("change", function() {
    $(".total").text($(this).val());
  });

  $("#add").on("click", function() {
    $("#type").val("add");
  });

  $("#deduct").on("click", function() {
    $("#type").val("deduct");
  });
</script>