<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-3">
      <div class="col-12 mb-3">
        <span class="header1">Admin</span>
      </div>

      <div class="col-12 mb-3 border-bottom"></div>
      
      <div class="col-12 mb-3">
        <a href="<%= search_admin_sku_admin_warehouses_path %>" class="d-block w-100 bg-white border-light-grey rounded-5 p-4">
          <span class="header1">Search SKU</span><br>
          <span class="text-light-grey">Locate product location</span>
        </a>
      </div>
      
      <div class="col-12 mb-3">
        <a href="<%= unassigned_locations_admin_warehouses_path %>" class="d-block w-100 bg-white border-light-grey rounded-5 p-4">
          <span class="header1">Location</span><br>
          <span class="text-light-grey">Search / Create location</span>
        </a>
      </div>
      
      <div class="col-12 mb-3 d-none">
        <a href="<%= admin_admin_warehouses_path %>" class="d-block w-100 bg-white border-light-grey rounded-5 p-4">
          <span class="header1">Audit</span><br>
          <span class="text-light-grey">Inventory Count</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= outstanding_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>