<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h5>Container Orders</h5>
    </div>
  </div>

  <% @product_variants.each do |variant| %>
    <% if (variant.container_count.to_i > 0) %>
      <div class="row">
        <div class="col-6 col-md-3 mb-4">
          <div class="h-100 w-100 border p-4">
            <% if variant.image_id.present? %>
              <%= image_tag ProductImage.find_by(shopify_image_id: variant.image_id).src, class: "img-fluid" %>
            <% else %>
              <%= image_tag "logo-em.png", class: "img-fluid" %>
            <% end %>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <h5 class="fc-red-clay">
            <%= link_to variant&.title&.html_safe, admin_product_variant_path(id: variant.id) %>
          </h5>
          <p class="fc-grey100">
            <span class="font-weight-bold">Material:</span> <%= variant&.option1 %><br>
            <span class="font-weight-bold">SKU:</span> <%= variant&.sku&.upcase %>
          </p>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <div class="h-100 w-100 p-4 border">
            <h5 class="fc-red-clay"><%= variant&.to_do_quantity&.to_i %></h5>
            To Do
          </div>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <div class="h-100 w-100 p-4 border">
            <h5><%= variant&.received_quantity&.to_i %></h5>
            Received
          </div>
        </div>

        <div class="col-12 mb-4 text-center">
          <div class="h-100 w-100 p-4 border">
            <h5 class="fc-red-clay"><%= variant&.container_count&.to_i %></h5>
            Container Orders
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th style="width: 23%">Name</th>
                  <th style="width: 23%">Qty</th>
                  <th style="width: 8%"></th>
                </tr>
              </thead>
              <tbody>
                <% variant.container_orders.each do |container_order|%>
                  <tr>
                    <td><%= container_order.order.name %></td>
                    <td><%= container_order.quantity %></td>
                    <td><%= link_to "Pick", container_quantity_pick_admin_warehouses_path(variant_id: variant.id, container_order_id: container_order.id), class: "btn btn-primary-light", remote: true %></td>
                    <div id="quantityPick"></div>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>