<%= form_tag(create_location_admin_warehouses_path, method: :get) do %>     
  <div class="row">   
    <div class="col-1 offset-1 text-center">
      <h6>Rack</h6>
      <%= text_field_tag :rack, "", class: "w-100" %>
    </div>
    <div class="col-1 offset-2 text-center">
      <h6>Level</h6>
      <%= text_field_tag :level, "", class: "w-100" %>
    </div>
    <div class="col-1 offset-2 text-center">
      <h6>Bin</h6>
      <%= text_field_tag :bin, "", class: "w-100" %>
    </div>
    <div class="col-2 offset-2">
      <br>
      <%= submit_tag "Submit", class: "btn btn-primary-light btn-fit-content w-100" %>
    </div>
  </div>
<% end %>