<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <%= form_tag update_location_admin_warehouses_path, class: "w-100" do |f| %>
      <div class="row p-3">
        <div class="col-4 mb-3">
          <span Class="text-light-grey">Rack</span>
          <%= text_field_tag :rack, params[:rack], class: "form-control border-black header1 text-center", style: "height: 5rem" %>
        </div>
        <div class="col-8 text-right mb-3">
          <span>&nbsp;</span><br>
          <button type="button" class="btn bg-light-grey text-black" data-toggle="modal" data-target="#confirm">Save</button>
        </div>
        <div class="col-12 mb-3 border-bottom"></div>
        <div class="col-4 mb-3">
          <span class="text-light-grey">Level</span>
        </div>
        <div class="col-4 mb-3">
          <span class="text-light-grey">Bin</span>
        </div>
        <div class="w-100"></div>

        <% @product_locations.each do |location| %>
          <div class="col-4 mb-3">
            <%= text_field_tag "location[" + location.id.to_s + "][level]", location.level, class: "form-control border-black header1 text-center", style: "height: 5rem" %>
          </div>
          <div class="col-4 mb-3">
            <%= text_field_tag "location[" + location.id.to_s + "][bin]", location.bin, class: "form-control border-black header1 text-center", style: "height: 5rem" %>
          </div>
          <div class="w-100"></div>
        <% end %>
      </div>
        
      <div class="modal" id="confirm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="max-width: calc(100% - 20px); position: absolute; transform: none !important; top: initial; bottom: 1rem; left: 10px">
          <div class="modal-content" style="background: none">
            <div class="row mx-0">
              <div class="col-12 mb-2">
                <button type="submit" class="btn text-black bg-white w-100 rounded-5" style="font-size: 15px; height: 10rem">
                  <p class="text-left">
                    <span class="text-red">Disclaimer:</span><br>
                    Saving will update all inventory in the current location to new location.
                  </p>
                  <span class="text-red">Continue</span>
                </button>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-secondary mr-4 w-100 rounded-5" data-dismiss="modal" style="font-size: 15px; height: 5rem">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= edit_location_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>