<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row py-3">
      <div class="col-6">
        <span class="header1">Put Products</span>
      </div>
      <div class="col-6 text-right">
        <span class="header1 font-weight-bold"><%= @product_variants.sum(:received_quantity) %></span><br>
        <span class="text-light-grey">products for inventory</span>
      </div>
    </div>
    <section id="put">
      <%= render partial: "put", locals: { pagy: @pagy, product_puts: @product_puts, current_user: @current_user } %>
    </section>

    <% if @pagy.present? %>
      <% if @pagy.count > 1 %>
        <div id="page-nav">
          <%= render partial: "put_paginator", locals: { current_user: current_user } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= outstanding_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>