<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-4">
      <div class="col-12 mb-3">
        <span class="header1">Pre-Orders</span>
      </div>
      <div class="col-10 mb-3">
        <span class="header1">
          <%= @item.line_item&.sku&.upcase %>
        </span><br>
        <span class="text-light-grey">
          <%= @item.line_item&.title %>
        </span>
      </div>
      <div class="col-2 mb-3 text-right">
        <span class="header2">pick</span><br>
        <span class="header1 font-weight-bold">
          <%= @item.preorder_quantity %>
        </span>
      </div>
      <div class="col-12 mb-3">
        <span class="header2">
          Container <%= @item.containers.first.store == "us" ? "CTUS" + @item.containers.first.container_number.to_s : "CTCA" + @item.containers.first.container_number.to_s %>
        </span>
      </div>

      <%= form_tag preorder_pick_admin_warehouses_path(item_id: @item.id), class: "col-12" do |f| %>
        <div class="row">
          <div class="col-7 mb-3">
            <span class="text-light-grey">
              Pre-Order Quantity
            </span>
            <%= number_field_tag :quantity, "", class: "form-control border-black header1 text-center", min: 0, max: @item.preorder_quantity, style: "height: 5rem", required: true %>
          </div>
          <div class="col-5 mb-3">
            <span>&nbsp;</span>
            <button type="button" class="btn text-red bg-light-red font-weight-bold w-100" style="font-size: 30px !important; height: 5rem" data-toggle="modal" data-target="#confirm">-</button>
          </div>
        </div>

        <div class="modal" id="confirm" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" style="max-width: calc(100% - 20px); position: absolute; transform: none !important; top: initial; bottom: 1rem; left: 10px">
            <div class="modal-content" style="background: none">
              <div class="row mx-0">
                <div class="col-12 mb-2">
                  <button type="submit" class="btn text-red bg-light-red w-100 rounded-5" style="font-size: 15px; height: 5rem">
                    Deduct <span id="total"></span> from container
                  </button>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-secondary mr-4 w-100 rounded-5" data-dismiss="modal" style="font-size: 15px; height: 5rem">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= outstanding_preorder_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>

<script type="text/javascript">
  $("#quantity").on("change", function() {
    $("#total").text($(this).val());
  });
</script>