<div class="container">
  <div class="col-12 mb-4">
    <h5>Available Locations</h5>
  </div>
  <div class="col-12">
    <% if @product_locations.present? %>
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 30%">Rack</th>
              <th style="width: 30%">Level</th>
              <th style="width: 30%">Bin</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <% @product_locations.each do |location| %>
              <tr>
                <td><%= location.rack %></td>
                <td><%= location.level %></td>
                <td><%= location.bin %></td>
                <td><%= link_to "Select", show_location_admin_warehouses_path(location_id: location.id), class: "btn btn-secondary btn-fit-content px-2", style: "width: 55px" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No results found. <%= link_to "Go Back", search_location_admin_warehouses_path, class: "fc-red-clay", style: "text-decoration: underline" %></p>
    <% end %>
  </div>
</div>