<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-3">
      <div class="col-12 mb-3">
        <span class="header1">Location</span>
      </div>
      <div class="col-6 mb-3">
        <span class="text-light-grey mr-2" style="vertical-align: middle">Add Location</span>
        <a href="<%= new_location_admin_warehouses_path %>" class="btn bg-light-grey text-black" style="min-width: 65px">
          Add
        </a>
      </div>
      <div class="col-6 mb-3">
        <span class="text-light-grey mr-2" style="vertical-align: middle">Edit Location</span>
        <a href="<%= edit_location_admin_warehouses_path %>" class="btn bg-light-grey text-black" style="min-width: 65px">
          Edit
        </a>
      </div>
      <div class="col-12 mb-3 border-bottom"></div>

      <div class="col-12 mb-3">
        <span class="header1">All Racks</span>
      </div>

      <% @rack_list.each do |rack| %>
        <div class="col-4 px-2 mb-3">
          <a href="<%= aisle_location_admin_warehouses_path(rack: rack) %>" class="d-block w-100 bg-white border-light-grey rounded-5 p-4">
            <span class="header1"><%= rack %></span><br>
            <span class="text-light-grey">Rack</span>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= admin_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>