<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-3">
      <div class="col-12 mb-3">
        <span class="header1">Put Products</span>
      </div>
      <div class="col-10 mb-3">
        <span class="header1">
          <%= @product_variant&.sku&.upcase %>
        </span><br>
        <span class="text-light-grey">
          <%= @product_variant&.title %>
        </span>
      </div>
      <div class="col-2 mb-3 text-right">
        <span class="header2">put</span><br>
        <span class="header1 font-weight-bold">
          <%= @product_variant.received_quantity.nil? ? 0 : @product_variant.received_quantity %>
        </span>
      </div>

      <% @product_variant.cartons.eager_load(:carton_detail).order("carton_details.index").each do |carton| %>
        <div class="col-8 mb-3">
          <span class="text-black mr-2" style="vertical-align: -webkit-baseline-middle">
            Carton <%= carton.carton_detail.index %> / <%= carton.carton_detail.product.carton_details.maximum(:index) %>
          </span>
          <span class="header2" style="vertical-align: -webkit-baseline-middle">
            (put <%= carton.received_quantity %>)
          </span>
        </div>
        <div class="col-4 text-right mb-3">
          <% if @product_variant.cartons.count > 1 %>
            <a href="<%= variant_quantity_put_admin_warehouses_path(carton_id: carton.id) %>" class="btn bg-light-grey text-black" style="min-width: 80px">Select</a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= outstanding_put_admin_warehouses_path %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>