<div id="layoutSidenav" class="warehouse-layout">
  <%= render "includes/flash_messages" %>
  <div class="container bg-white-grey h-100 overflow-auto">
    <div class="row p-3">
      <div class="col-8 mb-3">
        <span class="header1">
          <%= @product_variant&.sku&.upcase %>
        </span><br>
        <span class="text-light-grey">
          <%= @product_variant&.title %>
        </span>
      </div>
      <div class="col-4 mb-3 text-right">
        <span class="header2">In-stock</span><br>
        <span class="header1 font-weight-bold">
          <%= @product_variant.cartons.map { |carton| carton.carton_locations.sum(:quantity) }.min %>
        </span>
      </div>

      <% @product_variant.cartons.eager_load(:carton_detail).order("carton_details.index").each do |carton| %>
        <div class="col-4 col-md-5 mb-3">
          <span class="text-black" style="vertical-align: -webkit-baseline-middle">
            Carton <%= carton.carton_detail.index %> / <%= carton.carton_detail.product.carton_details.maximum(:index) %>
          </span>
        </div>
        <div class="col-4 col-md-3 mb-3">
          <div class="row no-gutters">
            <div class="col-3 col-md-2">
              <span style="vertical-align: -webkit-baseline-middle">
                <%= carton.carton_locations.sum { |location| location.quantity.to_i } %>
              </span>
            </div>
            <div class="col-9 col-md-10">
              <span style="vertical-align: -webkit-baseline-middle">
                In-stock
              </span>
            </div>
          </div>
        </div>
        <div class="col-4 text-right mb-3">
          <% if @product_variant.cartons.count > 1 %>
            <a class="btn bg-light-grey text-black" style="min-width: 80px" data-reflex="click->WarehouseReflex#change_active_carton" data-carton-id="<%= carton.id %>">Select</a>
          <% end %>
        </div>
      <% end %>

      <div class="col-12 mb-3 border-bottom"></div>
      <% if @active_carton.present? %>
        <div class="col-12 mb-3">
          <span class="header2">
            Carton <%= @active_carton.carton_detail.index %> / <%= @active_carton.carton_detail.product.carton_details.maximum(:index) %>
          </span>
        </div>
        <% @active_carton.carton_locations.eager_load(:product_location).order("product_locations.rack, product_locations.level, product_locations.bin").each do |carton_location| %>
          <a href="<%= admin_variant_admin_warehouses_path(carton_location_id: carton_location.id, source: "search") %>" class="col-12">
            <div class="row no-gutters mb-3 p-3 border-grey bg-white rounded-5 carton-location" data-carton-location="<%= carton_location.id %>">
              <div class="col-3">
                <span class="text-light-grey">
                  Rack
                </span><br>
                <span class="header1 rack">
                  <%= carton_location.product_location.rack %>
                </span>
              </div>
              <div class="col-3">
                <span class="text-light-grey">
                  Level
                </span><br>
                <span class="header1 level">
                  <%= carton_location.product_location.level %>
                </span>
              </div>
              <div class="col-5">
                <span class="text-light-grey">
                  Bin
                </span><br>
                <span class="header1 bin">
                  <%= carton_location.product_location.bin %>
                </span>
              </div>
              <div class="col-1">
                <span class="text-light-grey">
                  Qty
                </span><br>
                <span class="header1 stock">
                  <%= carton_location.quantity.nil? ? 0 : carton_location.quantity %>
                </span>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="navbar footer bg-white">
  <div class="col-10">
    <a>
      <%= @current_user.username if @current_user.username.present? %>
      <%= "- " + @current_user.warehouse.name if @current_user.warehouse.name.present? %>
    </a>
  </div>
  <div class="col-2 text-right">
    <a href="<%= search_admin_sku_admin_warehouses_path(search: @product_variant&.sku) %>" class="icon-large-left">
      <%= show_svg("ri-arrow-up-line.svg") %>
    </a>
  </div>
</div>