<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 8%">Submitter</th>
        <th style="width: 10%">Date of Expense</th>
        <th style="width: 10%">Type</th>
        <th style="width: 10%">Category</th>
        <th style="width: 10%">Sub-Category</th>
        <th style="width: 5%">Subtotal</th>
        <th style="width: 5%">GST</th>
        <th style="width: 5%">PST</th>
        <th style="width: 5%">Tips</th>
        <th style="width: 8%">Invoice Total</th>
        <th style="width: 10%">Approved Amount</th>
        <th style="width: 9%">Posted</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <% @postings.eager_load(:expense).order("expenses.expense_date DESC").each do |posting| %>
        <tr>
          <td><%= Employee.find_by(id: posting.expense.employee_id)&.full_name %></td>
          <td><%= posting&.expense&.expense_date.to_date.strftime("%B %d, %Y") %></td>
          <td>
            <%= posting&.expense&.expense_type&.title %>
            <%= "Claim Expense" if posting&.expense&.claims_expense %>
          </td>
          <td><%= posting&.expense&.expense_category&.title %></td>
          <td><%= posting&.expense&.expense_subcategory&.title %></td>
          <td><%= number_to_currency(posting&.expense&.amount.to_f - posting&.expense&.gst.to_f - posting&.expense&.pst.to_f - posting&.expense&.tips.to_f) %></td>
          <td><%= number_to_currency(posting&.expense&.gst.to_f) %></td>
          <td><%= number_to_currency(posting&.expense&.pst.to_f) %></td>
          <td><%= number_to_currency(posting&.expense&.tips.to_f) %></td>
          <td><%= number_to_currency(posting&.expense&.amount.to_f) %></td>
          <td><%= number_to_currency(posting&.expense&.approve_amount.to_f) %></td>
          <td>
            <input id="<%= "posted-" + posting.id.to_s %>" type="checkbox" data-switch="blue" data-id="<%= posting.id %>" data-reflex="change->AccountingExpenseReflex#update_post" <%= "checked" if posting.posting %>>
            <label for="<%= "posted-" + posting.id.to_s %>">&nbsp;</label>
          </td>
          <td>
            <%= link_to "", expense_record_admin_expenses_path(posting_id: posting.id), class: "btn btn-primary uil-redo", style: "min-width: initial" %>
            <div class="toggle-view border-blue float-right rounded-circle rounded-circle-2" data-toggle="<%= posting.id %>" style="top: 3px">
              <span class="dripicons-plus text-blue" style="top: 45%"></span>
            </div>
          </td>
        </tr>
        <tr class="toggle-content" data-toggle="<%= posting.id %>">
          <td colspan=11>
            <div class="d-flex">
              <div class="w-50">
                <div class="row no-gutters">
                  <div class="col-6">
                    <label>Payment Method</label>
                    <p><%= posting&.expense&.expense_payment_method&.title %></p>
                  </div>
                  <div class="col-6">
                    <%= form_for [:admin, posting.expense], html: { class: "form-horizontal form-bordered" } do |f| %>
                      <div class="file-input-container">
                        <label class="mr-2">Documents</label>
                        <%= f.file_field :files, multiple: true, class: "file-temp d-none", accept: ".pdf, .jpeg, .jpg, .png" %>
                        <a class="file-input">Upload</a>
                      </div>
                      <%= f.submit "Submit", class: "btn btn-primary mb-3" %>
                      <div class="file-name"></div>
                    <% end %>
                    <% posting&.expense&.files.each do |doc| %>
                      <% if doc.created_at? %>
                        <%= link_to doc.filename, doc, target: :_blank %><br>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-12">
                    <% if posting.expense.comment.present? %>
                      <label>Expense Requester's Comments</label>
                      (<%= posting.expense.employee&.full_name %>)
                      <p><%= posting.expense.comment %></p>
                    <% end %>
                    <% if posting.expense.notes.present? %>
                      <label>Expense Approver's Comments</label>
                      (<%= Employee.find_by(id: posting.expense.approver_id)&.full_name %>)
                      <p><%= posting.expense.notes %></p>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="w-50">
                <label class="pl-4">Updates</label>
                <div class="timeline-container">
                  <div class="row mx-0 timeline timeline-line">
                    <% Audit.where("(auditable_id = ? AND auditable_type = ?) OR (auditable_id = ? AND auditable_type = ?)", posting.id, "ExpensePosting", posting.expense.id, "Expense").order(created_at: :desc).each do |audit| %>
                      <% if audit.auditable_type == "Expense" %>
                        <% if audit.action == "create" %>
                          <div class="col-2 mb-5">
                            <%= render partial: "/admin/comments/timeline_icon" %>
                          </div>
                          <div class="col-10 mb-5">
                            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                            <p>Expense created.</p>
                          </div>
                        <% else %>
                          <% if audit.audited_changes["status"].present? && audit.audited_changes["status"][1] != "Posting" %>
                            <div class="col-2 mb-5">
                              <%= render partial: "/admin/comments/timeline_icon" %>
                            </div>
                            <div class="col-10 mb-5">
                              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                              <p>Expense status updated to <%= audit.audited_changes["status"][1] %>.</p>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% if audit.action == "create" %>
                          <div class="col-2 mb-5">
                            <%= render partial: "/admin/comments/timeline_icon" %>
                          </div>
                          <div class="col-10 mb-5">
                            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                            <p>Expense Posting created.</p>
                          </div>
                        <% else %>
                          <div class="col-2 mb-5">
                            <%= render partial: "/admin/comments/timeline_icon" %>
                          </div>
                          <div class="col-10 mb-5">
                            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                            <% if audit.audited_changes["status"].present? %>
                              <p>
                                Posting moved from from "<%= ExpensePosting.statuses.key(audit.audited_changes["status"][0])&.titleize %>" to "<%= ExpensePosting.statuses.key(audit.audited_changes["status"][1])&.titleize %>".
                              </p>
                            <% end %>
                            <% if audit.audited_changes["reason"].present? %>
                              <p>Reason updated: "<%= audit.audited_changes["reason"][1] %>".</p>
                            <% end %>
                            <% if audit.audited_changes["posting"].present? %>
                              <p>Posting status is updated.</p>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  tr:hover .rounded-circle {
    border: solid 1px var(--blue);
  }
</style>