<div class="container h-100 px-4 d-flex flex-column">
  <div class="row mb-3">
    <div class="col-6">
      <p class="header1">Expense Submission</p>
    </div>
    <div class="col-6 text-right">
      <div class="dropdown">
        <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
          Filter <%= show_svg("arrow.svg") %>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <% ExpenseType.all.each do |type| %>
            <div class="dropdown-item" data-reflex="click->AccountingExpenseReflex#filter_data" data-user-id="<%= current_user.id %>" data-filter="<%= type.id %>">
              <%= type.title %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= render partial: "navigation" %>
    </div>
  </div>
  <section class="d-flex flex-column flex-auto" id="filter-record">
    <%= render partial: "record", locals: { postings: @postings, current_user: @current_user } %>
  </section>
</div>