<div class="modal" id="assignOrderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, @container], html: { class: "form-horizontal form-bordered" } do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title"><%= @purchase_item&.product_variant&.title %></span>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th style="width: 40%">Name</th>
                    <th style="width: 40%">Order Name</th>
                    <th style="width: 40%">Customer Name</th>
                    <th style="width: 40%">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <% @purchase_item.product_variant.line_items.includes(:order).where(status: :not_started, purchase_item_id: nil).where.not(orders: { status: :cancel_confirmed}).each do |item| %>
                    <tr>
                      <%= hidden_field_tag(:purchase_item_id, @purchase_item.id) %>
                      <td><%= item&.name %></td>
                      <td><%= item&.order.name %></td>
                      <td><%= item&.order&.customer&.full_name %></td>
                      <td><%= item&.quantity %></td>
                      <td><%= check_box_tag "assign_orders[ids][]", item.id %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", name: "save_date", value: "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>