<div class="modal" id="assignModal-<%= @order.id %>-<%= @line_item.id %>-<%= @purchase_item.id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, order], url: { action: "update" }, html: { class: "form-horizontal form-bordered", id: "assign" }, data: { reflex: "submit->OrderReflex#assign", name: line_item.order.name, order_id: line_item.order_id, user_id: current_user.id, item_id: line_item.id, container_id: params[:id] } do |ff| %>
      <div class="modal-content">
        <%= ff.fields_for :line_items do |f| %>
          <% if f.object.id == @line_item.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="modal-header">
              <span class="header2 modal-title">Assign Order</span>
            </div>

            <div class="modal-body">
              <div class="row mx-0">
                <div class="col-12 mb-3">
                  <div class="table-responsive">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          <th>Description</th>
                          <th>SKU</th>
                          <th>Qty</th>
                          <th>Carton</th>
                          <th>Order Number</th>
                          <th>Customer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= f.object.title %></td>
                          <td><%= f.object.sku.upcase %></td>
                          <td><%= f.object.quantity %></td>
                          <td><%= f.object.try(:product).try(:carton) %></td>
                          <td><%= f.object.order.name %></td>
                          <td><%= f.object.order&.customer&.full_name&.titleize %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-12">
                  <%= link_to("Add to Inventory", edit_admin_container_path(purchase_item_id: @purchase_item.id, line_item_id: f.object.id, container_id: params[:id], ret: 'container_add_to_inventory' ), class: "btn btn-primary", "data-no-turbolink" => true) %>
                </div>
              </div>
            </div>

            <div class="modal-header">
              <span class="header2 modal-title">To Customer</span>
            </div>

            <div class="modal-body">
              <div class="row mx-0">
                <div class="col-3 mb-3">
                  <span style="vertical-align: -webkit-baseline-middle">Search order number</span>
                </div>

                <div class="col-9 mb-3">
                  <input type="text" placeholder="Order..." class="form-control" data-reflex="debounced:input->ContainerReflex#search" data-store-type="<%= current_store %>">
                </div>

                <div class="col-12">
                  <section id="assign-search-result">
                    <% render partial: "assign_search", locals: { current_user: current_user} %>
                  </section>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
              <%= ff.submit "Assign", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#assign').on('submit', function() {
    $('#assignModal').modal('hide');
  });
</script>