<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 10%">Container</th>
        <th style="width: 15%">Reference</th>
        <th style="width: 10%">Shipping Date</th>
        <th style="width: 10%">Port ETA</th>
        <th style="width: 10%">Arriving to DC</th>
        <th style="width: 15%">Warehouse</th>
        <th style="width: 15%">Received Date</th>
        <th style="width: 10%">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @containers.order(created_at: :desc).each do |container| %>
        <tr>
          <td><%= link_to "CTUS" + "#{container.container_number}", edit_admin_container_path(container) %></td>
          <td><%= container.carrier_serial_number %></td>
          <td><%= container&.shipping_date&.strftime("%B %d, %Y") %></td>
          <td><%= container&.port_eta&.strftime("%B %d, %Y") %></td>
          <td><%= container&.arriving_to_dc&.strftime("%B %d, %Y") %></td>
          <td><%= container&.warehouse&.name %></span></td>
          <td><%= container&.received_date&.strftime("%B %d, %Y") %></td>
          <td>
            <% case container.status %>
              <% when "container_ready" %>
                <span class="badge badge-outline-navy">
                  <%= container.status.titleize %>
                </span>
              <% when "en_route" %>
                <span class="badge badge-outline-yellow">
                  <%= container.status.titleize %>
                </span>
              <% when "arrived" %>
                <span class="badge badge-outline-green">
                  <%= container.status.titleize %>
                </span>
            <% end %>
          </td>
          <td>
            <div class="dropdown">
              <div class="dropdown-toggle arrow-none" data-toggle="dropdown">
                <i class="dripicons-dots-3"></i>
              </div>
              <div class="dropdown-menu">
                <%= link_to "Received", arriving_admin_containers_path(time: "this_week", container_id: container.id), class: "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? %>
  <div id="page-nav">
    <%= render partial: "index_paginator" %>
  </div>
<% end %>