<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 10%">Container</th>
        <th style="width: 15%">Reference</th>
        <th style="width: 15%">Shipping Date</th>
        <th style="width: 15%">Port ETA</th>
        <th style="width: 15%">Arriving to DC</th>
        <th style="width: 15%">Received Date</th>
        <th style="width: 10%">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @containers.order(created_at: :desc).each do |container| %>
        <tr>
          <td><%= link_to "CTCA"+"#{container.container_number}", edit_admin_container_path(container) %></td>
          <td><%= container.carrier_serial_number %></td>
          <td><%= container.shipping_date %></td>
          <td><%= container.port_eta %></td>
          <td><%= container.arriving_to_dc %></td>
          <td><%= container.received_date %></td>
          <td>
            <% case container.status %>
              <% when "container_ready" %>
                <span class="badge badge-outline-navy">
                  <%= container.status.titleize %>
                </span>
              <% when "en_route" %>
                <span class="badge badge-outline-yellow">
                  <%= container.status.titleize %>
                </span>
              <% when "arrived" %>
                <span class="badge badge-outline-green">
                  <%= container.status.titleize %>
                </span>
            <% end %>
          </td>
          <td>
            <div class="dropdown">
              <div class="dropdown-toggle arrow-none" data-toggle="dropdown">
                <i class="dripicons-dots-3"></i>
              </div>
              <div class="dropdown-menu">
                <%= link_to "Received", arriving_admin_containers_path(time: "this_week", container_id: container.id), class: "dropdown-item" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.present? %>
  <div id="page-nav">
    <%= render partial: 'emca_index_paginator' %>
  </div>
<% end %>

<script type="text/javascript">
  $(".received-button").on('click', function() {
    $(this).addClass('disabled')
    window.location.href='<%= arriving_admin_containers_path %>?container_id=' + $(this).data("container")
    document.getElementById('loaderOverlay').style.display = "flex";
  });

  window.onload = function(){
    console.log(document.getElementById('loaderOverlay').style.display);
    document.getElementById('loaderOverlay').style.display = 'none';
  }
</script>