<div class="row pb-3 position-fixed w-100 bg-white" style="z-index: 2; left: 15px; right: 15px">
  <div class="col-6">
    <p class="header1 mr-4 d-inline-block">Containers</p>    
    <div class="search-bar d-inline-block w-50">
      <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->ContainerReflex#emus_search" data-reflex-root="#all-containers" data-store-type="<%= current_store %>">
      <section class="search-results" id="container-header-results"></section>
    </div>
  </div>
      
  <div class="col-6 text-right">
    <% if current_user.user_group.inventory_cru && current_user.user_group.permission_us && current_store == "us" %>
      <a href="<%= new_admin_container_path %>">
        <button class="btn btn-primary">
          <%= show_svg("plus.svg") %> Create Container
        </button>
      </a>
    <% end %>
  </div>

  <div class="col-12">
    <a class="underline-hover <%= "active" if params[:container_status] == "en_route" || (params[:action] == "edit" && @container.present? && @container.status == "en_route") %>" href="<%= admin_containers_path(container_status: "en_route", time: "this_week") %>">
      En Route (<%= Container.where(store: "us", status: "en_route").count %>)
    </a>
    <a class="underline-hover <%= "active" if params[:container_status] == "container_ready" || (params[:action] == "edit" && @container.present? && @container.status == "container_ready") %>" href="<%= admin_containers_path(container_status: "container_ready", time: "this_week") %>">
      Container Ready (<%= Container.where(store: "us", status: "container_ready").count %>)
    </a>
  </div>
</div>