<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 30%">Description</th>
        <th style="width: 10%">SKU</th>
        <th style="width: 15%">Purchase Number</th>
        <th style="width: 5%">Qty</th>
        <th stlye="width: 10%">Order Date</th>
        <th style="width: 10%">Order Number</th>
        <th style="width: 10%">Supplier</th>
        <th style="width: 5%"></th>
        <th style="Width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_items&.each do |item| %>
        <% if item.line_item_id.present? %>
          <tr>
            <td><%= item&.line_item&.title %></td>
            <td><%= item&.line_item&.sku&.upcase %></td>
            <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
            <td><%= item&.quantity %></td>
            <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
            <td><%= item&.line_item&.order&.name %></td>
            <td><%= item&.purchase&.supplier&.name %></td>
            <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
          </tr>
        <% end %>
        <% if item.product_id.present? %>
          <tr>
            <td><%= item&.product_variant&.title %></td>
            <td><%= item&.product_variant&.sku&.upcase %></td>
            <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
            <td><%= item&.quantity %></td>
            <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
            <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
            <td><%= item&.purchase&.supplier&.name %></td>
            <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
            <td>
              <%= link_to "Split", split_item_admin_containers_path(purchase_item_id: item.id), class: "btn btn-secondary btn-fit-content", remote: true %>
            </td>
            <div id="split"></div>
            <td>
              <%= link_to "Merge", mearge_item_admin_containers_path(purchase_item_id: item.id, purchase_id: item.purchase_id), class: "btn btn-secondary btn-fit-content", remote: true %>
            </td>
            <div id="mearge"></div>
          </tr>
          <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: 'cancel_confirmed'}).present? %>
            <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: 'cancel_confirmed'}).each do |line_item| %>
              <tr>
                <td><%= line_item&.title %></td>
                <td><%= line_item&.sku&.upcase %></td>
                <td><%= line_item&.order&.name %></td>
                <td><%= line_item&.quantity %></td>
                <td></td>
                <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% if item.product_variant_id.present? && !(item.product_id.present?) && !(item.line_item_id.present?) %>
          <tr>
            <td><%= item&.product_variant&.title %></td>
            <td><%= item&.product_variant&.sku&.upcase %></td>
            <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
            <td><%= item&.quantity %></td>
            <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
            <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
            <td><%= item&.purchase&.supplier&.name %></td>
            <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
            <td>
              <%= link_to "Split", split_item_admin_containers_path(purchase_item_id: item.id), class: "btn btn-secondary btn-fit-content py-1", remote: true %>
            </td>
            <div id="split"></div>
            <td>
              <%= link_to "Merge", mearge_item_admin_containers_path(purchase_item_id: item.id, purchase_id: item.purchase_id), class: "btn btn-secondary btn-fit-content py-1", remote: true %>
            </td>
            <div id="mearge"></div>
          </tr>
          <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
            <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
              <tr>
                <td><%= line_item&.title %></td>
                <td><%= line_item&.sku&.upcase %></td>
                <td><%= line_item&.order&.name %></td>
                <td><%= line_item&.quantity %></td>
                <td></td>
                <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>