<div class="container px-4">
  <%= render partial: "admin/containers/navigation" %>
  <%= form_for @container, url: { action: "update" }, html: { class: "form-horizontal form-bordered position-relative", style: "top: calc(57px + 1rem)" } do |f| %>
    <div class="row mb-3">
      <div class="col-6">
        <span class="header1 mr-2">Container <%= f.object&.container_number %></span>
        <% case f.object.status %>
          <% when "container_ready" %>
            <span class="badge badge-outline-navy">
              <%= f.object.status.titleize %>
            </span>
          <% when "en_route" %>
            <span class="badge badge-outline-yellow">
              <%= f.object.status.titleize %>
            </span>
          <% when "arrived" %>
            <span class="badge badge-outline-green">
              <%= f.object.status.titleize %>
            </span>
        <% end %>
        <span class="header1 ml-2">Warehouse: <%= f.object&.warehouse&.name %></span>
      </div>

      <div class="col-6 text-right">
        <% if current_user.user_group.inventory_cru && ((current_user.user_group.permission_us && current_store == "us") || (current_user.user_group.permission_ca && current_store == "canada")) && @container.status == 'container_ready' %>
        <a class="ml-2" data-toggle="modal" data-target="#addContainerItem">Add Item</a>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <span>Warehouse:</span>
        <%= f.select :warehouse_id, options_for_select(Warehouse.where(store: current_store).map { |w| [w.name, w.id] }, f.object.warehouse_id), { include_blank: true }, class: "d-inline-block form-control w-75 ml-4", data: { reflex: "change->ContainerReflex#warehouse_update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store }%>
      </div>

      <div class="col">
        <label>Shipping Date</label>
        <a class="ml-2" data-toggle="modal" data-target="#detailModal">Details</a>
        <% if current_user.user_group.inventory_cru %>
          <%= f.date_field :shipping_date, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store }, class: "form-control" %>
        <% else %>
          <%= f.date_field :shipping_date, class: "form-control", disabled: true %>
        <% end %>
      </div>
      
      <div class="col">
        <label>Port ETA</label>
        <% if current_user.user_group.inventory_cru %>
          <%= f.date_field :port_eta, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store, port_eta: "yes" }, class: "form-control" %>
        <% else %>
          <%= f.date_field :port_eta, class: "form-control", disabled: true %>
        <% end %>
      </div>
        
      <div class="col">
        <label>Arriving to DC ETA Date</label>
        <% if current_user.user_group.inventory_cru %>
          <%= f.date_field :arriving_to_dc, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store, user_id: current_user.id, arriving_to_dc: "dc entered" }, class: "form-control" %>
        <% else %>
          <%= f.date_field :arriving_to_dc, class: "form-control", disabled: true %>
        <% end %>
      </div>

      <div class="col">
        <label>Reference</label>
        <% if current_user.user_group.inventory_cru %>
          <%= f.text_field :carrier_serial_number, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store }, class: "form-control" %>
        <% else %>
          <%= f.text_field :carrier_serial_number, class: "form-control", disabled: true %>
        <% end %>
      </div>

      <div class="col">
        <label>Received Date</label>
        <% if current_user.user_group.inventory_cru %>
          <%= f.date_field :received_date, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store }, class: "form-control" %>
        <% else %>
          <%= f.date_field :received_date, class: "form-control", disabled: true %>
        <% end %>
      </div>

      <div class="col">
        <label>Ocean Carrier</label>
        <% if current_user.user_group.inventory_cru %>
          <%= f.select :ocean_carrier_id, options_for_select(OceanCarrier.set_store(current_store).all.map{|s|[s.name, s.id]}, f.object.ocean_carrier_id), {include_blank: true}, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store }, class: "form-control" %>
        <% end %>
      </div>

      <% if @container.status == "container_ready" %>
        <div class="col">
          <label>&nbsp;</label><br>
          <button class="btn btn-primary" data-reflex="click->ContainerReflex#en_route" data-container-id="<%= @container.id %>" data-user-id="<%= current_user.id %>">En-Route</button>
        </div>
      <% end %>
      <div class="col">
        <label>&nbsp;</label><br>
        <button class="btn btn-primary" data-reflex="click->ContainerReflex#sync_data" data-container-id="<%= @container.id %>" data-user-id="<%= current_user.id %>">Sync Container</button>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">   
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="width: 30%">Description</th>
                <th style="width: 10%">SKU</th>
                <th style="width: 10%">Purchase Number</th>
                <th style="width: 5%">Qty</th>
                <th style="width: 5%">Container Cost</th>
                <th style="width: 10%">Supplier</th>
                <th style="width: 10%">Order Number</th>
                <th style="width: 10%">Replacement Invoice</th>
                <th style="width: 10%">Order From</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @sum = 0 %>
              <% @container.purchase_items&.each do |item| %>
                <% if item.line_item_id.present? && !(item.line_item.status == "cancelled") %>
                  <tr>
                    <td>
                      <% if item&.line_item&.variant&.present? %>
                        <%= link_to item&.line_item&.title, admin_product_variant_path(id: item&.line_item&.variant&.id) %>
                      <% else %>
                        <%= item&.line_item&.title %>
                      <% end %>
                    </td>
                    <td><%= item&.line_item&.sku.upcase %></td>
                    <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                    <% @sum = @sum + item&.quantity.to_i %>
                    <td><%= item&.quantity %></td>
                    <td><%= number_to_currency(number_with_precision(item&.container_cost, precision: 4)) %></td>
                    <td><%= item&.purchase&.supplier&.name %></td>
                    <td>
                      <% if item&.line_item&.order_from == "CTUS" || item&.line_item&.order_from == "CTCA" %>
                        <%= item&.line_item&.order_from %>
                      <% else %>
                        <%= link_to item&.line_item&.order.name, edit_admin_order_path(item&.line_item&.order) %>
                      <% end %>
                    </td>
                    <td>
                      <% if item&.line_item&.order&.issues.any? { |issue| issue.issue_type == "product_claims" && issue.replacement_type.present? } %>
                        <%= item&.line_item&.order&.issues.where(issue_type: "product_claims").where.not(replacement_type: nil).first.replacement_type %>
                      <% end %>
                    </td>
                    <td>
                      <% if item&.line_item&.order_from == "CTUS" || item&.line_item&.order_from == "CTCA" %>
                        <%= item&.line_item&.order.name %>
                      <% elsif item&.line_item&.order_from.present? %>
                        <%= item&.line_item&.order_from %>
                      <% elsif item.line_item.present? && (item.line_item.audits.present?) &&  (item.line_item.audits.last.audited_changes.keys == ["order_id"]) %>
                        <%= Order.find(item.line_item.audits.last.audited_changes.values[0][0]).name %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "Assign", admin_container_path(name: item.line_item.order.name, line_item_id: item.line_item.id, current_user: current_user, purchase_item_id: item.id), class: "btn btn-primary", remote: true %>
                    </td>
                    <div id="assign"></div>
                  </tr>
                <% end %>
                <% if item.product_id.present? && item.product_variant_id.present? %>
                  <tr>
                    <td><%= item&.product_variant&.title %></td>
                    <td><%= item&.product_variant&.sku.upcase %></td>
                    <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                    <% @sum = @sum + item&.quantity.to_i %>
                    <td><%= item&.quantity %></td>
                    <td><%= number_to_currency(number_with_precision(item&.container_cost, precision: 4)) %></td>
                    <td><%= item&.purchase&.supplier&.name %></td>
                    <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                    <td>
                      <% if !(@container.status == "arrived") && (item.product_variant.present?) && (item.product_variant.line_items.includes(:order).where(status: :not_started, container_id: nil, purchase_item_id: nil).where.not(orders: { status: :cancel_confirmed})).present? %>
                        <%= link_to "Assign", assign_order_admin_container_path(container_id: @container.id, purchase_item_id: item.id), class: "btn btn-primary", remote: true %>
                        <div id="assignOrder"></div>
                      <% end %>
                    </td>
                    <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                      <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                        <tr>
                          <td><%= line_item&.title %></td>
                          <td><%= line_item&.sku.upcase %></td>
                          <td></td>
                          <% @sum = @sum + line_item&.quantity.to_i %>
                          <td><%= line_item&.quantity %></td>
                          <td></td>
                          <td><%= link_to line_item&.order&.name, edit_admin_order_path(line_item&.order) %></td>
                          <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
                <% if item.product_variant_id.present? && !(item.product_id.present?) && !(item.line_item_id.present?) %>
                  <tr>
                    <td><%= item&.product_variant&.title %></td>
                    <td><%= item&.product_variant&.sku.upcase %></td>
                    <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                    <% @sum = @sum + item&.quantity.to_i %>
                    <td><%= item&.quantity %></td>
                    <td><%= number_to_currency(number_with_precision(item&.container_cost, precision: 4)) %></td>
                    <td><%= item&.purchase&.supplier&.name %></td>
                    <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                    <td>
                      <% if !(@container.status == "arrived") && (item.product_variant.present?) && (item.product_variant.line_items.includes(:order).where(status: :not_started, container_id: nil, purchase_item_id: nil).where.not(orders: { status: :cancel_confirmed})).present?  %>
                        <%= link_to "Assign", assign_order_admin_container_path(container_id: @container.id, purchase_item_id: item.id), class: "btn btn-primary", remote: true %>
                        <div id="assignOrder"></div>
                      <% end %>
                    </td>
                    <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                      <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                        <tr>
                          <td><%= line_item&.title %></td>
                          <td><%= line_item&.sku.upcase %></td>
                          <td></td>
                          <% @sum = @sum + line_item&.quantity.to_i %>
                          <td><%= line_item&.quantity %></td>
                          <td></td>
                          <td><%= link_to line_item&.order&.name, edit_admin_order_path(line_item&.order) %></td>
                          <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan=3>Totals</th>
                <th colspan=5><%= @sum %></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- detail MODAL-->
    <div class="modal" id="detailModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="header2 modal-title">Container Details</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="text-black"><%= show_svg("close.svg") %></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <label>Notes</label>
                <%= f.text_area :container_comment, data: { reflex: "change->ContainerReflex#update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store, reflex_root: "#detailModal" }, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">Cost Name</div>
              <div class="col-5 mb-3">Cost Amount</div>
              <div class="col-1 mb-3">
                <a data-reflex="click->ContainerReflex#create_cost" data-reflex-root="#detailModal" data-container-id="<%= @container.id %>" data-carrier-type="ocean">
                  <%= show_svg("plus.svg") %>
                </a>
              </div>
              <%= f.fields_for :container_charges, f.object.container_charges.order(:created_at) do |cost| %>
                <div class="col-6 mb-3">
                  <%= cost.text_field :charge, data: { reflex: "change->ContainerReflex#charges_update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store, reflex_root: "#detailModal" }, class: "form-control" %>
                </div>
                <div class="col-5 mb-3">
                  <%= cost.number_field :quote, data: { reflex: "change->ContainerReflex#charges_update", reflex_dataset: "combined", container_id: @container.id, store_type: current_store, reflex_root: "#detailModal" }, class: "form-control", step: :any %>
                </div>
                <div class="col-1 mb-3">
                  <a data-reflex="click->ContainerReflex#delete_cost" data-reflex-root="#detailModal" data-charge-id="<%= cost.object.id %>">
                    <%= show_svg("close.svg") %>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-6 font-weight-bold">Total Container Cost</div>
            <div class="col-6 font-weight-bold text-right"><%= number_to_currency(@container.container_charges.sum(:quote)) %></div>
          </div>
        </div>
      </div>
    </div>

    <!-- add missing container items modal -->
    <div class="modal" id="addContainerItem" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="header2 modal-title">items</span>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th style="width: 30%">Description</th>
                    <th style="width: 10%">SKU</th>
                    <th style="width: 15%">Purchase Number</th>
                    <th style="width: 5%">Qty</th>
                    <th stlye="width: 10%">Order Date</th>
                    <th style="width: 10%">Order Number</th>
                    <th style="width: 10%">Supplier</th>
                    <th style="width: 5%"></th>
                    <th style="Width: 5%"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @purchase_items&.each do |item| %>
                    <% if item.line_item_id.present? %>
                      <tr>
                        <td><%= item&.line_item&.title %></td>
                        <td><%= item&.line_item&.sku&.upcase %></td>
                        <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                        <td><%= item&.quantity %></td>
                        <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
                        <td><%= item&.line_item&.order&.name %></td>
                        <td><%= item&.purchase&.supplier&.name %></td>
                        <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
                      </tr>
                    <% end %>
                    <% if item.product_id.present? %>
                      <tr>
                        <td><%= item&.product_variant&.title %></td>
                        <td><%= item&.product_variant&.sku&.upcase %></td>
                        <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                        <td><%= item&.quantity %></td>
                        <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
                        <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
                        <td><%= item&.purchase&.supplier&.name %></td>
                        <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
                      </tr>
                      <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: 'cancel_confirmed'}).present? %>
                        <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: 'cancel_confirmed'}).each do |line_item| %>
                          <tr>
                            <td><%= line_item&.title %></td>
                            <td><%= line_item&.sku&.upcase %></td>
                            <td><%= line_item&.order&.name %></td>
                            <td><%= line_item&.quantity %></td>
                            <td></td>
                            <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if item.product_variant_id.present? && !(item.product_id.present?) && !(item.line_item_id.present?) %>
                      <tr>
                        <td><%= item&.product_variant&.title %></td>
                        <td><%= item&.product_variant&.sku&.upcase %></td>
                        <td><%= (item.purchase.store == "us" ? "TUS" : "TCA") + item&.purchase&.id&.to_s %></td>
                        <td><%= item&.quantity %></td>
                        <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
                        <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
                        <td><%= item&.purchase&.supplier&.name %></td>
                        <td><%= check_box_tag "purchase_item_ids[]", item.id %></td>
                      </tr>
                      <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                        <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: item.id, purchase_id: item.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                          <tr>
                            <td><%= line_item&.title %></td>
                            <td><%= line_item&.sku&.upcase %></td>
                            <td><%= line_item&.order&.name %></td>
                            <td><%= line_item&.quantity %></td>
                            <td></td>
                            <td><%= current_store == "us" ? "TUS" : "TCA" %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
            <%= submit_tag "Submit", class: "btn btn-primary report_button" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

   <!-- Timeline -->
  <% if @container.audits.present? %>
    <div class="row position-relative" style="top: calc(57px + 1rem)">
      <div class="col-7">
        <p class="header2">Recent Activity</p>
        <div class="timeline-container">
          <div class="row mx-0 mb-3 timeline timeline-line">
            <% @container.audits.order(created_at: :desc).each do |audit| %>
              <% if audit.action == "create" %>
                <div class="col-1 mb-5">
                  <%= render partial: "/admin/comments/timeline_icon" %>
                </div>
                <div class="col-11 mb-5">
                  <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                  <p>
                    Container <%= (@container.store == "us" ? "CTUS" : "CTCA") + @container.container_number.to_s %> created. CTUS <%= @container.container_number %> status is set to "<%= Container.statuses.key(audit.audited_changes["status"])&.titleize %>".
                  </p>
                </div>

              <% elsif audit.action == "update" %>
                <div class="col-1 mb-5">
                  <%= render partial: "/admin/comments/timeline_icon" %>
                </div>
                <div class="col-11 mb-5">
                  <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                  <p>
                    Container <%= (@container.store == "us" ? "CTUS" : "CTCA") + @container.container_number.to_s %> status is updated from "<%= Container.statuses.key(audit.audited_changes["status"][0])&.titleize %>" to "<%= Container.statuses.key(audit.audited_changes["status"][1])&.titleize %>".
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>