<div class="container h-50 px-4 d-flex flex-column" id="arriving-containers">
  <div class="row mb-3">
    <div class="col-12">
      <p class="header1">Arriving Containers</p>
    </div>
    
    <div class="col-12">
      <div class="underline-hover <%= "active" if @arriving_label == "This Week" %>" data-status="this_week" data-store="<%= current_store %>" data-reflex="click->ContainerReflex#update_arriving" data-reflex-root="#arriving-containers">
        This Week
        (<%= Container.where(store: current_store).where.not(status: :arrived).where(arriving_to_dc: (Time.now.at_beginning_of_week)..(Time.now.at_end_of_week)).count %>)
      </div>
      <div class="underline-hover <%= "active" if @arriving_label == "Next Week" %>" data-status="next_week" data-store="<%= current_store %>" data-reflex="click->ContainerReflex#update_arriving" data-reflex-root="#arriving-containers">
        Next Week
        (<%= Container.where(store: current_store).where.not(status: :arrived).where(arriving_to_dc: (Time.now.next_day(7).at_beginning_of_week)..(Time.now.next_day(7).at_end_of_week)).count %>)
      </div>
      <div class="underline-hover <%= "active" if @arriving_label == "This Month" %>" data-status="this_month" data-store="<%= current_store %>" data-reflex="click->ContainerReflex#update_arriving" data-reflex-root="#arriving-containers">
        This Month
        (<%= Container.where(store: current_store).where.not(status: :arrived).where(arriving_to_dc: (Time.now.at_beginning_of_month)..(Time.now.at_end_of_month)).count %>)
      </div>
    </div>
  </div>

  <% if @containers_arriving.present? %>
    <section class="flex-auto" id="container-arriving-results">
      <%= render partial: "arriving_results", locals: { current_user: current_user } %>
    </section>
  <% else %>
    <div class="table-responsive flex-auto">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th style="width: 10%">Container</th>
            <th style="width: 15%">Reference</th>
            <th style="width: 15%">Shipping Date</th>
            <th style="width: 15%">Port ETA</th>
            <th style="width: 15%">Arriving to DC ETA</th>
            <th style="width: 15%">Ocean Carrier</th>
            <th style="width: 15%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan=7 style="height: 125px">
              <div class="position-relative h-100">
                <div class="position-center">
                  There are no arriving containers for the time period selected.
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-6">
      <p class="header1 mr-4 d-inline-block">Containers</p>
      <div class="search-bar d-inline-block w-50">
        <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->ContainerReflex#emca_search" data-store-type="<%= current_store %>">
        <section class="search-results" id="container-header-results"></section>
      </div>
    </div>

    <div class="col-6 text-right">
      <% if current_user.user_group.inventory_cru && current_user.user_group.permission_ca && current_store == "canada" %>
        <a href="<%= new_admin_container_path %>">
          <button class="btn btn-primary">
            <%= show_svg("plus.svg") %>
            Create Container
          </button>
        </a>
      <% end %>
    </div>

    <div class="col-12">
      <a class="underline-hover <%= "active" if params[:container_status] == "en_route" %>" href="<%= emca_container_index_admin_containers_path(container_status: "en_route", time: @arriving_label.parameterize(separator: "_")) %>">
        En Route
        (<%= Container.where(store: "canada", status: "en_route").count %>)
      </a>

      <a class="underline-hover <%= "active" if params[:container_status] == "container_ready" %>" href="<%= emca_container_index_admin_containers_path(container_status: "container_ready", time: @arriving_label.parameterize(separator: "_")) %>">
        Container Ready
        (<%= Container.where(store: "canada", status: "container_ready").count %>)
      </a>
    </div>
  </div>
</div>
    
<div class="container h-50 px-4 d-flex flex-column" id="all-containers">
  <section class="d-flex flex-column flex-auto" id="emca-container-list-results">
    <%= render partial: "emca_container_results", locals: { pagy: @pagy, purchases: @purchases, current_user: current_user } %>
  </section>
</div>

<script type="text/javascript">
  $(".received-button").on('click', function() {
    $(this).addClass('disabled')
    window.location.href='<%= arriving_admin_containers_path %>?container_id=' + $(this).data("container")
    document.getElementById('loaderOverlay').style.display = "flex";
  });

  window.onload = function(){
    console.log(document.getElementById('loaderOverlay').style.display);
    document.getElementById('loaderOverlay').style.display = 'none';
  }
</script>