<div class="container px-4">
  <%= render partial: "admin/containers/navigation" %>
  <%= form_for @container, url: { action: "create" }, html: { class: "form-horizontal form-bordered position-relative", style: "top: calc(57px + 1rem)" } do |f| %>
    <%= f.hidden_field :store, value: current_store %>
    <%= f.hidden_field :container_number, value:( Container.where(store: current_store).maximum("container_number").to_i + 1 ) %>
    <div class="row">
      <div class="col-9 mb-3">
        <span class="header1">Container Ready Products</span>
      </div>
      <div class="col-3 mb-3 text-right">
        <span>Warehouse:</span>
        <%= f.select :warehouse_id, options_for_select(Warehouse.where(store: current_store).map { |w| [w.name, w.id] }, f.object.warehouse_id), { include_blank: true }, class: "d-inline-block form-control w-75 ml-4" %>
      </div>

      <div class="col-12 mb-3">
        <section id="supplier_filter">
          <%= render partial: "supplier_filter", locals: { current_user: current_user} %>
        </section>
      </div>

      <div class="col-12 text-right">
        <%= link_to "Cancel", admin_containers_path(container_status: "en_route", time: "this_week"), class: "btn btn-secondary mr-4" %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>