<% if @ocean_carrier.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @ocean_carrier.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>
<%= f.hidden_field :store, value: current_store %>

<div class="row">
  <div class="col-6 mb-3">
    <%= f.label :name, "Carrier Name" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  
  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_ocean_carriers_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>