<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_shipping" %>
    </div>

    <div class="col-10">
      <% if current_user.user_group.admin_cru %>
        <a href="<%= new_admin_ocean_carrier_path %>">
          <button class="btn btn-primary">
            <%= show_svg("plus.svg") %>
            Create Ocean Carrier
          </button>
        </a>
      <% end %>
      
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Ocean Carrier</th>
            </tr>
          </thead>
          <tbody>
            <% @ocean_carriers.each do |ocean_carrier| %>
              <tr>
                <td><%= ocean_carrier.name %></td>
                <td>
                  <% if current_user.user_group.admin_cru %>
                    <a href="<%= edit_admin_ocean_carrier_path(ocean_carrier.id) %>" class="mr-4">
                      <%= show_svg("recent_activity.svg") %>
                    </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>