<% if @whitelist_ip.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @whitelist_ip.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-4 mb-3">
    <%= f.label :ip_address, "IPs" %>
    <%= f.text_field :ip_address, class: 'form-control', required: true %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :status, "status" %>
    <%= f.select :status, options_for_select(CreateWhitelist.statuses.keys.map { |w| [w.titleize, w] }, :selected => f.object.status), { include_blank: true }, class: "form-control" %>
  </div>

  <div class="col-12 mb-3">
    <%= f.label :description, "Comments" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_create_whitelists_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>