<div class="px-5 py-5 login-signup">
  <div class="container">
    <div class="col-md-8 p-5 mx-auto my-5 rounded-1" style="background: rgba(255, 252, 245, 0.85);">
      <h5 class="mb-5">CHANGE PASSWORD</h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :existing_password, class: "text-info" %>
              
            </div>
            <div class="col-md-8">
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
            </div>
            
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :new_password, class: "text-info" %>
            </div>
            <div class="col-md-8">
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label :password_confirmation, class: "text-info" %><br />
            </div>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>
          </div>
        </div>


        <div class="actions form-group">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right">
              <%= link_to "Cancel", :back, class: "btn btn-secondary mr-4" %>
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>

      
    </div>
  </div>
</div>

