<div class="modal" id="cancelPurchaseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin,@purchase], html: {class: "form-horizontal form-bordered"} do |f| %>
      <div class="modal-content">
        <div class="modal-header">        
          <span class="header2 modal-title">Cancel Purchase</span>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th style="width: 40%">Description</th>
                    <th style="width: 10%">SKU</th>
                    <th style="width: 20%">Type</th>
                    <th style="width: 8%">Qty</th>
                    <th style="width: 12%">Cancel Qty</th>
                    <th style="width: 10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for :purchase_items, f.object.purchase_items.where.not(status: :completed) do |ff|%>
                    <% if ff.object.line_item_id.present? %>
                      <tr>
                        <td><%= ff.object.try(:line_item).try(:title) %></td>
                        <td><%= ff.object.try(:line_item).try(:sku).upcase %></td>
                        <% ff.object.update(purchase_type: LineItem.find(ff.object.line_item_id).order.name) %>
                        <td><%= ff.object.try(:purchase_type) %></td>
                        <td><%= ff.object.quantity %></td>
                        <td><%= text_field_tag "purchase_items[cancel_quantity][#{ff.object.id}][]", ff.object.quantity,:readonly => true, class: "form-control" %></td>
                        <td><%= check_box_tag "purchase_items[p_ids][]", ff.object.id %></td>
                      </tr>
                    <% end %>
                    <% if ff.object.product_id.present? %>
                      <tr>
                        <td><%= ff.object.try(:product).try(:title) %></td>
                        <td><%= ff.object.try(:product_variant).try(:sku).upcase %></td>
                        <td><%= ff.object.try(:purchase_type) %></td>
                        <td><%= ff.object.quantity %></td>
                        <td><%= text_field_tag "purchase_items[cancel_quantity][#{ff.object.id}][]", ff.object.quantity, class: "form-control" %></td>
                        <td><%= check_box_tag "purchase_items[p_ids][]", ff.object.id %></td>
                      </tr>
                    <% end %>
                    <% if ff.object.product_variant_id.present? && !(ff.object.product_id.present?) && !(ff.object.line_item_id.present?) %>
                      <tr>
                        <td><%= ff.object.try(:product_variant).try(:title) %></td>
                        <td><%= ff.object.try(:product_variant).try(:sku).upcase %></td>
                        <td><%= ff.object.try(:purchase_type) %></td>
                        <td><%= ff.object.quantity %></td>
                        <td><%= text_field_tag "purchase_items[cancel_quantity][#{ff.object.id}][]", ff.object.quantity, class: "form-control" %></td>
                        <td><%= check_box_tag "purchase_items[p_ids][]", ff.object.id %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>      
        <div class="modal-footer">
          <span class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <script type='text/javascript'>
  $('input[type="text"]').on('change', function() {
    var check = $(this).val();
  });
</script> %>
