<div class="row">
  <div class="col-12 mb-3">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th style="width: 20%">Order Number</th>
            <th style="width: 60%">Description</th>
            <th style="width: 10%">SKU</th>
            <th style="width: 10%">Qty</th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_cancelreqs.each do |req| %>
            <tr>
              <% if req.purchase&.store == "us" %>
                <td><%= link_to "TUS" + "#{req.purchase.id}", admin_purchase_path(id: req.purchase.id, source: "request"), data: { turbolinks: false } %></td>
              <% else %>
                <td><%= link_to "TCA" + "#{req.purchase.id}", admin_purchase_path(id: req.purchase.id, source: "request"), data: { turbolinks: false } %></td>
              <% end %>
              
              <% if req.purchase_item.line_item.present? %>
                <td><%= req.purchase_item&.line_item&.title %>
                <td><%= req.purchase_item&.line_item&.sku.upcase %>

              <% elsif req.purchase_item.product_variant.present? %>
                <td><%= req.purchase_item&.product_variant&.title %></td>
                <td><%= req.purchase_item&.product_variant&.sku.upcase %></td>
          
              <% elsif req.purchase_item.product.present? %>
                <td><%= req.purchase_item&.product&.product_variants.second&.title %></td>
                <td><%= req.purchase_item&.product&.product_variants.second&.sku.upcase %></td>
              
              <% end %>
              <td><%= req.purchase_item&.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>