<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 10%">Order Number</th>
        <th style="width: 10%">Order Date</th>
        <th style="width: 10%">ETC</th>
        <th style="width: 10%">Days +/-</th>
        <th style="width: 10%">Quantity</th>
        <th style="width: 10%">Not Started</th>
        <th style="width: 10%">In Production</th>
        <th style="width: 10%">Container Ready</th>
        <th style="width: 10%">Completed</th>
        <th style="width: 10%">Supplier</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <% if purchase.try(:store) == 'us'%>
            <td><%= link_to 'TUS' + "#{purchase.id}", admin_purchase_path(id: purchase.id), data: { turbolinks: false } %></td>
          <% else %>
            <td><%= link_to 'TCA' + "#{purchase.id}", admin_purchase_path(id: purchase.id), data: { turbolinks: false } %></td>
          <% end %>
          <td><%= purchase.created_at.to_date.strftime('%B %d, %Y') %></td>
          <td><%= (purchase.created_at.to_date + 22.days).strftime("%B %d, %Y") %></td>
          <td>
            <% if (Date.today - (purchase.created_at.to_date + 22.days)).to_i > 0 %>
              <span class="fc-unbooked">
                <%= "+" + (Date.today - (purchase.created_at.to_date + 22.days)).to_i.to_s + " Days" %>
              </span>
            <% else %>
              <span class="fc-shipped">
                <%= (Date.today - (purchase.created_at.to_date + 22.days)).to_i.to_s + " Days" %>
              </span>
            <% end %>
          </td>
          <td><%= purchase.try(:purchase_items).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
          <td><%= purchase.try(:purchase_items).where(status: :not_started).pluck(:quantity).sum %></td>
          <td><%= purchase.try(:purchase_items).where(status: :in_production).pluck(:quantity).sum %></td>
          <td><%= purchase.try(:purchase_items).where(status: :container_ready).pluck(:quantity).sum %></td>
          <td><%= purchase.try(:purchase_items).where(status: :completed).pluck(:quantity).sum %></td>
          <td><%= purchase.try(:supplier).try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.count > 1 %>
  <div id="page-nav">
    <%= render partial: "emca_index_paginator", locals: { current_user: current_user } %>
  </div>
<% end %>