<div class="modal" id="newPurchaseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, @purchase], html: { class: "form-horizontal form-bordered" } do |f| %>
      <div class="modal-content modal-full-size">
        <div class="modal-header flex-wrap">
          <div class="col-12"> 
            <span class="header2 modal-title">Orders to be Fulfilled</span>
          </div>
          <div class="col-6">
            <div class="search-bar">
              <input type="text" placeholder="search..." class="form-control" data-reflex="debounced:input->PurchaseReflex#search_item" data-store-type="<%= current_store %>">
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="dropdown">
              <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
                Action <%= show_svg("arrow.svg") %>
              </div>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item" data-reflex="click->PurchaseReflex#filter_item" data-store-type="<%= current_store %>">
                  All Suppliers
                </div>
                <% Supplier.all.each do |supplier| %>
                  <div class="dropdown-item" data-reflex="click->PurchaseReflex#filter_item" data-store-type="<%= current_store %>" data-supplier="<%= supplier.id %>">
                    <%= supplier.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <section id="purchase-item-result">
            <%= render partial: "search_item", locals: { f: f, current_user: current_user } %>
          </section>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>