<div class="row">
<div class="col-12">
<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 33%">Description</th>
        <th style="width: 17%">SKU</th>
        <th style="width: 17%">Port ETA</th>
        <th style="width: 17%">Arriving To DC</th>
        <th style="width: 8%">Pre-Order</th>
        <th style="width: 8%">Container</th>
      </tr>
    </thead>
      
    <tbody>
      <% @purchase_items.each do |item| %>
        <% @line_items = LineItem.eager_load(:order).joins(:order).where(order_from: nil, status: :en_route, orders: { store: current_store, order_type: 'Unfulfillable' }).where("orders.created_at >= ?", item.purchase.created_at).where.not(line_items: { status: 'ready' }) %>
        <% @line_items = @line_items.eager_load(:order).joins(:order).where.not(orders: { status: 'cancel_confirmed' })  %>
        <% if item.product.present? && item.product_variant.present? && @line_items.present? && (@line_items.where(sku: item.product_variant.sku).pluck(:sku).include? item.try(:product_variant).try(:sku).to_s) %>
          <tr>
            <td><%= link_to [item.product.try(:title), item.product_variant.try(:title)].join(' | '), item_order_admin_purchases_path(product_id: item.product.id, variant_id: item.product_variant.id, purchase_item_id: item.id) %></td>
            <td><%= item.try(:product_variant).try(:sku).upcase %></td>
            <td><%= item.containers.first.try(:port_eta).to_date.strftime('%Y/%m/%d') if item.containers.first.try(:port_eta).present? %></td>
            <td><%= item.containers.first.try(:arriving_to_dc).to_date.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to @line_items.where(sku: item.product_variant.sku).pluck(:quantity).reject(&:blank?).map(&:to_i).sum, item_order_admin_purchases_path(product_id: item.product.id, variant_id: item.product_variant.id, purchase_item_id: item.id) %>
            </td>
            <td>
              <% if item.containers.present? %>
                <%= link_to item.containers.first.container_number, edit_admin_container_path(item.containers.first), data: { turbolinks: false }%>
              <% else %>
                <%= '-' %>
              <% end %>
            </td>
          </tr>
        <% elsif item.product_variant.present? && !(item.line_item.present?) && !(item.product.present?) && (item.product_variant.product_id.present?) && (@line_items.pluck(:sku).include? item.try(:product_variant).try(:sku).to_s) %>
          <tr>
            <td><%= link_to [item.try(:product_variant).try(:product).try(:title), item.product_variant.try(:title)].join(' | '), item_order_admin_purchases_path(product_id: item.product_variant.product.id, variant_id: item.product_variant.id, purchase_item_id: item.id) %></td>
            <td><%= item.try(:product_variant).try(:sku).upcase %></td>
            <td><%= '-' %></td>
            <td><%= '-' %></td>
            <td>
              <%= link_to @line_items.where(sku: item.product_variant.sku).pluck(:quantity).reject(&:blank?).map(&:to_i).sum, item_order_admin_purchases_path(product_id: item.product_variant.product.id, variant_id: item.product_variant.id, purchase_item_id: item.id) %>
            </td>
            <td>
              <% if item.containers.present? %>
                <%= link_to item.containers.first.container_number, edit_admin_container_path(item.containers.first), data: { turbolinks: false }%>
              <% else %>
                <%= '-' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
