<% current_store = @current_store if @current_store.present? %>
<% unless @query == "" %>
  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 60%">Description</th>
          <th style="width: 10%">SKU</th>
          <th style="width: 10%">Quantity</th>
          <th style="width: 10%">Supplier</th>
          <th style="width: 10%">Select</th>
        </tr>
      </thead>
      <tbody>
        <% @variants&.each do |var| %>
          <tr>
            <td><%= var.product.title if var.product.present? %> | <%= var.title %></td>
            <td><%= var&.sku&.upcase %></td>
            <td><%= text_field_tag "purchase[quantity][#{var.id}][]", "", style: "width: 50px" %></td>
            <td><%= var&.supplier&.name %></td>
            <td><%= check_box_tag "purchase[product_ids][]", var.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>