<% unless @query == "" %>
  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 20%">Order</th>
          <th style="width: 20%">Customer</th>
          <th style="width: 20%">Order Date</th>
          <th style="width: 10%">SKU</th>
          <th style="width: 10%">Qty</th>
          <th style="width: 10%">Supplier</th>
          <th style="width: 10%">Select</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items&.each do |item| %>
          <% if (!(PurchaseItem.find_by(line_item_id: item.id).present?) && item.sku.length > 2 && !(item.order.status == "cancel_confirmed") && !(ShipmentCode.pluck(:sku_for_discount).map(&:downcase).include? item.sku.downcase)) %>
            <tr>
              <td><%= item.order&.name %></td>
              <td><%= item.order&.customer&.full_name&.titleize %></td>
              <td><%= item.order.created_at.to_date.strftime("%B %d, %Y") %></td>
              <td><%= item.sku.upcase %></td>
              <td><%= item.quantity %></td>
              <td><%= item.variant&.supplier&.name %></td>
              <td><%= check_box_tag "purchase[item_ids][]", item.id %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>