<div class="container px-4">
  <% unless current_user.supplier? %>
    <%= render partial: "admin/suppliers/navigation" %>
  <% end %>

  <%= form_for @purchase, url: { action: "update" }, html: { class: "form-horizontal form-bordered position-relative", style: ("top: calc(57px + 1rem)" unless current_user.supplier?) } do |f| %>
    <% if @purchase&.store == "us" %>
      <% purchase_name = "TUS" + f.object.id.to_s %>
    <% else %>
      <% purchase_name = "TCA" + f.object.id.to_s %>
    <% end %>
    <% if current_user.supplier? %>
      <div class="row">
        <div class="col-6 mb-3">
          <span class="header1">订单号码: <%= purchase_name %></span><br>
          <span>订单时间: <%= @purchase.created_at.to_date.strftime("%B %d, %Y") %></span>
        </div>

        <div class="col-6 mb-3 text-right">
          <a data-toggle="modal" data-target="#editQuantityModal">
            <button class="btn btn-primary">Edit</button>
          </a>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="width: 20%">详细信息</th>
                <th style="width: 20%">备注</th>
                <th style="width: 5%">SKU</th>
                <th style="width: 10%">数量</th>
                <th style="width: 10%">ETC</th>
                <th style="width: 5%">箱</th>
                <th style="width: 10%">订单号码</th>
                <th style="width: 10%">开始生产时间</th>
                <th style="width: 10%">状态</th>
              </tr>
            </thead>
            <tbody>
              <% @sum = 0 %>
              <%= f.fields_for :purchase_items, f.object.purchase_items.order(:created_at) do |ff| %>
                <% if ff.object.line_item_id.present? %>
                  <tr>
                    <td><%= ff.object&.line_item&.title %></td>
                    <td><%= ff.text_field :comment_description, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td><%= ff.object&.line_item&.sku.upcase %></td>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <td><%= ff.object&.quantity %></td>
                    <td><%= ff.date_field :etc_date, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td></td>
                    <% ff.object.update(purchase_type: LineItem.find(ff.object.line_item_id).order.name) %>
                    <td><%= ff.object&.purchase_type %></td>
                    <td><%= ff.object&.created_at.to_date.strftime("%B %d, %Y") %></td>
                    <td><%= ff.select :status, options_for_select({"未开始" => "not_started", "生产中" => "in_production", "完成生产" => "container_ready", "已发货" => "completed"}, :selected => ff.object.status, :disabled => :completed), {}, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                  </tr>
                <% end %>
                <% if ff.object.product_id.present? %>
                  <tr> 
                    <% if ff.object.product_variant_id.present? %>
                      <td><%= ff.object&.product_variant&.title %></td>
                    <% else %>
                      <td><%= ff.object&.product&.title %></td>
                    <% end %>
                    <td><%= ff.text_field :comment_description, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td><%= ff.object&.product_variant&.sku.upcase %></td>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <% if ff.object.status == "not_started" %>
                      <td><%= ff.text_field :quantity, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <% else %>
                      <td><%= ff.object.quantity %></td>
                    <% end %>
                    <td><%= ff.date_field :etc_date, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td></td>
                    <td><%= ff.object&.purchase_type %></td>
                    <td><%= ff.object&.created_at.to_date.strftime("%B %d, %Y") %></td>
                    <td><%= ff.select :status, options_for_select({"未开始" => "not_started", "生产中" => "in_production", "完成生产" => "container_ready", "已发货" => "completed"}, :selected => ff.object.status, :disabled => :completed), {}, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                  </tr>
                  <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                    <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                      <tr>
                        <td><%= line_item&.title %></td>
                        <td></td>
                        <td><%= line_item&.sku.upcase %></td>
                        <td><%= line_item&.order&.name %></td>
                        <% @sum = @sum + line_item&.quantity.to_i %>
                        <td><%= line_item&.quantity %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
                <% if ff.object.product_variant_id.present? && !(ff.object.product_id.present?) && !(ff.object.line_item_id.present?) %>
                  <tr>
                    <td><%= ff.object&.product_variant&.title %></td>
                    <td><%= ff.text_field :comment_description, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td><%= ff.object&.product_variant&.sku.upcase %></td>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <% if ff.object.status == "not_started" %>
                      <td><%= ff.text_field :quantity, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <% else %>
                      <td>
                        <% qty = ff.object.quantity %>
                        <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                          <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                            <% qty += line_item&.quantity.to_i %>
                            <% @sum += line_item&.quantity.to_i %>
                          <% end %>
                        <% end %>
                        <%= qty %>
                      </td>
                    <% end %>
                    <td><%= ff.date_field :etc_date, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <td></td>
                    <td><%= ff.object&.purchase_type %></td>
                    <td><%= ff.object&.created_at.to_date.strftime("%B %d, %Y") %></td>
                    <td><%= ff.select :status, options_for_select({"未开始" => "not_started", "生产中" => "in_production", "完成生产" => "container_ready", "已发货" => "completed"}, :selected => ff.object.status, :disabled => :completed), {}, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                  </tr>
                  <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                    <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                      <tr>
                        <td><%= line_item&.title %></td>
                        <td></td>
                        <td><%= line_item&.sku.upcase %></td>
                        <td><%= line_item&.order&.name %></td>
                        <% @sum = @sum + line_item&.quantity.to_i %>
                        <td><%= line_item&.quantity %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= current_store == "us" ? "CTUS" : "CTCA" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <tr class="border-top">
                <th colspan="3">总计</th>
                <th colspan="6"><%= @sum %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal" id="editQuantityModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div id='editQuantity'>
            <div class="modal-content">
              <div class="modal-header">
                <span class="header2 modal-title">Edit Quantity</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="text-black"><%= show_svg("close.svg") %></span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row mx-0">
                  <div class="table-responsive">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          <th style="width: 30%">Description</th>
                          <th style="width: 30%">SKU</th>
                          <th style="width: 10%">Quantity</th>
                          <th style="width: 10%">Production Date</th>
                          <th style="width: 10%">Status</th>
                          <th style="width: 10%">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>

    <% else %>
      <div class="row">
        <div class="col-12 mb-3">
          <span class="header1"><%= purchase_name %> | <%= f.object.supplier&.name %></span><br>
          <span><%= @purchase.created_at.to_date.strftime("%B %d, %Y") %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-3">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="width: 20%">Description</th>
                <th style="width: 25%">Comment</th>
                <th style="width: 10%">SKU</th>
                <th style="width: 10%">Type</th>
                <th style="width: 5%">Qty</th>
                <th style="width: 10%">ETC</th>
                <th style="width: 10%">Container</th>
                <th style="width: 10%">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @sum = 0 %>
              <%= f.fields_for :purchase_items, f.object.purchase_items.order(:created_at) do |ff| %>
                <% if ff.object.line_item_id.present? %>
                  <tr>
                    <td><%= ff.object&.line_item&.title %></td>
                    <td><%= ff.object.comment_description %></td>
                    <td><%= ff.object&.line_item&.sku.upcase %></td>
                    <% ff.object.update(purchase_type: LineItem.find(ff.object.line_item_id).order.name) %>
                    <td>
                      <% if Order.find_by(name: ff.object&.purchase_type).present? %>
                        <%= link_to ff.object&.purchase_type, edit_admin_order_path(Order.find_by(name: ff.object&.purchase_type)) %>
                      <% else %>
                        <%= ff.object&.purchase_type %>
                      <% end %>
                    </td>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <td><%= ff.object.quantity %></td>
                    <td><%= ff.object&.etc_date.to_date.strftime("%B %d, %Y") if ff.object&.etc_date.present? %></td>
                    <td>
                      <% if ff.object.containers.last.present? %>
                        <% if current_store == "us" %>
                          <%= link_to "CTUS" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>                  
                        <% elsif current_store == "canada" %>
                          <%= link_to "CTCA" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% case ff.object.status %>
                        <% when "not_started" %>
                          <span class="badge badge-outline-grey">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "in_production" %>
                          <span class="badge badge badge-outline-navy">
                            <%= ff.object.status.humanize %>
                          </span>

                        <% when "container_ready" %>
                          <span class="badge badge-outline-green">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "completed" %>
                          <span class="badge badge-outline-green">
                            Shipped
                          </span>

                        <% when "cancelled" %>
                          <span class="badge badge-outline-black">
                            <%= ff.object.status.humanize %>
                          </span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <% if ff.object.product_id.present? %>
                  <tr>
                    <% if ff.object.product_variant_id.present? %>
                      <td><%= ff.object&.product_variant&.title %></td>
                    <% else %>
                      <td><%= ff.object&.product&.title %></td>
                    <% end %>
                    <td><%= ff.object.comment_description %></td>
                    <td><%= ff.object&.product_variant&.sku.upcase %></td>
                    <td><%= ff.object&.purchase_type %></td>
                    <% if ff.object.status == "not_started" %>
                      <td><%= ff.text_field :quantity, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <% else %>
                      <td><%= ff.object.quantity %></td>
                    <% end %>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <td><%= ff.object&.etc_date.to_date.strftime("%B %d, %Y") if ff.object&.etc_date.present? %></td>
                    <td>
                      <% if ff.object.containers.last.present? %>
                        <% if current_store == "us" %>
                          <%= link_to "CTUS" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>                  
                        <% elsif current_store == 'canada' %>
                          <%= link_to "CTCA" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% case ff.object.status %>
                        <% when "not_started" %>
                          <span class="badge badge-outline-grey">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "in_production" %>
                          <span class="badge badge badge-outline-navy">
                            <%= ff.object.status.humanize %>
                          </span>

                        <% when "container_ready" %>
                          <span class="badge badge-outline-green">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "completed" %>
                          <span class="badge badge-outline-green">
                            Shipped
                          </span>

                        <% when "cancelled" %>
                          <span class="badge badge-outline-black">
                            <%= ff.object.status.humanize %>
                          </span>
                      <% end %>
                    </td>
                    <td>
                      <% if !(ff.object.status == "completed") && (ff.object.product_variant.present?) && (ff.object.product_variant.line_items.includes(:order).where(status: :not_started, purchase_item_id: nil).where.not(status: :cancelled, orders: { status: :cancel_confirmed})).present? %>
                        <%= link_to "Assign", assign_order_admin_purchase_path(purchase_id: @purchase.id, purchase_item_id: ff.object.id), class: "btn btn-primary", remote: true %></td>
                        <div id="assignOrder"></div>
                      <% end %>
                    </td>
                  </tr>
                  <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                    <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                      <tr>
                        <td><%= line_item&.title %></td>
                        <td></td>
                        <td><%= line_item&.sku.upcase %></td>
                        <td><%= line_item&.order&.name %></td>
                        <% @sum = @sum + line_item&.quantity.to_i %>
                        <td><%= line_item&.quantity %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
                <% if ff.object.product_variant_id.present? && !(ff.object.product_id.present?) && !(ff.object.line_item_id.present?) %>
                  <tr>
                    <td><%= ff.object&.product_variant&.title %></td>
                    <td><%= ff.object.comment_description %></td>
                    <td><%= ff.object&.product_variant&.sku.upcase %></td>
                    <td><%= ff.object&.purchase_type %></td>
                    <% if ff.object.status == "not_started" %>
                      <td><%= ff.text_field :quantity, data: { reflex: "change->PurchaseReflex#update", purchase_id: f.object.id, purchase_item_id: ff.object.id, reflex_dataset: "combined", user_id: current_user.id }, class: "form-control" %></td>
                    <% else %>
                      <td><%= ff.object.quantity %></td>
                    <% end %>
                    <% @sum = @sum + ff.object&.quantity.to_i %>
                    <td><%= ff.object&.etc_date.to_date.strftime("%B %d, %Y") if ff.object&.etc_date.present? %></td>
                    <td>
                      <% if ff.object.containers.last.present? %>
                        <% if current_store == "us" %>
                          <%= link_to "CTUS" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>
                        <% elsif current_store == "canada" %>
                          <%= link_to "CTCA" + "#{ff.object.containers.last.container_number}", edit_admin_container_path(ff.object.containers.last), data: { turbolinks: false } %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% case ff.object.status %>
                        <% when "not_started" %>
                          <span class="badge badge-outline-grey">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "in_production" %>
                          <span class="badge badge badge-outline-navy">
                            <%= ff.object.status.humanize %>
                          </span>

                        <% when "container_ready" %>
                          <span class="badge badge-outline-green">
                            <%= ff.object.status.humanize %>
                          </span>
                        
                        <% when "completed" %>
                          <span class="badge badge-outline-green">
                            Shipped
                          </span>

                        <% when "cancelled" %>
                          <span class="badge badge-dark-lighten">
                            <%= ff.object.status.humanize %>
                          </span>
                      <% end %>
                    </td>
                    <td>
                      <% if !(ff.object.status == "completed") && (ff.object.product_variant.present?) && (ff.object.product_variant.line_items.includes(:order).where(status: :not_started, purchase_item_id: nil).where.not(status: :cancelled, orders: { status: :cancel_confirmed })).present? %>
                        <%= link_to "Assign", assign_order_admin_purchase_path(purchase_id: @purchase.id, purchase_item_id: ff.object.id), class: "btn btn-primary", remote: true %></td>
                        <div id="assignOrder"></div>
                      <% end %>
                    </td>
                  </tr>
                  <% if LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).present? %>
                    <% LineItem.eager_load(:order).joins(:order).where(purchase_item_id: ff.object.id, purchase_id: ff.object.purchase_id).where.not(status: :cancelled, orders: { status: "cancel_confirmed" }).each do |line_item| %>
                      <tr>
                        <td><%= line_item&.title %></td>
                        <td></td>
                        <td><%= line_item&.sku.upcase %></td>
                        <td><%= line_item&.order&.name %></td>
                        <% @sum = @sum + line_item&.quantity.to_i %>
                        <td><%= line_item&.quantity %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th class="border-top" colspan=4>Totals</th>
                <th class="border-top"><%= @sum %></th>
                <th class="border-top text-right" colspan=3>
                  <%= link_to "Cancel Request", admin_purchase_path(@purchase), class: "btn btn-secondary", remote: true %>
                </th>
                <div id="cancelPurchase"></div>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- Timeline -->
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-6 offset-3 mb-3">
      <%= render partial: "admin/comments/purchase", locals: { commentable: @purchase, current_user: current_user }  %>
    </div>
  </div>
</div>