<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 44%">Description</th>
        <th style="width: 8%">SKU</th>
        <th style="width: 8%">On Hand</th>
        <th style="width: 8%">Not Started</th>
        <th style="width: 8%">In Production</th>
        <th style="width: 8%">Container Ready</th>
        <th style="width: 8%">In Container</th>
        <th style="width: 8%">Limit</th>
      </tr>
    </thead>
    <tbody>
      <% if @pagy.count > 0 %>
        <% @variants.where(store: 'us').each do |variant| %>
          <%= form_for [:admin, variant], data: { reflex: "submit->ProductVariantReflex#update", store_type: current_store, variant_id: variant.id, user_id: current_user.id}, html: { id: 'variant_form' } do |f| %>
            <tr>
              <td><%= link_to variant&.title&.html_safe, admin_product_variant_path(id: variant.id)  %></td>
              <td><%= variant.sku.upcase %></td>
              <td>
                <% if current_user.supplier? %>
                  <%= variant.try(:inventory_quantity).to_i %>
                <% else %>
                  <%= f.number_field :inventory_quantity, class: "form-control", style: "max-width: 5rem", onchange: "this.form.submit()", required: false %>
                <% end %>
              </td>
              <td><%= variant.purchase_items.where(status: :not_started).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td><%= variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td><%= variant.purchase_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td>
                <% @a = 0 %>
                <% variant.try(:purchase_items).where(line_item_id: nil).each do |item| %>
                  <% if item.containers.present? %>
                    <% item.containers.each do |cant| %>
                      <% @a = @a + item.try(:quantity).to_i if !(cant.status == "arrived") %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= @a %>
              </td>
              <td><%= link_to 'Edit', edit_admin_product_variant_path(id: variant.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.count > 1 %>
  <div id="page-nav">
    <%= render partial: 'paginator' %>
  </div>
<% end %>