<script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<div class="container px-4">
  <%= render partial: "admin/orders/navigation_product" %>

  <%= form_for @product, url: { action: "update" }, html: { class: "form-horizontal form-bordered position-relative", style: "top: calc(57px + 1rem)" } do |f| %>
    <%= render partial: "form", locals: { f: f, current_user: current_user } %>
  <% end %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <% if @product.audits.present? || @product.associated_audits.present? %>
        <div class="timeline-container">
          <div class="row mx-0 mb-3 timeline timeline-line">
            <% @product.audits.or(@product.associated_audits).where(action: :update).reverse_each do |audit| %>
              <% unless audit.audited_changes.values.all? { |value| (value[0] == nil || value[0] == "") && (value[1] == nil || value[1] == "") } %>
                <div class="col-1 mb-5">
                  <%= render partial: "/admin/comments/timeline_icon" %>
                </div>
                <div class="col-11 mb-5">
                  <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                  <p>
                    <% audit.audited_changes.each_pair do |key, value| %>
                      <% unless (value[0] == nil || value[0] == "") && (value[1] == nil || value[1] == "") %>
                        <% if audit.auditable_type == "Product" %>
                          <% case key %>
                            <% when "sku" %>
                              Product SKU is updated <%= 'from "' + value[0].to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= value[1] %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                            <% when "factory_id" %>
                              Factory is updated <%= 'from "' + Factory.find_by(id: value[0])&.name.to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= Factory.find_by(id: value[1])&.name.to_s %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                            <% when "supplier_id" %>
                              Supplier is updated <%= 'from "' + Supplier.find_by(id: value[0])&.name.to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= Supplier.find_by(id: value[1])&.name.to_s %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                            <% when "category_id" %>
                              Category is updated <%= 'from "' + Category.find_by(id: value[0])&.title.to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= Category.find_by(id: value[1])&.title.to_s %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                            <% when "subcategory_id" %>
                              Sub-Category is updated <%= 'from "' + Subcategory.find_by(id: value[0])&.name.to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= Subcategory.find_by(id: value[1])&.name.to_s %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                            <% else %>
                              <%= key&.to_s&.titleize %> is updated <%= 'from "' + value[0].to_s + '"' unless value[0] == nil || value[0] == "" %>
                              to "<%= value[1] %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                          <% end %>
                        <% else %>
                          Carton <%= @product.carton_details.find_by(id: audit.auditable_id)&.index %>
                          <%= key&.to_s&.titleize %> is updated <%= 'from "' + value[0] + '"' unless value[0] == nil || value[0] == "" %>
                          to "<%= value[1] %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>