<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 80%">Name</th>
        <th style="width: 20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <% unless @query == "" %>
        <% @orders&.each do |order| %>
          <tr>
            <td><%= link_to order.name, edit_admin_order_path(order.name) %></td>
            <td>
              <button class="btn btn-primary" data-reflex="click->BillingSectionReflex#add_order" data-id="<%= order.id %>">Add</button>
            </td>
          </tr>
        <% end %>

        <% @consolidations&.each do |consolidation| %>
          <tr>
            <td><%= consolidation.name %></td>
            <td>
              <button class="btn btn-primary" data-reflex="click->BillingSectionReflex#add_order" data-id="<%= consolidation.shipping_details.first.order.id %>" data-user-id="<%= current_user.id %>">Add</button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>