<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 7%">Order ID</th>
        <th style="width: 5%">Invoice Number</th>
        <th style="width: 7%">Invoice Amount</th>
        <th style="width: 7%">Invoice Subtotal</th>
        <th style="width: 7%">Invoice Date</th>
        <th style="width: 7%">Invoice Due Date</th>
        <th style="width: 7%">Invoice Difference</th>
        <th style="width: 7%">Broker</th>
        <th style="width: 7%">Carrier</th>
        <th style="width: 7%">Carrier Quote</th>
        <th style="width: 5%">Status</th>
        <th style="width: 7%">Record</th>
        <th style="width: 15%">
          <label class="checkbox checkbox-blue mr-4">
            <input id="check_all" class="btw" type="checkbox">
            <span class="checkmark"></span>
          </label>
          <button class="btn btn-primary mr-4" id="posting_export" style="min-width: 80px" onclick="postingExport()">
            Export
          </button>
          <%= link_to "Record", posting_admin_billing_sections_path, class: "btn btn-primary", id: "rec_selected", style: "min-width: 80px", remote: true %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @postings.each do |posting| %>
        <% if posting.order_id.present? %>
          <% order = posting.order %>
          <% if posting.white_glove %>
            <% @invoice = posting.shipping_detail.invoice_for_wgd || posting.shipping_detail.create_invoice_for_wgd %>
          <% else %>
            <% @invoice = posting.shipping_detail.invoice_for_billing || posting.shipping_detail.create_invoice_for_billing %>
          <% end %>
          <tr>
            <td><%= link_to order.name, edit_admin_order_path(order) %></td>
            <td><%= @invoice.invoice_number %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f) %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f - @invoice.tax.to_f - @invoice.qst.to_f) %></td>
            <td><%= @invoice.invoice_date&.strftime("%B %d, %Y") %></td>
            <td><%= @invoice.invoice_due_date&.strftime("%B %d, %Y") %></td>
            <td>
              <% if posting.white_glove %>
                <%= number_to_currency(posting&.shipping_detail&.white_glove_fee.to_f - @invoice.invoice_amount.to_f) %>
              <% else %>
                <%= number_to_currency(posting&.shipping_detail&.actual_invoiced.to_f - @invoice.invoice_amount.to_f) %>
              <% end %>
            </td>
            <td><%= posting&.shipping_detail&.shipping_quotes&.find_by(selected: true)&.truck_broker&.name unless posting.white_glove %></td>
            <td>
              <% if posting.white_glove %>
                <%= posting&.shipping_detail&.white_glove_directory&.company_name %>
              <% else %>
                <%= posting&.shipping_detail&.shipping_quotes&.find_by(selected: true)&.carrier&.name %>
              <% end %>
            </td>
            <td>
              <% if posting.white_glove %>
                <%= number_to_currency(posting&.shipping_detail&.white_glove_fee.to_f) %>
              <% else %>
                <%= number_to_currency(posting&.shipping_detail&.actual_invoiced.to_f) %>
              <% end %>
            </td>
            <td>
              <span class="badge badge-outline-grey">
                <%= posting&.status&.titleize %>
              </span>
            </td>
            <td>
              <%= link_to "Record", posting_admin_billing_sections_path(result: "posted", posting_id: posting.id), class: "btn btn-primary" %>
            </td>
            <td>
              <label class="checkbox checkbox-blue mr-4" style="vertical-align: middle">
                <%= check_box_tag "posting_ids[]", posting.id %>
                <span class="checkmark"></span>
              </label>
              <%= link_to "", posting_admin_billing_sections_path(result: "undo", posting_id: posting.id), class: "btn btn-primary uil-redo", style: "min-width: initial" %>            
              <div class="toggle-view border-blue float-right rounded-circle rounded-circle-2" data-toggle="<%= posting.id %>" style="top: 3px">
                <span class="dripicons-plus text-blue" style="top: 45%"></span>
              </div>
            </td>
          </tr>
          <tr class="toggle-content" data-toggle="<%= posting.id %>">
            <td colspan=13>
              <div class="row no-gutters">
                <div class="col-8">
                  <%= form_for(@invoice, url: upload_doc_admin_billing_sections_path(order_id: posting.order_id, invoice: "yes", section: "posting", invoice_id: @invoice.id, invoice_type: posting.invoice_type), method: :post, html: { id: "upload_doc_" + @invoice.id.to_s, class: "form-horizontal form-bordered" }) do |f| %>
                    <div class="row">
                      <div class="col-6" style="boarder-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Customer Name</label>
                            <p><%= order.customer.full_name %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipped Date</label>
                            <p><%= posting&.shipping_detail&.shipped_date&.strftime("%B %d, %Y") %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Amount</label>
                            <p><%= number_to_currency((order&.line_items.pluck(:price).reject(&:blank?).map(&:to_i).zip(order&.line_items.pluck(:quantity).reject(&:blank?).map(&:to_i)).map{|x, y| x * y}).sum) %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipping Method</label>
                            <p><%= order&.shipping_line&.title %></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-6" style="border-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Order Date</label>
                            <p><%= order.created_at&.strftime("%B %d, %Y") %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Notes</label>
                            <p>
                              <%= posting.dispute_pay_reason if posting.dispute_pay_reason.present? && posting.status == "paid" %>
                              <%= posting.dispute_not_paid_reason if posting.dispute_not_paid_reason.present? && posting.status == "dispute" %>
                            </p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <div class="file-input-container">
                              <label class="mr-2">Invoice Document</label>
                              <%= f.file_field :files, multiple: true, class: "file-temp d-none", accept: ".pdf, .jpeg, .jpg, .png" %>
                              <a class="file-input">Upload</a>
                            </div>
                            <div class="file-name"></div>
                            <% @invoice.files.each do |doc| %>
                              <% if doc.created_at? %>
                                <%= link_to doc.filename, doc, target: :_blank %>
                                <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                  <%= show_svg("close.svg") %>
                                <% end %><br>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Bill of Lading</label>
                            <% if posting&.shipping_detail&.files.present? %>
                              <% posting&.shipping_detail&.files.each do |doc| %>
                                <% if doc.created_at? %>
                                  <br><%= link_to doc.filename, doc, target: :_blank %>
                                  <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                    <%= show_svg("close.svg") %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-12">
                            <%= f.submit "Submit", class: "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                    
                <div class="col-4 pl-3">
                  <label class="pl-3">Updates</label>
                  <div class="timeline-container">
                    <div class="row mx-0 timeline timeline-line">
                      <% order.associated_audits.order(created_at: :desc).each do |audit| %>
                        <% if audit.auditable_type == "Comment" && audit.audited_changes %>
                          <% if audit.audited_changes["description"]&.start_with?("Shipping invoice") %>
                            <div class="col-2 mb-5">
                              <%= render partial: "/admin/comments/timeline_icon" %>
                            </div>
                            <div class="col-10 mb-5">
                              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                              <p><%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %></p>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        <% elsif posting.return_id.present? %>
          <% re = posting.return %>
          <% if posting.white_glove %>
            <% @invoice = re.invoice_for_wgd || re.create_invoice_for_wgd %>
          <% else %>
            <% @invoice = re.invoice_for_billing || re.create_invoice_for_billing %>
          <% end %>
          <tr>
            <td>
              <%= link_to (re.customer_return ? "CRT-" : "RT-") + re.order.name + "-" + (re.order.returns.where(customer_return: re.customer_return).order(created_at: :desc).index(re) + 1).to_s.rjust(2, "0"), edit_admin_return_path(re.id) %>
            </td>
            <td><%= @invoice.invoice_number %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f) %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f - @invoice.tax.to_f - @invoice.qst.to_f) %></td>
            <td><%= @invoice.invoice_date&.strftime("%B %d, %Y") %></td>
            <td><%= @invoice.invoice_due_date&.strftime("%B %d, %Y") %></td>
            <td><%= number_to_currency(re.shipping_cost.to_f - @invoice.invoice_amount.to_f) %></td>
            <td><%= re&.carrier&.truck_broker&.name unless posting.white_glove %></td>
            <td>
              <% if posting.white_glove %>
                <%= re&.white_glove_directory&.company_name if re.white_glove_directory.present? %>
              <% else %>
                <%= re&.carrier&.name %>
              <% end %>
            </td>
            <td><%= number_to_currency(re.shipping_cost.to_f) %></td>
            <td>
              <span class="badge badge-outline-grey">
                <%= posting&.status&.titleize %>
              </span>
            </td>
            <td>
              <%= link_to "Record", posting_admin_billing_sections_path(result: "posted", posting_id: posting.id), class: "btn btn-primary" %>
            </td>
            <td>
              <label class="checkbox checkbox-blue mr-4" style="vertical-align: middle">
                <%= check_box_tag "posting_ids[]", posting.id %>
                <span class="checkmark"></span>
              </label>
              <%= link_to "", posting_admin_billing_sections_path(result: "undo", posting_id: posting.id), class: "btn btn-primary uil-redo", style: "min-width: initial" %>            
              <div class="toggle-view border-blue float-right rounded-circle rounded-circle-2" data-toggle="<%= posting.id %>" style="top: 3px">
                <span class="dripicons-plus text-blue" style="top: 45%"></span>
              </div>
            </td>
          </tr>
          <tr class="toggle-content" data-toggle="<%= posting.id %>">
            <td colspan=13>
              <div class="row no-gutters">
                <div class="col-8">
                  <%= form_for(@invoice, url: upload_doc_admin_billing_sections_path(return_id: posting.return_id, invoice: "yes", section: "posting", invoice_id: @invoice.id, invoice_type: posting.invoice_type), method: :post, html: { id: "upload_doc_" + @invoice.id.to_s, class: "form-horizontal form-bordered" }) do |f| %>
                    <div class="row">
                      <div class="col-6" style="boarder-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Customer Name</label>
                            <p><%= re.order.customer.full_name %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipped Date</label>
                            <p><%= re.return_date %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Amount</label>
                            <p><%= number_to_currency(re.return_quote.to_f) %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipping Method</label>
                            <p><%= re.white_glove_address.present? ? "White Glove Delivery" : "Curbside Delivery" %></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-6" style="border-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Order Date</label>
                            <p><%= re.created_at&.strftime("%B %d, %Y") %></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Notes</label>
                            <p>
                              <%= posting.dispute_pay_reason if posting.dispute_pay_reason.present? && posting.status == "paid" %>
                              <%= posting.dispute_not_paid_reason if posting.dispute_not_paid_reason.present? && posting.status == "dispute" %>
                            </p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <div class="file-input-container">
                              <label class="mr-2">Invoice Document</label>
                              <%= f.file_field :files, multiple: true, class: "file-temp d-none", accept: ".pdf, .jpeg, .jpg, .png" %>
                              <a class="file-input">Upload</a>
                            </div>
                            <div class="file-name"></div>
                            <% @invoice.files.each do |doc| %>
                              <% if doc.created_at? %>
                                <%= link_to doc.filename, doc, target: :_blank %>
                                <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                  <%= show_svg("close.svg") %>
                                <% end %><br>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Bill of Lading</label>
                            <% if re&.files.present? %>
                              <% re&.files.each do |doc| %>
                                <% if doc.created_at? %>
                                  <br><%= link_to doc.filename, doc, target: :_blank %>
                                  <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                    <%= show_svg("close.svg") %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-12">
                            <%= f.submit "Submit", class: "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                      
                <div class="col-4 pl-3">
                  <label class="pl-3">Updates</label>
                  <div class="timeline-container">
                    <div class="row mx-0 timeline timeline-line">
                      <% re.associated_audits.order(created_at: :desc).each do |audit| %>
                        <% if audit.auditable_type == "Comment" && audit.audited_changes %>
                          <% if audit.audited_changes["description"]&.start_with?("Shipping invoice") %>
                            <div class="col-2 mb-5">
                              <%= render partial: "/admin/comments/timeline_icon" %>
                            </div>
                            <div class="col-10 mb-5">
                              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                              <p><%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %></p>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        
        <% elsif posting.consolidation_id.present? %>
          <% consolidation = posting.consolidation %>
          <% if posting.white_glove %>
            <% @invoice = consolidation.invoice_for_wgd || consolidation.create_invoice_for_wgd %>
          <% else %>
            <% @invoice = consolidation.invoice_for_billing || consolidation.create_invoice_for_billing %>
          <% end %>
          <tr>
            <td><%= consolidation.name %></td>
            <td><%= @invoice.invoice_number %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f) %></td>
            <td><%= number_to_currency(@invoice.invoice_amount.to_f - @invoice.tax.to_f - @invoice.qst.to_f) %></td>
            <td><%= @invoice.invoice_date&.strftime("%B %d, %Y") %></td>
            <td><%= @invoice.invoice_due_date&.strftime("%B %d, %Y") %></td>
            <td>
              <% if posting.white_glove %>
                <p><%= number_to_currency(consolidation.shipping_details.sum { |sd| sd.white_glove_fee.to_f } - @invoice.invoice_amount.to_f) %></p>
              <% else %>
                <p><%= number_to_currency(consolidation.shipping_details.sum { |sd| sd.actual_invoiced.to_f } - @invoice.invoice_amount.to_f) %></p>
              <% end %>
            </td>
            <td><%= consolidation.shipping_details.first&.shipping_quotes&.find_by(selected: true)&.truck_broker&.name unless posting.white_glove %></td>
            <td>
              <% if posting.white_glove %>
                <%= consolidation.shipping_details.first&.white_glove_directory&.company_name %>
              <% else %>
                <%= consolidation.shipping_details.first&.shipping_quotes&.find_by(selected: true)&.carrier&.name %>
              <% end %>
            </td>
            <td>
              <% if posting.white_glove %>
                <%= number_to_currency(consolidation.shipping_details.sum { |sd| sd.white_glove_fee.to_f }) %>
              <% else %>
                <%= number_to_currency(consolidation.shipping_details.sum { |sd| sd.actual_invoiced.to_f }) %>
              <% end %>
            </td>
            <td>
              <span class="badge badge-outline-grey">
                <%= posting&.status&.titleize %>
              </span>
            </td>
            <td>
              <%= link_to "Record", posting_admin_billing_sections_path(result: "posted", posting_id: posting.id), class: "btn btn-primary" %>
            </td>
            <td>
              <label class="checkbox checkbox-blue mr-4" style="vertical-align: middle">
                <%= check_box_tag "posting_ids[]", posting.id %>
                <span class="checkmark"></span>
              </label>
              <%= link_to "", posting_admin_billing_sections_path(result: "undo", posting_id: posting.id), class: "btn btn-primary uil-redo", style: "min-width: initial" %>            
              <div class="toggle-view border-blue float-right rounded-circle rounded-circle-2" data-toggle="<%= posting.id %>" style="top: 3px">
                <span class="dripicons-plus text-blue" style="top: 45%"></span>
              </div>
            </td>
          </tr>
          <tr class="toggle-content" data-toggle="<%= posting.id %>">
            <td colspan=13>
              <div class="row no-gutters">
                <div class="col-8">
                  <%= form_for(@invoice, url: upload_doc_admin_billing_sections_path(consolidation_id: posting.consolidation_id, invoice: "yes", section: "posting", invoice_id: @invoice.id, invoice_type: posting.invoice_type), method: :post, html: { id: "upload_doc_" + @invoice.id.to_s, class: "form-horizontal form-bordered" }) do |f| %>
                    <div class="row">
                      <div class="col-6" style="boarder-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Customer Name</label>
                            <p></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipped Date</label>
                            <p></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Amount</label>
                            <p></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Shipping Method</label>
                            <p>Consolidated</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-6" style="border-right: solid 1px var(--black)">
                        <div class="row">
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Order Date</label>
                            <p></p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Notes</label>
                            <p>
                              <%= posting.dispute_pay_reason if posting.dispute_pay_reason.present? && posting.status == "paid" %>
                              <%= posting.dispute_not_paid_reason if posting.dispute_not_paid_reason.present? && posting.status == "dispute" %>
                            </p>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <div class="file-input-container">
                              <label class="mr-2">Invoice Document</label>
                              <%= f.file_field :files, multiple: true, class: "file-temp d-none", accept: ".pdf, .jpeg, .jpg, .png" %>
                              <a class="file-input">Upload</a>
                            </div>
                            <div class="file-name"></div>
                            <% @invoice.files.each do |doc| %>
                              <% if doc.created_at? %>
                                <%= link_to doc.filename, doc, target: :_blank %>
                                <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                  <%= show_svg("close.svg") %>
                                <% end %><br>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-6" style="height: 7.5rem; overflow-x: hidden; overflow-y: auto">
                            <label>Bill of Lading</label>
                            <% if consolidation.shipping_details.first&.files.present? %>
                              <% consolidation.shipping_details.first&.files.each do |doc| %>
                                <% if doc.created_at? %>
                                  <br><%= link_to doc.filename, doc, target: :_blank %>
                                  <%= link_to delete_upload_admin_billing_sections_path(doc_id: doc), class: "ml-2", method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                    <%= show_svg("close.svg") %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-12">
                            <%= f.submit "Submit", class: "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                      
                <div class="col-4 pl-3">
                  <label class="pl-3">Updates</label>
                  <div class="timeline-container">
                    <div class="row mx-0 timeline timeline-line">
                      <% consolidation.own_and_associated_audits.order(created_at: :desc).each do |audit| %>
                        <% if audit.auditable_type == "Comment" && audit.audited_changes %>
                          <% if audit.audited_changes["description"]&.start_with?("Shipping invoice") %>
                            <div class="col-2 mb-5">
                              <%= render partial: "/admin/comments/timeline_icon" %>
                            </div>
                            <div class="col-10 mb-5">
                              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                              <p><%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %></p>
                            </div>
                          <% end %>
                        <% elsif audit.auditable_type == "Consolidation" %>
                          <div class="col-2 mb-5">
                            <%= render partial: "/admin/comments/timeline_icon" %>
                          </div>
                          <div class="col-10 mb-5">
                            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                            <p>
                              Consolidated shipment updated.<br>
                              <% consolidation.shipping_details.each do |sd| %>
                                <%= link_to sd.order.name + " (" + (get_shipping sd) + ")", edit_admin_order_path(sd.order) %><br>
                              <% end %>
                            </p>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  tr:hover .rounded-circle { border: solid 1px var(--blue); }
</style>