<a class="underline-hover switch-tab <%= "active" if params[:action] == "review" %>" href="<%= review_admin_billing_sections_path %>">
  Review (<%= ReviewSection.where(store: current_store, responded: nil).count %>)
</a>
<% if current_user.user_group.billing_view %>
  <a class="underline-hover switch-tab <%= "active" if params[:action] == "posting" %>" href="<%= posting_admin_billing_sections_path %>">
    Posting (<%= PostingSection.where(store: current_store, responded: nil).count %>)
  </a>
  <a class="underline-hover switch-tab <%= "active" if params[:action] == "records" %>" href="<%= records_admin_billing_sections_path %>">
    Records
  </a>
<% end %>