<% if @records.present? %>
  <% if @records.first.white_glove %>
    <% @invoice = @records.first.shipping_detail.invoice_for_wgd %>
  <% else %>
    <% @invoice = @records.first.shipping_detail.invoice_for_billing %>
  <% end %>
  <div class="row">
    <div class="col-2 mb-3">
      <span class="text-black font-weight-bold">Invoice Number</span><br>
      <span class="text-black font-weight-bold">Invoice Date</span><br>
      <span class="text-black font-weight-bold">Invoice Due Date</span>
    </div>
    <div class="col-10 mb-3">
      <span><%= @invoice.invoice_number %></span><br>
      <span><%= @invoice.invoice_date&.strftime("%B %d, %Y") %></span><br>
      <span><%= @invoice.invoice_due_date&.strftime("%B %d, %Y") %></span><br>
    </div>
    <div class="col-12 mb-5">
      <div class="table-responsive flex-auto">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Order Number</th>
              <th style="width: 10%">Invoice Amount</th>
              <th style="width: 10%">Quote</th>
              <th style="width: 10%">Difference</th>
              <th style="width: 20%">Carrier</th>
              <th style="width: 10%">Status</th>
              <th style="width: 20%">Dispute Reason</th>
            </tr>
          </thead>
          <tbody>
            <% @records.each do |record| %>
              <% if record.white_glove %>
                <% invoice = record.shipping_detail.invoice_for_wgd %>
              <% else %>
                <% invoice = record.shipping_detail.invoice_for_billing %>
              <% end %>
              <tr>
                <td><%= record.order.name %></td>
                <td><%= number_to_currency(invoice.invoice_amount.to_f) %></td>
                <td>
                  <% if record.white_glove %>
                    <%= number_to_currency(record&.shipping_detail&.white_glove_fee.to_f) %>
                  <% else %>
                    <%= number_to_currency(record&.shipping_detail&.actual_invoiced.to_f) %>
                  <% end %>
                </td>
                <td><%= number_to_currency(invoice.invoice_difference.to_f) %></td>
                <td>
                  <% if record.white_glove %>
                    <%= record&.shipping_detail&.white_glove_address&.company %>
                  <% else %>
                    <%= record&.shipping_detail&.carrier&.name %>
                  <% end %>
                </td>
                <td>
                  <% if record.status.present? %>
                    <span class="badge badge-outline-grey" style="width: 45px">
                      <%= record.status.humanize %>
                    </span>
                  <% end %>
                </td>
                <td><%= record&.reason %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3 mb-3">
      <span class="text-black font-weight-bold">Total Invoice Amount</span><br>
      <span class="text-black font-weight-bold">Total Orders</span><br>
      <span class="text-black font-weight-bold">Total Orders Paid</span><br>
      <span class="text-black font-weight-bold">Total Orders Dispute</span>
    </div>
    <div class="col-9 mb-3">
      <span><%= number_to_currency(@records.sum { |record| record.white_glove ? record.shipping_detail.invoice_for_wgd.invoice_amount.to_f : record.shipping_detail.invoice_for_billing.invoice_amount.to_f }) %></span><br>
      <span><%= @records.joins(:shipping_detail).group("shipping_details.id").count.length %></span><br>
      <span><%= @records.where(status: "paid").uniq.count %></span><br>
      <span><%= @records.where(status: "dispute").uniq.count %></span><br>
    </div>
  </div>
<% end %>