<%= form_tag review_admin_billing_sections_path(review_id: @selected_review.id, result: "do_not_pay"), html: { class: "form-horizontal form-bordered" } do |f| %>
  <div class="modal" id="reviewDisputeModal-<%= @selected_review.id %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Dispute</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            <label>Reason</label>
            <%= text_area_tag :dispute_not_paid_reason, "", class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>