<div class="modal" id="uploadModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(@invoice, url: upload_doc_admin_billing_sections_path(order_id: @order.id, invoice: "yes", section: section, invoice_id: @invoice.id, invoice_type: params[:invoice_type]), html: { class: "form-horizontal form-bordered" }) do |f| %>
      <div class="modal-content">
        <div class="modal-header">        
          <span class="header2 modal-title">Upload</span>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <%= f.label :invoice_number, "Invoice Number" %>
              <%= f.text_field :invoice_number, class: "form-control" %>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :invoice_amount, "Invoice Amount" %>
              <%= f.text_field :invoice_amount, class: "form-control" %>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :invoice_date, "Invoice Date" %>
              <%= f.date_field :invoice_date, class: "form-control" %>
            </div>
            <div class="col-12 mb-3">
              <%= f.label :invoice_due_date, "Invoice Due Date" %>
              <%= f.date_field :invoice_due_date, class: "form-control" %>
            </div>
            <div class="col-12 mb-3">
              <div class="file-input-container" id="dropzone">
                <%= f.file_field :files, multiple: true, class: "file-temp", id: "files_upload", accept: ".pdf, .jpeg, .jpg, .png" %>
                <span class="font-weight-bold">Drop files here or click to upload</span>
                <p>(File format: pdf only. File size no larger than 10MB per file.)</p>
                <div class="d-flex justify-content-center">
                  <div class="col-4">
                    <button class="btn btn-light-blue file-input w-100" type="button">
                      Browse Files
                    </button>
                  </div>
                </div>
              </div>
              <div class="file-name"></div>
              <% if f.object.files.present? %>
                <div class="col-12">
                  <div class="table-responsive">
                  <table class="table table-borderless table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Updated</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% f.object.files.each do |doc| %>
                        <tr> 
                          <% if doc.created_at? %>
                            <td><%= link_to doc.filename, doc, target: :_blank  %></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <span class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>