<div class="container h-100 px-4 d-flex flex-column">
  <div class="row mb-3">
    <div class="col-6">
      <p class="header1 mr-4 d-inline-block">Shipping</p>
      <div class="search-bar d-inline-block">
        <input type="text" placeholder="Search Order..." class="form-control" data-reflex="debounced:input->BillingSectionReflex#posting_search" data-current-store="<%= current_store %>">
      </div>
    </div>
    <div class="col-6 text-right">
      <div class="dropdown">
        <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
          Filter: Agents <%= show_svg("arrow.svg") %>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <% TruckBroker.where(country: current_store).each do |truck_broker| %>
            <% posting_id = Array.new %>
            <% PostingSection.where(store: current_store, responded: nil, white_glove: false).each do |posting| %>
              <% if posting.order_id.present? %>
                <% posting_id.push(posting.id) if posting.shipping_detail&.shipping_quotes&.find_by(selected: true)&.truck_broker_id == truck_broker.id %>
              <% elsif posting.return_id.present? %>
                <% posting_id.push(posting.id) if posting.return&.carrier&.truck_broker_id == truck_broker.id %>
              <% elsif posting.consolidation_id.present? %>
                <% posting_id.push(posting.id) if posting.consolidation.shipping_details.first&.shipping_quotes&.find_by(selected: true)&.truck_broker_id == truck_broker.id %>
              <% end %>
            <% end %>

            <div class="dropdown-item" data-reflex="click->BillingSectionReflex#filter_data" data-user-id="<%= current_user.id %>" data-current-store="<%= current_store %>" data-truck-broker-id="<%= truck_broker.id %>">
              <%= truck_broker.name.titleize %> (<%= PostingSection.where(id: posting_id).count %>)
            </div>
          <% end %>
          <div class="dropdown-divider"></div>
          <span clas="dropdown-header">WGD</span>
          <% WhiteGloveDirectory.where(store: current_store).each do |directory| %>
            <% posting_id = Array.new %>
            <% PostingSection.where(store: current_store, responded: nil).where(white_glove: true).each do |posting| %>
              <% if posting.order_id.present? %>
                <% posting_id.push(posting.id) if posting.shipping_detail&.white_glove_directory_id == directory.id %>
              <% elsif posting.return_id.present? %>
                <% posting_id.push(posting.id) if posting.return&.white_glove_directory_id == directory.id %>
              <% elsif posting.consolidation_id.present? %>
                <% posting_id.push(posting.id) if posting.consolidation.shipping_details.first&.white_glove_directory_id == directory.id %>
              <% end %>
            <% end %>

            <% if PostingSection.where(id: posting_id).count > 0 %>
              <div class="dropdown-item" data-reflex="click->BillingSectionReflex#filter_data" dat-user-id="<%= current_user.id %>" data-current_store="<%= current_store %>" data-truck-broker-id="<%= directory.id %>" data-white-glove="true">
                <%= directory.company_name %> (<%= PostingSection.where(id: posting_id).count %>)
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= render partial: "navigation" %>
    </div>
  </div>
  <section class="d-flex flex-column flex-auto" id="filter-posting">
    <%= render partial: "filter_posting", locals: { postings: @postings, filter: @filter, current_user: @current_user } %>
  </section>
</div>

<div id="rec_modal"></div>

<script type="text/javascript">
  function postingExport() {
    var posting_ids = [];
    $("input[name='posting_ids[]']:checked").each(function() {
        posting_ids.push($(this).val());
    });
    window.open("<%= posting_admin_billing_sections_path(format: "csv") %>?posting_ids=" + posting_ids);
  }

  $(document).on("click", ".rec_selected", function() {
    var posting_ids = [];
    $("input[name='posting_ids[]']:checked").each(function() {
        posting_ids.push($(this).val());
    });
    var href = $(this).attr("href");
    $(this).attr("href", href + "?posting_ids=" + posting_ids);
  });

  $(document).on("change", "input[type='checkbox']", function() {
    var posting_ids = [];
    $("input[name='posting_ids[]']:checked").each(function() {
        posting_ids.push($(this).val());
    });
    var href = $("#rec_selected").attr("href").split("?")[0];
    $("#rec_selected").attr("href", href + "?posting_ids=" + posting_ids);
  });
</script>