<% unless @query == "" %>
  <div class="w-100 text-center mb-3">
    <span class="header2">Search Results</span>
  </div>
  <div class="container flex-auto">
    <% if @warehouse_variants.present? %>
      <div class="w-100 mb-1">
        <span class="header2">Product Variants</span>
      </div>
      <% @warehouse_variants.each do |warehouse_variant| %>
        <% product_variant = warehouse_variant.product_variant %>
        <div class="row mx-0 border border-dark bg-white align-items-center py-3 mb-3">
          <div class="col-2 col-lg-1 border-right">
            <% if product_variant.image_url.present? %>
              <%= image_tag product_variant.image_url, class: "img-fluid" %>
            <% else %>
              <%= image_tag "em-logo-dark.png", class: "img-fluid" %>
            <% end %>
          </div>
          <div class="col-10 col-lg-5">
            <span class="header1"><%= product_variant&.sku %></span><br>
            <span><%= product_variant&.title.present? ? product_variant&.title : "-" %></span>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <span class="text-light-grey">Category</span><br>
            <span><%= product_variant&.category&.title.present? ? product_variant&.category&.title : "-" %></span>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <span class="text-light-grey">Sub-Category</span><br>
            <span><%= product_variant&.subcategory&.name.present? ? product_variant&.subcategory&.name : "-" %></span>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <span class="text-light-grey">In-Stock</span><br>
            <span><%= product_variant&.inventory_quantity.present? ? product_variant&.inventory_quantity.to_i : "-" %></span>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <span class="text-light-grey">Container Qty</span><br>
            <span>
              <% count = 0 %>
              <% product_variant&.purchase_items.where(line_item_id: nil).each do |item| %>
                <% if item.containers.present? %>
                  <% item.containers.each do |cant| %>
                    <% count += item&.quantity.to_i if !(cant.status == "arrived") %>
                  <% end %>
                <% end %>
              <% end %>
              <%= count || "-" %>
            </span>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <span class="text-light-grey">Container ETA</span><br>
            <% arriving_date = [] %>
            <% product_variant&.purchase_items.where(line_item_id: nil).each do |item| %>
              <% if item.containers.present? %>
                <% item.containers.each do |cant| %>
                  <% arriving_date.push(cant.arriving_to_dc) if (cant.status != "arrived" && cant.arriving_to_dc.present?) %>
                <% end %>
              <% end %>
            <% end %>
            <% if arriving_date.length > 1 %>
              <%= arriving_date.min.strftime("%B %d, %Y") %>
            <% else %>
              -
            <% end %>
          </div>
          <div class="col-4 col-md-2 col-lg-1 text-center">
            <%= link_to "Visit Site", "https://eternitymodern." + (current_store == "us" ? "com" : "ca") + "/" + product_variant&.product&.slug.to_s, target: "_blank" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>