<% if customer.orders.present? && !customer.customer_billing_address.present? %>
  <% if customer.orders.last.billing_address.present? %>
    <% customer.create_customer_billing_address(address: customer.orders.last.billing_address.address1.tr('["]', ''), city: customer.orders.last.billing_address.city, state: customer.orders.last.billing_address.address2, country: (customer.orders.last.billing_address.country.downcase == "us" || customer.orders.last.billing_address.country.downcase == "united states" ? "us" :  "canada"), zip: customer.orders.last.billing_address.zip) %>
  <% elsif customer.orders.last.shipping_address.present? %>
    <% customer.create_customer_billing_address(address: customer.orders.last.shipping_address.address1.tr('["]', ''), city: customer.orders.last.shipping_address.city, state: customer.orders.last.shipping_address.address2, country: (customer.orders.last.billing_address.country.downcase == "us" || customer.orders.last.billing_address.country.downcase == "united states" ? "us" :  "canada"), zip: customer.orders.last.shipping_address.zip) %>
  <% end %>
<% end %>

<% if customer.orders.present? && !customer.customer_shipping_address.present? %>
  <% if customer.orders.last.shipping_address.present? %>
    <% customer.create_customer_shipping_address(first_name: customer.orders.last.shipping_address.first_name, last_name: customer.orders.last.shipping_address.last_name, phone: customer.orders.last.shipping_address.phone, email: customer.orders.last.shipping_address.email, address: customer.orders.last.shipping_address.address1.tr('["]', ''), city: customer.orders.last.shipping_address.city, state: customer.orders.last.shipping_address.address2, country: (customer.orders.last.billing_address.country.downcase == "us" || customer.orders.last.billing_address.country.downcase == "united states" ? "us" :  "canada"), zip: customer.orders.last.shipping_address.zip) %>
  <% elsif customer.orders.last.billing_address.present? %>
    <% customer.create_customer_shipping_address(first_name: customer.orders.last.billing_address.first_name, last_name: customer.orders.last.billing_address.last_name, phone: customer&.phone, email: customer&.email, address: customer.orders.last.billing_address.address1.tr('["]', ''), city: customer.orders.last.billing_address.city, state: customer.orders.last.billing_address.address2, country: (customer.orders.last.billing_address.country.downcase == "us" || customer.orders.last.billing_address.country.downcase == "united states" ? "us" :  "canada"), zip: customer.orders.last.billing_address.zip) %>
  <% end %>
<% end %>

<div class="row no-gutters">
  <div class="col-10 mb-3">
    <span class="header1 mr-3"><%= customer.full_name %></span>
    <% if customer&.risk_indicator.present? %>
      <% case customer&.risk_indicator&.risk_type.downcase %>
        <% when "chargeback" %>
          <span class="badge badge-outline-black">
            Chargeback
          </span>
        <% when "suspicious" %>
          <span class="badge ibadge-outline-yellow">
            Suspicious
          </span>
        <% when "fraud" %>
          <span class="badge badge-outline-red">
            Fraud
          </span>
        <% else %>
          <span class="badge badge-outline-black">
            <%= customer&.risk_indicator&.risk_type.titleize %>
          </span>
      <% end %>
    <% end %>
    <p>Customer Since: <%= customer.created_at.strftime("%B %d, %Y") %></p>
    <p>
      <%= customer.phone.present? ? customer.phone : customer&.orders&.first&.billing_address&.phone %><br>
      <%= customer.email %>
    </p>
  </div>

  <div class="col-2 mb-3 text-right">
    <a class="text-red" data-toggle="modal" data-target="#customer-edit">Edit</a>
  </div>

  <div class="col-6 col-lg-12 mb-3">
    <label class="header2">Billing Address</label><br>
    <%= customer.customer_billing_address&.complete_address %>
  </div>

  <div class="col-6 col-lg-12 mb-3">
    <label class="header2">Shipping Address</label><br>
    <% if customer&.customer_shipping_address&.first_name.present? || customer&.customer_shipping_address&.last_name.present? %>
      <%= customer&.customer_shipping_address&.first_name %> <%= customer&.customer_shipping_address&.last_name %><br>
    <% end %>
    <% if customer&.customer_shipping_address&.phone.present? %>
      <%= customer&.customer_shipping_address&.phone %><br>
    <% end %>
    <% if customer&.customer_shipping_address&.email.present? %>
      <%= customer&.customer_shipping_address&.email %><br>
    <% end %>
    <%= customer&.customer_shipping_address&.complete_address %>
  </div>

  <div class="w-100 border-bottom mb-3"></div>
  <div class="col-6 mb-3">
    <label class="header2">Total Orders</label>
  </div>
  <div class="col-6 mb-3">
    <%= customer.orders.count %>
  </div>
  <div class="col-6 mb-3">
    <label class="header2">Total Purchased</label>
  </div>
  <div class="col-6 mb-3">
    <%= number_to_currency(customer.orders.sum { |order| order.total_amount }) %>
  </div>
  <div class="col-6 mb-3">
    <label class="header2">Trade Name</label>
  </div>
  <div class="col-6 mb-3">
    <%= customer.trade_name %>
  </div>
  <div class="col-6 mb-3">
    <label class="header2">Trade Number</label>
  </div>
  <div class="col-6 mb-3">
    <%= customer.trade_number %>
  </div>
  <% if controller.controller_name == "orders" %>
    <div class="col-12 mb-3">
      <span class="underline-hover switch-tab active" data-switch-group="customer-notes" data-switch-index="notes">
        Customer Notes
      </span>
      <span class="underline-hover switch-tab" data-switch-group="customer-notes" data-switch-index="leads">
        Lead History
      </span>
      <span class="underline-hover switch-tab" data-switch-group="customer-notes" data-switch-index="orders">
        Order History
      </span>
    </div>
    <div class="col-12 mb-3 switch-content active" data-switch-group="customer-notes" data-switch-index="notes">
      <textarea class="form-control" disabled style="height: 20vh"><%= customer.note %></textarea>
    </div>
    <div class="col-12 mb-3 switch-content" data-switch-group="customer-notes" data-switch-index="leads">
      <div class="table-responsive" style="height: 20vh">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Lead ID</th>
              <th>Invoice Amount</th>
              <th>Stage</th>
              <th>Lead Owner</th>
            </tr>
          </thead>
          <tbody>
            <% customer.invoices.order(created_at: :desc).each do |invoice| %>
              <tr>
                <td><%= link_to invoice&.invoice_number, edit_admin_invoice_path(invoice.id) %></td>
                <td><%= number_to_currency(invoice&.full_amount) %></td>
                <td>
                  <% case invoice&.status %>
                    <% when "new_lead" %>
                      <span class="badge badge-outline-light-grey">
                        <%= invoice&.status&.titleize %>
                      </span>
                    <% when "quote_offered" %>
                      <span class="badge badge-outline-blue">
                        <%= invoice&.status&.titleize %>
                      </span>
                    <% when "deposit" %>
                      <span class="badge badge-outline-yellow">
                        <%= invoice&.status&.titleize %>
                      </span>
                    <% when "full_payment" %>
                      <span class="badge badge-outline-green">
                        <%= invoice&.status&.titleize %>
                      </span>
                    <% when "no_sale" %>
                      <span class="badge badge-outline-black">
                        <%= invoice&.status&.titleize %>
                      </span>
                  <% end %>
                </td>
                <td><%= invoice&.employee&.full_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 mb-3 switch-content" data-switch-group="customer-notes" data-switch-index="orders">
      <div class="table-responsive" style="height: 20vh">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Order date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% customer.orders.order(:name).each do |order| %>
              <tr>
                <td><%= link_to order&.name, edit_admin_order_path(name: order&.name) %></td>
                <td><%= order&.created_at&.strftime("%B %d, %Y") %></td>
                <td>
                  <% case order&.status %>
                    <% when "new_order" %>
                      <span class="badge badge-outline-light-grey">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "pending_payment" %>
                      <span class="badge badge-outline-blue">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "in_progress" %>
                      <!-- all shipped -->
                      <% if order&.order_status == "Order Fulfilled" %>
                        <span class="badge badge-outline-green">
                          <%= order&.order_status&.titleize %>
                        </span>

                      <!-- partial shipped -->
                      <% elsif order.order_status == "Partial Shipped" %>
                        <span class="badge badge-outline-green">
                          <%= order&.order_status&.titleize %>
                        </span>

                      <% elsif order.order_status == "Staging" %>
                        <span class="badge badge-outline-blue">
                          <%= order&.order_status&.titleize %>
                        </span>

                      <% elsif order.order_status == "Partial Cancel" %>
                        <span class="badge badge-outline-blue">
                          <%= order&.order_status&.titleize %>
                        </span>
                                      
                      <% elsif order.shipping_details.last.status == "not_ready" %>
                        <span class="badge badge-outline-light-grey">
                          Not Ready
                        </span>

                      <% elsif order.shipping_details.last.status == "staging" %>
                        <span class="badge badge-outline-blue">
                          Staging
                        </span>

                      <% elsif order.shipping_details.last.status == "ready_to_ship" %>
                        <span class="badge badge-outline-red">
                          Ready to Ship
                        </span>

                      <% elsif order.shipping_details.last.status == "booked" %>
                        <span class="badge badge-outline-navy">
                          Booked
                        </span>

                      <% elsif order.shipping_details.last.status == "ready_for_pickup" %>
                        <span class="badge badge-outline-green">
                          Ready for Pickup
                        </span>

                      <% elsif order.shipping_details.last.status == "closed" %>
                        <span class="badge badge-outline-black">
                          Closed
                        </span>

                      <% else %>
                        <span class="badge badge-outline-navy">
                          <%= order.shipping_details.last.status&.titleize %>
                        </span>
                      <% end %>

                    <% when "cancel_request" %>
                      <span class="badge badge-outline-red">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "cancel_confirmed" %>
                      <span class="badge badge-outline-red">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "rejected" %>
                      <span class="badge badge-outline-black">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "delayed" %>
                      <span class="badge badge-outline-red">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "hold_request" %>
                      <span class="badge badge-outline-red">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "hold_confirmed" %>
                      <span class="badge badge-outline-red">
                        <%= order&.status&.titleize %>
                      </span>

                    <% when "completed" %>
                      <span class="badge badge-outline-green">
                        <%= order&.status&.titleize %>
                      </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 mb-3">
      <% if current_user.employee.sales_permission.present? %>
        <a href="<%= admin_customer_path(customer.id) %>">
          Go to records
        </a>
      <% end %>
    </div>
  <% else %>
    <div class="col-12 mb-3">
      <label class="header2">Notes</label>
      <textarea class="form-control" disabled style="height: 20vh"><%= customer.note %></textarea>
    </div>
  <% end %>
</div>

<div class="modal fade" id="customer-edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, customer], html: { class: "form-horizontal form-bordered" } do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Edit Customer</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <span class="underline-hover switch-tab active" data-switch-group="customer-info" data-switch-index="personal">
                Personal Information
              </span>
              <span class="underline-hover switch-tab" data-switch-group="customer-info" data-switch-index="address">
                Address Information
              </span>
            </div>
          </div>
          <div class="row mx-0 switch-content active" data-switch-group="customer-info" data-switch-index="personal">
            <div class="col-12 col-md-4 mb-3">
              <span>First Name</span>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <span>Last Name</span>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <span>Risk Indicator</span>
              <%= f.select :risk_indicator_id, options_for_select(RiskIndicator.all.map{ |s| [s.risk_type, s.id] }, f.object.risk_indicator_id), { include_blank: true }, class: "form-control" %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <span>Phone</span>
              <%= f.text_field :phone, class: "form-control" %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <span>Email</span>
              <%= f.text_field :email, class: "form-control" %>
            </div>

            <div class="col-12 col-md-6 mb-3">
              <span>Trade Name</span>
              <%= f.text_field :trade_name, class: "form-control" %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <span>Trade Number</span>
              <%= f.text_field :trade_number, class: "form-control" %>
            </div>
            <div class="col-12 mb-3">
              <span>Notes</span>
              <%= f.text_area :note, class: "form-control" %>
            </div>
          </div>
          <div class="row mx-0 switch-content" data-switch-group="customer-info" data-switch-index="address">
            <%= f.fields_for :customer_shipping_address do |ff| %>
              <div class="row mx-0 customer-shipping-address">
                <div class="col-12 mb-3">
                  <span class="header2">Shipping Address</span>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>First Name</span>
                  <%= ff.text_field :first_name, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Last Name</span>
                  <%= ff.text_field :last_name, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Phone</span>
                  <%= ff.text_field :phone, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Email</span>
                  <%= ff.text_field :email, class: "form-control" %>
                </div>
                <div class="col-12 mb-3">
                  <span>Address</span>
                  <%= ff.text_field :address, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>City</span>
                  <%= ff.text_field :city, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Country</span>
                  <%= ff.select :country, options_for_select({ "US" => "us", "Canada" => "canada" }, ff.object.country), { include_blank: true }, class: "form-control country-selection", data: { customer_id: f.object.id } %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>State</span>
                  <%= ff.select :state, options_for_select(TaxRate.all.map { |s| [s.state, s.state, { "data-country": s.store, "style": ("display: none" unless s.store == ff.object.country) }]}, ff.object.state), { include_blank: true }, class: "form-control state-selection" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Postal Code</span>
                  <%= ff.text_field :zip, class: "form-control", placeholder: "Zip Code", data: { customer_id: f.object.id } %>
                </div>
                <div class="col-6 mb-3">
                  <span class="header2">Billing Address</span>
                </div>
                <div class="col-6 mb-3">
                  <label class="mr-2">Same as Shipping</label>
                  <label class="checkbox checkbox-blue" style="vertical-align: text-bottom">
                    <%= check_box_tag :same_as_shipping, :same_as_shipping, customer.customer_billing_address.first_name == customer.customer_shipping_address.first_name && customer.customer_billing_address.last_name == customer.customer_shipping_address.last_name && customer.customer_billing_address.address == customer.customer_shipping_address.address && customer.customer_billing_address.city == customer.customer_shipping_address.city, class: "same-as-shipping" %>
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :customer_billing_address do |ff| %>
              <div class="row mx-0 customer-billing-address" <% if customer.customer_billing_address.first_name == customer.customer_shipping_address.first_name && customer.customer_billing_address.last_name == customer.customer_shipping_address.last_name && customer.customer_billing_address.address == customer.customer_shipping_address.address && customer.customer_billing_address.city == customer.customer_shipping_address.city %>style="display: none"<% end %>>
                <div class="col-12 col-md-6 mb-3">
                  <span>First Name</span>
                  <%= ff.text_field :first_name, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Last Name</span>
                  <%= ff.text_field :last_name, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Phone</span>
                  <%= ff.text_field :phone, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Email</span>
                  <%= ff.text_field :email, class: "form-control" %>
                </div>
                <div class="col-12 mb-3">
                  <span>Address</span>
                  <%= ff.text_field :address, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>City</span>
                  <%= ff.text_field :city, class: "form-control" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Country</span>
                  <%= ff.select :country, options_for_select({ "US" => "us", "Canada" => "canada" }, ff.object.country), { include_blank: true }, class: "form-control country-selection" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>State</span>
                  <%= ff.select :state, options_for_select(TaxRate.all.map { |s| [s.state, s.state, { "data-country": s.store, "style": ("display: none" unless s.store == ff.object.country) }]}, ff.object.state), { include_blank: true }, class: "form-control state-selection" %>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <span>Postal Code</span>
                  <%= ff.text_field :zip, class: "form-control" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>