<%= form_for [:admin, Customer.new], html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
  <div class="modal" id="newCustomerHeaderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mx-0" id="new-customer-info">
            <div class="col-6 mb-3">
              <span class="header2">Customer Information</span>
            </div>
            <div class="col-6 mb-3 text-right">
              <button type="button" class="close" data-dismiss="modal">
                <span class="text-black"><%= show_svg("close.svg") %></span>
              </button>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label>First Name</label><span class="text-red">*</span>
              <%= f.text_field :first_name, class: "form-control", required: true %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label>Last Name</label><span class="text-red">*</span>
              <%= f.text_field :last_name, class: "form-control", required: true %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label>Phone Number</label><span class="text-red">*</span>
              <%= f.text_field :phone, class: "form-control", required: true %>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <label>Email</label><span class="text-red">*</span>
              <%= f.text_field :email, class: "form-control", required: true %>
            </div>
            <div class="col-12 mb-3">
              <label>Trade Name</label>
              <%= f.text_field :trade_name, class: "form-control" %>
            </div>
            <div class="col-12 mb-4">
              <label>Trade Number</label>
              <%= f.text_field :trade_number, class: "form-control" %>
            </div>
          </div>
          <div class="row mx-0 new-customer-shipping">
            <%= f.fields_for :customer_shipping_address, f.object.build_customer_shipping_address do |ff| %>
              <div class="col-12 mb-3">
                <span class="header2">Shipping Address</span>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>First Name</label>
                <%= ff.text_field :first_name, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Last Name</label>
                <%= ff.text_field :last_name, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Phone Number</label>
                <%= ff.text_field :phone, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Email</label>
                <%= ff.text_field :email, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <label>Address</label>
                <%= ff.text_field :address, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>City</label>
                <%= ff.text_field :city, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Country</label>
                <%= ff.select :country, options_for_select({ "US" => "us", "Canada" => "canada" }), { include_blank: true }, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>State</label>
                <%= ff.select :state, options_for_select(TaxRate.all.map { |s| [s.state, s.state, { "data-country": s.store, "style": "display: none" }]}), { include_blank: true }, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Zip</label>
                <%= ff.text_field :zip, class: "form-control" %>
              </div>
              <div class="col-6 mb-4">
                <span class="header2">Billing Address</span>
              </div>
              <div class="col-6 mb-4 text-right">
                <label class="mr-2">Same as Shipping</label>
                <label class="checkbox checkbox-blue" style="vertical-align: text-bottom">
                  <%= check_box_tag :same_as_shipping, :same_as_shipping, true, class: "same-as-shipping" %>
                  <span class="checkmark"></span>
                </label>
              </div>
            <% end %>
          </div>
          <div class="row mx-0 new-customer-billing" style="display: none">
            <%= f.fields_for :customer_billing_address, f.object.build_customer_billing_address do |ff| %>
              <div class="col-12 col-md-6 mb-3">
                <label>First Name</label>
                <%= ff.text_field :first_name, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Last Name</label>
                <%= ff.text_field :last_name, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Phone Number</label>
                <%= ff.text_field :phone, class: "form-control" %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Email</label>
                <%= ff.text_field :email, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <label>Address</label>
                <%= ff.text_field :address, class: "form-control", data: { type: "address" } %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>City</label>
                <%= ff.text_field :city, class: "form-control", data: { type: "city" } %>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label>Country</label>
                <%= ff.select :country, options_for_select({ "US" => "us", "Canada" => "canada" }), { include_blank: true }, class: "form-control", data: { type: "country" } %>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <label>State</label>
                <%= ff.select :state, options_for_select(TaxRate.all.map { |s| [s.state, s.state, { "data-country": s.store, "style": "display: none" }]}), { include_blank: true }, class: "form-control", data: { type: "state" } %>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <label>Zip</label>
                <%= ff.text_field :zip, class: "form-control", data: { type: "zip" } %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).on("change", ".country-selection", function() {
    var con = $(this).val();
    $(this).parents(".row").find(".state-selection option").hide();
    $(this).parents(".row").find(".state-selection option[data-country='" + con + "']").show();
  });

  $(document).on("change", ".same-as-shipping", function() {
    if ($(this)[0].checked) {
      $(this).parents(".modal-body").find(".customer-billing-address").hide();
    } else {
      $(this).parents(".modal-body").find(".customer-billing-address").show();
    }
  });
</script>