<% unless @query == "" %>
  <div class="w-100 text-center mb-3">
    <span class="header2">Search Results</span>
  </div>
  <div class="container flex-auto">
    <% if @customers.present? %>
      <% @customers.each do |customer| %>
        <a href="<%= admin_customer_path(customer.id) %>">
          <div class="row w-100 border border-dark bg-white align-items-center py-3 mb-3">
            <div class="col-6 col-md-2">
              <span class="header2">
                <%= customer&.full_name.present? ? customer&.full_name : "-" %>
              </span>
            </div>
            <div class="col-6 col-md-2">
              <span class="text-light-grey">Customer Since</span><br>
              <span class="text-grey">
                <%= customer&.created_at.present? ? customer&.created_at&.strftime("%B %d, %Y") : "-" %>
              </span>
            </div>
            <div class="col-6 col-md-2">
              <span class="text-light-grey">Last Order</span><br>
              <span class="text-grey">
                <%= customer&.orders&.order(created_at: :desc)&.last&.name.present? ? customer&.orders&.order(created_at: :desc)&.last&.name : "-" %>
              </span>
            </div>
            <div class="col-6 col-md-2">
              <span class="text-light-grey">Orders</span><br>
              <span class="text-grey">
                <%= customer&.orders&.count.present? ? customer&.orders&.count : "-" %>
              </span>
            </div>
            <div class="col-6 col-md-2">
              <span class="text-light-grey">Phone Number</span><br>
              <span class="text-grey">
                <%= customer&.phone.present? ? customer&.phone : "-" %>
              </span>
            </div>
            <div class="col-6 col-md-2">
              <span class="text-light-grey">Email</span><br>
              <span class="text-grey">
                <%= customer&.email.present? ? customer&.email : "-" %>
              </span>
            </div>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>
<% end %>