<div class="row position-relative" style="top: calc(57px + 1rem)">
  <div class="col-12">
    <div class="table-responsive flex-auto">
      <table class="table table-borderless table-hover" data-reflex="show->IssueReflex#listing">
        <thead>
          <tr>
            <th style="width: 15%">Ticket</th>
            <th style="width: 15%">Order Number</th>
            <th style="width: 15%">Customer</th>
            <% if params[:issue_status] == "returns" %>
              <th style="widht: 25%">Return Reason</th>
            <% elsif params[:issue_status] == "shipping_claims" %>
              <th style="width: 12.5%">Claim Type</th>
              <th style="width: 12.5%">Carrier</th>
            <% elsif params[:issue_status] == "product_claims" %>
              <th style="width: 25%">Claim Type</th>
            <% elsif params[:issue_status] == "chargeback" %>
              <th style="width: 25%">Chargeback Reason</th>
            <% else %>
              <th style="width: 25%">Claim Type</th>
            <% end %>
            <th style="width: 10%">Created By</th>
            <th style="width: 10%">Assigned To</th>
            <th style="width: 10%">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.order(created_at: :desc).each do |issue| %>
            <tr>
              <td>
                <% if issue&.order&.store == "us" %>
                  <%= link_to "ISSUS-" + issue&.id.to_s, edit_admin_issue_path(issue, issue_status: params[:issue_status]), data: { turbolinks: false } %>
                <% elsif issue&.order&.store == "canada" %>
                  <%= link_to "ISSCA-" + issue&.id.to_s, edit_admin_issue_path(issue, issue_status: params[:issue_status]), data: { turbolinks: false } %>
                <% end %>
              </td>
              <td><%= link_to issue&.order&.name, edit_admin_order_path(issue.order.name), data: { turbolinks: false } %></td>
              <td><%= issue&.order&.customer&.full_name&.titleize %></td>
              <% if params[:issue_status] == "returns" %>
                <td><%= issue&.return_reason&.titleize %></td>
              <% elsif params[:issue_status] == "shipping_claims" %>
                <td><%= issue&.shipping_claim_type&.titleize %></td>
                <td><%= issue&.order&.shipping_details&.first&.carrier&.name %></td>
              <% elsif params[:issue_status] == "product_claims" %>
                <td><%= issue&.claim_type&.titleize %></td>
              <% elsif params[:issue_status] == "chargeback" %>
                <td><%= Issue.chargebacks.key(issue&.chargeback_reason.to_i) if issue&.chargeback_reason.present? %></td>
              <% else %>
                <td><%= issue&.issue_type&.titleize %></td>
              <% end %>
              <td><%= issue&.user&.full_name %></td>
              <td>
                <% if issue.assign_to&.include? "," %>
                  <% list = issue.assign_to&.split(",").uniq.reject { |s| s.to_s.empty? } %>
                  <% list.each do | id | %>
                    <%= User.find_by(id: id).full_name.titleize %><%= ", " unless id == list.last %>
                  <% end %>
                <% else %>
                  <%= issue.assign_to %>
                <% end %>
              </td>
              <td>
                <% case issue.status %>
                  <% when "new_claim" %>
                    <span class="badge badge-outline-blue">
                      <%= issue.status.titleize %>
                    </span>
                  <% when "in_review" %>
                    <span class="badge badge-outline-navy">
                      <%= issue.status.titleize %>
                    </span>
                  <% when "closed" %>
                    <span class="badge badge-outline-green">
                      <%= issue.status.titleize %>
                    </span>
                  <% when "assigned" %>
                    <span class="badge badge-outline-navy">
                      <%= issue.status.titleize %>
                    </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  