<%= form_for @order.issues.new, url: { action: "create" }, data: { reflex: "submit->IssueReflex#submit", reflex_root: "#issue_listing", order_id: @order.id, user_id: current_user.id }  do |f| %>
  <div class="modal" id="newIssueModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :status, value: "new_claim" %>
        <div class="modal-header">
          <span class="header2 modal-title">New Claim</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-6 mb-3">
              <%= f.label :title, "Claim Title" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>

            <div class="col-6 mb-3">
              <%= f.label :issue_type, "Claim Type" %>
              <%= f.select :issue_type, options_for_select(Issue.issue_types.keys.map { |w| [w.humanize, w] }), { include_blank: true }, class: "form-control select-type", required: true %>
            </div>

            <div class="col-12 mb-3">
              <%= f.label :assign_to, "Assign To" %>
              <%= f.hidden_field :assign_to %>
              <input type="text" placeholder="@ Tag someone" class="form-control mb-3" data-reflex="debounced:input->IssueReflex#search_tag_user">
              <section class="search-results" id="user-search-tag-results">
                <% render partial: "admin/issues/search_user", locals: { current_user: current_user } %>
              </section>
              <span class="user-list"></span>
            </div>
          </div>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("click", "#new_issue .user-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(' ').join('_');
    var svg = '<%= show_svg("close.svg") %>'
    $("#new_issue .user-list").append("<span class='tag' data-id='" + id + "'>@" + name + "<span class='user-list-remove'>" + svg + "</span></span>");
  });

  $("#new_issue").on("submit", function() {
    var val = ",";
    $(".user-list .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#issue_assign_to").val(val);
    $("#newIssueModal").modal("hide");
  });
</script>