<% if @query.present? %>
  <div class="table-responsive" style="height: 20vh">
    <table class="table table-borderless table-hover">
      <thead>
        <th style="width: 50%">Description</th>
        <th style="width: 30%">SKU</th>
        <th style="width: 20%"></th>
      </thead>
      <tbody>
        <% @replacement_references.each do |replacement_reference| %>
          <tr>
            <td><%= replacement_reference.product_variant.title %></td>
            <td><%= replacement_reference.name %></td>
            <td>
              <button class="btn btn-primary btn-fit-content add-replacement-part" type="button" data-reference-id="<%= replacement_reference.id %>" data-reference-title="<%= replacement_reference.product_variant.title %>" data-reference-sku="<%= replacement_reference.name %>">Select</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>