<div class="table-responsive" style="height: 20vh">
  <table class="table table-borderless table-hover">
    <thead>
      <th style="width: 50%">Description</th>
      <th style="width: 30%">SKU</th>
      <th style="width: 20%"></th>
    </thead>
    <tbody>
      <% @product_variants&.first(20)&.each do |variant| %>
        <tr>
          <td><%= variant.title %></td>
          <td><%= variant.sku %></td>
          <td><button class="btn btn-primary btn-fit-content add-replacement-item" type="button" data-variant-title="<%= variant.title %>" data-variant-sku="<%= variant.sku %>" data-variant-id="<%= variant.id %>">Select</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>