<div class="container px-4">
  <%= render partial: "admin/issues/navigation" %>
	<%= form_for @issue, url: { action: "update" }, html: { id: "issue_form", class: "position-relative", style: "top: calc(57px + 1rem)" } do |f| %>
		<div class="row">
			<div class="col-9 mb-3">
				<span class="header1 mb-2">
					ISS<% @order&.store == "us" ? "US" : "CA" %>-<%= @issue&.id.to_s %>:
					<%= link_to @order.name, edit_admin_order_path(@order), class: "text-black" %>
					<%= "- " + @issue&.title&.titleize if @issue&.title.present? %>
				</span><br>
				<span class="font-weight-bold">Customer:</span> <%= @issue&.order&.customer&.full_name %><br>
				<span class="font-weight-bold">Phone:</span> <%= @issue&.order&.customer&.phone %><br>
				<span class="font-weight-bold">Email:</span> <%= @issue&.order&.customer&.email %><br>
				<span class="font-weight-bold">Order Date:</span> <%= @issue&.order&.created_at&.strftime("%B %d, %Y") %>

				<% case @issue.status %>
					<% when "new_claim" %>
						<span class="badge badge-outline-blue ml-2">
							<%= @issue.status.titleize %>
						</span>
					<% when "in_review" %>
						<span class="badge badge-outline-navy ml-2">
							<%= @issue.status.titleize %>
						</span>
					<% when "closed" %>
						<span class="badge badge-outline-green ml-2">
							<%= @issue.status.titleize %>
						</span>
					<% when "assigned" %>
						<span class="badge badge-outline-navy ml-2">
							<%= @issue.status.titleize %>
						</span>
				<% end %>
			</div>

			<div class="col-3 mb-3">
				<%= f.select :status, options_for_select(Issue.statuses.keys.map { |w| [w.titleize, w] }, :selected => f.object.status), {}, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control mb-2" %>
				<div class="row no-gutters">
					<div class="col-6 mb-3">
						<label class="text-black">Billing Address</label><br>
						<% if @order.billing_address.present? %>
							<%= @order.billing_address&.full_name&.titleize %><br>
							<% if @order.billing_address&.company.present? %>
								<%= @order.billing_address&.company %><br>
							<% end %>
							<%= @order.billing_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %><br>
							<%= @order.billing_address&.city&.titleize %>
							<%= @order.billing_address&.address2&.titleize %>,
							<%= @order.billing_address&.zip&.upcase %>,
							<%= @order.billing_address&.country %><br>
							<span class="text-blue">T:</span>
							<%= @order.billing_address&.phone %>
						<% end %>
					</div>

					<div class="col-6 mb-3">
						<label class="text-black mr-2">Shipping Address</label><br>
						<% if @order.shipping_address.present? %>
							<%= @order.shipping_address&.full_name&.titleize %><br>
							<% if @order.billing_address&.company.present? %>
								<%= @order.billing_address&.company %><br>
							<% end %>
							<%= @order.shipping_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %><br>
							<%= @order.shipping_address&.city&.titleize %>
							<%= @order.shipping_address&.address2&.titleize %>,
							<%= @order.shipping_address&.zip&.upcase %>,
							<%= @order.shipping_address&.country %><br>
							<span class="text-blue">T:</span>
							<%= @order.shipping_address&.phone %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-2 mb-3">
				<label>Issue</label>
        <%= f.select :issue_type, options_for_select(Issue.issue_types.keys.map { |w| [w.humanize, w] }, f.object.issue_type), { include_blank: true }, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, disabled: (true if f.object.issue_type.present?) %>
			</div>
					
			<% if @issue.issue_type == "returns" %>
				<div class="col-2 mb-3">
					<label>Return Reasons</label>
					<%= f.select :return_reason, options_for_select(Issue.return_reasons.keys.map { |w| [w.titleize, w] }, :selected => f.object.return_reason), { include_blank: true }, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
				</div>
			<% elsif @issue.issue_type == "product_claims" %>
				<div class="col-2 mb-3">
					<label>Claim Type</label>
					<%= f.select :claim_type, options_for_select(Issue.claim_types.keys.map { |w| [w.titleize, w] }, :selected => f.object.claim_type), { include_blank: true }, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
				</div>
			<% elsif @issue.issue_type == "shipping_claims" %>
				<div class="col-2 mb-3">
					<label>Claim Type</label>
					<%= f.select :shipping_claim_type, options_for_select(Issue.shipping_claim_types.keys.map { |w| [w.titleize, w] }, :selected => f.object.shipping_claim_type), { include_blank: true }, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
				</div>
			<% elsif @issue.issue_type == "chargeback" %>
				<div class="col-2 mb-3">
					<label>Chargeback Reason</label>
					<%= f.select :chargeback_reason, options_for_select(Issue.chargebacks.map { |k, v| [k, v] }, @issue.chargeback_reason), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
				</div>
			<% end %>

			<div class="col-2 mb-3">
				<label>Assign To</label>
				<input type="text" placeholder="Tag someone..." class="form-control" data-reflex="debounced:input->IssueReflex#search_tag_user" data-issue-id="<%= f.object.id %>">
				<section class="search-results" id="user-search-tag-results">
					<% render partial: "search_user", locals: { issue_id: f.object.id, current_user: current_user } %>
				</section>
			</div>

			<div class="col-2 mb-3">
				<label>Days in Claims</label>
				<input class="form-control" disabled <% if @issue.status != "closed" %>value="<%= (Date.today - @issue.created_at.to_date).to_i %> Days"<% end %>>
			</div>

			<% if @issue.issue_type == "shipping_claims" || @issue.issue_type == "product_claims" %>
				<div class="col-2 mb-3">
					<label>Replacement Invoice</label>
					<%= f.select :replacement_type, options_for_select(Issue.replacement_types.keys.map { |w| [w.titleize, w]}, @issue.replacement_type), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
				</div>
			<% end %>

			<% if @issue.issue_type == "shipping_claims" %>
				<div class="col-2 mb-3">
					<label>Curbside</label>
					<%= f.select :shipping_curbside, options_for_select(Carrier.where(country: @issue.order.store).pluck(:name), :selected => f.object.shipping_curbside), { include_blank: true }, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
				</div>

				<div class="col-2 mb-3">
					<label>WGD</label>
					<%= f.text_field :shipping_wgd, class: "form-control", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
				</div>
			<% end %>

			<% if @issue.assign_to.present? %>
				<div class="col-12 mb-3">
					<span class="user-list_<%= @issue.id %>">
						<% @issue.assign_to.split(",").uniq.reject { |s| s.to_s.empty? }.each do | id | %>
							<% if User.find_by(id: id).present? %>
								<span class="tag">
									<%= User.find_by(id: id).username.present? ? "@" + User.find_by(id: id).username : "@" + User.find_by(id: id).full_name %>
									<span data-user-id="<%= id %>" data-issue-id="<%= f.object.id %>" data-reflex="click->IssueReflex#remove_tag_user"><%= show_svg("close.svg") %></span>
								</span>
							<% end %>
						<% end %>
					</span>
				</div>
			<% end %>
		</div>
	<% end %>

	<div class="row no-gutters position-relative" style="top: calc(57px + 1rem)">
		<div class="col-6">
			<div class="table-responsive mb-4" style="border-top: solid 1px white">
				<table class="table table-borderless table-hover mb-0">
					<thead>
						<th class="table-padding" style="width: 15%"></th>
						<th class="table-padding" style="width: 40%">Description</th>
						<th class="table-padding" style="width: 15%">SKU</th>
						<th class="table-padding" style="width: 15%">Amount</th>
						<th class="table-padding" style="width: 15%">Subtotal</th>
					</thead>
					<tbody>
						<% @sum = 0 %>
						<% if @issue.order.line_items.present? %>
							<% @issue.order.line_items.where(order_from: nil).order(:sku).each_with_index do |item, i| %>
								<tr>
									<th class="table-padding"><%= "Product" if i == 0 %></th>
									<td class="table-padding"><%= item&.title %></td>
									<td class="table-padding">
										<%= item&.sku&.upcase if item&.sku.present? && !(item&.sku.include? "warranty") && !(item&.sku == "WGS001") && !(item&.sku == "HLD001") && !(item&.sku == "HFE001") && !(ShipmentCode.pluck(:sku_for_discount).include? item.sku) %>
									</td>
									<td class="table-padding"><%= number_to_currency(item&.price) %> * <%= item&.quantity.to_i %></td>
									<td class="table-padding"><%= number_to_currency(item&.price.to_f * item&.quantity.to_i) %></td>
								</tr>
								<% @sum = @sum + (item&.price.to_f * item&.quantity.to_i) %>
							<% end %>
						<% end %>
								
						<% if @issue.order.discount_codes.present? %>
							<tr>
								<th class="table-padding">Discount</th>
								<td class="table-padding"><%= @issue.order&.discount_codes.try(:[], "discount_description") %></td>
								<td class="table-padding"></td>
								<td class="table-padding"></td>
								<td class="table-padding"><%= number_to_currency(-@order.discount_codes["discount_amount"].to_f.abs) %></td>
							</tr>
          		<% @sum = @sum - @order.discount_codes["discount_amount"].to_f.abs %>
						<% end %>

						<tr class="border-top">
							<th class="table-padding" colspan=3></th>
							<th class="table-padding">Subtotal</th>
							<th class="table-padding"><%= number_to_currency(@sum) %></th>
						</tr>
							
						<% if @issue.order.shipping_line.present? %>
							<tr>
								<th class="table-padding">Shipping</th>
								<td class="table-padding"><%= @issue.order&.shipping_line&.title %></td>
								<td class="table-padding"></td>
								<td class="table-padding"></td>
								<td class="table-padding"><%= number_to_currency(@issue.order&.shipping_line&.price) %></td>
							</tr>
							<% @sum = @sum + @issue.order&.shipping_line&.price.to_f %>
						<% end %>

						<% @issue.order.line_items.each do |item| %>
							<% if (ShipmentCode.pluck(:sku_for_discount).include? item.sku) %>
								<tr>
									<th class="table-padding">Shipment code</th>
									<td class="table-padding"><%= item.sku %></td>
									<td class="table-padding"></td>
									<td class="table-padding"><%= number_to_currency(item&.price) %> * <%= item&.quantity.to_i %></td>
									<td class="table-padding"><%= number_to_currency(item&.price.to_f * item&.quantity.to_i) %></td>
								</tr>
								<% @sum = @sum + (item&.price.to_f * item&.quantity.to_i) %>
							<% end %>
						<% end %>

						<tr class="border-top">
							<th class="table-padding" colspan=3></th>
							<th class="table-padding">Before Tax</th>
							<th class="table-padding"><%= number_to_currency(@sum) %></th>
						</tr>

						<% if @issue.order.tax_lines.present? %>
							<tr>
								<th class="table-padding">Tax</th>
								<td class="table-padding"><%= @issue.order.tax_lines["title"] %> (<%= (@issue.order.tax_lines["rate"].to_f * 100).round(2) if @issue.order.tax_lines["title"].present? %>%)</td>
								<td class="table-padding"></td>
								<td class="table-padding"><%= number_with_precision((@issue.order.tax_lines["price"].to_f/@sum.to_f) * 100, precision: 2) %></td>
								<td class="table-padding"><%= number_to_currency(@issue.order.tax_lines["price"]) %></td>
							</tr>
							<% @sum = @sum + @issue.order.tax_lines["price"].to_f %>
						<% end %>

						<% if @issue.order.refunds.present? && @issue.order.order_adjustments.present? %>
							<% @issue.order.refunds.each do |ref| %>
								<% @issue.order.order_adjustments.each do |adj| %>
									<tr class="border-top">
										<th class="table-padding">Refunded</th>
										<td class="table-padding">"<%= ref.note %>"</td>
										<td class="table-padding"></td>
										<td class="table-padding"></td>
										<td class="table-padding"><%= number_to_currency(adj.amount) %></td>
									</tr>
									<% @sum = @sum + (adj.amount).to_f %>
								<% end %>
							<% end %>
						<% end %>

						<tr class="border-top">
							<th class="table-padding" colspan=3></th>
							<th class="table-padding">Total</th>
							<th class="table-padding"><%= number_to_currency(@sum) %></th>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="btn btn-light-blue d-flex mr-4 mb-3">
				<div class="w-100 text-left">
					<span class="header2">Recent Activity</span>
				</div>
			</div>
  		<%= render partial: "admin/comments/form", locals: { commentable: @issue, current_user: current_user } %>
		</div>

		<div class="col-6">
			<%= form_for @issue, url: { action: "update" }, html: { id: "issue_form" } do |f| %>
				<div class="row no-gutters">
					<div class="col-5">
						<div class="table-responsive">
							<table class="table table-borderless table-hover border mb-0">
								<thead>
									<th class="table-padding text-center" style="width: 50%">Qty</th>
									<th class="table-padding text-center" style="width: 50%">Amount</th>
								</thead>
								<tbody>
									<%= f.fields_for :claims_refund_items, f.object.claims_refund_items.joins(:line_item).order("line_items.sku") do |ff| %>
										<tr>
											<td class="text-center">
												<% if @issue.full_refund %>
													<%= ff.number_field :quantity, class: "form-control w-50 mx-auto", max: ff.object.line_item.quantity.to_i, disabled: :disabled %>
												<% else %>
													<%= ff.number_field :quantity, class: "form-control w-50 mx-auto", max: ff.object.line_item.quantity.to_i, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
												<% end %>
											</td>
											<td class="text-center" style="vertical-align: middle">
												<%= number_to_currency(ff.object.line_item&.price.to_f * ff.object.quantity.to_i) if ff.object.quantity.to_i > 0 %>
											</td>
										</tr>
									<% end %>
									<tr class="border-top">
										<td class="text-center" style="padding-top: calc(0.75rem + 1px); padding-bottom: calc(0.75rem + 1px)">
											<label class="mr-2">
												<%= @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" ? "Full Refund" : "Full Amount" %>
											</label>
											<%= f.check_box :full_refund, data: { switch: "blue", reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
											<%= f.label :full_refund, "&nbsp;".html_safe %>
										</td>
										<td class="position-relative text-center" style="vertical-align: middle">
											<label class="mr-2" style="margin-left: -2.75rem">Total</label>
											<span>
												<% unless @issue.full_refund %>
													<%= number_to_currency(f.object.claims_refund_items.sum { |refund_item| refund_item.line_item.price.to_f * refund_item.quantity.to_i }) %>
												<% else %>
													<%= number_to_currency(@sum) %>
												<% end %>
											</span>
										</td>
									</tr>

									<% issue_amount = @issue.claims_refund_items.sum { |refund_item| refund_item.line_item.price.to_f * refund_item.quantity.to_i } %>
									<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
										<tr style="background: #dee2e6">
											<td class="text-center" style="vertical-align: middle">
												<label>Discount Amount</label>
											</td>
											<td>
												<%= f.number_field :discount_amount, step: :any, class: "form-control w-75 mx-auto", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
											</td>
										</tr>
										<tr style="background: #dee2e6">
											<td class="text-center" style="vertical-align: middle">
												<label>Warranty Amount</label>
											</td>
											<td>
												<%= f.number_field :warranty_amount, step: :any, class: "form-control w-75 mx-auto", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
											</td>
										</tr>
										<tr style="background: #dee2e6">
											<td class="text-center" style="vertical-align: middle">
												<label>Store Credit</label>
											</td>
											<td>
												<%= f.number_field :store_credit, step: :any, class: "form-control w-75 mx-auto", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, disabled: @issue.resolution_type != "Store Credit" %>
											</td>
										</tr>
									
									<% elsif @issue.issue_type == "returns" %>
										<tr style="background: #dee2e6">
											<td class="text-center" style="vertical-align: middle">
												<label>Restocking Fee</label>
											</td>
											<td>
												<%= f.number_field :restocking_fee, step: :any, class: "form-control restocking-fee w-75 mx-auto", data: { reflex: "change->IssueReflex#update_restocking_fee", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
											</td>
										</tr>
										<tr style="background: #dee2e6">
											<td class="text-center" style="vertical-align: middle">
												<label>Repacking Fee</label>
											</td>
											<td>
												<%= f.number_field :repacking_fee, step: :any, class: "form-control w-75 mx-auto", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-7 border d-flex flex-column">
						<table class="table table-borderless table-hover mb-0">
							<thead>
								<th style="width: 50%">
									<span class="mr-4">Gorgias Ticket</span>
									<%= f.text_field :gorgias_ticket, class: "form-control w-50 d-inline-block", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
								</th>
								<th style="width: 50%">
									<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
										<span class="mr-4">Resolution Type</span>
										<%= f.select :resolution_type, options_for_select(Issue.resolution_types.keys.map { |w| [w.titleize, w] }, :selected => f.object.resolution_type), { include_blank: true }, class: "form-control", class: "form-control w-50 d-inline-block", data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id } %>
									<% end %>
								</th>
							</thead>
						</table>

						<div class="row no-gutters <%= "text-center" unless @issue.issue_type == "returns" %> flex-auto" style="min-height: calc((1.5em + 0.75rem + 2px + 1.5rem) * 4)">
							<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
								<div class="col-6">
									<div class="position-center w-100">
										<p class="header2">Issue Amount</p>
										<span class="header2 text-red">
											<% if @issue.full_refund %>
												<%= number_to_currency(@sum) %>
											<% else %>
												<%= number_to_currency(issue_amount) %>
											<% end %>
										</span>
									</div>
								</div>

								<% resolution_amount = @issue.discount_amount.to_f + @issue.warranty_amount.to_f + + @issue.store_credit.to_f + @issue.repair_services.sum { |repair| repair.amount } %>
								<div class="col-6">
									<div class="position-center w-100">
										<p class="header2">Resolution Amount</p>
										<span class="header2 text-green">
											<% if @issue.full_refund %>
												<%= number_to_currency(@sum) %>
											<% else %>
												<%= number_to_currency(resolution_amount) %>
											<% end %>
										</span>
									</div>
								</div>

								<div class="col-6 offset-6">
									<div class="position-center w-100">
										<p class="header2">Resolution %</p>
										<span class="header2 text-blue">
											<% if @issue.full_refund %>
												100%
											<% else %>
												<%= resolution_amount > 0 && issue_amount > 0 ? number_to_percentage(resolution_amount / issue_amount * 100, precision: 0) : "0%" %>
											<% end %>
										</span>
									</div>
								</div>

							<% elsif @issue.issue_type == "chargeback" %>
								<div class="col-12">
									<div class="position-center w-100">
										<p class="header2">Chargeback Amount</p>
										<span class="header2 text-red">
											<% if @issue.full_refund %>
												<%= number_to_currency(@sum) %>
											<% else %>
												<%= number_to_currency(issue_amount) %>
											<% end %>
										</span>
									</div>
								</div>

							<% elsif @issue.issue_type == "returns" %>
								<div class="col-12">
									<div class="position-center w-100">
										<div class="row no-gutters">
											<div class="col-4 offset-1 mb-3">
												<span class="header2">Issue Amount</span>
											</div>

											<div class="col-6 offset-1 mb-3">
												<span class="header2 text-red">
													<% if @issue.full_refund %>
														<%= number_to_currency(@sum - (@issue.order&.shipping_line&.price.to_f * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f))) %>
													<% else %>
														<%= number_to_currency(issue_amount * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f) - (@issue.order&.shipping_line&.price.to_f * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f))) %>
													<% end %>
												</span>
											</div>

											<% if @issue.returns.where.not(status: :cancelled).any? { |re| !re.disposal } %>
												<div class="col-4 offset-1 mb-3">
													<span class="header2">Return Quote</span>
												</div>

												<div class="col-2 offset-1 mb-3">
													<span class="header2 text-blue">
														<%= number_to_currency(@issue.returns.where.not(status: :cancelled).where(disposal: false).sum { |re| re.return_quote.to_f }) %>
													</span>
												</div>
												
												<% if @issue.returns.where.not(status: :cancelled).where(disposal: false).sum { |re| re.shipping_cost.to_f } > 0 %>
													<div class="col-2 mb-3">
														<span class="header2">Shipping Cost</span>
													</div>
													<div class="col-2 pr-3 mb-3 text-right">
														<span class="header2 text-red">
															<%= number_to_currency(@issue.returns.where.not(status: :cancelled).where(disposal: false).sum { |re| re.shipping_cost.to_f }) %>
														</span>
													</div>
												<% end %>
											<% end %>

											<div class="col-4 offset-1 mb-3">
												<span class="header2">Total Fees</span>
											</div>

											<div class="col-6 offset-1 mb-3">
												<span class="header2 text-blue">
													<%= number_to_currency(@issue.repacking_fee.to_f + @issue.restocking_fee.to_f) %>
												</span>
											</div>

											<% if @issue.returns.where.not(status: :cancelled).any? { |re| re.disposal } %>
												<div class="col-4 offset-1 mb-3">
													<span class="header2">Disposal Quote</span>
												</div>

												<div class="col-6 offset-1 mb-3">
													<span class="header2 text-blue">
														<%= number_to_currency(@issue.returns.where.not(status: :cancelled).where(disposal: true).sum { |re| re.return_quote.to_f }) %>
													</span>
												</div>
											<% end %>

											<div class="mx-auto mb-3 border-top" style="width: 90%"></div>

											<div class="col-4 offset-1 mb-3">
												<span class="header2">Refund Amount</span>
											</div>

											<div class="col-6 offset-1 mb-3">
												<span class="header2 text-green">
													<% if @issue.full_refund %>
														<%= number_to_currency(@sum - (@issue.order&.shipping_line&.price.to_f * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f)) - (@issue.repacking_fee.to_f + @issue.restocking_fee.to_f) - @issue.returns.where.not(status: :cancelled).sum { |re| re.return_quote.to_f }) %>
													<% else %>
														<%= number_to_currency(issue_amount * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f) - (@issue.order&.shipping_line&.price.to_f * (1 + (@issue.order.tax_lines["rate"] if @issue.order.tax_lines.present?).to_f)) - (@issue.repacking_fee.to_f + @issue.restocking_fee.to_f) - @issue.returns.where.not(status: :cancelled).sum { |re| re.return_quote.to_f }) %>
													<% end %>
												</span>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</div>

						<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
							<div class="position-absolute" style="left: 0.5rem; bottom: 0">
								<span class="font-weight-bold">Repair / Service:</span><br>
								<% @issue.repair_services.each do |repair| %>
									<%= repair.repair_type %>
									( <%= number_to_currency(repair.amount) %>
									<% expense = Expense.find_by(id: repair.expense_id) %>
									<% if expense.present? %>
										<% if expense.expense_date.present? %>
											| <%= expense.expense_date.strftime("%B %d, %Y") %>
										<% end %>
									<% end %>
									)
									<a data-reflex="click->IssueReflex#delete_repair_service" data-repair-id="<%= repair.id %>">
										<%= show_svg("close.svg") %>
									</a>
									<% unless repair == @issue.repair_services.last %>
										<br>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>

			<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
				<%= form_for @expense, url: create_claims_expense_admin_expenses_path, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
					<div class="row mx-0 p-3 border">
						<div class="col-4 mb-3">
							<label>Repair / Service</label>
							<%= select_tag :repair_service, options_for_select(Issue.repair_services.keys.map { |w| [w.titleize, w] }), { include_blank: true, class: "form-control" } %>
						</div>
						<div class="col-4 offset-4 mb-3">
							<label>Date of Expense</label>
							<%= f.date_field :expense_date, class: "form-control", required: true %>
						</div>
						<div class="col-2 mb-3">
							<label>GST</label>
							<%= f.number_field :gst, class: "form-control", step: :any %>
						</div>
						<div class="col-2 mb-3">
							<label>PST</label>
							<%= f.number_field :pst, class: "form-control", step: :any %>
						</div>
						<div class="col-4 mb-3">
							<label>Invoice Total</label>
							<%= f.number_field :amount, class: "form-control", required: true, step: :any %>
						</div>
						<div class="col-4 mb-3">
							<label>Payment Method</label>
							<%= f.select :expense_payment_method_id, options_for_select(ExpensePaymentMethod.where.not(title: ["", nil]).map{|s| [s.title, s.id]}, f.object.expense_payment_method), { include_blank: true }, class: "form-control", required: true %>
						</div>
						<div class="col-6">
							<div class="file-input-container">
								<a class="file-input">Upload Invoice</a>
								<%= f.file_field :files, multiple: true, class: "file-temp d-none", accept: ".pdf, .jpeg, .jpg, .png" %>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="col-6 text-right">
							<%= hidden_field_tag :issue_id, @issue.id %>
							<%= f.hidden_field :claims_expense, value: true %>
							<%= f.submit "Submit", class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			
			<% elsif @issue.issue_type == "returns" %>
				<div class="row mx-0 p-3 border">
					<div class="col-12">
						<p class="header2">Return Order</p>
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#returnOrderModal">
							Create Return Order
						</button>
						<% if @issue.returns.where.not(status: :cancelled).present? %>
							<span class="pr-4 mr-4 border-right"></span>
							<% @issue.returns.where.not(status: :cancelled).order(created_at: :desc).each do |re| %>
								<%= link_to re.name, edit_admin_return_path(re.id), class: "mr-4" %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
			
			<%= form_for @issue, url: { action: "update" }, html: { id: "issue_form" } do |f| %>
				<div class="row mt-4">
					<% if @issue.issue_type == "product_claims" || @issue.issue_type == "shipping_claims" %>
						<div class="col-12 mb-3">
							<div class="btn btn-light-blue d-flex">
								<div class="w-100 text-left">
									<span class="header2">Replacement / Warranty Order</span>
								</div>
							</div>
						</div>

						<div class="col-12 mb-3">
							<div class="row">
								<div class="col-3">
									<button class="btn btn-primary w-100 mb-3" type="button" data-toggle="modal" data-target="#replacementModal">
										Create Order
									</button>

									<input type="text" placeholder="Link order..." class="form-control w-100" data-reflex="debounced:input->IssueReflex#search_order" data-issue-id="<%= f.object.id %>">
									<section class="search-results" id="issue-search-edit-results">
										<% render partial: "search_order", locals: { current_user: current_user } %>
									</section>
								</div>
								
								<div class="col-9">
									<% if f.object.order_link.present? %>
										<span class="order-list row">
											<% f.object.order_link&.split(",").uniq.reject { |s| s.to_s.empty? }.each do |id| %>
												<div class="col-4 mb-3">
													<span class="tag text-center w-100 px-2 py-1 mb-0">
														<%= link_to Order.find_by(id: id).name, edit_admin_order_path(Order.find_by(id: id)) %>
														<span class="float-right" data-order-id="<%= id %>" data-issue-id="<%= f.object.id %>" data-reflex="click->IssueReflex#remove_tag_order">
															<%= show_svg("close.svg") %>
														</span>
													</span>
												</div>
											<% end %>
										</span>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>

					<% if @issue.issue_type == "chargeback" %>
						<div class="col-12 mb-3">
							<div class="btn btn-light-blue d-flex">
								<div class="w-100 text-left">
									<span class="header2">Chargeback Dispute</span>
								</div>
							</div>
						</div>
						<div class="col-3 mb-3">
							<label>Chargeback Date</label>
							<%= f.date_field :chargeback_date, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-3 mb-3">
							<label>Chargeback ID</label>
							<%= f.text_field :chargeback_id, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-3 mb-3">
							<label>Card Type</label>
							<%= f.select :card_type, options_for_select(Issue.cards.map { |k, v| [k, v] }, @issue.card_type), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-3 mb-3">
							<label>Chargeback Outcome</label>
							<%= f.select :chargeback_dispute, options_for_select(Issue.disputes.map { |k, v| [k, v] }, @issue.chargeback_dispute), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>

					<% elsif @issue.issue_type == "shipping_claims" %>
						<div class="col-12 mb-3">
							<div class="btn btn-light-blue d-flex">
								<div class="w-100 text-left">
									<span class="header2">Carrier Dispute</span>
								</div>
							</div>
						</div>
						<div class="col-4 mb-3">
							<label>Claims Reference</label>
							<%= f.text_field :claims_reference, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Claims Submission Date</label>
							<%= f.date_field :claims_submission_date, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Claims Amount</label>
							<%= f.number_field :dispute_amount, step: :any, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Shipping Invoice</label>
							<%= f.text_field :shipping_invoice, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Claim Type</label>
							<%= f.select :dispute_type, options_for_select(["Missing - Partial", "Missing - Full", "Damaged"], @issue.dispute_type), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Claim Outcome</label>
							<%= f.select :claims_dispute, options_for_select(Issue.disputes.map { |k, v| [k, v] }, @issue.claims_dispute), { include_blank: true }, data: { reflex: "change->IssueReflex#update", order_id: @issue.order_id, user_id: current_user.id, id: @issue.id }, class: "form-control" %>
						</div>
					<% end %>

					<div class="col-12 mb-3">
						<div class="btn btn-light-blue d-flex">
							<div class="w-100 text-left">
								<span class="header2">Supporting Documents</span>
							</div>
						</div>
					</div>

					<div class="col-12 mb-3">
						<div class="file-input-container d-inline-block">
							<%= f.file_field :images, multiple: true, class: "d-none", accept: ".png, .jpg, .jpeg, .pdf" %>
							<a class="file-input">Upload</a>
						</div>

						<% if @issue.images.present? %>
							<span class="pr-4 mr-4 border-right"></span>
							<% @issue.images.each do |image| %>
								<%= link_to image.filename, image, class: "mr-4", target: :_blank %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal" id="replacementModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
		<%= form_tag create_replacement_order_admin_orders_path(order_id: @issue.order.id, issue_id: @issue.id), method: :post, id: "create_replacement_order", html: { class: "form-horizontal form-bordered" } do %>
    	<div class="modal-content modal-full-size">
				<div class="modal-header">
					<div class="w-100">
						<p class="header2">Create Replacement</p>
						<div class="search-bar">
							<input type="text" placeholder="Search Product..." class="form-control" data-reflex="debounced:input->IssueReflex#search_variant" data-issue-id="<%= @issue.id %>">
						</div>
						<section class="search-results" id="variant-search-edit-results"></section>
					</div>
				</div>
				<div class="modal-body">
					<p class="header2">Selected Products</p>	
					<div class="table-responsive notice mb-5">
						<table class="table table-borderless table-hover">
							<thead>
								<tr>
									<th style="width: 50%">Description</th>
									<th style="width: 30%">SKU</th>
									<th style="width: 10%">Qty</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div class="row no-gutters">
						<div class="col-12">
							<p class="header2">Add Replacement Part</p>
						</div>
						<div class="col-1 mb-3">
							<label class="mb-0" style="vertical-align: -webkit-baseline-middle">Parts</label>
						</div>
						<div class="col-3 pr-3 mb-3">
							<%= select_tag :product_part, options_for_select(ProductPart.all.map{ |s| [s.name, s.id] }), { include_blank: true, class: "form-control", data: { reflex: "change->IssueReflex#update_replacement", reflex_root: "#replacement-search" } } %>
						</div>
						<div class="col-8 mb-3" id="replacement-search">
							<input type="text" placeholder="Search Replacement..." class="form-control" data-reflex="debounced:input->IssueReflex#search_replacement" data-part-id="<%= @part_id %>">
							<section class="search-results" id="replacement-search-results">
								<%= render partial: "search_replacement", locals: { current_user: current_user } %>
							</section>
						</div>
						<div class="col-12">
							<p class="header2">Selected Parts</p>	
							<div class="table-responsive selected-parts">
								<table class="table table-borderless table-hover">
									<thead>
										<tr>
											<th style="width: 50%">Description</th>
											<th style="width: 30%">SKU</th>
											<th style="width: 10%">Qty</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<%= hidden_field_tag :variant_items %>
					<%= hidden_field_tag :variant_quantities %>
					<%= hidden_field_tag :reference_items %>
					<%= hidden_field_tag :reference_quantities %>
					<button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
      		<button type="submit" class="btn btn-primary">Submit</button>
				</div>
    	</div>
		<% end %>
  </div>
</div>

<div class="modal" id="returnOrderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
		<%= form_for [:admin, @return], html: { class: "form-horizontal form-bordered" } do |f| %>
			<div class="modal-content">
				<div class="modal-header flex-wrap">
					<div class="w-50">
						<span class="header2 modal-title">Return Order</span>
					</div>
					<div class="w-50 text-right">
						<label class="mb-0 mr-2" style="vertical-align: middle">Customer Return</label>
						<label class="checkbox checkbox-blue mr-4" style="vertical-align: middle">
							<%= f.check_box :customer_return %>
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
				<div class="modal-body">
					<div class="row mx-0">
						<div class="col-6 mb-3">
							<label>Return Reason</label>
							<%= f.text_field :return_reason, class: "form-control" %>
						</div>
						<div class="w-100"></div>
						<div class="col mb-3">
							<label>Return Date</label>
							<%= f.date_field :return_date, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>Return Carrier</label>
							<%= f.text_field :return_carrier, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>Return Number</label>
							<%= f.text_field :return_number, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>Return Quote</label>
							<%= f.number_field :return_quote, step: :any, class: "form-control" %>
						</div>
						<div class="col-1 mb-3">
							<label>Disposal</label>
							<label class="checkbox checkbox-blue mr-4" style="vertical-align: middle">
								<%= f.check_box :disposal %>
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-12 mb-3">
							<span class="header2">Return Address</span>
						</div>
						<div class="col-6 mb-3">
							<label>Company</label>
							<%= f.text_field :return_company, class: "form-control" %>
						</div>
						<div class="col-6 mb-3">
							<label>Contact</label>
							<%= f.text_field :return_contact, class: "form-control" %>
						</div>
						<div class="col-6 mb-3">
							<label>Address</label>
							<%= f.text_field :return_address, class: "form-control" %>
						</div>
						<div class="col-6 mb-3">
							<label>City</label>
							<%= f.text_field :return_city, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>State</label>
							<%= f.text_field :return_state, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Country</label>
							<%= f.text_field :return_country, class: "form-control" %>
						</div>
						<div class="col-4 mb-3">
							<label>Zip Code</label>
							<%= f.text_field :return_zip_code, class: "form-control" %>
						</div>
						<div class="col-12 mb-3">
							<label class="mb-0 mr-2">Skylab Address</label>
							<label class="checkbox checkbox-blue radio mr-4" style="vertical-align: middle">
								<%= check_box_tag :address_skylab %>
								<span class="checkmark"></span>
							</label>
							<label class="mb-0 mr-2">Apex Address</label>
							<label class="checkbox checkbox-blue radio mr-4" style="vertical-align: middle">
								<%= check_box_tag :address_apex %>
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col mb-3">
							<label>Broker</label>
              <%= f.select :truck_broker_id, options_for_select(TruckBroker.where(country: @issue.order.store).map { |s| [s.name, s.id]}), { include_blank: true }, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>Freight Carrier</label>
              <%= f.select :carrier_id, options_for_select(Carrier.where(inactive: false).map { |s| [s.name, s.id, { "data-broker-id": s.truck_broker_id }]}), { include_blank: true }, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>White Glove Carrier</label>
            	<%= f.select :white_glove_directory_id, options_for_select(WhiteGloveDirectory.where(store: current_store).map { |s| [s.company_name, s.id] }), { include_blank: true }, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>White Glove Address</label>
            	<%= f.select :white_glove_address_id, options_for_select(WhiteGloveAddress.where(country: current_store).map { |s| [s.address1.to_s + ", " + s.address2.to_s, s.id, { "data-directory": s.white_glove_directory_id }] }), { include_blank: true }, class: "form-control" %>
						</div>
						<div class="col mb-3">
							<label>Shipping Cost</label>
            	<%= f.number_field :shipping_cost, class: "form-control", step: :any %>
						</div>
						<div class="col-12 mb-3 text-right">
							<%= f.hidden_field :order_id, value: @issue.order.id %>
							<%= f.hidden_field :issue_id, value: @issue.id %>
							<%= f.submit "Submit", class: "btn btn-primary" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<style>
	#no-hover:hover { background: none; }
	.table-padding { padding-top: calc(0.75em + 0.375rem) !important; padding-bottom: calc(0.75em + 0.375rem) !important; }
	.restocking-fee::placeholder { color: var(--grey) !important; }

	#return_white_glove_address_id option { display: none; }
</style>

<script type="text/javascript">
	$(document).on("change", "#return_white_glove_directory_id", function() {
		var val = $(this).val();
		$("#return_white_glove_address_id").val("");
		$("#return_white_glove_address_id option").hide();
		$("#return_white_glove_address_id option[data-directory='" + val + "']").show();
	});
</script>

<script type="text/javascript">
	$(document).on("click", ".add-replacement-item", function() {
		variant_title = $(this).data("variant-title");
		variant_sku = $(this).data("variant-sku");
		variant_id = $(this).data("variant-id");
		$(".notice tbody").append('<tr class="variant-item" data-variant-id="' + variant_id + '"><td>' + variant_title + '</td><td>' + variant_sku + '</td><td>' + '<input type="number" class="form-control variant-quantity"></td><td class="text-center"><a class="variant-item-remove"><%= show_svg("delete.svg") %></a></td></tr>');
	});

	$(document).on("click", ".add-replacement-part", function() {
		reference_title = $(this).data("reference-title");
		reference_sku = $(this).data("reference-sku");
		reference_id = $(this).data("reference-id");
		$(".selected-parts tbody").append('<tr class="reference-item" data-reference-id="' + reference_id + '"><td>' + reference_title + '</td><td>' + reference_sku + '</td><td>' + '<input type="number" class="form-control reference-quantity"></td><td class="text-center"><a class="variant-item-remove"><%= show_svg("delete.svg") %></a></td></tr>');
	});

	$(document).on("click", ".variant-item-remove", function() {
		$(this).parents("tr").remove();
	});

	$(document).on("submit", "#create_replacement_order", function() {
		$(".variant-item").each(function() {
			variant_id = $(this).data("variant-id");
			$("#variant_items").val($("#variant_items").val() + "," + variant_id);
		});
		$(".variant-quantity").each(function() {
			variant_quantity = $(this).val();
			$("#variant_quantities").val($("#variant_quantities").val() + "," + variant_quantity);
		});
		$(".reference-item").each(function() {
			reference_id = $(this).data("reference-id");
			$("#reference_items").val($("#reference_items").val() + "," + reference_id);
		})
		$(".reference-quantity").each(function() {
			reference_quantity = $(this).val();
			$("#reference_quantities").val($("#reference_quantities").val() + "," + reference_quantity);
		});
	});

	$(document).on("change", "#address_skylab", function(e) {
		e.stopPropagation();
		if (this.checked) {
			$("#address_apex").prop("checked", false);
			$("#return_return_company").val("Skylab Irvine").attr("readonly", true);
			$("#return_return_contact").attr("readonly", true);
			$("#return_return_address").val("9750 Irvine Blvd Suite 103").attr("readonly", true);
			$("#return_return_city").val("Irvine").attr("readonly", true);
			$("#return_return_state").val("California").attr("readonly", true);
			$("#return_return_country").val("US").attr("readonly", true);
			$("#return_return_zip_code").val("92618").attr("readonly", true);
		} else {
			$("#return_return_company").attr("readonly", false);
			$("#return_return_contact").attr("readonly", false);
			$("#return_return_address").attr("readonly", false);
			$("#return_return_city").attr("readonly", false);
			$("#return_return_state").attr("readonly", false);
			$("#return_return_country").attr("readonly", false);
			$("#return_return_zip_code").attr("readonly", false);
		}
	});

	$(document).on("change", "#address_apex", function(e) {
		e.stopPropagation();
		if (this.checked) {
			$("#address_skylab").prop("checked", false);
			$("#return_return_company").val("Apex Richmond").attr("readonly", true);
			$("#return_return_contact").attr("readonly", true);
			$("#return_return_address").val("3810 Jacombs Rd Unit 110").attr("readonly", true);
			$("#return_return_city").val("Richmond").attr("readonly", true);
			$("#return_return_state").val("BC").attr("readonly", true);
			$("#return_return_country").val("Canada").attr("readonly", true);
			$("#return_return_zip_code").val("V6V 1Y6").attr("readonly", true);
		} else {
			$("#return_return_company").attr("readonly", false);
			$("#return_return_contact").attr("readonly", false);
			$("#return_return_address").attr("readonly", false);
			$("#return_return_city").attr("readonly", false);
			$("#return_return_state").attr("readonly", false);
			$("#return_return_country").attr("readonly", false);
			$("#return_return_zip_code").attr("readonly", false);
		}
	});
</script>

<script type="text/javascript">
  $(document).ready(function() {
		$("#return_carrier_id option").hide();
  });

  $("#return_truck_broker_id").on("change", function() {
    broker = $(this).val();
    $("#return_carrier_id option").hide();
    $("#return_carrier_id option[data-broker-id='" + broker + "']").show();
  });
</script>