<% current_user = @current_user if @current_user.present? && current_user.nil? %>
<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 40%">Description</th>
        <th style="width: 40%">SKU</th>
        <th style="width: 15%">Status</th>
        <th style="width: 5%">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @line_items.each do |variant| %>
        <tr>
          <td><%= link_to variant&.title&.html_safe, admin_product_variant_path(id: variant.id) %></td>
          <td>
            <% unless variant.replacement_references.any? %>
              <%= variant.sku.upcase %>
            <% else %>
              <% variant.replacement_references.each do |rr| %>
                <%= rr.name %>
                <% unless rr == variant.replacement_references.last %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% case variant.stock %>
              <% when "Inventory" %>
                <span class="badge badge-outline-green">Inventory</span>
              <% when "Non-Inventory" %>
                <span class="badge badge-outline-blue">Non-Inventory</span>
              <% when "Discontinued" %>
                <span class="badge badge-outline-yellow">Discontinued</span>
              <% when "Deactivated" %>
                <span class="badge badge-outline-red">Deactivated</span>
            <% end %>
          </td>
          <% if current_user.user_group.inventory_admin_cru %>
            <td>
              <a href="<%= edit_admin_product_variant_path(id: variant.id) %>">
                <%= show_svg("recent_activity.svg") %>
              </a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagy.count > 1 %>
  <div id="page-nav">
    <%= render partial: "emca_swatch_paginator", locals: { current_user: current_user } %>
  </div>
<% end %>