<div class="row position-relative" style="top: calc(57px + 1rem)">
  <div class="col-6">
    <span class="header1 mr-2"><%= @order.name %></span>
    <% order_status_update(@order) %>
    <% case @order&.status %>
      <% when "new_order" %>
        <span class="badge badge-outline-light-grey mr-2">
          <%= @order&.status&.titleize %>
        </span>

      <% when "in_progress" %>
        <% case @order&.order_status %>
          <% when "not_ready" %>
            <span class="badge badge-outline-light-grey mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "staging" %>
            <span class="badge badge-outline-blue mr-2">
              <%= @order&.order_status&.titleize %>
            </span>
          
          <% when "ready_to_ship" %>
            <span class="badge badge-outline-red mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "booked" %>
            <span class="badge badge-outline-navy mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "ready_for_pickup" %>
            <span class="badge badge-outline-green mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "shipped" %>
            <span class="badge badge-outline-green mr-2">
              Order Fulfilled
            </span>

          <% when "unbooked" %>
            <span class="badge badge-outline-navy mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "cancelled" %>
            <span class="badge badge-outline-red mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "hold" %>
            <span class="badge badge-outline-red mr-2">
              On Hold
            </span>

          <% when "closed" %>
            <span class="badge badge-outline-black mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "partial_shipped" %>
            <span class="badge badge-outline-green mr-2">
              <%= @order&.order_status&.titleize %>
            </span>

          <% when "partial_cancelled" %>
            <span class="badge badge-outline-blue mr-3">
              <%= @order&.order_status&.titleize %>
            </span>

          <% else %>
            <span class="badge badge-outline-navy mr-2">
              <%= @order&.order_status&.titleize %>
            </span>
        <% end %>

      <% when "cancel_confirmed" %>
        <span class="badge badge-outline-red mr-2">
          Cancelled
        </span>

      <% when "delayed" %>
        <span class="badge badge-outline-red mr-2">
          <%= @order&.status&.titleize %>
        </span>

      <% when "hold_confirmed" %>
        <span class="badge badge-outline-red mr-2">
          On Hold
        </span>

      <% when "completed" %>
        <span class="badge badge-outline-green mr-2">
          Shipped
        </span>
      
      <% when "cancel_request" %>
        <span class="badge badge-outline-red mr-2">
          <%= @order&.status&.titleize %>
        </span>

      <% when "rejected" %>
        <span class="badge badge-outline-black mr-2">
          Cancel Rejected
        </span>

      <% when "hold_request" %>
        <span class="badge badge-outline-red mr-2">
          <%= @order&.status&.titleize %>
        </span>

      <% when "pending_payment" %>
        <span class="badge badge-outline-blue mr-2">
          <%= @order&.status&.titleize %>
        </span>
    <% end %>

    <% if @order.status == "in_progress" && @order&.line_items&.any? { |li| li.status == "cancelled" } && !@order&.line_items&.all? { |li| li.status == "cancelled" } %>
      <span class="badge badge-outline-blue mr-2">
        Partial Cancelled
      </span>
    <% end %>
  
    <% if @order&.shipping_line&.title&.downcase&.include? "white glove" or @order.shipping_details.any? { |w| w.white_glove_delivery } %>
      <span class="badge badge-outline-black mr-2">White Glove</span>
    <% elsif ["curbside", "contactless"].any? { |w| @order&.shipping_line&.title&.downcase&.include? w } %>
      <span class="badge badge-outline-green mr-2">Curbside</span>
    <% elsif @order&.shipping_line&.title&.downcase&.include? "admin shipping method - free" %>
      <span class="badge badge-outline-navy mr-2">Admin - Free Ship</span>
    <% elsif @order&.shipping_line&.title&.downcase&.include? "local" %>
      <span class="badge badge-outline-red mr-2">Local Pickup</span>
    <% end %>

    <% if @order&.customer&.risk_indicator.present? %>
      <% case @order&.customer&.risk_indicator&.risk_type.downcase %>
        <% when "chargeback" %>
          <span class="badge badge-outline-black">
            Chargeback
          </span>
        <% when "suspicious" %>
          <span class="badge badge-outline-yellow">
            Suspicious
          </span>
        <% when "fraud" %>
          <span class="badge badge-outline-red">
            Fraud
          </span>
        <% else %>
          <span class="badge badge-outline-black">
            <%= @order&.customer&.risk_indicator&.risk_type.titleize %>
          </span>
      <% end %>
    <% end %>

    <% if @order.line_items.joins(:variant).where(variant: { oversized: true }).present? %>
      <span class="badge badge-outline-red">
        Oversized
      </span>
    <% end %>
  </div>

  <div class="col-6 text-right">
    <a class="mr-4" data-toggle="modal" data-target="#linkorderModal">Link Order</a>
    <a class="mr-4" data-toggle="modal" data-target="#cancelModal">Cancel Order Request</a>
    <a class="mr-4" data-toggle="modal" data-target="#cancelreqModal">Cancel Product Request</a>
    <a data-toggle="modal" data-target="#holdModal">Hold Request</a>
  </div>
  
  <div class="col-3">
    <div class="row">
      <% if @order.order_link.present? || @order.returns.present? %>
        <div class="col-12">
          <small>
            <% if @order.order_link.present? %>
              <% @order.order_link.each do |link_id| %>
                <% unless link_id == @order.id %>
                  <% if !(Order.find_by(id: link_id).nil?) %>
                    <span style="white-space: nowrap"> / <%= link_to Order.find_by(id: link_id).name, edit_admin_order_path(Order.find_by(id: link_id)) %></span>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if @order.returns.present? %>
              <% @order.returns.each do |re| %>
                <span style="white-space: nowrap"> / <%= link_to (re.customer_return ? "CRT-" : "RT-") + @order.name + "-" + (@order.returns.where(customer_return: re.customer_return).order(created_at: :desc).index(re) + 1).to_s.rjust(2, "0"), edit_admin_return_path(re.id) %></span>
              <% end %>
            <% end %>
          </small>
        </div>
      <% end %>
      <div class="col-4">
        <span class="text-black font-weight-bold">Order Date</span><br>
        <span class="text-black font-weight-bold">ETA-From Date</span><br>
        <span class="text-black font-weight-bold">ETA-To Date</span><br>
        <span class="text-black font-weight-bold">Customer</span><br>
        <span class="text-black font-weight-bold">Phone</span><br>
        <span class="text-black font-weight-bold">Email</span><br>
      </div>
      <div class="col-8">
        <%= @order.created_at&.strftime("%B %d, %Y") %><br>
        <%= @order.eta_data_from&.strftime("%B %d, %Y") %><br>
        <%= @order.eta_data_to&.strftime("%B %d, %Y") %><br>
        <a class="open-side-panel">
          <%= @order.try(:customer).try(:full_name).try(:titleize) %>
        </a>
        <br>
        
        <% if @order.customer.present? && @order.customer.phone.present? %>
          <%= @order.customer.phone %>
        <% elsif @order.billing_address.phone.present? %>
          <%= @order.billing_address.phone %>
        <% end %>
        <br>
        <% if @order.customer.present? && @order.customer.email.present? %>
          <%= @order.customer.email %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <label>Notes</label>
    <textarea class="form-control" style="height: 6rem" disabled>
      <%= @order.order_notes %>
    </textarea>
  </div>
  
  <div class="col-5 d-flex pl-5">
    <div class="w-50 mr-4">
      <label class="text-black">Billing Address</label><br>
      <% if @order.billing_address.present? %>
        <%= @order.billing_address&.full_name&.titleize %><br>
        <% if @order.billing_address&.company.present? %>
          <%= @order.billing_address&.company %><br>
        <% end %>
        <%= @order.billing_address&.address1&.tr('[]','')&.tr('" "', ' ')&.titleize %><br>
        <%= @order.billing_address&.city&.titleize %>
        <%= @order.billing_address&.address2&.titleize %>,
        <%= @order.billing_address&.zip&.upcase %>,
        <%= @order.billing_address&.country %><br>
        <span class="text-blue">T:</span>
        <%= @order.billing_address&.phone %>
      <% end %>
    </div>
    <div class="w-50">
      <label class="text-black mr-2">Shipping Address</label> <a data-toggle="modal" data-target="#shippingAddressModal">Edit</a><br>
      <% if @order.shipping_address.present? %>
        <%= @order.shipping_address&.full_name&.titleize %><br>
        <% if @order.shipping_address&.company.present? %>
          <%= @order.shipping_address&.company %><br>
        <% end %>
        <%= @order.shipping_address&.address1&.tr('[]','')&.tr('" "', ' ')&.titleize %><br>
        <%= @order.shipping_address&.city&.titleize %>
        <%= @order.shipping_address&.address2&.titleize %>,
        <%= @order.shipping_address&.zip&.upcase %>,
        <%= @order.shipping_address&.country %><br>
        <span class="text-blue">T:</span>
        <%= @order.shipping_address&.phone %>
      <% end %>
    </div>
  </div>

  <div class="col-12 mb-3">
    <span class="underline-hover switch-tab active" data-switch-group="order-details" data-switch-index="details">Order Details</span>
    <span class="underline-hover switch-tab" data-switch-group="order-details" data-switch-index="issue">Claims</span>
    <button class="btn btn-primary d-inline switch-content" type="button" data-switch-group="order-details" data-switch-index="issue" data-toggle="modal" data-target="#newIssueModal">Create Claim</button>
  </div>
</div>

<div class="row switch-content position-relative active" style="top: calc(57px + 1rem)" data-switch-group="order-details" data-switch-index="details">
  <div class="col-7 border-right">
    <div class="btn btn-light-blue d-flex mb-3">
      <div class="w-50 text-left">
        <span class="header2">Transaction</span>
      </div>
      <% if @order&.payment_method.present? %>
        <div class="w-50 text-right">
          <span class="text-black font-weight-bold mr-1">Payment Method</span>
          <%= @order&.payment_method %>
        </div>
      <% end %>
    </div>
        
    <div class="table-responsive mb-3">
      <table class="table table-borderless table-hover">
        <thead>
          <th style="width: 12%">Status</th>
          <th style="width: 12%">Stage</th>
          <th style="width: 40%">Description</th>
          <th style="width: 12%">SKU</th>
          <th style="width: 12%">Amount</th>
          <th style="width: 12%">Subtotal</th>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% if @order.line_items.present? %>
            <% @order.line_items.where(order_from: nil).each_with_index do |item, i| %>
              <% if !(item&.sku&.include? "warranty") && !(item&.sku == "WGS001") && !(item&.sku == "HLD001") && !(item&.sku == "HFE001") && !(ShipmentCode.pluck(:sku_for_discount)&.include? item.sku) %>
                <tr>
                  <td>
                    <% case item&.status %>
                      <% when "not_started" %>
                        <span class="badge badge-outline-light-grey">
                      <% when "in_production" %>
                        <span class="badge badge-outline-blue">
                      <% when "container_ready" %>
                        <span class="badge badge-outline-navy">
                      <% when "en_route" %>
                        <span class="badge badge-outline-red">
                      <% when "ready" %>
                        <span class="badge badge-outline-green">
                      <% when "cancelled" %>
                        <span class="badge badge-outline-yellow">
                    <% end %>
                    <%= item&.status&.titleize %></span>
                    <% if @order.status != "cancel_confirmed" && item&.status != "cancelled" && item&.cancel_request_check == "requested" %>
                      <br><span class="badge badge-outline-yellow">Cancel Request</span>
                    <% elsif @order.status != "cancel_confirmed" && item&.status != "cancelled" && item&.cancel_request_check == "item_cancelled" %>
                      <br><span class="badge badge-outline-yellow">Cancelled</span>
                    <% elsif @order.status != "cancel_confirmed" && item&.status != "cancelled" && item&.cancel_request_check == "partial_cancelled" %>
                      <br><span class="badge badge-outline-yellow">Partial Cancelled</span>
                    <% end %>
                  </td>                   
                  <td>
                    <% cont = 0 %>
                    <% if LineItem.find(item.id).container.present? %>
                      <% if current_store == "us" %>
                        <%= link_to "CTUS" + "#{LineItem.find(item.id).container.container_number}", edit_admin_container_path(LineItem.find(item.id).container), data: { turbolinks: false } %>                 
                      <% elsif current_store == 'canada' %>
                        <%= link_to "CTCA" + "#{LineItem.find(item.id).container.container_number}", edit_admin_container_path(LineItem.find(item.id).container), data: { turbolinks: false } %>
                      <% end %>
                            
                    <% elsif LineItem.find(item.id).purchase_item_id.present? && LineItem.find(item.id).purchase_id.present? %>
                      <% if current_store == "us" %>
                        <%= link_to "TUS" + "#{Purchase.find(LineItem.find(item.id).purchase_id).id}", admin_purchase_path(id: Purchase.find(LineItem.find(item.id).purchase_id).id), data: { turbolinks: false } %>
                      <% elsif current_store == "canada" %>
                        <%= link_to "TCA" + "#{Purchase.find(LineItem.find(item.id).purchase_id).id}", admin_purchase_path(id: Purchase.find(LineItem.find(item.id).purchase_id).id), data: { turbolinks: false } %>
                      <% end %>

                    <% elsif LineItem.find(item.id).purchase_items.present? %>
                      <% item.purchase_items.each do |i| %>
                        <% if i.containers.present? %>
                          <% cont = i.containers.last.id %>
                        <% end %>
                      <% end %>
                      <% if !(cont == 0) && current_store == "us" %>
                        <%= link_to "CTUS" + "#{Container.find(cont).container_number}", edit_admin_container_path(Container.find(cont)), data: { turbolinks: false } %>                 
                      <% elsif !(cont == 0) && current_store == "canada" %>
                        <%= link_to "CTCA" + "#{Container.find(cont).container_number}", edit_admin_container_path(Container.find(cont)), data: { turbolinks: false } %>
                      <% elsif cont == 0 %>
                        <% if current_store == "us" %>
                          <%= link_to "TUS" + "#{LineItem.find(item.id).purchase_items.last.purchase.id}", admin_purchase_path(id: LineItem.find(item.id).purchase_items.last.purchase.id), data: { turbolinks: false } %>
                        <% elsif current_store == "canada" %>
                          <%= link_to "TCA" + "#{LineItem.find(item.id).purchase_items.last.purchase.id}", admin_purchase_path(id: LineItem.find(item.id).purchase_items.last.purchase.id), data: { turbolinks: false } %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if ProductVariant.find_by(id: item.variant_id).present? %>
                      <%= link_to item.title, admin_product_variant_path(item.variant_id) %>
                    <% else %>
                      <%= item.title %>
                    <% end %>
                  </td>
                  <td><%= item&.sku&.upcase %></td>
                  <td><%= number_to_currency(item&.price) %> * <%= item&.quantity %></td>
                  <td><%= number_to_currency(mul(item&.price, item&.quantity)) %></td>
                </tr>
                <% @sum = @sum + mul(item&.price, item&.quantity) %>
              <% end %>
            <% end %>
          <% end %>

          <% if @order.order_replacements.present? %>
            <% @order.order_replacements.each do |rr| %>
              <tr>
                <td></td>
                <td></td>
                <td><%= rr.replacement_reference.replacement.description %></td>
                <td><%= rr.replacement_reference.name %></td>
                <td><%= rr.quantity %></td>
                <td>$0.00</td>
              </tr>
            <% end %>
          <% end %>
            
          <% if @order.discount_codes.present? %>
            <tr>
              <th>Discount</th>
              <td></td>
              <td><%= @order&.discount_codes.try(:[], "discount_description") %></td>
              <td></td>
              <td></td>
              <td class="text-red"><%= number_to_currency(-@order.discount_codes["discount_amount"].to_f.abs) %></td>
            </tr>
            <% @sum = @sum - @order.discount_codes["discount_amount"].to_f.abs %>
          <% end %>
            
          <tr class="border-top">
            <td colspan=4></td>
            <th>Subtotal</th>
            <td class="text-green"><%= number_to_currency(@sum) %></td>
          </tr>
            
          <% if @order.shipping_line.present? %>
            <tr>
              <th>Shipping</th>
              <td></td>
              <td>
                <% if (@order&.shipping_line&.title&.downcase&.include? "admin shipping method - free") || @order&.shipping_line&.editable %>
							    <%= select_tag :shipping_line_title, options_for_select({ "Admin Shipping Method - Free" => "admin-shipping-method-free", "Standard - Curbside Delivery ($" + StandardShippingRate.where(store: current_store, shipping_method: "Curbside Delivery").where("order_min_price <= ? AND order_max_price >= ?", @sum, @sum)&.first&.discount.to_s + ")" => "standard-curbside-delivery", "Standard - White Glove Delivery ($" + StandardShippingRate.where(store: current_store, shipping_method: "White Glove Delivery").where("order_min_price <= ? AND order_max_price >= ?", @sum, @sum)&.first&.discount.to_s + ")" => "standard-white-glove-delivery", "Standard - Local Pickup" => "standard-local-pickup" }, @order&.shipping_line&.title&.parameterize), { class: "form-control", data: { reflex: "change->OrderReflex#update_shipping_method", shipping_line_id: @order&.shipping_line.id, amount: @sum, current_store: current_store } } %>
                <% else %>
                  <%= @order&.shipping_line&.title %>
                <% end %>
              </td>
              <td></td>
              <td></td>
              <td><%= number_to_currency(@order&.shipping_line&.price) %></td>
            </tr>
            <% @sum = @sum + @order&.shipping_line&.price.to_f %>
          <% end %>

          <% @order.line_items.each do |item| %>
            <% if (ShipmentCode.pluck(:sku_for_discount)&.include? item.sku) %>
              <tr>
                <th>Shipment Code</th>
                <td></td>
                <td><%= item.sku %></td>
                <td></td>
                <td><%= number_to_currency(item&.price) %> * <%= item&.quantity %></td>
                <td><%= number_to_currency(mul(item&.price, item&.quantity)) %></td>
              </tr>
              <% @sum = @sum + mul(item&.price, item&.quantity) %>
            <% end %>
          <% end %>

          <tr class="border-top">
            <td colspan=4></td>
            <th>Before Tax</th>
            <td class="text-green"><%= number_to_currency(@sum) %></td>
          </tr>

          <% if @order.tax_lines.present? %>
            <tr>
              <th>Tax</th>
              <td></td>
              <td><%= @order.shipping_address&.address2&.titleize %></td>
              <td></td>
              <td><%= number_with_precision((@order.tax_lines["price"].to_f / @sum.to_f) * 100,precision: 2) %>%</td>
              <td><%= number_to_currency(@order.tax_lines["price"]) %></td>
            </tr>
            <% @sum = @sum + @order.tax_lines["price"].to_f %>
          <% end %>

          <% if @order.refunds.present? && @order.order_adjustments.present? %>
            <% @order.refunds.each do |ref| %>
              <% @order.order_adjustments.each do |adj| %>
                <tr class="border-top">
                  <th>Refunded</th>
                  <td></td>
                  <td>"<%= ref.note %>"</td>
                  <td></td>
                  <td></td>
                  <td><%= number_to_currency(adj.amount) %></td>
                </tr>
                <% @sum = @sum + (adj.amount).to_f %>
              <% end %>
            <% end %>
          <% end %>

          <tr class="border-top">
            <td colspan=4></td>
            <th>Total</th>
            <td class="text-green"><%= number_to_currency(@sum) %></td>
          </tr>
        </tbody>         
      </table>
    </div>
    
    <div class="btn btn-light-blue d-flex mb-3">
      <span class="header2">Recent Activity</span>
    </div>
    <%= render partial: "admin/comments/order", locals: { commentable: @order, current_user: current_user} %>
  </div>

  <div class="col-5">
    <div class="btn btn-light-blue d-flex mb-3">
      <div class="w-50 text-left">
        <span class="header2">Shipment</span>
      </div>
      <% if @order.shipping_details.count > 1 %>
        <div class="w-50 text-right">
          <a data-toggle="modal" data-target="#splitShippingModal">Edit Split</a>
        </div>
      <% end %>
    </div>

    <%= form_for [:admin, @order] do |f| %>
      <div class="row no-gutters mb-3">
        <div class="<%= @order.line_items.where(order_from: nil).count > 1 ? "col-11" : "col-12" %>" style="overflow-x: auto; overflow-y: hidden">
          <div class="d-flex border-bottom">
            <% @order.shipping_details.each_with_index do |ship, index| %>
              <div class="col-3 tab switch-tab <%= "active" if index == 0 %>" data-switch-group="shipping-tab" data-switch-index="<%= "shipping-" + (index + 1).to_s %>">
                <b>Shipment <%= index + 1 %></b>
                <% unless index == 0 %>
                  <a class="float-right text-black" data-reflex="click->OrderReflex#delete_shipping_detail" data-id="<%= ship.id %>" data-store-type="<%= current_store %>" data-user_id="<%= current_user.id %>">
                    <%= show_svg("close.svg") %>
                  </a>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <% if @order.line_items.where(order_from: nil).count > 1 %>
          <div class="col-1 border-bottom ml-auto pr-3 text-right">
            <a class="text-blue" data-reflex="click->OrderReflex#build_shipping_detail" data-order-id="<%= @order.id %>" data-user-id="<%= current_user.id %>" style="vertical-align: text-top">
              <%= show_svg("plus.svg") %>
            </a>
          </div>
        <% end %>
      </div>

      <%= f.fields_for :shipping_details, f.object.shipping_details.order(:created_at) do |shipping_attributes| %>
        <%= render "shipping_detail_fields", f: shipping_attributes, order: f, index: shipping_attributes.index + 1 %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row switch-content position-relative" style="top: calc(57px + 1rem)" data-switch-group="order-details" data-switch-index="issue">
  <div class="col-12">
    <%= render partial: "admin/issues/form", locals: { current_user: current_user } %>
    <% if @order.issues.present? %>
      <%= render partial: "issue_listing", locals: { current_user: current_user } %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<%= form_for [:admin, @order] do |f| %>
  <!-- shipping address -->
  <div class="modal" id="shippingAddressModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Shipping Address</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">            
          <%= f.fields_for :shipping_address do |ff| %>
            <div class="row mx-0">
              <div class="col-6 mb-3">
                <%= ff.label :first_name, "First Name" %>
                <%= ff.text_field :first_name, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= ff.label :last_name, "Last Name" %>
                <%= ff.text_field :last_name, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= ff.label :company, "Company (Optional)" %>
                <%= ff.text_field :company, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= ff.label :address1, "Address Line" %>
                <%= ff.text_field :address1, value: ff.object.address1&.tr('[]','')&.tr('" "', ' ')&.titleize, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= ff.label :city, "City" %>
                <%= ff.text_field :city, class: "form-control" %>
              </div>
              <div class="col-4 mb-3">
                <%= ff.label :country, "Country" %>
                <%= ff.text_field :country, class: "form-control" %>
              </div>
              <div class="col-4 mb-3">
                <%= ff.label :address2, "State" %>
                <%= ff.text_field :address2, class: "form-control" %>
              </div>
              <div class="col-4 mb-3">
                <%= ff.label :zip, "Zip Code" %>
                <%= ff.text_field :zip, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= ff.label :phone, "Phone" %>
                <%= ff.text_field :phone, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= ff.label :email, "Email" %>
                <%= ff.text_field :email, class: "form-control" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", name: "shipping_add_edit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Split shipping -->
  <div class="modal" id="splitShippingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Split Shipping</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th style="width: 50%">Description</th>
                      <th style="width: 15%">SKU</th>
                      <th style="width: 15%">Qty</th>
                      <th style="width: 25%">Shipment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :line_items, :wrapper_tag => :tr do |ff| %>
                      <% if ff.object.sku.present? && !(ff.object.sku.include? 'warranty') %>
                        <tr>
                          <td style="vertical-align: middle"><%= ff.object.title %></td>
                          <td style="vertical-align: middle"><%= ff.object.sku.upcase %></td>
                          <td style="vertical-align: middle"><%= ff.object.quantity %></td> 
                          <td><%= ff.select :shipping_detail_id, options_for_select((@order.shipping_details.order(:created_at)).each_with_index.map { |sd, i| ["Shipment #{i+1}", sd.id] }, :selected => ff.object.shipping_detail_id), {}, class: "form-control text-blue bg-light-blue" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- cancel_request MODAL-->
  <div class="modal" id="cancelModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Cancel Request</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <%= f.label :cancel_reason, "Reason for Cancelling" %>
              <%= f.text_area :cancel_reason, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", name: "save_reason", value: "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <!-- hold_request MODAL-->
  <div class="modal" id="holdModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Hold Until</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <%= f.label :hold_until_date, "Hold Until Date" %>
              <%= f.date_field :hold_until_date, class: "form-control" %>
            </div>

            <div class="col-12 mb-3">
              <%= f.label :hold_reason, "Reason for Hold" %>
              <%= f.text_area :hold_reason, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", name: "save_date", value: "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  
  <!-- link order modal -->
  <div class="modal" id="linkorderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-full-size">
        <div class="modal-header">
          <span class="header2 modal-title">Link Order</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <div id="link-order-list">
                <% if @order.order_link.present? %>
                  Order
                  <span class="tag">
                    <%= @order.name %>
                    <span data-reflex="click->OrderReflex#remove_link_order" data-reflex-root="#link-order-list" data-link-id="<%= @order.id %>"><%= show_svg("close.svg") %></span>
                  </span>
                  is linked to:<br>
                  <% @order.order_link.each do |link_id| %>
                    <% unless link_id == @order.id %>
                      <% if !(Order.find_by(id: link_id).nil?)%>
                        <span class="tag">
                          <%= Order.find_by(id: link_id).name %>
                          <span data-reflex="click->OrderReflex#remove_link_order" data-reflex-root="#link-order-list" data-link-id="<%= link_id %>"><%= show_svg("close.svg") %></span>
                        </span>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <p><span class="text-blue"><%= @order.name %></span> is not linked to any orders. Search and add orders to add associations.</p>
                <% end %>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="search-bar">
                <input type="text" placeholder="Search Order..." class="form-control" data-reflex="debounced:input->OrderReflex#search_link_order" data-current-order="<%= @order.id %>" data-store-type="<%= current_store %>">
              </div>
            </div>
            <div class="col-12 mb-3">
              <section class="search-results" id="order-search-link-order-results">
                <% render partial: "search_link_order", locals: { current_user: current_user } %>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for [:admin, @order] do |f| %>
  <div class="modal" id="cancelreqModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Cancel Request for Product</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <div class="table-responsive">
                <table class="table table-borderless table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30%">Title</th>
                      <th style="width: 10%">SKU</th>
                      <th style="width: 5%">Qty</th>
                      <th style="width: 10%">Supplier</th>
                      <th style="width: 5%">Cancel Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :line_items do |ff| %>
                      <tr>
                        <td><%= ff.object&.name %></td>
                        <td><%= ff.object&.sku&.upcase %></td>
                        <td><%= ff.object&.quantity %></td>
                        <td><%= ff.object&.variant&.supplier&.name %></td>
                        <td>
                          <%= ff.number_field :cancel_quantity, class: "form-control cancel-product", max: ff.object&.quantity.to_i, disabled: (true if ff.object.cancel_request_check != nil) %>
                          <% if ff.object.cancel_request_check == nil %>
                            <%= check_box_tag "cancel_product[item_ids][]", ff.object&.id, false, class: "d-none" %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal" id="taskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, Task.new], html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Create Task</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-3">
              <%= f.label :title, "Title" %>
              <%= f.text_field :title, class: "form-control", required: true %>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :due_date, "Due Date" %>
              <%= f.date_field :due_date, class: "form-control" %>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :priority, "Priority" %>
              <div class="row no-gutters">
                <div class="col-5">
                  <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                    <%= f.radio_button :priority, "high" %>
                    <span class="checkmark"></span>
                  </label>
                  <label class="mb-0" style="vertical-align: middle">High</label>
                </div>
                <div class="col-5">
                  <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                    <%= f.radio_button :priority, "medium" %>
                    <span class="checkmark"></span>
                  </label>
                  <label class="mb-0" style="vertical-align: middle">Medium</label>
                </div>
                <div class="col-2">
                  <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                    <%= f.radio_button :priority, "low" %>
                    <span class="checkmark"></span>
                  </label>
                  <label class="mb-0" style="vertical-align: middle">Low</label>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :tag_user_id, "Assign To" %>
              <%= f.hidden_field :tag_user_id %>
              <input type="text" placeholder="Tag someone..." class="form-control mb-3" data-reflex="debounced:input->OrderReflex#search_task_user">
              <section class="search-results" id="task-user-search-edit-results">
                <% render partial: "admin/tasks/search_user", locals: { current_user: current_user } %>
              </section>
              <span class="user-list">
                <span class="tag" data-id="<%= current_user.id %>">
                  <%= current_user.username.present? ? "@" + current_user.username : "@" + current_user.full_name %>
                  <span class="user-list-remove"><%= show_svg("close.svg") %></span>
                </span>
              </span>
              <script type="text/javascript">
                $(document).on("click", "#new_task .user-search", function() {
                  var id = $(this).data("id");
                  var name = $(this).text().trim().toLowerCase().split(' ').join('_');
                  $("#new_task .user-list").append('<span class="tag" data-id="' + id + '">@' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                });
              </script>
            </div>
            <div class="col-6 mb-3">
              <%= f.label :tag_order_id, "Link Order" %>
              <%= f.hidden_field :tag_order_id %>
              <input type="text" placeholder="Link order..." class="form-control mb-3" data-reflex="debounced:input->OrderReflex#search_task_order">
              <section class="search-results" id="task-search-edit-results">
                <% render partial: "admin/tasks/search_order", locals: { current_user: current_user } %>
              </section>
              <span class="order-list">
                <span class="tag" data-id="<%= @order.id %>">
                  <%= @order.name %>
                  <span class="user-list-remove"><%= show_svg("close.svg") %></span>
                </span>
              </span>
              <script type="text/javascript">
                $(document).on("click", "#new_task .order-search", function() {
                  var id = $(this).data("id");
                  var name = $(this).text().trim();
                  $("#new_task .order-list").append('<span class="tag" data-id="' + id + '">' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                });
              </script>
            </div>
            <div class="col-12 mb-3">
              <%= f.label :description, "Description" %>
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary mr-4" type="button" data-dismiss="modal">Cancel</span>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="side-panel short">
  <div class="p-3" id="customer-information">
    <%= render partial: "admin/customers/customer_information", locals: { customer: @order.customer, current_user: current_user } %>
  </div>
</div>
<div class="backdrop"></div>

<script type="text/javascript">
  $("#shipping_line_title").on("change", function() {
    document.getElementById("loaderOverlay").style.display = "flex";
  });

  $("#new_task").on("submit", function() {
    var val = ",";
    $(this).find(".user-list .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#task_tag_user_id").val(val);

    var orderVal = ",";
    $(this).find(".order-list .tag").each(function() {
      if ($(this).data("id") != null) {
        orderVal += $(this).data("id") + ",";
      }
    });

    $("#task_tag_order_id").val(orderVal);
  });

  $(".cancel-product").on("change", function() {
    $(this).next().attr("checked", true);
  });
</script>