<div class="table-responsive" id="issue_listing">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 5%">Ticket</th>
        <th style="width: 25%">Order</th>
        <th style="width: 15%">Created</th>
        <th style="width: 15%">Created By</th>
        <th style="width: 15%">Assign To</th>
        <th style="width: 25%">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @order.issues.eager_load(:user).each do |issue| %>
        <tr>
          <td><%= link_to issue&.id, edit_admin_issue_path(issue), data: { turbolinks: false } %></td>
          <td><%= issue&.order&.name %></td>
          <td><%= issue&.created_at.to_date.strftime('%B %d, %Y') %></td>
          <td><%= issue&.user&.full_name&.titleize %></td>
          <td>
            <% if issue&.assign_to.include? "," %>
              <% list = issue&.assign_to&.split(",").uniq.reject { |s| s.to_s.empty? } %>
              <% list.each do | id | %>
                <%= User.find_by(id: id).full_name.titleize %><%= ", " unless id == list.last %>
              <% end %>
            <% else %>
              <%= issue&.assign_to&.titleize %>
            <% end %>
          </td>
          <td><%= issue&.status&.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>