<div class="p-3 mb-4 clr-white">
  <div class="col-12 my-2">
    <h5>Products</h5>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr class="text-center">
            <th class="col-3">Description</th>
            <th class="col-2">SKU</th>
            <th class="col-2">Qty</th>
            <th class="col-2">Container</th>
            <th class="col-1">Reassign</th>
            <th class="col-2" style="padding-left: 100px">Status</th>
          </tr>
        </thead>
        <tbody>
          <%= ff.fields_for :line_items do |f|%>            
            <% if f.try(:object).try(:sku).present? %>
              <% if (f.object.order_from.nil?) && !(f.try(:object).try(:sku).include? 'warranty') && !(f.try(:object).try(:sku) == 'WGS001') && !(f.try(:object).try(:sku) == 'HLD001') && !(f.try(:object).try(:sku) == 'HFE001')%>
                <tr class="text-center">
                  <td><%= f.object.title %></td>
                  <td><%= f.object.sku.upcase %></td>
                  <td><%= f.object.quantity %></td>
                  <td>
                    <% if PurchaseItem.where(line_item_id: f.object.id).first.containers.last.container_number %>
                      <% if current_store = 'us' %>
                        <td><%= link_to "CTUS"+"#{PurchaseItem.where(line_item_id: f.object.id).first.containers.last.container_number}", edit_admin_container_path(PurchaseItem.where(line_item_id: f.object.id).first.containers.last), data: { turbolinks: false } %></td>                  
                      <% elsif current_store = 'canada' %>
                        <td><%= link_to "CTCA"+"#{PurchaseItem.where(line_item_id: f.object.id).first.containers.last.container_number}", edit_admin_container_path(PurchaseItem.where(line_item_id: f.object.id).first.containers.last), data: { turbolinks: false } %></td>
                      <% end %>
                    <%end%>
                  </td>
                  <td><%= link_to Order.find(f.object.audits.last.audited_changes.values[0][0]).name, edit_admin_order_path(Order.find(f.object.audits.last.audited_changes.values[0][0])) if f.object.audits.present? &&  f.object.audits.last.audited_changes.keys == ['order_id'] %></td>
                  <td style="padding-left: 100px">
                    <% case f.object.status %>
                      <% when "not_started" %>
                        <span class="badge badge-light border">
                      <% when "in_production" %>
                        <span class="badge badge-primary-lighten">
                      <% when "container_ready" %>
                        <span class="badge badge-info-lighten">
                      <% when "en_route" %>
                        <span class="badge badge-warning-lighten">
                      <% when "ready" %>
                        <span class="badge badge-success-lighten">
                    <% end %>
                    <%= f.object.status.humanize %></span>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr class="text-center">
                <td><%= f.object.title %></td>
                <td><%= f.object.sku %></td>
                <td><%= f.object.quantity %></td>
                <td>
                  <% if f.object.product.present? && f.object.product.carton_details.present? %>
                    <%= f.object.product.carton_details.maximum(:index) %>
                  <% else %>
                    --
                  <% end %>
                </td>
                <td>
                  <% if (PurchaseItem.pluck(:line_item_id).include? f.object.id) && PurchaseItem.where(line_item_id: f.object.id).first.containers.present? %>
                    <% if current_store = 'us' %>
                      <td><%= link_to "CTUS"+"#{PurchaseItem.where(line_item_id: f.object.id).first.containers.last.container_number}", edit_admin_container_path(PurchaseItem.where(line_item_id: f.object.id).first.containers.last), data: { turbolinks: false } %></td>                  
                    <% elsif current_store = 'canada' %>
                      <td><%= link_to "CTCA"+"#{PurchaseItem.where(line_item_id: f.object.id).first.containers.last.container_number}", edit_admin_container_path(PurchaseItem.where(line_item_id: f.object.id).first.containers.last), data: { turbolinks: false } %></td>
                    <% end %>
                  <%end%>
                </td>
                <td><%= link_to Order.find(f.object.audits.last.audited_changes.values[0][0]).name, edit_admin_order_path(Order.find(f.object.audits.last.audited_changes.values[0][0])) if f.object.audits.present? &&  f.object.audits.last.audited_changes.keys == ['order_id'] %></td>
                <td style="padding-left: 100px">
                  <% case f.object.status %>
                    <% when "not_started" %>
                      <span class="badge badge-light border">
                    <% when "in_production" %>
                      <span class="badge badge-primary-lighten">
                    <% when "container_ready" %>
                      <span class="badge badge-info-lighten">
                    <% when "en_route" %>
                      <span class="badge badge-warning-lighten">
                    <% when "ready" %>
                      <span class="badge badge-success-lighten">
                  <% end %>
                  <%= f.object.status.humanize %></span>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>