<div class="row mb-3">
  <div class="col-12">
    <p class="header1">Cancel</p>
  </div>
  <div class="col-12">
    <a class="underline-hover switch-tab <%= "active" if params[:type] == "cancel_request" || (@order.present? && @order.status == "cancel_request") %>" href="<%= cancel_request_admin_orders_path(type: "cancel_request") %>" data-switch-group="cancel" data-switch-index="request">
      Cancel Requests (<%= Order.where(status: :cancel_request, store: current_store).count %>)
    </a>
    <a class="underline-hover switch-tab <%= "active" if params[:type] == "cancel_product" %>"  href="<%= cancel_request_admin_orders_path(type: "cancel_product") %>" data-switch-group="cancel" data-switch-index="product">
      Cancel Products (<%= LineItem.where(store: current_store).where.not(status: :cancelled).where(cancel_request_check: :requested).count %>)
    </a>
    <a class="underline-hover <%= "active" if params[:action] == "cancel_confirmed" || (@order.present? && @order.status == "cancel_confirmed")%>" href="<%= cancel_confirmed_admin_orders_path %>">
      Cancel Confirmed (<%= Order.where(status: %i[cancel_confirmed rejected], store: current_store).where.not('orders.created_at < ?', Date.today - 30.days).count %>)
    </a>
  </div>
</div>