<div class="row pb-3 position-fixed w-100 bg-white" style="z-index: 2; left: 15px; right: 15px">
  <div class="col-12">
    <p class="header1">Pending Payment</p>
  </div>
  <div class="col-12">
    <a class="underline-hover <%= "active" if params[:pending_status] == "1-3" || (@order.present? && @order.status == "pending_payment" && @order.created_at.to_date >= Date.today - 3.days && @order.created_at.to_date <= Date.today) %>" href="<%= pending_payment_section_admin_orders_path(pending_status: "1-3") %>">
      1-3 Days
      (<%= Order.where(store: current_store, status: :pending_payment).where("DATE(created_at) >= ? AND DATE(created_at) <= ?", Date.today - 3.days, Date.today).count %>)
    </a>
    <a class="underline-hover <%= "active" if params[:pending_status] == "4-6" || (@order.present? && @order.status == "pending_payment" && @order.created_at.to_date >= Date.today - 6.days && @order.created_at.to_date <= Date.today - 4.days) %>" href="<%= pending_payment_section_admin_orders_path(pending_status: "4-6") %>">
      4-6 Days
      (<%= Order.where(store: current_store, status: :pending_payment).where("DATE(created_at) >= ? AND DATE(created_at) <= ?", Date.today - 6.days, Date.today - 4.days).count %>)
    </a>
    <a class="underline-hover <%= "active" if params[:pending_status] == "7-13" || (@order.present? && @order.status == "pending_payment" && @order.created_at.to_date >= Date.today - 13.days && @order.created_at.to_date <= Date.today - 7.days) %>" href="<%= pending_payment_section_admin_orders_path(pending_status: "7-13") %>">
      7-13 Days
      (<%= Order.where(store: current_store, status: :pending_payment).where("DATE(created_at) >= ? AND DATE(created_at) <= ?", Date.today - 3.days, Date.today).count %>)
    </a>
    <a class="underline-hover <%= "active" if params[:pending_status] == "14+" || (@order.present? && @order.status == "pending_payment" && @order.created_at >= Date.new(2020, 10, 31) && @order.created_at <= Date.today - 14.days) %> %>" href="<%= pending_payment_section_admin_orders_path(pending_status: "14+") %>">
      +14 Days
      (<%= Order.where(store: current_store, status: :pending_payment).where("DATE(created_at) >= ? AND DATE(created_at) <= ?", Date.new(2020, 10, 31), Date.today - 14.days).count %>)
    </a>
  </div>
</div>