<div class="row pb-3 position-fixed w-100 bg-white" style="z-index: 2; left: 15px; right: 15px">
  <% if controller.controller_name == "products" %>
    <div class="col-6">
      <p class="header1 mr-4 d-inline-block">Inventory</p>
      <div class="search-bar d-inline-block w-50">
        <% if current_store == "us" %>
          <input type="text" placeholder="Search Product..." class="form-control" data-reflex="debounced:input->ProductReflex#search" data-store-type="<%= current_store %>" data-user_id="<%= current_user.id %>">
        <% else %>
          <input type="text" placeholder="Search Product..." class="form-control" data-reflex="debounced:input->ProductReflex#emca_search" data-store-type="<%= current_store %>" data-user_id="<%= current_user.id %>">
        <% end %>
        <section class="search-results" id="product-search-header-results"></section>
      </div>
    </div>

    <div class="col-6 text-right">
      <div class="file-input-container d-inline-block mr-4">
        <%= form_tag import_admin_products_path, multipart: true, class: "d-none" do %>
          <%= file_field_tag :file %>
        <% end %>
        <a class="file-input">Update SKU Quantity</a>
      </div>
      <a href="<%= new_admin_product_path %>" data-turbolinks="false">
        <button class="btn btn-primary mr-4">
          <%= show_svg("plus.svg") %>
          Add Product
        </button>
      </a>
      <a href="<%= pdf_admin_products_path(format: "csv") %>">
        <button class="btn btn-primary">
          Export
        </button>
      </a>
    </div>
  <% else %>
    <div class="col-6">
      <p class="header1 mr-4 d-inline-block">Inventory</p>
      <div class="search-bar d-inline-block w-50">
        <% if (params[:action] == "stock" || params[:action] == "emca_stock") && params[:return_status] == nil %>
          <% if current_store == "us" %>
            <input type="text" placeholder="Search..." class="form-control" data-reflex="change->OrderReflex#search_main_stock" data-store-type="<%= current_store %>" data-user-id="<%= current_user.id %>">
          <% else %>
            <input type="text" placeholder="Search..." class="form-control" data-reflex="change->OrderReflex#emca_search_main_stock" data-store-type="<%= current_store %>" data-user-id="<%= current_user.id %>">
          <% end %>
        <% else %>
          <% if current_store == "us" %>
            <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->OrderReflex#search_stock" data-store-type="<%= current_store %>" data-user-id="<%= current_user.id %>">
          <% else %>
            <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->OrderReflex#emca_search_stock" data-store-type="<%= current_store %>" data-user-id="<%= current_user.id %>">
          <% end %>
        <% end %>
        <section class="search-results" id="product-variant-header-results"></section>
      </div>
    </div>
      
    <div class="col-6 text-right">
      <div class="file-input-container d-inline-block mr-4">
        <span class="font-weight-bold mr-2">Update SKU Quantity</span>
        <%= form_tag import_admin_product_variants_path, multipart: true, class: "d-none" do %>
          <%= file_field_tag :file %>
        <% end %>
        <a class="file-input">Choose File</a>
      </div>

      <div class="dropdown">
        <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
          Export <%= show_svg("arrow.svg") %>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <a data-toggle="modal" data-target="#exportStatus">
            <div class="dropdown-item">Stock Status</div>
          </a>
          <a data-toggle="modal" data-target="#exportLocation">
            <div class="dropdown-item">Stock Locations</div>
          </a>
          <a href="<%= stock_admin_orders_path(format: "csv", report_type: "stock") %>">
            <div class="dropdown-item">Stock Details</div>
          </a>
          <a href="<%= report_admin_orders_path(format: "csv", report_type: "overstock") %>">
            <div class="dropdown-item">Overstock</div>
          </a>
          <a href="<%= report_admin_orders_path(format: "csv", report_type: "price_carton") %>">
            <div class="dropdown-item">Price / Carton</div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
    
  <div class="col-12">
    <a class="underline-hover <%= "active" if ((params[:action] == "stock" || params[:action] == "emca_stock") && params[:return_status] == nil && params[:type] == nil) || controller.controller_name == "product_variants" %>" href="<%= current_store == "us" ? stock_admin_orders_path : emca_stock_admin_orders_path %>">
      Current
    </a>
    <a class="underline-hover <%= "active" if (params[:action] == "stock" || params[:action] == "emca_stock") && params[:type] == "swatch" %>" href="<%= current_store == "us" ? stock_admin_orders_path(type: "swatch") : emca_stock_admin_orders_path(type: "swatch") %>">
      Swatch
    </a>
    <a class="underline-hover <%= "active" if (params[:action] == "stock" || params[:action] == "emca_stock") && params[:return_status] == "overstock" %>" href="<%= current_store == "us" ? stock_admin_orders_path(return_status: "overstock") : emca_stock_admin_orders_path(return_status: "overstock") %>">
      Overstock
    </a>
    <a class="underline-hover <%= "active" if (params[:action] == "stock" || params[:action] == "emca_stock") && params[:return_status] == "marketplace" %>" href="<%= current_store == "us" ? stock_admin_orders_path(return_status: "marketplace") : emca_stock_admin_orders_path(return_status: "marketplace") %>">
      Marketplace
    </a>
    <a class="underline-hover <%= "active" if params[:action] == "alert" %>" href="<%= alert_admin_orders_path %>">
      Low Inventory
    </a>
    <% if current_user.user_group.inventory_admin_cru %>
      <span class="mr-4" style="border-left: solid 2px var(--blue)"></span>
      <a class="underline-hover <%= "active" if controller.controller_name == "products" %>" href="<%= current_store == "us" ? admin_products_path : emca_products_admin_products_path %>">
        Parent Products
      </a>
    <% end %>
  </div>
</div>

<div class="modal" id="exportStatus" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_admin_orders_path(format: "csv", report_type: "inventory") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Export Status</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-6 mb-3">
              <label>Store</label>
              <%= select_tag :store, options_for_select({"EMUS" => "us", "EMCA" => "canada"}), { include_blank: true, class: "form-control" } %>
            </div>
            <div class="col-6 mb-3">
              <label>Status</label>
              <%= select_tag :stock, options_for_select(["Inventory", "Non-Inventory", "Discontinued", "Deactivated"]), { include_blank: true, class: "form-control" } %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal" id="exportLocation" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag stock_admin_orders_path(format: "csv", report_type: "location") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-3 mb-3">
              <label>Enter Date</label>
              <%= date_field_tag :date, "", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>