<div class="row pb-3 position-fixed w-100 bg-white" style="z-index: 2; left: 15px; right: 15px">
  <div class="col-12">
    <p class="header1">Hold</p>
  </div>
  <div class="col-12">
    <span class="underline-hover <%= "active" if params[:action] == "hold_request" || (@order.present? && @order.status == "hold_request") %>">
      Hold Requests (<%= Order.where(status: :hold_request, store: current_store).count %>)
    </span>
    <a class="underline-hover <%= "active" if params[:action] == "hold_confirmed" || (@order.present? && @order.status == "hold_confirmed") %>" href="<%= hold_confirmed_admin_orders_path %>">
      Hold Confirmed (<%= Order.where(status: :hold_confirmed, store: current_store).count %>)
    </a>
  </div>
</div>