<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 30%">Description</th>
        <th style="width: 20%">SKU</th>
        <th style="width: 25%">On Hand</th>
        <th style="width: 25%">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @returns.each do |ret| %>
        <tr>
          <td>
            <% if ret.line_item_id.present? %>
              <%= ret&.line_item&.title %>
            <% elsif ret.product_variant_id.present? %>
              <%= ret&.product_variant&.title %>
            <% end %>
          </td>
          <td>
            <% if ret.line_item_id.present? %>
              <%= "WS-" + ret&.line_item&.sku&.upcase %>
            <% elsif ret.product_variant_id.present? %>
              <%= ret&.product_variant&.sku&.upcase %>
            <% end %>
          </td>
          <td>
            <% if ret.line_item_id.present? %>
              <%= ret.quantity %>
            <% elsif ret.product_variant_id.present? %>
              <input type="number" value="<%= ret.quantity %>" class="form-control w-25" data-ret-id="<%= ret.id %>" data-reflex="change->OrderReflex#update_overstock_quantity">
            <% end %>
          </td>
          <td>
            <% if ret.line_item_id.present? %>
              <%= ret&.line_item&.price %>
            <% elsif ret.product_variant_id.present? %>
              <input type="number" value="<%= ret&.product_variant&.price %>" class="form-control w-25" data-product-variant-id="<%= ret&.product_variant_id %>" data-reflex="change->OrderReflex#update_overstock_price">
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>