<style type="text/css">
  input[type="checkbox"]:not(:checked) ~ table {
    visibility: hidden;
  }

  html { font-size: 18px; }
</style>

<% @shipping_details.each do |sp| %>
  <div class="printer-preview-content p-4" contenteditable="true" title="Click to edit text (changes will be printed but not saved)">
    <div class="row mb-4">
      <div class="col-4">
        <%= image_tag "logo-em-2.png", class: "img-fluid" %>
      </div>

      <div class="col-8 text-right">
        <h3 class="font-weight-normal">Packing Slip</h3>
        <h5>Order Date<span class="font-weight-normal"> <%= sp.order&.created_at&.to_date&.strftime("%B %d, %Y") %></span></h5>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <p><span class="mr-2">Order:</span><span class="h5 font-weight-bold"><%= sp.order&.name %></span></p>

        <p><span class="mr-2">Shipping Method:</span><span class="h5 font-weight-bold"><%= sp.order&.shipping_line&.title %></span></p>
      </div>

      <div class="col-6">
        <p class="font-weight-bold">
          <span class="font-weight-normal mr-2">Bill To:</span><span class="h5 font-weight-bold"><%= sp.order&.billing_address&.full_name&.titleize %></span><br>
          <%= sp.order&.billing_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %>, <%= sp.order&.billing_address&.city&.titleize %> <%= sp.order&.billing_address&.address2&.titleize %><br>
          <%= sp.order&.billing_address&.country %> <%= sp.order&.billing_address&.zip&.upcase %><br>
          Tel: <%= sp.order&.billing_address&.phone %>
        </p>
      </div>

      <div class="col-6">
        <p class="font-weight-bold">
          <span class="font-weight-normal mr-2">Ship To:</span><span class="h5 font-weight-bold"><%= sp.order&.shipping_address&.full_name&.titleize %></span><br>
          <%= sp.order&.shipping_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %>, <%= sp.order&.shipping_address&.city&.titleize %> <%= sp.order&.shipping_address&.address2&.titleize %><br>
          <%= sp.order&.shipping_address&.country %> <%= sp.order&.shipping_address&.zip&.upcase %><br>
          Tel: <%= sp.order&.shipping_address&.phone %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Incl.</th>
              <th style="width: 80%">Item Description</th>
              <th style="width: 10%">Qty</th>
            </tr>
          </thead>
          <tbody>
            <% sp.try(:line_items).each do |item| %>
              <tr>
                <td colspan=3>
                  <input type="checkbox" name="<%= sp.order&.name %>-<%= item&.sku&.upcase %>" style="height: 25px; width: 25px; margin: 25px 0;" checked>
                  <table class="table-borderless" style="width: 90%; float: right">
                    <tr style="background: none">
                      <td style="width: 90%">
                        <span class="h5 font-weight-bold"><%= item&.sku&.upcase %></span><br>
                        <span><%= item&.title %></span>
                      </td>
                      <td style="width: 10%">
                        <span>x <%= item&.quantity %></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <p style="page-break-before: always"></p>

  <div class="printer-preview-content p-4" contenteditable="true" title="Click to edit text (changes will be printed but not saved)">
    <div class="row mb-4">
      <div class="col-4">
        <%= image_tag "logo-em-2.png", class: "img-fluid" %>
      </div>

      <div class="col-8 text-right">
        <h3 class="font-weight-normal">Packing Slip</h3>
        <h5>Order Date<span class="font-weight-normal"> <%= sp.order&.created_at&.to_date&.strftime("%B %d, %Y") %></span></h5>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <p><span class="mr-2">Order:</span><span class="h5 font-weight-bold"><%= sp.order&.name %></span></p>

        <p><span class="mr-2">Shipping Method:</span><span class="h5 font-weight-bold"><%= sp.order&.shipping_line&.title %></span></p>
      </div>

      <div class="col-6">
        <p class="font-weight-bold">
          <span class="font-weight-normal mr-2">Bill To:</span><span class="h5 font-weight-bold"><%= sp.order&.billing_address&.full_name&.titleize %></span><br>
          <%= sp.order&.billing_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %>, <%= sp.order&.billing_address&.city&.titleize %> <%= sp.order&.billing_address&.address2&.titleize %><br>
          <%= sp.order&.billing_address&.country %> <%= sp.order&.billing_address&.zip&.upcase %><br>
          Tel: <%= sp.order&.billing_address&.phone %>
        </p>
      </div>

      <div class="col-6">
        <p class="font-weight-bold">
          <span class="font-weight-normal mr-2">Ship To:</span><span class="h5 font-weight-bold"><%= sp.order&.shipping_address&.full_name&.titleize %></span><br>
          <%= sp.order&.shipping_address&.address1.tr('[]','').tr('" "', ' ')&.titleize %>, <%= sp.order&.shipping_address&.city&.titleize %> <%= sp.order&.shipping_address&.address2&.titleize %><br>
          <%= sp.order&.shipping_address&.country %> <%= sp.order&.shipping_address&.zip&.upcase %><br>
          Tel: <%= sp.order&.shipping_address&.phone %>
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Incl.</th>
              <th style="width: 80%">Item Description</th>
              <th style="width: 10%">Qty</th>
            </tr>
          </thead>
          <tbody>
            <% sp.try(:line_items).each do |item| %>
              <tr>
                <td colspan=3>
                  <input type="checkbox" name="<%= sp.order&.name %>-<%= item&.sku&.upcase %>" style="height: 25px; width: 25px; margin: 25px 0;" checked>
                  <table class="table-borderless" style="width: 90%; float: right">
                    <tr style="background: none">
                      <td style="width: 90%">
                        <span class="h5 font-weight-bold"><%= item&.sku&.upcase %></span><br>
                        <span><%= item&.title %></span>
                      </td>
                      <td style="width: 10%">
                        <span>x <%= item&.quantity %></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="font-weight-bold">Packing Instructions</p>
        <ul>
          <% sp&.pallet_shippings.each_with_index do |ps, index| %>
            <li>
              <% if ps.pallet_type == nil %>
                Pack #<%= index + 1 %> (Pallet):
              <% else %>
                Pack #<%= index + 1 %> (<%= ps.pallet_type.titleize %>):
              <% end %>
              L <%= ps.length.to_s + "in." if ps.length.present? %> x W <%= ps.width.to_s + "in." if ps.width.present? %> x H <%= ps.height.to_s + "in." if ps.height.present? %>
            </li>
          <% end %>

          <% sp.order.try(:line_items).each do |item| %>
            <% if item.try(:audits).present? && item.try(:audits).last.try(:audited_changes).keys == ['order_id'] %>
              <li><%= item.title %> (<%= item&.sku&.upcase %>) label change from <%= Order.find(item.audits.last.audited_changes.values[0][0]).try(:name) %></li>
            <% end %>
          <% end %>

          <% if sp.order.try(:status) == "hold_confirmed" %>
            <li>Hold until <%= sp.order.try(:hold_until_date).strftime('%B %d, %Y') %></li>
          <% end %>

          <% if sp&.local_pickup == "1" %>
            <li>Local Pickup</li>
          <% end %>

          <% if sp&.remote == "1" %>
            <li>Remote Shipping</li>
          <% end %>
        </ul>
      </div>

      <div class="col-12">
        <p class="font-weight-bold">Shipping Notes</p>
        <span style="padding-inline-start: 30px"><%= sp.try(:shipping_notes) %></span>
      </div>
    </div>
  </div>

  <% unless sp == @shipping_details.last %>
    <p style="page-break-before: always"></p>
  <% end %>
<% end %>

<script type='text/javascript'>
  $("input[type='checkbox']").on('click', function() {
    var name = this.name;
    var check = this.checked;

    $("input[type='checkbox']").each(function() {
      if (this.name == name) {
        $(this).prop('checked', check);
      }
    });
	}) 
</script>