<div class="row">
  <div class="col-12 mb-4">
    <h5>Inventory Report</h5>
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">Start Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_start_date - 8.hours).to_date %>" data-end-date="<%= @report_end_date %>" data-reflex="change->OrderReflex#update_report_start_date">
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">End Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_end_date - 8.hours).to_date %>" data-start_date="<%= @report_start_date %>" data-reflex="change->OrderReflex#update_report_end_date">
  </div>
  <div class="col-2 mb-4">
    <div class="drop-toggle w-100">
      <%= @report_label %>
      <i class="dripicons-chevron-down" style="left: auto; right: 25px"></i>
    </div>
    <div class="drop-menu" style="width: calc(100% - 30px)">
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_today">Today</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_7_days">Past 7 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_30_days">Past 30 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_90_days">Past 90 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_year_to_date">Year To Date</div>
    </div>
  </div>
  <div class="col-4 mb-4">
    <%= link_to "Export", report_admin_orders_path(format: "csv", report_type: "inventory", report_start_date: @report_start_date, report_end_date: @report_end_date), class: "btn btn-primary" %>
  </div>
  <% @product_variants_a = ProductVariant.eager_load(:purchase_items).joins(:product).where("(product_variants.store LIKE ?) and (product_variants.title NOT LIKE ?) and (product_variants.sku NOT LIKE ?) and (product_variants.sku NOT LIKE ?) and (product_variants.sku NOT LIKE ?) and (product_variants.sku NOT LIKE ?)", current_store, "Default Title", "%#{"warranty"}%", "WGS001", "HLD001", "HFE001").order(created_at: :desc).where("(product_variants.created_at > ?) and (product_variants.created_at < ?)", @report_start_date, @report_end_date) %>
  <% total_quantity = 0 %>
  <% total_not_ready = 0 %>
  <% total_in_production = 0 %>
  <% total_container_ready = 0 %>
  <% total_enroute = 0 %>
  <% @product_variants_a.each do |variant| %>
    <% total_quantity = total_quantity + variant.inventory_quantity %>
    <% total_not_ready = total_not_ready + variant.purchase_items.where(status: :not_started).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %>
    <% total_in_production = total_in_production + variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %>
    <% total_container_ready = variant.purchase_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %>
    <%- variant&.purchase_items.where(line_item_id: nil).each do |item| -%>
      <%- if item.containers.present? -%>
        <%- item.containers.each do |cant| -%>
          <%- total_enroute = total_enroute + item.try(:quantity).to_i if !(cant.status == "arrived") -%>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  <% end %>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= total_quantity %></h3>
        <span>Total Products</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= total_not_ready %></h3>
        <span>Total Not Ready</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= total_in_production %></h3>
        <span>Total In Production</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= total_container_ready %></h3>
        <span>Total Container Ready</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= total_enroute %></h3>
        <span>Total Enroute</span>
      </div>
    </div>
  </div>
</div>