<div class="w-100 mb-4">
  <% if params[:c] == "this_month" %>
    <h5><%= Date.today.year %> THIS MONTH DATA</h5>
  <% elsif params[:c] == "90_days" %>
    <h5><%= Date.today.year %> 90 DAYS DATA</h5>
  <% elsif params[:c] == "current" %>
    <h5><%= Date.today.year %> YEARLY DATA</h5>
  <% elsif params[:c] == "previous" %>
    <h5><%= Date.today.year - 1 %> YEARLY DATA</h5>
  <% end %>
</div>
<div class="row">
  <div class="col-6 mb-4">
    <% if params[:c] == "this_month" || params[:c] == "90_days" %>
      <h5>ORDERS PER DAY</h5>
    <% else %>
      <h5>ORDERS PER MONTH</h5>
    <% end %>
    <%= line_chart @d1, curve: false %>
  </div>

  <div class="col-6 mb-4">
    <% if params[:c] == "this_month" || params[:c] == "90_days" %>
      <h5>SALES PER DAY</h5>
    <% else %>
      <h5>SALES PER MONTH</h5>
    <% end %>
    <%= line_chart @d2, prefix: "$", curve: false %>
  </div>
</div>