<div class="row">
  <div class="col-12 mb-4">
    <h5>Customer Order Report</h5>
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">Start Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_start_date - 8.hours).to_date %>" data-end-date="<%= @report_end_date %>" data-reflex="change->OrderReflex#update_report_start_date">
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">End Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_end_date - 8.hours).to_date %>" data-start_date="<%= @report_start_date %>" data-reflex="change->OrderReflex#update_report_end_date">
  </div>
  <div class="col-2 mb-4">
    <div class="drop-toggle w-100">
      <%= @report_label %>
      <i class="dripicons-chevron-down" style="left: auto; right: 25px"></i>
    </div>
    <div class="drop-menu" style="width: calc(100% - 30px)">
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_today">Today</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_7_days">Past 7 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_30_days">Past 30 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_90_days">Past 90 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_year_to_date">Year To Date</div>
    </div>
  </div>
  <div class="col-4 mb-4">
    <%= link_to "Export", report_admin_orders_path(format: "csv", report_type: "order", report_start_date: @report_start_date, report_end_date: @report_end_date), class: "btn btn-primary" %>
  </div>
  <% orders_show = Order.eager_load(:customer,:shipping_details,:shipping_line).where(store: current_store).order(created_at: :desc).where("(orders.created_at > ?) and (orders.created_at < ?)", @report_start_date, @report_end_date) %>
  <% order_total = 0 %>
  <% product_not_ready = 0 %>
  <% product_in_production = 0 %>
  <% product_enroute = 0 %>
  <% product_ready = 0 %>
  <% product_complete = 0 %>
  <% product_sale = 0 %>
  <% shipping_cost = 0 %>
  <% tax_cost = 0 %>
  <% discount = 0 %>
  <% refund = 0 %>
  <% order_not_ready = 0 %>
  <% order_in_progress = 0 %>
  <% order_partial_shipped = 0 %>
  <% order_shipped = 0 %>
  <% order_cancel_request = 0 %>
  <% order_cancel_confirmed = 0 %>
  <% order_hold_request = 0 %>
  <% order_hold_confirmed = 0 %>
  <% orders_show.each do |order| %>
    <% order_total += order.line_items.count %>
    <% order.line_items.each do |item| %>
      <% if item.status == "not_started" %>
        <% product_not_ready += 1 %>
      <% elsif item.status == "in_production" %>
        <% product_in_production += 1 %>
      <% elsif item.status == "en_route" %>
        <% product_enroute += 1 %>
      <% elsif item.status == "ready" %>
        <% product_ready += 1 %>
      <% elsif item.status == "shipped" %>
        <% product_complete += 1 %>
      <% end %>
      <% product_sale += mul(item&.price, item&.quantity) %>
    <% end %>
    <% if order.shipping_line.present? %>
      <% shipping_cost += order&.shipping_line&.price.to_f %>
    <% end %>
    <% if order.tax_lines.present? %>
      <% tax_cost += order&.tax_lines['price'].to_f %>
    <% end %>
    <% if order.discount_codes.present? %>
      <% discount += order&.discount_codes["discount_amount"].to_f.abs %>
    <% end %>
    <% if order.order_adjustments.present? %>
      <% order.order_adjustments.each do |adj| %>
        <% refund = refund + (adj.amount).to_f %>
      <% end %>
    <% end %>
    
    <% case order.try(:status) %>
      <% when "new_order" %>
        <% order_not_ready += 1 %>

      <% when "in_progress" %>
        <% if order.shipping_details.all? {|ship| ship.status == 'shipped'} %>
          <% order_shipped += 1 %>
        <% elsif order.shipping_details.any? {|ship| ship.status == 'shipped'} %>
          <% order_partial_shipped += 1 %>
        <% else %>
          <% order_in_progress += 1 %>
        <% end %>

      <% when "cancel_request" %>
        <% order_cancel_request += 1 %>

      <% when "cancel_confirmed" %>
        <% order_cancel_confirmed += 1 %>

      <% when "hold_request" %>
        <% order_hold_request += 1 %>

      <% when "hold_confirmed" %>
        <% order_hold_confirmed += 1 %>
    <% end %>
  <% end %>
  <% order_amount = product_sale - discount + shipping_cost + tax_cost + refund %>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_total %></h3>
        <span>Customer Orders</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= product_not_ready %></h3>
        <span>Product Not Ready</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= product_in_production %></h3>
        <span>Product In Production</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= product_enroute %></h3>
        <span>Product Enroute</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= product_ready %></h3>
        <span>Product Ready</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= product_complete %></h3>
        <span>Product Complete</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(product_sale, precise: 2) %></h3>
        <span>Product Sale</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(shipping_cost, precise: 2) %></h3>
        <span>Shipping Cost</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(tax_cost, precise: 2) %></h3>
        <span>Tax Cost</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(order_amount, preciese: 2) %></h3>
        <span>Order Sale</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_not_ready %></h3>
        <span>Order Not Ready</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_in_progress %></h3>
        <span>Order In Progress</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_partial_shipped %></h3>
        <span>Order Partal Shipped</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_shipped %></h3>
        <span>Order Shipped</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_cancel_request %></h3>
        <span>Order Cancel Request</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_cancel_confirmed %></h3>
        <span>Order Cancel Confirmed</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_hold_request %></h3>
        <span>Order Hold Request</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= order_hold_confirmed %></h3>
        <span>Order Hold Confirmed</span>
      </div>
    </div>
  </div>
</div>