<div class="row">
  <div class="col-12 mb-4">
    <h5>Claim Report</h5>
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">Start Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_start_date - 8.hours).to_date %>" data-end-date="<%= @report_end_date %>" data-reflex="change->OrderReflex#update_report_start_date">
  </div>
  <div class="col-3 mb-4">
    <label class="mr-2">End Date</label>
    <input type="date" class="form-control d-inline-block" style="width: calc(100% - 60px - 0.5rem)" value="<%= (@report_end_date - 8.hours).to_date %>" data-start_date="<%= @report_start_date %>" data-reflex="change->OrderReflex#update_report_end_date">
  </div>
  <div class="col-2 mb-4">
    <div class="drop-toggle w-100">
      <%= @report_label %>
      <i class="dripicons-chevron-down" style="left: auto; right: 25px"></i>
    </div>
    <div class="drop-menu" style="width: calc(100% - 30px)">
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_today">Today</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_7_days">Past 7 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_30_days">Past 30 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_90_days">Past 90 Days</div>
      <div class="drop-item" data-reflex="click->OrderReflex#update_report_year_to_date">Year To Date</div>
    </div>
  </div>
  <div class="col-4 mb-4">
    <%= link_to "Export", report_admin_orders_path(format: "csv", report_type: "issue", report_start_date: @report_start_date, report_end_date: @report_end_date), class: "btn btn-primary" %>
  </div>
  <% issues_show = Issue.eager_load(:order).joins(:order).where(orders: { store: current_store }).where.not(status: "closed").where("(issues.created_at > ?) and (issues.created_at < ?)", @report_start_date, @report_end_date) %>  
  <% shipping_amount = 0 %>
  <% resolution_amount = 0 %>
  <% issues_show.each do |issue| %>
    <% issue.issue_details.each do |issue_detail| %>
			<% if issue_detail.main_type == "Shipping Charges" %>
        <% shipping_amount += issue_detail&.amount&.to_f if issue_detail.amount.present? %>
      <% elsif issue_detail.main_type == "Resolution Type" %>
        <% resolution_amount += issue_detail&.amount&.to_f if issue_detail.amount.present? %>
			<% end %>
		<% end %>
  <% end %>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= issues_show.count %></h3>
        <span>Open Claims</span>
      </div>
    </div>
  </div>
  <% Supplier.all.each do |supplier| %>
    <div class="col-2 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="fc-red-clay"><%= issues_show.where(supplier_id: supplier.id).count %></h3>
          <span><%= supplier.name %> Claims</span>
        </div>
      </div>
    </div>
  <% end %>
  <% Carrier.all.each do |carrier| %>
    <div class="col-2 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="fc-red-clay"><%= issues_show.where(carrier_id: carrier.id).count %></h3>
          <span><%= carrier.name %> Claims</span>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(shipping_amount, precise: 2) %></h3>
        <span>Shipping Amount</span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="fc-red-clay"><%= number_to_currency(resolution_amount, precise: 2) %></h3>
        <span>Resolution Amount</span>
      </div>
    </div>
  </div>
</div>