<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% unless @query == "" %>
        <% @orders&.each do |order| %>
          <tr>
            <td class="pl-5">
              <a href="
                <% if order.status == "pending_payment" %>
                  <% if order.created_at >= Date.today - 3.days && order.created_at < Date.today - 1.day %>
                    <%= pending_payment_section_admin_orders_path(pending_status: "1-3") %>
                  <% elsif order.created_at >= Date.today - 6.days && order.created_at < Date.today - 3.days %>
                    <%= pending_payment_section_admin_orders_path(pending_status: "4-6") %>
                  <% elsif order.created_at >= Date.today - 13.days && order.created_at < Date.today - 6.days %>
                    <%= pending_payment_section_admin_orders_path(pending_status: "7-13") %>
                  <% else %>
                    <%= pending_payment_section_admin_orders_path(pending_status: "14+") %>
                  <% end %>
                <% else %>
                  <%= edit_admin_order_path(order) %>
                <% end %>
              ">
                <span class="text-blue mr-2">
                  <%= order.name %>
                </span>
                <span class="text-light-grey">
                  in <%= order.status == "in_progress" ? order.shipping_details.first.status.titleize : order.status.titleize %>
                  <%= order&.customer&.full_name.present? ? "- " + order&.customer&.full_name&.titleize : "" %>
                </span>
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>