<div class="table-responsive" style="height: calc(80vh - 250px)">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 15%">Order Number</th>
        <th style="width: 20%">Customer Name</th>
        <th style="width: 20%">Customer Email</th>
        <th style="width: 40%">Linked Order</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <% unless @query == "" %>
        <% @orders&.each do |order| %>
          <tr>
            <td><%= order&.name %></td>
            <td><%= order&.customer&.full_name&.titleize %></td>
            <td><%= order&.customer&.email %></td>
            <td>
              <% if order.order_link.present? %>
                <% order.order_link.each do |link_id| %>
                  <span class="mr-4"><%=  Order.find_by(id: link_id).name %></span>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if Order.find_by(id: @current_order).present? %>
                <% unless Order.find_by(id: @current_order)&.order_link&.include?(order.id) %>
                  <button class="btn btn-primary btn-fit-content" data-reflex="click->OrderReflex#add_link_order" data-reflex-root="#link-order-list" data-current-order="<%= @current_order %>" data-new-order="<%= order.id %>">
                    Link
                  </button>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>