<div class="modal" id="sellModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:admin, @market_product], html: { class: "form-horizontal form-bordered" } do |f| %>
      <div class="modal-content">
        <div class="modal-header">        
          <span class="header2 modal-title">Market Product Sold</span>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-6 mb-3">
              <label>Sold Date</label>
              <%= f.date_field :sold_date, class: "form-control" %>
            </div>
            <div class="col-6 mb-3">
              <label>Sold Value</label>
              <%= f.number_field :sold_value, class: "form-control" %>
            </div>
            <div class="col-12 mb-3">
              <label>Notes</label>
              <%= f.text_area :notes, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>