<div class="table-responsive flex-auto">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th style="width: 12%">Order Number</th>
        <th style="width: 12%">Customer</th>
        <th style="width: 20%">SKU</th>
        <th style="width: 10%">Order Date</th>
        <th style="width: 10%">Shipped Date</th>
        <th style="width: 20%">Shipping Method</th>
        <th style="width: 16%">Carrier</th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_details = @shipping_details.where(status: 'shipped').where(shipped_date: (Time.now.at_beginning_of_week)..(Time.now.at_end_of_week)) %>
      <% @shipping_details.order(:shipped_date).where.not(orders: { status: ["cancel_request", "cancel_confirmed"] }).each do |shipping_detail| %>
        <tr>
          <td><%= link_to shipping_detail.order.name, edit_admin_order_path(shipping_detail.order, source: params[:ship_status]), data: { turbolinks: false } %></td>
          <td>
            <%= shipping_detail.order&.customer&.full_name&.titleize %>
            <% if shipping_detail.order&.customer&.risk_indicator.present? %>
              <br>
              <% case shipping_detail.order&.customer&.risk_indicator&.risk_type.downcase %>
                <% when "chargeback" %>
                  <span class="badge badge-outline-black">
                    Chargeback
                  </span>
                <% when "suspicious" %>
                  <span class="badge badge-outline-yellow">
                    Suspicious
                  </span>
                <% when "fraud" %>
                  <span class="badge badge-outline-red">
                    Fraud
                  </span>
              <% end %>
            <% end %>
          </td>
          <td><%= shipping_detail&.line_items.pluck(:sku)&.flatten.join(", ").upcase if shipping_detail.line_items.present? %></td>
          <td><%= shipping_detail.order.created_at.to_date.strftime("%B %d, %Y") %></td>
          <td><%= shipping_detail&.shipped_date&.to_date&.strftime("%B %d, %Y") %></td>
          <td>
            <% if shipping_detail.order&.shipping_line&.title&.downcase&.include? "white glove" or shipping_detail.white_glove_delivery %>
              <span class="badge badge-outline-black">White Glove</span>
            <% elsif ["curbside", "contactless"].any? { |w| shipping_detail.order&.shipping_line&.title&.downcase&.include? w } %>
              <span class="badge badge-outline-green">Curbside Delivery</span>
            <% elsif shipping_detail.order&.shipping_line&.title&.downcase&.include? "admin shipping method - free" %>
              <span class="badge badge-outline-navy">Admin - Free Ship</span>
            <% elsif shipping_detail.order&.shipping_line&.title&.downcase&.include? "local" %>
              <span class="badge badge-outline-yellow">Local Pickup</span>
            <% else %>
              <%= shipping_detail.order&.shipping_line&.title %>
            <% end %>
            <% if shipping_detail.order.line_items.joins(:variant).where(variant: { oversized: true }).present? %>
              <span class="badge badge-outline-red">OS</span>
            <% end %>
            <% if shipping_detail.local_pickup == "1" %>
              <span class="bg-blue text-white ml-2 px-1 font-weight-bold" title="Local Delivery" style="border-radius: 3px; cursor: default">L</span>
            <% end %>
            <% if shipping_detail.remote == "1" %>
              <span class="bg-blue text-white ml-2 px-1 font-weight-bold" title="Remote Shipping" style="border-radius: 3px; cursor: default">R</span>
            <% end %>
            <% if shipping_detail.upgrade == "pending" %>
              <span class="bg-yellow text-white uil-upload-alt ml-2 px-1 font-weight-bold" title="Upgrade Pending" style="border-radius: 3px"></span>
            <% elsif shipping_detail.upgrade == "accepted" %>
              <span class="bg-green text-white uil-upload-alt ml-2 px-1 font-weight-bold" title="Upgrade Accepted" style="border-radius: 3px"></span>
            <% elsif shipping_detail.upgrade == "declined" %>
              <span class="bg-red text-white uil-upload-alt ml-2 px-1 font-weight-bold" title="Upgrade Declined" style="border-radius: 3px"></span>
            <% end %>
          </td>
          <td><%= shipping_detail&.carrier&.name&.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>