<div id="map" class="map-custom"></div>
<style type="text/css">
  #map{
    height: 350px;
  }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Rtn73S4SDOwcSCzra4xXNFxrYnoW32o"></script>


<!-- AIzaSyAZOrMXHg_A2aPhfynZE85gwtpVeNtRhqk -->

<script type="text/javascript">
  // When the window has finished loading create our google map below
  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    var mapOptions = {
      zoom: 16,
      center: new google.maps.LatLng(<%= @order.shipping_address.latitude %>, <%= @order.shipping_address.longitude %>)
    };

      var mapElement = document.getElementById('map');

      var map = new google.maps.Map(mapElement, mapOptions);

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= @order.shipping_address.latitude %>, <%= @order.shipping_address.longitude %>),
        map: map,
        title: '<%= @order.shipping_address.complete_address %>'
      });
  }
</script>