<% shipping_count = @shipping_details.eager_load(:order).joins(:order).where(status: params[:ship_status]).where.not(orders: { order_type: "SW" }).eager_load(order: %i[shipping_address]) %>
<% if current_store == "us" %>
  <div class="dropdown <%= "show" if @state_filter.present? %>">
    <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
      Filter: State <%= show_svg("arrow.svg") %>
    </div>
    <div class="dropdown-menu <%= "show" if @state_filter.present? %>">
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Alabama,alabama,AL,al" <%= "checked" if @state_filter.split(",").include? "Alabama" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Alabama (<%= shipping_count.where(shipping_addresses: { address2: ["Alabama", "alabama", "AL", "al"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Alabama", "alabama", "AL", "al"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Alaska,alaska,AK,ak" <%= "checked" if @state_filter.split(",").include? "Alaska" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Alaska (<%= shipping_count.where(shipping_addresses: { address2: ["Alaska", "alaska", "AK", "ak"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Alaska", "alaska", "AK", "ak"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="American Samoa,american samoa,AS,as" <%= "checked" if @state_filter.split(",").include? "American Samoa" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>American Samoa (<%= shipping_count.where(shipping_addresses: { address2: ["American Samoa", "american samoa", "AS", "as"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["American Samoa", "american samoa", "AS", "as"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Arizona,arizona,AZ,az" <%= "checked" if @state_filter.split(",").include? "Arizona" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Arizona (<%= shipping_count.where(shipping_addresses: { address2: ["Arizona", "arizona", "AZ", "az"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Arizona", "arizona", "AZ", "az"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Arkansas,arkansas,AR,ar" <%= "checked" if @state_filter.split(",").include? "Arkansas" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Arkansas (<%= shipping_count.where(shipping_addresses: { address2: ["Arkansas", "arkansas", "AR", "ar"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Arkansas", "arkansas", "AR", "ar"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="California,california,CA,ca" <%= "checked" if @state_filter.split(",").include? "California" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>California (<%= shipping_count.where(shipping_addresses: { address2: ["California", "california", "CA", "ca"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["California", "california", "CA", "ca"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Colorado,colorado,CO,co" <%= "checked" if @state_filter.split(",").include? "Colorado" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Colorado (<%= shipping_count.where(shipping_addresses: { address2: ["Colorado", "colorado", "CO", "co"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Colorado", "colorado", "CO", "co"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Connecticut,connecticut,CT,ct" <%= "checked" if @state_filter.split(",").include? "Connecticut" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Connecticut (<%= shipping_count.where(shipping_addresses: { address2: ["Connecticut", "connecticut", "CT", "ct"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Connecticut", "connecticut", "CT", "ct"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Delaware,delaware,DE,de" <%= "checked" if @state_filter.split(",").include? "Delaware" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Delaware (<%= shipping_count.where(shipping_addresses: { address2: ["Delaware", "delaware", "DE", "de"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Delaware", "delaware", "DE", "de"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="District of Columbia,district of columbia,DC,dc" <%= "checked" if @state_filter.split(",").include? "District of Columbia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>District of Columbia (<%= shipping_count.where(shipping_addresses: { address2: ["District of Columbia", "district of columbia", "DC", "dc"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["District of Columbia", "district of columbia", "DC", "dc"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Florida,florida,FL,fl" <%= "checked" if @state_filter.split(",").include? "Florida" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Florida (<%= shipping_count.where(shipping_addresses: { address2: ["Florida", "florida", "FL", "fl"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Florida", "florida", "FL", "fl"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Georgia,georgia,GA,ga" <%= "checked" if @state_filter.split(",").include? "Georgia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Georgia (<%= shipping_count.where(shipping_addresses: { address2: ["Georgia", "georgia", "GA", "ga"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Georgia", "georgia", "GA", "ga"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Guam,guam,GU,gu" <%= "checked" if @state_filter.split(",").include? "Guam" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Guam (<%= shipping_count.where(shipping_addresses: { address2: ["Guam", "guam", "GU", "gu"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Guam", "guam", "GU", "gu"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Hawaii,hawaii,HI,hi" <%= "checked" if @state_filter.split(",").include? "Hawaii" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Hawaii (<%= shipping_count.where(shipping_addresses: { address2: ["Hawaii", "hawaii", "HI", "hi"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Hawaii", "hawaii", "HI", "hi"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Idaho,idaho,ID,id" <%= "checked" if @state_filter.split(",").include? "Idaho" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Idaho (<%= shipping_count.where(shipping_addresses: { address2: ["Idaho", "idaho", "ID", "id"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Idaho", "idaho", "ID", "id"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Illinois,illinois,IL,il" <%= "checked" if @state_filter.split(",").include? "Illinois" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Illinois (<%= shipping_count.where(shipping_addresses: { address2: ["Illinois", "illinois", "IL", "il"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Illinois", "illinois", "IL", "il"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Indiana,indiana,IN,in" <%= "checked" if @state_filter.split(",").include? "Indiana" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Indiana (<%= shipping_count.where(shipping_addresses: { address2: ["Indiana", "indiana", "IN", "in"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Indiana", "indiana", "IN", "in"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Iowa,iowa,IA,ia" <%= "checked" if @state_filter.split(",").include? "Iowa" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Iowa (<%= shipping_count.where(shipping_addresses: { address2: ["Iowa", "iowa", "IA", "ia"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Iowa", "iowa", "IA", "ia"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Kansas,kansas,KS,ks" <%= "checked" if @state_filter.split(",").include? "Kansas" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Kansas (<%= shipping_count.where(shipping_addresses: { address2: ["Kansas", "kansas", "KS", "ks"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Kansas", "kansas", "KS", "ks"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Kentucky,kentucky,KY,ky" <%= "checked" if @state_filter.split(",").include? "Kentucky" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Kentucky (<%= shipping_count.where(shipping_addresses: { address2: ["Kentucky", "kentucky", "KY", "ky"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Kentucky", "kentucky", "KY", "ky"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Louisiana,louisiana,LA,la" <%= "checked" if @state_filter.split(",").include? "Louisiana" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Louisiana (<%= shipping_count.where(shipping_addresses: { address2: ["Louisiana", "louisiana", "LA", "la"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Louisiana", "louisiana", "LA", "la"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Maine,maine,ME,me" <%= "checked" if @state_filter.split(",").include? "Maine" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Maine (<%= shipping_count.where(shipping_addresses: { address2: ["Maine", "maine", "ME", "me"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Maine", "maine", "ME", "me"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Maryland,maryland,MD,md" <%= "checked" if @state_filter.split(",").include? "Maryland" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Maryland (<%= shipping_count.where(shipping_addresses: { address2: ["Maryland", "maryland", "MD", "md"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Maryland", "maryland", "MD", "md"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Massachusetts,massachusetts,MA,ma" <%= "checked" if @state_filter.split(",").include? "Massachusetts" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Massachusetts (<%= shipping_count.where(shipping_addresses: { address2: ["Massachusetts", "massachusetts", "MA", "ma"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Massachusetts", "massachusetts", "MA", "ma"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Michigan,michigan,MI,mi" <%= "checked" if @state_filter.split(",").include? "Michigan" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Michigan (<%= shipping_count.where(shipping_addresses: { address2: ["Michigan", "michigan", "MI", "mi"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Michigan", "michigan", "MI", "mi"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Minnesota,minnesota,MN,mn" <%= "checked" if @state_filter.split(",").include? "Minnesota" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Minnesota (<%= shipping_count.where(shipping_addresses: { address2: ["Minnesota", "minnesota", "MN", "mn"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Minnesota", "minnesota", "MN", "mn"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Mississippi,mississippi,MS,ms" <%= "checked" if @state_filter.split(",").include? "Mississippi" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Mississippi (<%= shipping_count.where(shipping_addresses: { address2: ["Mississippi", "mississippi", "MS", "ms"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Mississippi", "mississippi", "MS", "ms"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Missouri,missouri,MO,mo" <%= "checked" if @state_filter.split(",").include? "Missouri" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Missouri (<%= shipping_count.where(shipping_addresses: { address2: ["Missouri", "missouri", "MO", "mo"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Missouri", "missouri", "MO", "mo"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Montana,montana,MT,mt" <%= "checked" if @state_filter.split(",").include? "Montana" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Montana (<%= shipping_count.where(shipping_addresses: { address2: ["Montana", "montana", "MT", "mt"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Montana", "montana", "MT", "mt"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Nebraska,nebraska,NE,ne" <%= "checked" if @state_filter.split(",").include? "Nebraska" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Nebraska (<%= shipping_count.where(shipping_addresses: { address2: ["Nebraska", "nebraska", "NE", "ne"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Nebraska", "nebraska", "NE", "ne"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Nevada,nevada,NV,nv" <%= "checked" if @state_filter.split(",").include? "Nevada" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Nevada (<%= shipping_count.where(shipping_addresses: { address2: ["Nevada", "nevada", "NV", "nv"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Nevada", "nevada", "NV", "nv"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="New Hampshire,new hampshire,NH,nh" <%= "checked" if @state_filter.split(",").include? "New Hampshire" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>New Hampshire (<%= shipping_count.where(shipping_addresses: { address2: ["New Hampshire", "new hampshire", "NH", "nh"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["New Hampshire", "new hampshire", "NH", "nh"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="New Jersey,new jersey,NJ,nj" <%= "checked" if @state_filter.split(",").include? "New Jersey" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>New Jersey (<%= shipping_count.where(shipping_addresses: { address2: ["New Jersey", "new jersey", "NJ", "nj"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["New Jersey", "new jersey", "NJ", "nj"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="New Mexico,new mexico,NM,nm" <%= "checked" if @state_filter.split(",").include? "New Mexico" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>New Mexico (<%= shipping_count.where(shipping_addresses: { address2: ["New Mexico", "new mexico", "NM", "nm"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["New Mexico", "new mexico", "NM", "nm"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="New York,new york,NY,ny" <%= "checked" if @state_filter.split(",").include? "New York" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>New York (<%= shipping_count.where(shipping_addresses: { address2: ["New York", "new york", "NY", "ny"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["New York", "new york", "NY", "ny"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="North Carolina,north carolina,NC,nc" <%= "checked" if @state_filter.split(",").include? "North Carolina" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>North Carolina (<%= shipping_count.where(shipping_addresses: { address2: ["North Carolina", "north carolina", "NC", "nc"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["North Carolina", "north carolina", "NC", "nc"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="North Dakota,north dakota,ND,nd" <%= "checked" if @state_filter.split(",").include? "North Dakota" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>North Dakota (<%= shipping_count.where(shipping_addresses: { address2: ["North Dakota", "north dakota", "ND", "nd"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["North Dakota", "north dakota", "ND", "nd"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Northern Mariana Islands,northern mariana islands,MP,mp" <%= "checked" if @state_filter.split(",").include? "Northern Mariana Islands" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Northern Mariana Islands (<%= shipping_count.where(shipping_addresses: { address2: ["Northern Mariana Islands", "northern mariana islands", "MP", "mp"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Northern Mariana Islands", "northern mariana islands", "MP", "mp"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Ohio,ohio,OH,oh" <%= "checked" if @state_filter.split(",").include? "Ohio" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Ohio (<%= shipping_count.where(shipping_addresses: { address2: ["Ohio", "ohio", "OH", "oh"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Ohio", "ohio", "OH", "oh"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Oklahoma,oklahoma,OK,ok" <%= "checked" if @state_filter.split(",").include? "Oklahoma" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Oklahoma (<%= shipping_count.where(shipping_addresses: { address2: ["Oklahoma", "oklahoma", "OK", "ok"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Oklahoma", "oklahoma", "OK", "ok"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Oregon,oregon,OR,or" <%= "checked" if @state_filter.split(",").include? "Oregon" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Oregon (<%= shipping_count.where(shipping_addresses: { address2: ["Oregon", "oregon", "OR", "or"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Oregon", "oregon", "OR", "or"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Pennsylvania,pennsylvania,PA,pa" <%= "checked" if @state_filter.split(",").include? "Pennsylvania" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Pennsylvania (<%= shipping_count.where(shipping_addresses: { address2: ["Pennsylvania", "pennsylvania", "PA", "pa"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Pennsylvania", "pennsylvania", "PA", "pa"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Puerto Rico,puerto rico,PR,pr" <%= "checked" if @state_filter.split(",").include? "Puerto Rico" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Puerto Rico (<%= shipping_count.where(shipping_addresses: { address2: ["Puerto Rico", "puerto rico", "PR", "pr"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Puerto Rico", "puerto rico", "PR", "pr"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Rhode Island,rhode island,RI,ri" <%= "checked" if @state_filter.split(",").include? "Rhode Island" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Rhode Island (<%= shipping_count.where(shipping_addresses: { address2: ["Rhode Island", "rhode island", "RI", "ri"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Rhode Island", "rhode island", "RI", "ri"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="South Carolina,south carolina,SC,sc" <%= "checked" if @state_filter.split(",").include? "South Carolina" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>South Carolina (<%= shipping_count.where(shipping_addresses: { address2: ["South Carolina", "south carolina", "SC", "sc"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["South Carolina", "south carolina", "SC", "sc"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="South Dakota,south dakota,SD,sd" <%= "checked" if @state_filter.split(",").include? "South Dakota" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>South Dakota (<%= shipping_count.where(shipping_addresses: { address2: ["South Dakota", "south dakota", "SD", "sd"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["South Dakota", "south dakota", "SD", "sd"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Tennessee,tennessee,TN,tn" <%= "checked" if @state_filter.split(",").include? "Tennessee" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Tennessee (<%= shipping_count.where(shipping_addresses: { address2: ["Tennessee", "tennessee", "TN", "tn"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Tennessee", "tennessee", "TN", "tn"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Texas,texas,TX,tx" <%= "checked" if @state_filter.split(",").include? "Texas" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Texas (<%= shipping_count.where(shipping_addresses: { address2: ["Texas", "texas", "TX", "tx"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Texas", "texas", "TX", "tx"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="US Virgin Islands,us virgin islands,VI,vi" <%= "checked" if @state_filter.split(",").include? "US Virgin Islands" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>US Virgin Islands (<%= shipping_count.where(shipping_addresses: { address2: ["US Virgin Islands", "us virgin islands", "VI", "vi"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["US Virgin Islands", "us virgin islands", "VI", "vi"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Utah,utah,UT,ut" <%= "checked" if @state_filter.split(",").include? "Utah" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Utah (<%= shipping_count.where(shipping_addresses: { address2: ["Utah", "utah", "UT", "ut"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Utah", "utah", "UT", "ut"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Vermont,vermont,VT,vt" <%= "checked" if @state_filter.split(",").include? "Vermont" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Vermont (<%= shipping_count.where(shipping_addresses: { address2: ["Vermont", "vermont", "VT", "vt"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Vermont", "vermont", "VT", "vt"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Virginia,virginia,VA,va" <%= "checked" if @state_filter.split(",").include? "Virginia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Virginia (<%= shipping_count.where(shipping_addresses: { address2: ["Virginia", "virginia", "VA", "va"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Virginia", "virginia", "VA", "va"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Washington,washington,WA,wa" <%= "checked" if @state_filter.split(",").include? "Washington" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Washington (<%= shipping_count.where(shipping_addresses: { address2: ["Washington", "washington", "WA", "wa"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Washington", "washington", "WA", "wa"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="West Virginia,west virginia,WV,wv" <%= "checked" if @state_filter.split(",").include? "West Virginia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>West Virginia (<%= shipping_count.where(shipping_addresses: { address2: ["West Virginia", "west virginia", "WV", "wv"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["West Virginia", "west virginia", "WV", "wv"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Wisconsin,wisconsin,WI,wi" <%= "checked" if @state_filter.split(",").include? "Wisconsin" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Wisconsin (<%= shipping_count.where(shipping_addresses: { address2: ["Wisconsin", "wisconsin", "WI", "wi"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Wisconsin", "wisconsin", "WI", "wi"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Wyoming,wyoming,WY,wy" <%= "checked" if @state_filter.split(",").include? "Wyoming" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Wyoming (<%= shipping_count.where(shipping_addresses: { address2: ["Wyoming", "wyoming", "WY", "wy"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Wyoming", "wyoming", "WY", "wy"] }).count : "-" %>)</span>
        </label>
      </div>
    </div>
  </div>

<% else %>
  <div class="dropdown <%= "show" if @state_filter.present? %>">
    <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
      Filter: Province <%= show_svg("arrow.svg") %>
    </div>
    <div class="dropdown-menu <%= "show" if @state_filter.present? %>">
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Alberta,alberta,AB,ab" <%= "checked" if @state_filter.split(",").include? "Alberta" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Alberta (<%= shipping_count.where(shipping_addresses: { address2: ["Alberta", "alberta", "AB", "ab"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Alberta", "alberta", "AB", "ab"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="British Columbia,british columbia,BC,bc" <%= "checked" if @state_filter.split(",").include? "British Columbia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>British Columbia (<%= shipping_count.where(shipping_addresses: { address2: ["British Columbia", "british columbia", "BC", "bc"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["British Columbia", "british columbia", "BC", "bc"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Manitoba,manitoba,MB,mb" <%= "checked" if @state_filter.split(",").include? "Manitoba" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Manitoba (<%= shipping_count.where(shipping_addresses: { address2: ["Manitoba", "manitoba", "MB", "mb"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Manitoba", "manitoba", "MB", "mb"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="New Brunswick,new brunswick,NB,nb" <%= "checked" if @state_filter.split(",").include? "New Brunswick" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>New Brunswick (<%= shipping_count.where(shipping_addresses: { address2: ["New Brunswick", "new brunswick", "NB", "nb"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["New Brunswick", "new brunswick", "NB", "nb"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Newfoundland and Labrador,newfoundland and laborador,NL,nl" <%= "checked" if @state_filter.split(",").include? "Newfoundland and Labrador" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Newfoundland and Labrador (<%= shipping_count.where(shipping_addresses: { address2: ["Newfoundland and Labrador", "newfoundland and laborador", "NL", "nl"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Newfoundland and Labrador", "newfoundland and laborador", "NL", "nl"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Northwest Territories,northwest territories,NT,nt" <%= "checked" if @state_filter.split(",").include? "Northwest Territories" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Northwest Territories (<%= shipping_count.where(shipping_addresses: { address2: ["Northwest Territories", "northwest territories", "NT", "nt"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Northwest Territories", "northwest territories", "NT", "nt"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Nova Scotia,nova scotia,NS,ns" <%= "checked" if @state_filter.split(",").include? "Nova Scotia" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Nova Scotia (<%= shipping_count.where(shipping_addresses: { address2: ["Nova Scotia", "nova scotia", "NS", "ns"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Nova Scotia", "nova scotia", "NS", "ns"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Nunavut,nunavut,NU,nu" <%= "checked" if @state_filter.split(",").include? "Nunavut" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Nunavut (<%= shipping_count.where(shipping_addresses: { address2: ["Nunavut", "nunavut", "NU", "nu"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Nunavut", "nunavut", "NU", "nu"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Ontario,ontario,ON,on" <%= "checked" if @state_filter.split(",").include? "Ontario" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Ontario (<%= shipping_count.where(shipping_addresses: { address2: ["Ontario", "ontario", "ON", "on"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Ontario", "ontario", "ON", "on"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Prince Edward Island,prince edward island,PE,pe" <%= "checked" if @state_filter.split(",").include? "Prince Edward Island" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Prince Edward Island (<%= shipping_count.where(shipping_addresses: { address2: ["Prince Edward Island", "prince edward island", "PE", "pe"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Prince Edward Island", "prince edward island", "PE", "pe"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Quebec,quebec,QC,qc" <%= "checked" if @state_filter.split(",").include? "Quebec" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Quebec (<%= shipping_count.where(shipping_addresses: { address2: ["Quebec", "quebec", "QC", "qc"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Quebec", "quebec", "QC", "qc"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Saskatchewan,saskatchewan,SK,sk" <%= "checked" if @state_filter.split(",").include? "Saskatchewan" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Saskatchewan (<%= shipping_count.where(shipping_addresses: { address2: ["Saskatchewan", "saskatchewan", "SK", "sk"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Saskatchewan", "saskatchewan", "SK", "sk"] }).count : "-" %>)</span>
        </label>
      </div>
      <div class="dropdown-item">
        <label class="checkbox checkbox-blue w-100">
          <input type="checkbox" data-reflex="change->OrderReflex#filter_state" data-state-filter="<%= @state_filter %>" data-ship-status="<%= params[:ship_status] %>" data-store="<%= current_store %>" data-state="Yukon,yukon,YT,yt" <%= "checked" if @state_filter.split(",").include? "Yukon" %>>
          <span class="checkmark position-relative d-inline-block mr-2" style="vertical-align: middle"></span>
          <span>Yukon (<%= shipping_count.where(shipping_addresses: { address2: ["Yukon", "yukon", "YT", "yt"] }).count > 0 ? shipping_count.where(shipping_addresses: { address2: ["Yukon", "yukon", "YT", "yt"] }).count : "-" %>)</span>
        </label>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".dropdown-item").on("click", function(e) {
    e.stopPropagation();
  });
</script>