<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container">
  <div class="row no-gutters">
    <div class="col-12 mb-3">
      <span class="header1">Order Tracking</span>
    </div>
    <div class="col-10 mb-3">
      <span class="header2">Order</span>
      <span class="header2 text-red-clay"><%= order.try(:[], "name") %></span>
      <span class="d-block d-md-none text-grey">Order Date: <%= order.try(:[], "created_at").to_date.strftime("%b %d, %Y") %></span>
      <div class="d-none d-md-inline-block border-bottom-warm-grey-thick mx-5" style="width: 50px;"></div>
      <span class="header2 d-none d-md-inline-block text-red-clay bg-red-clay-light rounded p-2">
        <%= order.try(:[], "status")&.humanize&.upcase %>
      </span><br class="d-none d-md-inline-block">
      <% if order.try(:[], "store") == "us" %>
        <a href="https://eternitymodern.com/sales/order/printInvoice/invoice_id/<%= order.try(:[], "shopify_order_id") %>">Invoice</a>
      <% elsif order.try(:[], "store") == "canada" %>
        <a href="https://eternitymodern.ca/sales/order/printInvoice/invoice_id/<%= order.try(:[], "shopify_order_id") %>">Invoice</a>
      <% end %>
    </div>

    <div class="d-none d-md-block col-2 text-right">
      <span class="font-weight-bold">Order Date: </span>
      <span><%= order.try(:[], "created_at").to_date.strftime("%b %d, %Y") %></span>
    </div>
  </div>

  <% order.try(:[], "shipping_details").sort_by {|a| a["created_at"]}.each_with_index do |sp, i| %>
    <div class="row no-gutters">
      <div class="col-12 mb-3">
        <span class="header2 font-weight-normal">Shipment</span>
        <span class="header2">
          #<%= order.try(:[], "name")[-7..-1] %>-<%= i + 1 %>
        </span>
      </div>
    </div>

    <% if order.try(:[], "kind_of_order") == "MTO" %>
      <% enroute = sp.try(:[], "line_items").present? && sp.try(:[], "line_items").all? { |li| li["status"] == "ready" || li["status"] == "shipped" || li["status"] == "en_route"} %>
      <% latest_enroute_date = Date.new(0) %>
      <% latest_arrival_date = Date.new(0) %>


      <% sp.try(:[], "line_items").each do |li| %>
        <% if li["container"].present? %>
          <% latest_enroute_date = [latest_enroute_date, li.try(:[], "container").try(:[], "shipping_date").to_date].compact.max unless li["container"]["shipping_date"].nil? %>
          <% latest_arrival_date = [latest_arrival_date, li.try(:[], "container").try(:[], "arriving_to_dc").to_date].compact.max unless li["container"]["arriving_to_dc"].nil? %>
               
        <% elsif li["purchase_items"].present? %>
          <% li["purchase_items"].each do |pi| %>
            <% if pi["containers"].present? %>
              <% latest_enroute_date = [latest_enroute_date, pi.try(:[], "containers").last.try(:[], "shipping_date").to_date].compact.max unless pi["containers"].last["shipping_date"].nil? %>
              <% latest_arrival_date = [latest_arrival_date, pi.try(:[], "containers").last.try(:[], "arriving_to_dc").to_date].compact.max unless pi["containers"].last["arriving_to_dc"].nil? %>
            <% end %>
          <% end %>
              
        <% elsif li["variant"].present? %>
          <% li["variant"]["purchase_items"].each do |pi| %>
            <% if pi["containers"].present? %>
              <% latest_enroute_date = [latest_enroute_date, pi.try(:[], "containers").last.try(:[], "shipping_date")&.to_date].compact.max unless pi["containers"].last["shipping_date"].nil? %>
              <% latest_arrival_date = [latest_arrival_date, pi.try(:[], "containers").last.try(:[], "arriving_to_dc")&.to_date].compact.max unless pi["containers"].last["arriving_to_dc"].nil? %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="row no-gutters d-none d-md-flex justify-content-between">
        <div class="col-12 mb-3">
          <div class="bg-warm-grey rounded-pill">
            <div class="bg-red-clay rounded-pill" style="height: 25px; <% if sp.try(:[], "status") == "shipped" %>width: 100%;<% elsif enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current %>width: 60%;<% elsif enroute && latest_enroute_date != Date.new(0) %>width: 40%;<% elsif order.try(:[], "created_at").to_date + 1.day <= Date.current %>width: 20%;<% else %>width: 25px<% end %>">
            </div>
          </div>
        </div>

        <div>
          <span class="text-red-clay">Order Received</span><br>

          <% if order.try(:[], "created_at").present? %>
            <span class="font-italic">
              <%= order.try(:[], "created_at").to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>

        <div>
          <span class="<%= order.try(:[], "created_at").to_date + 2.days <= Date.current ? "text-red-clay" : "text-warm-grey" %>">
            In Production
          </span><br>
          
          <% if order.try(:[], "created_at").to_date + 2.days <= Date.current %>
            <span class="font-italic">
              <%= (order.try(:[], "created_at").to_date + 2.days).strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>

        <div>
          <span class="<%= (enroute && latest_enroute_date != Date.new(0)) || sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            En-Route to Warehouse
          </span><br>
          
          <% if enroute && latest_enroute_date != Date.new(0) %>
            <span class="font-italic">
              <%= latest_enroute_date.to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>
          
        <div>
          <span class="<%= (enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current) || sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            Arriving to Distribution Center
          </span><br>

          <% if enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current %>
            <span class="font-italic">
              <%= (latest_arrival_date + 14.days).to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>

        <div>
          <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            Shipped
          </span><br>

          <% if sp.try(:[], "status") == "shipped" && sp.try(:[], "shipped_date").present? %>
            <span class="font-italic">
              <%= sp["shipped_date"].to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>
        
        <div>
          <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            Expected Delivery
          </span><br>

          <% if sp.try(:[], "eta_from").present? || sp.try(:[], "eta_to").present? %>
            <span class="font-italic">
              <% if sp.try(:[], "eta_from")&.to_date&.year == sp.try(:[], "eta_to")&.to_date&.year %>
                <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
              <% else %>
                <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d, %Y") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
              <% end %>
            </span><br>
          <% end %>
          <% if sp.try(:[], "tracking_number").present? %>
            <span class="font-weight-bold">Tracking #:</span>
            <a <% if sp.try(:[], "tracking_url_for_ship").present? %>href="<%= sp.try(:[], "tracking_url_for_ship") %>" target="_blank"<% end %>>
              <%= sp.try(:[], "tracking_number") %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="row no-gutters d-flex d-md-none">
        <div class="col-2 mb-3">
          <div class="bg-warm-grey rounded-pill" style="height: calc(100% - 10px); width: 25px">
            <div class="bg-red-clay rounded-pill" style="width: 25px; <% if sp.try(:[], "status") == "shipped" %>height: 100%;<% elsif enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current %>height: 60%;<% elsif enroute && latest_enroute_date != Date.new(0) %>height: 40%;<% elsif order.try(:[], "created_at").to_date + 1.day <= Date.current %>height: 20%;<% else %>height: 25px<% end %>">
            </div>
          </div>
        </div>
        <div class="col-10 mb-3">
          <div class="row no-gutters">
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="text-red-clay">Order Received</span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if order.try(:[], "created_at").present? %>
                <span class="font-italic">
                  <%= order.try(:[], "created_at").to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= order.try(:[], "created_at").to_date + 2.days <= Date.current ? "text-red-clay" : "text-warm-grey" %>">
                In Production
              </span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if order.try(:[], "created_at").to_date + 2.days <= Date.current %>
                <span class="font-italic">
                  <%= (order.try(:[], "created_at").to_date + 2.days).strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= (enroute && latest_enroute_date != Date.new(0)) || sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
                En-Route to Warehouse
              </span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if enroute && latest_enroute_date != Date.new(0) %>
                <span class="font-italic">
                  <%= latest_enroute_date.to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= (enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current) || sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
                Arriving to Distribution Center
              </span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if enroute && latest_arrival_date != Date.new(0) && latest_enroute_date + 14.days <= Date.current %>
                <span class="font-italic">
                  <%= (latest_arrival_date + 14.days).to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">Shipped</span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if sp.try(:[], "status") == "shipped" && sp.try(:[], "shipped_date").present? %>
                <span class="font-italic">
                  <%= sp["shipped_date"].to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">Expected Delivery</span>
              <% if sp.try(:[], "tracking_number").present? %>
                <br><span class="font-weight-bold">Tracking #:</span>
                <a <% if sp.try(:[], "tracking_url_for_ship").present? %>href="<%= sp.try(:[], "tracking_url_for_ship") %>" target="_blank"<% end %>>
                  <%= sp.try(:[], "tracking_number") %>
                </a>
              <% end %>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if sp.try(:[], "eta_from").present? || sp.try(:[], "eta_to").present? %>
                <span class="font-italic">
                  <% if sp.try(:[], "eta_from")&.to_date&.year == sp.try(:[], "eta_to")&.to_date&.year %>
                    <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
                  <% else %>
                    <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d, %Y") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
                  <% end %>
                </span><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% else %>
      <div class="row no-gutters d-none d-md-flex justify-content-between">
        <div class="col-12 mb-3">
          <div class="bg-warm-grey rounded-pill">
            <div class="bg-red-clay rounded-pill" style="height: 25px; <% if sp.try(:[], "status") == "shipped" %>width: 100%;<% elsif order.try(:[], "created_at").to_date + 1.day <= Date.current %>width: 33%;<% else %>width: 25px<% end %>">
            </div>
          </div>
        </div>

        <div>
          <span class="text-red-clay">Order Received</span><br>

          <% if order.try(:[], "created_at").present? %>
            <span class="font-italic">
              <%= order.try(:[], "created_at").to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>

        <div>
          <span class="<%= order.try(:[], "created_at").to_date + 1.day <= Date.current ? "text-red-clay" : "text-warm-grey" %>">
            Preparing
          </span><br>
          
          <% if order.try(:[], "created_at").to_date + 1.day <= Date.current %>
            <span class="font-italic">
              <%= (order.try(:[], "created_at").to_date + 1.day).strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>
          
        <div>
          <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            Shipped
          </span><br>
          
          <% if sp.try(:[], "status") == "shipped" && sp.try(:[], "shipped_date").present? %>
            <span class="font-italic">
              <%= sp.try(:[], "shipped_date").to_date.strftime("%b %d, %Y") %>
            </span>
          <% end %>
        </div>
        
        <div>
          <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">
            Expected Delivery
          </span><br>

          <% if sp.try(:[], "eta_from").present? || sp.try(:[], "eta_to").present? %>
            <span class="font-italic">
              <% if sp.try(:[], "eta_from")&.to_date&.year == sp.try(:[], "eta_to")&.to_date&.year %>
                <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
              <% else %>
                <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d, %Y") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
              <% end %>
            </span><br>
          <% end %>
          <% if sp.try(:[], "tracking_number").present? %>
            <span class="font-weight-bold">Tracking #:</span>
            <a <% if sp.try(:[], "tracking_url_for_ship").present? %>href="<%= sp.try(:[], "tracking_url_for_ship") %>" target="_blank"<% end %>>
              <%= sp.try(:[], "tracking_number") %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="row no-gutters d-flex d-md-none">
        <div class="col-2 mb-3">
          <div class="bg-warm-grey rounded-pill" style="height: calc(100% - 10px); width: 25px">
            <div class="bg-red-clay rounded-pill" style="width: 25px; <% if sp.try(:[], "status") == "shipped" %>height: 100%;<% elsif order.try(:[], "created_at").to_date + 1.day <= Date.current %>height: 33%;<% else %>height: 25px<% end %>">
            </div>
          </div>
        </div>
        <div class="col-10 mb-3">
          <div class="row no-gutters">
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="text-red-clay">
                Order Received
              </span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if order.try(:[], "created_at").present? %>
                <span class="font-italic">
                  <%= order.try(:[], "created_at").to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= order.try(:[], "created_at").to_date + 1.day <= Date.current ? "text-red-clay" : "text-warm-grey" %>">
                Preparing
              </span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if order.try(:[], "created_at").to_date + 1.day <= Date.current %>
                <span class="font-italic">
                  <%= (order.try(:[], "created_at").to_date + 1.day).strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span class="<%= sp.try(:[], "status") == "shipped" ? "text-red-clay" : "text-warm-grey" %>">Shipped</span>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
              <% if sp.try(:[], "status") == "shipped" && sp.try(:[], "shipped_date").present? %>
                <span class="font-italic">
                  <%= sp.try(:[], "shipped_date").to_date.strftime("%b %d") %>
                </span>
              <% end %>
            </div>
            <div class="col-7 mb-3" style="min-height: 40px">
              <span <% if sp.try(:[], "status") == "shipped" %>class="text-red-clay"<% end %>>Expected Delivery</span><br>
              <% if sp.try(:[], "tracking_number").present? %>
                <br><span class="font-weight-bold">Tracking #:</span>
                <a <% if sp.try(:[], "tracking_url_for_ship").present? %>href="<%= sp.try(:[], "tracking_url_for_ship") %>" target="_blank"<% end %>>
                  <%= sp.try(:[], "tracking_number") %>
                </a>
              <% end %>
            </div>
            <div class="col-5 mb-3 text-right" style="min-height: 40px">
            <% if sp.try(:[], "eta_from").present? || sp.try(:[], "eta_to").present? %>
              <span class="font-italic">
                <% if sp.try(:[], "eta_from")&.to_date&.year == sp.try(:[], "eta_to")&.to_date&.year %>
                  <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
                <% else %>
                  <%= sp.try(:[], "eta_from")&.to_date&.strftime("%B %d, %Y") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%B %d, %Y") %>
                <% end %>
              </span><br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      
    <div class="row no-gutters">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-borderless table-hover">
            <thead class="border-bottom-light-grey">
              <tr>
                <th class="font-weight-normal pl-0" style="width: 70%">Product Name</th>
                <th class="font-weight-normal" style="width: 15%">SKU</th>
                <th class="font-weight-normal" style="width: 15%">
                  <span class="d-none d-md-block">Quantity</span>
                  <span class="d-block d-md-none">Qty</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% sp["line_items"].each do |item| %>
                <tr>
                  <td class="pl-0"><%= item.try(:[], "name") %></td>
                  <td><%= item.try(:[], "sku").upcase %></td>
                  <td><%= item.try(:[], "quantity") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row no-gutters">
    <div class="col-12 mb-4 border-bottom-sage-thick"></div>
    <div class="col-12">
      <p class="header2 font-weight-normal">Order Information</p>
    </div>
    <div class="col-12 col-md-4">
      <p class="header2 font-weight-normal">Shipping Address</p>
    </div>
    <div class="col-4 d-none d-md-block">
      <p class="header2 font-weight-normal">Billing Address</p>
    </div>
    <div class="col-4 d-none d-md-block">
      <p class="header2 font-weight-normal">Shipping Method</p>
    </div>

    <div class="col-12 mb-3 border-bottom-light-grey"></div>

    <div class="col-12 col-md-4 mb-3">
      <%= order.try(:[], "shipping_address").try(:[], "address1").tr('[]','').tr('" "', ' ')&.titleize %><br>
      <%= order.try(:[], "shipping_address").try(:[], "city")&.titleize %>
      <%= order.try(:[], "shipping_address").try(:[], "address2")&.titleize %><br>
      <%= order.try(:[], "shipping_address").try(:[], "country") %> -
      <%= order.try(:[], "shipping_address").try(:[], "zip")&.upcase %><br>
      T: <%= order.try(:[], "shipping_address").try(:[], "phone") %>
    </div>

    <div class="col-12 d-block d-md-none">
      <p class="header2 font-weight-normal">Billing Address</p>
    </div>
    <div class="col-12 mb-3 border-bottom-light-grey d-block d-md-none"></div>

    <div class="col-12 col-md-4 mb-3">
      <%= order.try(:[], "billing_address").try(:[], "address1").tr('[]','').tr('" "', ' ')&.titleize %><br>
      <%= order.try(:[], "billing_address").try(:[], "city")&.titleize %>
      <%= order.try(:[], "billing_address").try(:[], "address2")&.titleize %><br>
      <%= order.try(:[], "billing_address").try(:[], "country") %> -
      <%= order.try(:[], "billing_address").try(:[], "zip")&.upcase %><br>
      T: <%= order.try(:[], "billing_address").try(:[], "phone") %>
    </div>

    <div class="col-12 d-block d-md-none">
      <p class="header2 font-weight-normal">Shipping Method</p>
    </div>
    <div class="col-12 mb-3 border-bottom-light-grey d-block d-md-none"></div>

    <div class="col-12 col-md-4 mb-3">
      <%= order.try(:[], "shipping_line").try(:[], "title") %>
      <% if order.try(:[], "eta_from").present? || order.try(:[], "eta_to").present? %>
        <p class="p-2 bg-warm-grey">
          Estimated Delivery to <span class="text-red-clay"><%= order.try(:[], "shipping_address").try(:[], "city")&.titleize %>, <%= order.try(:[], "shipping_address").try(:[], "address2")&.titleize %></span>:<br>
          <% order.try(:[], "shipping_details").sort_by {|a| a["created_at"]}.each_with_index do |sp, i| %>
            <% if order.try(:[], "shipping_details").count > 1 %>
              <%= order.try(:[], "name")[-7..-1] %>-<%= i + 1 %>:
            <% end %>
            <%= sp.try(:[], "eta_from")&.to_date&.strftime("%b %d") %> - <%= sp.try(:[], "eta_to")&.to_date&.strftime("%b %d") %><br>
          <% end %>
        </p>
      <% end %>
      <p class="text-grey font-italic">
        While we do our best to estimate the delivery window provided, it is our best approximation based on your shipping address, please note it's not guaranteed.
      </p>
      <p class="text-grey font-italic">
        And if you've chosen <span class="font-weight-bold">white glove delivery</span>, it might take a bit longer as it's scheduled by our white glove delivery agent. For more info, check out our <a href="<% if order.try(:[], "store") == "us" %>https://eternitymodern.com/faqs<% elsif order.try(:[], "store") == "canada" %>https://eternitymodern.ca/faqs<% end %>">FAQ</a> section.
      </p>
    </div>

    <div class="col-12 mb-3">
      <span>Need to place your order on hold or upgrade your delivery service? Reach out to our live chat agents or email us at <a href="mailto:info@eternitymodern.com">info@eternitymodern.com</a>. We're here to assist you every step of the way!</span>
    </div>
  </div>
</div>

<style>
  :root {
    --black: #252425;
    --grey: #535d51;
    --light-grey: #cecece;
    --white: #ffffff;

    --red: #f6222e;

    --off-white: #f6f5ec;
    --off-white-light: #fcfcf9;
    --warm-grey: #d6d3bb;
    --warm-grey-light: #f3f2eb;
    --charcoal: #333132;
    --charcoal-light: #c2c1c2;
    --yolk: #e7b21f;
    --yolk-light: #f8e8bc;
    --sage: #657064;
    --sage-light: #d1d4d1;
    --red-clay: #622d15;
    --red-clay-light: #d0c0b9;
  }

  * { box-sizing: border-box; }

  html { font-size: 14px; font-family: sans-serif; }

  body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: var(--black);
    background: #f6f5ec;
  }

  .header1 {
    font-size: 24px;
    line-height: 24px;
    color: var(--black);
  }

  .header2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black);
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  a { color: var(--red-clay); text-decoration: underline; }
  a[href]:hover { color: var(--red); }

  .text-black { color: var(--black) !important; }
  .text-grey { color: var(--grey) !important; }
  .text-light-grey { color: var(--light-grey) !important; }
  .text-white { color: var(--white) !important; }

  .text-red { color: var(--red) !important; }

  .text-off-white { color: var(--off-white) !important; }
  .text-off-white-light { color: var(--off-white-light) !important; }
  .text-warm-grey { color: var(--warm-grey) !important; }
  .text-warm-grey-light { color: var(--warm-grey-light) !important; }
  .text-charcoal { color: var(--charcoal) !important; }
  .text-charcoal-light { color: var(--charcoal-light) !important; }
  .text-yolk { color: var(--yolk) !important; }
  .text-yolk-light { color: var(--yolk-light) !important; }
  .text-sage { color: var(--sage) !important; }
  .text-sage-light { color: var(--sage-light) !important; }
  .text-red-clay { color: var(--red-clay) !important; }
  .text-red-clay-light { color: var(--red-clay-light) !important; }

  .bg-black { background-color: var(--black) !important; }
  .bg-grey { background-color: var(--grey) !important; }
  .bg-light-grey { background-color: var(--light-grey) !important; }
  .bg-white { background-color: var(--white) !important; }

  .bg-red { background-color: var(--red) !important; }

  .bg-off-white { background-color: var(--off-white) !important; }
  .bg-off-white-light { background-color: var(--off-white-light) !important; }
  .bg-warm-grey { background-color: var(--warm-grey) !important; }
  .bg-warm-grey-light { background-color: var(--warm-grey-light) !important; }
  .bg-charcoal { background-color: var(--charcoal) !important; }
  .bg-charcoal-light { background-color: var(--charcoal-light) !important; }
  .bg-yolk { background-color: var(--yolk) !important; }
  .bg-yolk-light { background-color: var(--yolk-light) !important; }
  .bg-sage { background-color: var(--sage) !important; }
  .bg-sage-light { background-color: var(--sage-light) !important; }
  .bg-red-clay { background-color: var(--red-clay) !important; }
  .bg-red-clay-light { background-color: var(--red-clay-light) !important; }

  .border-bottom-warm-grey-thick { border-bottom: 2px solid var(--warm-grey) !important; }
  .border-bottom-sage-thick { border-bottom: 2px solid var(--sage) !important; }

  .border-bottom-light-grey { border-bottom: 1px solid var(--light-grey) !important; }

  path { fill: var(--red-clay); }
</style>