<div class="container px-4">
  <%= render partial: "admin/orders/navigation_product" %>
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 30%">Description</th>
              <th style="width: 14%">SKU</th>
              <th style="width: 8%">Suggested Qty</th>
              <th style="width: 8%">Min Limit</th>
              <th style="width: 8%">Max Limit</th>
              <th style="width: 8%">On Hand</th>
              <th style="width: 8%">In Production</th>
              <th style="width: 8%">En-route</th>
              <th style="width: 8%">Container Ready</th>
            </tr>
          </thead>
          <tbody>
            <% @variants.each do |variant| %>
              <tr>
                <td><%= [variant.product&.title, variant&.title].join(" | ") %></td>
                <td><%= variant.sku.upcase %></td>
                <td>
                  <% suggested_qty = (variant&.inventory_quantity unless variant&.inventory_quantity.to_i.negative?) + variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum + variant.line_items.where(status: :en_route).pluck(:quantity).reject(&:blank?).map(&:to_i).sum + variant.line_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum - variant.inventory_limit %>
                  <%= suggested_qty if variant.max_limit.present? && suggested_qty < variant.max_limit %>
                </td>
                <td><%= variant.inventory_limit %></td>
                <td><%= variant.max_limit %></td>
                <td><%= variant&.inventory_quantity unless variant&.inventory_quantity.to_i.negative? %></td>
                <td><%= variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
                <td><%= variant.line_items.where(status: :en_route).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
                <td><%= variant.line_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>