<div class="container px-4">
  <%= render partial: "admin/orders/navigation_cancel" %>
  
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 10%">Order Number</th>
          <th style="width: 10%">Customer</th>
          <th style="width: 15%">Order Date</th>
          <th style="width: 15%">Cancelled Date</th>
          <th style="width: 40%">SKU</th>
          <th style="width: 20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.order(cancelled_date: :desc).each do |order| %>
          <tr>
            <td><%= link_to order.name, edit_admin_order_path(order), data: { turbolinks: false } %></td>
            <td><%= order&.customer&.full_name&.titleize %></td>
            <td><%= order.created_at.to_date.strftime('%B %d, %Y') %></td>
            <td><%= order.cancelled_date.to_date.strftime('%B %d, %Y') if order.cancelled_date.present? %></td>
            <td>
              <% order.line_items.each do |item| %>
                <span class="mr-2"><%= item&.sku %></span>
              <% end %>
            </td>
            <td>
              <a href="<%= order_status_admin_orders_path(name: order.name, status: "cancel_remove") %>">
                <%= show_svg("close.svg") %>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>