<div class="container px-4">
  <% if @order.status == "cancel_request" || @order.status == "cancel_confirmed" %>
    <%= render partial: "admin/orders/navigation_cancel" %>
  <% elsif @order.status == "hold_request" || @order.status == "hold_confirmed" %>
    <%= render partial: "admin/orders/navigation_hold" %>
  <% elsif @order.status == "pending_payment" %>
    <%= render partial: "admin/orders/navigation_pending" %>
  <% else %>
    <%= render partial: "admin/orders/navigation" %>
  <% end %>
  <%= render partial: "form", locals: { current_user: current_user } %>
</div>