<div class="container px-4">
  <%= render partial: "admin/orders/navigation_hold" %>

  <div class="table-responsive position-relative" style="top: calc(57px + 1rem)">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 10%">Order ID</th>
          <th style="width: 10%">Customer</th>
          <th style="width: 10%">SKU</th>
          <th style="width: 15%">Order Date</th>
          <th style="width: 15%">Hold Until</th>
          <th style="width: 40%">Hold Reason</th>
          <th style="width: 10%">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.where(status: :hold_confirmed).order(hold_until_date: :asc).each do |order| %>
          <tr>
            <td><%= link_to order.name, edit_admin_order_path(order), data: { turbolinks: false } %></td>
            <td><%= order.customer&.full_name&.titleize %></td>
            <td><%= order.line_items.pluck(:sku)&.join(", ") %></td>
            <td><%= order.created_at.to_date.strftime('%B %d, %Y') %></td>
            <td><%= order.try(:hold_until_date).to_date.strftime('%B %d, %Y') if order.hold_until_date.present? %></td>
            <td><%= order.hold_reason %></td>
            <td>
              <a href="<%= order_status_admin_orders_path(name: order.name, status: "unhold") %>">Unhold</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>