<div class="container px-4">
  <%= render partial: "admin/orders/navigation_pending" %>

  <div class="table-responsive position-relative" style="top: calc(57px + 1rem)">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th style="width: 20%">Order Number</th>
          <th style="width: 20%">Customer</th>
          <th style="width: 20%">Amount</th>
          <th style="width: 20%">Order Date</th>
          <th style="width: 20%">Days Overdue</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.name, edit_admin_order_path(order), data: { turbolinks: false } %></td>
            <td><%= order.customer&.full_name&.titleize %></td>
            <td>
              <% sum = 0 %>
              <% if order.line_items.present? %>
                <% order.line_items.where(order_from: nil).each_with_index do |item, i| %>
                  <% sum = sum + mul(item.try(:price), item.try(:quantity)) %>
                <% end %>
              <% end %>
            
              <% if order.discount_codes.present? %>
                <% if order.discount_codes["discount_amount"].to_f.negative?() %>
                  <% sum = sum + order.discount_codes["discount_amount"].to_f %>
                <% else %>
                  <% sum = sum - order.discount_codes["discount_amount"].to_f %>
                <% end %>
              <% end %>
            
              <% if order.shipping_line.present? %>
                <% sum = sum + order.try(:shipping_line).try(:price).to_f %>
              <% end %>

              <% if order.tax_lines.present? %>
                <% sum = sum + order.tax_lines['price'].to_f %>
              <% end %>

              <% if order.refunds.present? && order.order_adjustments.present? %>
                <% order.refunds.each do |ref| %>
                  <% order.order_adjustments.each do |adj| %>
                    <% sum = sum + (adj.amount).to_f %>
                  <% end %>
                <% end %>
              <% end %>
                  
              <%= number_to_currency(sum) %>
            </td>
            <td><%= order.created_at.to_date.strftime('%B %d, %Y') %></td>
            <td>
              <span class="text-red">
                <%= ((Date.today - order.created_at.to_date).to_i).to_s + " Day".pluralize(((Date.today - order.created_at.to_date).to_i).abs) %>
              <span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>