<div class="container px-4">
  <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-2">
      <a class="d-block mb-3 switch-tab active" data-switch-group="report" data-switch-index="orders">Orders</a>
      <a class="d-block mb-3 switch-tab" data-switch-group="report" data-switch-index="shipping">Shipping</a>
      <a class="d-block mb-3 switch-tab" data-switch-group="report" data-switch-index="inventory">Inventory</a>
      <a class="d-block mb-3 switch-tab" data-switch-group="report" data-switch-index="claims">Claims</a>
      <a class="d-block mb-3 switch-tab" data-switch-group="report" data-switch-index="warehouse">Warehouse</a>
    </div>

    <div class="col-10">
      <div class="row">
        <div class="col mb-3">
          <div class="row p-3 no-gutters border rounded">
            <div class="col-12">
              <p class="text-light-grey">Today Orders</p>
            </div>
            <div class="col-6">
              <span class="header1"><%= @orders_today.count %></span>
            </div>
            <div class="col-6 text-right">
              <% if @orders_previous_year.count > 0 %>
                <% count_change = (@orders_today.count - @orders_yesterday.count).to_f / @orders_yesterday.count * 100 %>
              <% else %>
                <% count_change = 0 %>
              <% end %>
              <% if count_change > 0 %>
                <span class="text-green">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(count_change, precision: 0) %>
                </span>
              <% else %>
                <span class="text-red icon-bottom">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(count_change, precision: 0) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="row p-3 no-gutters border rounded">
            <div class="col-12">
              <p class="text-light-grey">Today Sales</p>
            </div>
            <div class="col-6">
              <% sales_current_day = @orders_today.sum { |order| order&.line_items&.sum {|s| mul(s&.price, s&.quantity)} - (order&.discount_codes.present? ? order&.discount_codes["discount_amount"]&.to_f&.abs : 0) + order&.shipping_line&.price.to_f + (order&.tax_lines.present? ? order&.tax_lines["price"]&.to_f : 0) + order&.order_adjustments&.sum { |s| s&.amount&.to_f }} %>
              <% sales_previous_day = @orders_yesterday.sum { |order| order&.line_items&.sum {|s| mul(s&.price, s&.quantity)} - (order&.discount_codes.present? ? order&.discount_codes["discount_amount"]&.to_f&.abs : 0) + order&.shipping_line&.price.to_f + (order&.tax_lines.present? ? order&.tax_lines["price"]&.to_f : 0) + order&.order_adjustments&.sum { |s| s&.amount&.to_f }} %>
              <span class="header1"><%= number_to_currency(sales_current_day) %></span>
            </div>
            <div class="col-6 text-right">
              <% if sales_previous_day > 0 %>
                <% sales_change = (sales_current_day - sales_previous_day).to_f / sales_previous_day * 100 %>
              <% else %>
                <% sales_change = 0 %>
              <% end %>
              <% if sales_change > 0 %>
                <span class="text-green">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(sales_change, precision: 0) %>
                </span>
              <% else %>
                <span class="text-red icon-bottom">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(sales_change, precision: 0) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="row p-3 no-gutters border rounded">
            <div class="col-12">
              <p class="text-light-grey">Average Order</p>
            </div>
            <div class="col-6">
              <% if @orders_today.count > 0 %>
                <% average_today = @orders_today.sum { |order| order&.line_items&.sum {|s| mul(s&.price, s&.quantity)} - (order&.discount_codes.present? ? order&.discount_codes["discount_amount"]&.to_f&.abs : 0) + order&.shipping_line&.price.to_f + (order&.tax_lines.present? ? order&.tax_lines["price"]&.to_f : 0) + order&.order_adjustments&.sum { |s| s&.amount&.to_f }} / @orders_today.count %>
              <% else %>
                <% average_today = 0 %>
              <% end %>
              <% if @orders_yesterday.count > 0 %>
                <% average_yesterday = @orders_yesterday.sum { |order| order&.line_items&.sum {|s| mul(s&.price, s&.quantity)} - (order&.discount_codes.present? ? order&.discount_codes["discount_amount"]&.to_f&.abs : 0) + order&.shipping_line&.price.to_f + (order&.tax_lines.present? ? order&.tax_lines["price"]&.to_f : 0) + order&.order_adjustments&.sum { |s| s&.amount&.to_f }} / @orders_yesterday.count %>
              <% else %>
                <% average_today = 0 %>
              <% end %>
              <span class="header1"><%= number_to_currency(average_today) %></span>
            </div>
            <div class="w-50 text-right">
              <% if average_yesterday.present? && average_yesterday > 0 %>
                <% average_change = (average_today - average_yesterday).to_f / average_yesterday * 100 %>
              <% else %>
                <% average_change = 0 %>
              <% end %>
              <% if average_change > 0 %>
                <span class="text-green">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(average_change, precision: 0) %>
                </span>
              <% else %>
                <span class="text-red icon-bottom">
                  <%= show_svg("arrow.svg") %>
                  <%= number_to_percentage(average_change, precision: 0) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div id="best_sellers">
            <%= render partial: "bestseller_skus", locals: { items: @items } %>
          </div>
        </div>
        
        <div class="col-12">
          <div id="line_chart">
            <%= render partial: "report_orders", locals: { d1: @d1, d2: @d2, params: params } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="exportShip" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "shipment") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-4">
              <%= "Start Date" %>
              <%= date_field_tag :start_date %>
              <%= "End Date" %>
              <%= date_field_tag :end_date %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal" id="exportShipOrder" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "order") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-3 mb-4">
              <label>Start Date</label>
              <%= date_field_tag :start_date, "", class: "form-control" %>
            </div>
            <div class="col-3 mb-4">
              <label>End Date</label>
              <%= date_field_tag :end_date, "", class: "form-control" %>
            </div>
            <div class="col-3 mb-4">
              <label>State</label>
              <%= select_tag :state, options_from_collection_for_select(TaxRate.where(store: current_store), "state", "state"), prompt: "Select All", class: "form-control" %>
            </div>
            <div class="col-3 mb-4">
              <label>Status</label>
              <%= select_tag :status, options_for_select(ShippingDetail.statuses.map {|k, v| [k.humanize.capitalize, v]}), prompt: "Select All", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal" id="exportShipClaim" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "issue") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 mb-4">
              <%= "Start Date" %>
              <%= date_field_tag :start_date %>
              <%= "End Date" %>
              <%= date_field_tag :end_date %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal" id="exportShipOrderEmail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "email_order") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-4">
              <%= "Start Date" %>
              <%= date_field_tag :start_date %>
              <%= "End Date" %>
              <%= date_field_tag :end_date %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal" id="exportClaimOrder" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "claim_order") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-12 mb-4">
              <%= "Start Date" %>
              <%= date_field_tag :start_date %>
              <%= "End Date" %>
              <%= date_field_tag :end_date %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exportPurchaseOrder" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag report_logistics_export_admin_orders_path(format: "csv", report_type: "purchase_order") do |ff| %>
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Date Range</span>
          <button type="button" class="close" data-dismiss="modal">
            <%= show_svg("close.svg") %>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mx-0">
            <div class="col-6 mb-3">
              <label>Start Date</label>
              <%= date_field_tag :start_date, "", class: "form-control" %>
            </div>
            <div class="col-6 mb-3">
              <label>End Date</label>
              <%= date_field_tag :end_date, "", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>