<div class="container p-4">
  <div class="row mb-4">
    <div class="col-12">
      <h5>Swatches</h5>
    </div>
    <div class="col-12 text-right">
      <button type="button" class="btn btn-primary mr-3" style="width: 150px" onclick="print_list()">Print List</button>
      <button type="button" class="btn btn-primary" style="width: 150px" onclick="clear_selected()">Clear Selected</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 10%">Order Number</th>
              <th style="width: 10%">Order Date</th>
              <th style="width: 20%">Description</th>
              <th style="width: 15%">SKU</th>
              <th style="width: 10%">Shipping Name</th>
              <th style="width: 30%">Shipping Address</th>
              <th style="width: 5%">
                <input id="check_all" class="btw" type="checkbox">
              </th>
            </tr>
          </thead>
          <tbody>
            <% @line_items.each do |item| %>
              <% if item.title.present? && item.sku.present? && (item.title.include? 'Swatch' or item.sku.length < 3) %>
                <tr>
                  <td><%= link_to item&.order&.name, edit_admin_order_path(item&.order) %></td>
                  <td><%= item&.order&.created_at&.to_date.strftime('%Y/%m/%d') %></td>
                  <td><%= item&.title%></td>
                  <td><%= item&.sku%></td>
                  <td><%= item&.order&.shipping_address&.full_name%></td>
                  <td>
                    <%= item&.order&.shipping_address&.address1.tr('[]','').tr('" "', ' ') if item&.order&.shipping_address&.address1.present? %>
                    <%= item&.order&.shipping_address&.city %> <%= item&.order&.shipping_address&.address2%><br>
                    <%= item&.order&.shipping_address&.country %> - <%= item&.order&.shipping_address&.zip %>
                  </td>
                  <td><%= check_box_tag "swatch_item_ids[]", item.id %></td>
                </tr>
              <% end %>                  
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  function print_list() {
    var swatch_item_ids = [];

    $('input[name="swatch_item_ids[]"]:checked').each(function() {
        swatch_item_ids.push($(this).val());
    });

    if (swatch_item_ids.length < 1) {
      alert('Please select at least one order.')

    } else {
      if (swatch_item_ids.length > 0) {
        window.open('<%= print_swatch_table_admin_orders_path(status: 'all') %>&swatch_item_ids='+[swatch_item_ids], 'print', 'height=750px, width=1000px');
        window.location.reload(true);
      }
    }
  }

  function clear_selected() {
    var swatch_item_ids = [];

    $('input[name="swatch_item_ids[]"]:checked').each(function() {
        swatch_item_ids.push($(this).val());
    });

    if (swatch_item_ids.length < 1) {
      alert('Please select at least one order.')

    } else {
      if (swatch_item_ids.length > 0) {
        window.location.replace('<%= swatches_page_admin_orders_path(status: 'all') %>&swatch_item_ids='+[swatch_item_ids]);
      }
    }
  }
</script>