<!--<%= form_for "" do |f| %>
  <div class="container p-4" style="font-size: 1.25rem">
    <div class="row mx-0 p-3">
      <div class="col-10">
        <div class="row mx-0 p-3">
          <div class="col-12 form-group">
            <h5 class="fc-grey100 pb-4" style="font-size: 2.5rem; border-bottom: solid 2px var(--grey40)">TRACK YOUR ORDER</h5>
          </div>

          <div class="w-100"></div>
          <div class="col-6 form-group">
            <p class="font-weight-bold fc-grey100">Customer Care</p>
            <p>You can reach out to us via livechat on our website, or email us at info@eternitymodern.com, and we will get back to you within 24-48 hours. Thank you and have a wonderful day!</p>
          </div>

          <div class="w-100"></div>
          <div class="col-12 mb-5 form-group">
            <p class="font-weight-bold fc-grey100">To track your order, please enter the following information.</p>
            <div class="row">
              <div class="col-6">
                <%= f.label :order_number, "Order Number" %>
                <%= f.text_field :order_number, class: 'form-control', style: 'height: 3rem; border-radius: 3rem' %>
              </div>
              <div class="col-6">
                <%= f.label :email_address, "Email Address" %>
                <%= f.text_field :email_address, class: 'form-control', style: 'height: 3rem; border-radius: 3rem' %>
              </div>
            </div>
          </div>
      
          <div class="col-12 form-group">
            <%= f.submit 'TRACK', class: 'btn py-2', style: "color: white !important; background: #ff6464; width: 12rem; font-size: 1.25rem; border-radius: 0.75rem" %>
          </div>
        </div>
      </div>

      <div class="col-2">
      </div>
    </div>
  </div>
<% end %>--> 


<form method="POST" action="tracking_order">
  <div class="container p-4" style="font-size: 1.25rem">
    <div class="row mx-0 p-3">
      <div class="col-10">
        <div class="row mx-0 p-3">
          <div class="col-12 form-group">
            <h5 class="fc-grey100 pb-4" style="font-size: 2.5rem; border-bottom: solid 2px var(--grey40)">TRACK YOUR ORDER</h5>
          </div>

          <div class="w-100"></div>
          <div class="col-6 form-group">
            <p class="font-weight-bold fc-grey100">Customer Care</p>
            <p>You can reach out to us via livechat on our website, or email us at info@eternitymodern.com, and we will get back to you within 24-48 hours. Thank you and have a wonderful day!</p>
          </div>

          <div class="w-100"></div>
          <div class="col-12 mb-5 form-group">
            <p class="font-weight-bold fc-grey100">To track your order, please enter the following information.</p>
            <div class="row">
              <div class="col-6">
                <input class='form-control' style='height: 3rem; border-radius: 3rem' required name="order_number" placeholder="Order Number">
              </div>
              <div class="col-6">
                <input class="form-control" style='height: 3rem; border-radius: 3rem' type="text" required name="email" placeholder="Email">
              </div>
            </div>
          </div>
      
          <div class="col-12 form-group">
          <button class="btn py-2",  style="color: white !important; background: #ff6464; width: 12rem; font-size: 1.25rem; border-radius: 0.75rem", type="submit", id="result">TRACK</button>
            
          </div>
        </div>
      </div>

      <div class="col-2">
      </div>
    </div>
  </div>
</form>