<div class="container h-100 px-4 d-flex flex-column">
  <div class="row mb-3">
    <div class="col-6">
      <p class="header1 mr-4 d-inline-block"><%= params[:warehouse_name]&.titleize %> Warehouse Inventory</p>
      <div class="search-bar d-inline-block">
        <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->OrderReflex#search_stock" data-store-type="<%= current_store %>" data-user-id="<%= current_user.id %>">
      </div>
    </div>
    <div class="col-6 text-right">
      <% if current_user.user_group.warehouse_permissions.where(permission: true).count > 1 %>
        <div class="dropdown mr-4">
          <div class="btn btn-primary dropdown-toggle arrow-none" data-toggle="dropdown">
            Select Warehouse <%= show_svg("arrow.svg") %>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <% current_user.user_group.warehouse_permissions.where(permission: true).eager_load(:warehouse).joins(:warehouse).where(warehouses: {store: current_store}).each do |wa| %>
              <a href="<%= warehouse_inventories_admin_orders_path(warehouse_name: wa.warehouse.name) %>">
                <div class="dropdown-item"><%= wa.warehouse.name.titleize %></div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.user_group.admin_cru && params[:warehouse_name].present? %>
        <a href="<%= new_admin_warehouse_transfer_order_path(warehouse_name: params[:warehouse_name]) %>">
          <button class="btn btn-primary">
            <%= show_svg("plus.svg") %>
            Create Transfer
          </button>
        </a>
      <% end %>
    </div>
  </div>

  <section class="d-flex flex-column flex-auto" id="warehouse_stock_result">
    <%= render partial: "warehouse_stock_result", locals: { pagy: @pagy, current_user: @current_user } %>
  </section>
</div>