<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse P&P</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/png" href="<%= image_url "favicon.png" %>">
  </head>

  <body class="d-flex">
    <%= render "admin/warehouses/header" %>
    <%= yield %>
  </body>
</html>