<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <tbody>
      <% if @query.present? %>
        <% @customer_appointments.each do |customer_appointment| %>
          <tr>
            <td style="width: 30%"><%= customer_appointment&.full_name %></td>
            <td style="width: 30%"><%= customer_appointment&.email %></td>
            <td style="width: 30%"><%= customer_appointment&.phone %></td>
            <td style="width: 10%">
              <a class="select-customer" data-customer-id="<%= customer_appointment&.id %>" data-customer-name="<%= customer_appointment&.full_name %>">Select</a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>