<div class="row pb-3 position-fixed w-100 bg-white" style="z-index: 2; left: 15px; right: 15px">
  <div class="col-12">
    <p class="header1">Welcome Back, <%= current_user&.employee&.first_name %>!</p>
    <a class="underline-hover <%= "active" if controller.controller_name == "tasks" %>" href="<%= admin_tasks_path %>">myBoard</a>
    <% if current_user.user_group.board_view %>
      <a class="underline-hover <%= "active" if controller.controller_name == "board_sections" && controller.action_name != "dashboard" %>" href="<%= admin_board_sections_path %>">EM Board</a>
    <% end %>
    <% if current_user.user_group.manager_view || current_user.employee.position.is_manager %>
      <a class="underline-hover <%= "active" if controller.controller_name == "departments" && params[:action] == "manager" %>" href="<%= manager_panel_admin_departments_path %>">Manager Panel</a>
    <% end %>
    <% if current_user.user_group.hr_view %>
      <a class="underline-hover <%= "active" if (controller.controller_name == "departments" && params[:action] == "show") || controller.controller_name == "templates" || controller.controller_name == "holidays" || (controller.controller_name == "departments" && params[:action] == "expense_request") || (controller.controller_name == "departments" && params[:action] == "expense_history") || (controller.controller_name == "departments" && params[:action] == "time_off_request") || (controller.controller_name == "departments" && params[:action] == "time_off_history") || (controller.controller_name == "invoices" && params[:action] == "commission") %>" href="<%= admin_department_path(Department.order(:name).first.id) %>">HR Panel</a>
    <% end %>
    <a class="underline-hover <%= "active" if controller.controller_name == "departments" && params[:action] == "directory" %>" href="<%= directory_admin_departments_path %>">Directory</a>
  </div>
</div>