<% if @current_user.employee.present? %>
  <div class="container h-100 px-4">
    <%= render partial: "/admin/tasks/navigation", local: { current_user: current_user } %>

    <div class="row position-relative" style="height: calc(100% - 56px - 1rem); top: calc(57px + 1rem)">
      <div class="col-9 h-100 mb-3" style="overflow-x: hidden; overflow-y: auto">
        <%= month_calendar(events: @holidays) do |date, leaves| %>
          <%= date.day %>
          <% leaves.sort_by { |leave| [leave.duration ? 1 : 0, leave.duration] }.each do |leave| %>
            <div class="calendar-event" data-id="<%= leave.id %>" data-type="<%= leave.leave_type %>">
              <% if leave.status == "Approved" %>
                <%= Employee.find_by(id: leave.employee_id).full_name %>: <%= leave.leave_type %>
              <% else %>
                <%= leave.leave_type %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-3 h-100 mb-3 d-flex flex-column">
        <div class="w-100">
          <span class="header2 d-inline-block">Announcements</span>
          <a class="d-inline-block float-right" data-toggle="modal" data-target="#announcementModal">Create Announcements</a>
        </div>
        <div class="w-100 mb-3">
          <% if @announcement_notifications.present? %>
            <div class="w-100 mb-3 text-right">
              <a class="text-black" data-reflex="click->NotificationReflex#clear_all_announcements" data-user-id="<%= current_user.id %>"  data-reflex-root="#notification">Clear All</a>
            </div>
            <%= render partial: "includes/announcement_section" %>
          <% else %>
            <div class="w-100">
              There are no announcements.
            </div>
          <% end %>
        </div>
        <% if current_user.user_group.overview_cru && current_user.employee_id.present? %>
          <button class="btn btn-primary w-100 mb-3" data-toggle="modal" data-target="#leaveRequestModal">
            Submit Time Off
            <span class="icon-right">
              <%= show_svg ("arrow.svg") %>
            </span>
          </button>
          <button class="btn btn-primary w-100 mb-5" data-toggle="modal" data-target="#expenseRequestModal">
            Submit Expense
            <span class="icon-right">
              <%= show_svg("arrow.svg") %>
            </span>
          </button>
        <% end %>
        <div class="w-100">
          <p class="header2 d-inline-block">Taskboard</p>
          <a class="d-inline-block float-right" data-toggle="modal" data-target="#taskModal">Add Task</a>
        </div>
        <div class="row no-gutters">        
          <div class="col-4 cursor-pointer task-tab active" data-task="to_do">
            <div class="btn w-100 mb-3 text-center">
              <span class="header2">To Do</span>
            </div>
          </div>

          <div class="col-4 cursor-pointer task-tab" data-task="in_progress">
            <div class="btn w-100 mb-3 text-center">
              <span class="header2">In Progress</span>
            </div>
          </div>

          <div class="col-4 cursor-pointer task-tab" data-task="completed">
            <div class="btn w-100 mb-3 text-center">
              <span class="header2">Completed</span>
            </div>
          </div>
        </div>
        <div class="row no-gutters" style="overflow: auto">
          <% @tasks.order(created_at: :desc).each do |task| %>
            <div class="row no-gutters w-100 p-3 mb-4 rounded border cursor-pointer task-content <%= "active" if task.status== "to_do" %>" data-task="<%= task.status %>" data-toggle="modal" data-target="#taskModal-<%= task.id %>">
              <div class="col-10 mb-3">
                <span class="text-black font-weight-bold"><%= task.title %></span>
              </div>
              <div class="col-2 mb-3 text-right">
                <%= link_to admin_task_path(task), method: :delete, class: "ml-3", style: "vertical-align: middle", data: { confirm: "Deleted task cannot be restored. Are You sure?" } do %>
                  <%= show_svg("close.svg") %>
                <% end %>
              </div>
              <div class="col-12 mb-3">
                <span>Created By: <%= User.find_by(id: task.owner_id).username %></span><br>
                <span>Due Date: <%= task.due_date&.strftime("%B %d, %Y") %></span>
              </div>
              <% if task.files.present? %>
                <div class="col-12 mb-3">
                  <% task.files.order(:created_at).each do |file| %>
                    <% if file.content_type == "image/png" || file.content_type == "image/jpg" || file.content_type == "image/jpeg" %>
                      <%= image_tag file, class: "img-fluid mb-3" %>
                      <% break %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="col-9">
                <% task.tag_user_id.split(",").uniq.reject { |s| s.to_s.empty? }.each do | id | %>
                  <% name = User.find_by(id: id).username %>
                  <div class="font-weight-bold rounded-circle rounded-circle-2 text-blue bg-light-blue d-inline-block mr-2" title="<%= name %>">
                    <% if name.match(/\s/) %>
                      <span><%= name.split(" ")[0][0].upcase %><%= name.split(" ")[1][0].upcase %></span>
                    <% else %>
                      <span><%= name.titleize[0,2] %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="col-3 text-right">
                <% case task&.priority %>
                  <% when "low" %>
                    <span class="badge badge-outline-blue">
                      <%= task&.priority.titleize %>
                    </span>
                  <% when "medium" %>
                    <span class="badge badge-outline-yellow">
                      <%= task&.priority.titleize %>
                    </span>
                  <% when "high" %>
                    <span class="badge badge-outline-red">
                      <%= task&.priority.titleize %>
                    </span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="taskModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_for @task, url: admin_tasks_path(@task), html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <span class="header2 modal-title">Create Task</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="text-black"><%= show_svg("close.svg") %></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-0">
              <div class="col-6 mb-3">
                <%= f.label :title, "Title" %>
                <%= f.text_field :title, class: "form-control", required: true %>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :priority, "Priority" %>
                <div class="row no-gutters">
                  <div class="col-5">
                    <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                      <%= f.radio_button :priority, "high" %>
                      <span class="checkmark"></span>
                    </label>
                    <label class="mb-0" style="vertical-align: middle">High</label>
                  </div>
                  <div class="col-5">
                    <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                      <%= f.radio_button :priority, "medium" %>
                      <span class="checkmark"></span>
                    </label>
                    <label class="mb-0" style="vertical-align: middle">Medium</label>
                  </div>
                  <div class="col-2">
                    <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                      <%= f.radio_button :priority, "low" %>
                      <span class="checkmark"></span>
                    </label>
                    <label class="mb-0" style="vertical-align: middle">Low</label>
                  </div>
                </div>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :due_date, "Due Date" %>
                <%= f.date_field :due_date, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :reminder_date, "Reminder Date" %>
                <%= f.date_field :reminder_date, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :tag_user_id, "Assign To" %>
                <%= f.hidden_field :tag_user_id %>
                <input type="text" placeholder="Tag someone..." class="form-control mb-3" data-reflex="debounced:input->OrderReflex#search_user">
                <section class="search-results" id="user-search-edit-results">
                  <% render partial: "search_user", locals: { current_user: current_user } %>
                </section>
                <span class="user-list">
                  <span class="tag" data-id="<%= current_user.id %>">
                    <%= current_user.username.present? ? "@" + current_user.username : "@" + current_user.full_name %>
                    <span class="user-list-remove"><%= show_svg("close.svg") %></span>
                  </span>
                </span>
                <script type="text/javascript">
                  $(document).on("click", "#new_task .user-search", function() {
                    var id = $(this).data("id");
                    var name = $(this).text().trim().toLowerCase().split(' ').join('_');
                    $("#new_task .user-list").append('<span class="tag" data-id="' + id + '">@' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                  });
                </script>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :tag_order_id, "Link Order" %>
                <%= f.hidden_field :tag_order_id %>
                <input type="text" placeholder="Link order..." class="form-control mb-3" data-reflex="debounced:input->OrderReflex#search_task_order">
                <section class="search-results" id="task-search-edit-results">
                  <% render partial: "search_order", locals: { current_user: current_user } %>
                </section>
                <span class="order-list">
                </span>
                <script type="text/javascript">
                  $(document).on("click", "#new_task .order-search", function() {
                    var id = $(this).data("id");
                    var name = $(this).text().trim();
                    $("#new_task .order-list").append('<span class="tag" data-id="' + id + '">' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                  });
                </script>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :description, "Description" %>
                <%= f.hidden_field :description %>
                <div class="d-block">
                  <div id="editor" data-reflex-permanent></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary mr-4" type="button" data-dismiss="modal">Cancel</span>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% @tasks.each do |task| %>
    <div class="modal" id="taskModal-<%= task.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-full-size switch-content active" data-switch-group="task-modal" data-switch-index="task-main">
          <div class="modal-header flex-wrap no-gutters">
            <div class="col-12 mb-3">
              <button type="button" class="close" data-dismiss="modal">
                <%= show_svg("close.svg") %>
              </button>
            </div>
            <div class="col-10">
              <span class="header2 font-weight-bold" style="vertical-align: middle">
                <%= task.title %>
              </span>
              <% case task&.priority %>
                <% when "low" %>
                  <span class="badge badge-outline-blue ml-3" style="vertical-align: middle">
                    <%= task&.priority.titleize %>
                  </span>
                <% when "medium" %>
                  <span class="badge badge-outline-yellow ml-3" style="vertical-align: middle">
                    <%= task&.priority.titleize %>
                  </span>
                <% when "high" %>
                  <span class="badge badge-outline-red ml-3" style="vertical-align: middle">
                    <%= task&.priority.titleize %>
                  </span>
              <% end %>
              <a class="switch-tab ml-3" data-switch-group="task-modal" data-switch-index="task-edit" style="vertical-align: middle">
                <%= show_svg("recent_activity.svg") %>
              </a>
            </div>
            <div class="col-2 text-right">
              In List <span class="text-blue"><%= task.status&.titleize %></span>
            </div>
          </div>
          <div class="modal-body">
            <div class="row no-gutters">
              <div class="col-6">
                <label class="text-black mr-2">Assigned to</label>
                <% task.tag_user_id.split(",").uniq.reject { |s| s.to_s.empty? }.each do |id| %>
                  <span class="text-blue"><%= User.find_by(id: id).username %></span><%= ", " unless id == task.tag_user_id.split(",").uniq.reject { |s| s.to_s.empty? }.last %>
                <% end %>
              </div>
              <div class="col-6 text-right">
                <label class="text-black mr-2">Created by</label>
                <%= User.find_by(id: task.owner_id).username %>
                <span class="px-2">|</span>
                <%= task.created_at&.strftime("%B %d, %Y")&.to_s %>
              </div>
              <% if task.reminder_date.present? %>
                <div class="col-12">
                  <label class="text-black mr-2">Reminder Date</label>
                  <span><%= task.reminder_date&.strftime("%B %d, %Y") %></span>
                </div>
              <% end %>
              <% if task.due_date.present? %>
                <div class="col-12">
                  <label class="text-black mr-2">Due Date</label>
                  <span><%= task.due_date&.strftime("%B %d, %Y") %></span>
                </div>
              <% end %>
              <div class="col-12">
                <label class="text-black">Description</label>
                <%= task.description&.html_safe %>
              </div>
              <% if task.tag_order_id != nil && task.tag_order_id != "" && task.tag_order_id != "," %>
                <div class="col-12 mb-3">
                  <label class="text-black mr-2">Linked Orders</label>
                  <% task.tag_order_id.split(",").uniq.reject { |s| s.to_s.empty? }.each do |id| %>
                    <% order = Order.find_by(id: id) %>
                    <%= link_to order.name, edit_admin_order_path(order) %><%= ", " unless id == task.tag_order_id.split(",").uniq.reject { |s| s.to_s.empty? }.last %>
                  <% end %>
                </div>
              <% end %>

              <div class="col-12 mb-3 border-bottom"></div>
              <div class="col-12 mb-3">
                <span class="underline-hover switch-tab active" data-switch-group="task-content" data-switch-index="timeline">
                  Timeline
                </span>
                <span class="underline-hover switch-tab" data-switch-group="task-content" data-switch-index="files">
                  Files
                </span>
              </div>

              <div class="col-12 switch-content active" data-switch-group="task-content" data-switch-index="timeline">
                <%= form_for [task.comments.new], remote: true, :url => admin_task_comments_path(task), html: { id: "new_comment-" + task.id.to_s }, data: { reflex: "submit->CommentReflex#submit", reflex_root: "#taskModal-" + task.id.to_s, user_id: current_user.id, task_id: task.id } do |f| %>
                  <div class="row mb-3">
                    <div class="col-9">
                      <%= f.text_area :description, class: "form-control mb-3", style: "min-height: 7.5rem" %>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                    <div class="col-3">
                      <%= f.hidden_field :tag_user_id %>                
                      <input type="text" placeholder="@ Tag someone" class="form-control comment-search" data-reflex="debounced:input->TaskReflex#search_user_comment" data-task-id="<%= task.id %>">
                      <section class="search-results" id="user-search-edit-results-comment-<%= task.id %>">
                        <% render partial: "search_user", locals: { current_user: current_user } %>
                      </section>
                      <div class="user-list mt-3"></div>
                      <script type="text/javascript">
                        $(document).on("click", "#taskModal-<%= task.id %> .user-search", function() {
                          var id = $(this).data("id");
                          var name = $(this).text().trim().toLowerCase().split(' ').join('_');
                          $("#taskModal-<%= task.id %> .user-list").append('<span class="tag" data-id="' + id + '">@' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                        });
                        
                        $("#new_comment-<%= task.id %>").on("submit", function() {
                          var val = ",";
                          $(this).find(".user-list .tag").each(function() {
                            if ($(this).data("id") != null) {
                              val += $(this).data("id") + ",";
                            }
                          });
                          $(this).find("#comment_tag_user_id").val(val);
                        });
                      </script>
                    </div>
                  </div>
                <% end %>

                <div class="timeline-container">
                  <div class="row mx-0 mb-3 timeline timeline-line">
                    <% Audit.where("(auditable_type = ? AND auditable_id = ?) OR (auditable_type = ? AND associated_id = ?)", "Task", task.id, "Comment", task.id).order(created_at: :desc).each do |audit| %>
                      <% if audit.auditable_type == "Comment" %>
                        <div class="col-1 mb-5">
                          <%= render partial: "/admin/comments/timeline_icon" %>
                        </div>
                        <div class="col-11 mb-5">
                          <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                          <p>
                            <% if audit.audited_changes["tag_user_id"].present? %>
                              <% audit.audited_changes["tag_user_id"].split(",").uniq.reject { |s| s.to_s.empty? }.each do | id | %>
                                <% if id.include? "d-" %>
                                  <% if Department.find_by(id: id[2..-1]).present? %>
                                    <span class="font-weight-bold mr-2">@<%= Department.find_by(id: id[2..-1]).name %></span>
                                  <% end %>
                                <% else %>
                                  <% if User.find_by(id: id).present? %>
                                    <span class="font-weight-bold mr-2">@<%= User.find_by(id: id).username %></span>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                            "<%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %>"
                          </p>
                        </div>

                      <% elsif audit.action == "create" %>
                        <div class="col-1 mb-5">
                          <%= render partial: "/admin/comments/timeline_icon" %>
                        </div>
                        <div class="col-11 mb-5">
                          <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                          <p>Task created.</p>
                        </div>

                      <% elsif audit.audited_changes["due_date"].present? || audit.audited_changes["description"].present? || audit.audited_changes["title"].present? || audit.audited_changes["tag_user_id"].present? %>
                        <div class="col-1 mb-5">
                          <%= render partial: "/admin/comments/timeline_icon" %>
                        </div>
                        <div class="col-11 mb-5">
                          <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                          <p>Task content updated.</p>
                        </div>
                            
                      <% elsif audit.audited_changes["status"].present? %>
                        <div class="col-1 mb-5">
                          <%= render partial: "/admin/comments/timeline_icon" %>
                        </div>
                        <div class="col-11 mb-5">
                          <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                          <p>
                            Status updated from <%= Task.statuses.key(audit.audited_changes["status"][0]).titleize %> to <%= Task.statuses.key(audit.audited_changes["status"][1]).titleize %>.
                          </p>
                        </div>
                            
                      <% elsif audit.audited_changes["priority"].present? %>
                        <div class="col-1 mb-5">
                          <%= render partial: "/admin/comments/timeline_icon" %>
                        </div>
                        <div class="col-11 mb-5">
                          <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                          <p>
                            Priority updated from <%= Task.priorities.key(audit.audited_changes["priority"][0])&.titleize %> to <%= Task.priorities.key(audit.audited_changes["priority"][1])&.titleize %>.
                          </p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-12 switch-content" id="switch-content-file-<%= task.id %>" data-switch-group="task-content" data-switch-index="files">
                <%= form_for [:admin, task], html: { class: "form-horizontal form-bordered task-edit-form" } do |f| %>
                  <%= f.hidden_field :id %>
                  <div class="file-input-container position-relative" id="dropzone">
                    <%= f.file_field :files, multiple: true, accept: ".pdf, .jpeg, .jpg, .png" %>
                    <span class="font-weight-bold">Drop files here or click to upload</span>
                    <p>(File format: pdf only. File size no larger than 10MB per file.)</p>
                    <div class="d-flex justify-content-center">
                      <div class="col-4">
                        <button class="btn btn-light-blue file-input w-100" type="button">
                          Browse Files
                        </button>
                      </div>
                    </div>
                  </div>

                  <% if f.object.files.present? %>
                    <div class="table-responsive">
                      <table class="table table-borderless table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Updated</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% f.object.files.each do |doc| %>
                            <tr> 
                              <% if doc.created_at? %>
                                <td><%= link_to doc.filename, doc, target: :_blank  %></td>
                                <td><%= (doc.byte_size / (1024.0 * 1024.0)).round(2) %>MB</td>
                                <td><%= doc.created_at.to_date.strftime('%B %d, %Y') %></td>
                                <td>
                                  <%= link_to delete_upload_admin_tasks_path(doc_id: doc), method: :delete, data: { confirm: "Are you sure you want to delete this file?" } do %>
                                    <%= show_svg("close.svg") %>
                                  <% end %>
                                </td>
                              <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    
        <%= form_for [:admin, task], html: { class: "form-horizontal form-bordered task-edit-form switch-content needs-validation", novalidate: true }, data: { switch_group: "task-modal", switch_index: "task-edit" } do |f| %>
          <div class="modal-content modal-full-size">
            <div class="modal-header">
              <div class="col-12 mb-3">
                <span class="header2">Edit Task</span>
                <button type="button" class="close" data-dismiss="modal">
                  <%= show_svg("close.svg") %>
                </button>
              </div>
            </div>
            <div class="modal-body">
              <div class="row mx-0">
                <%= f.hidden_field :id %>
                <div class="col-12 mb-3">
                  <%= f.label :title, "Title" %>
                  <%= f.text_field :title, class: "form-control", required: true %>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :status, "Status" %>
                  <%= f.select :status, options_for_select(Task.statuses.keys.map { |w| [w.titleize, w] }, :selected => f.object.status), {}, class: "form-control" %>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :priority, "Priority" %>
                  <div class="row no-gutters">
                    <div class="col-5">
                      <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                        <%= f.radio_button :priority, "high" %>
                        <span class="checkmark"></span>
                      </label>
                      <label class="mb-0" style="vertical-align: middle">High</label>
                    </div>
                    <div class="col-5">
                      <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                        <%= f.radio_button :priority, "medium" %>
                        <span class="checkmark"></span>
                      </label>
                      <label class="mb-0" style="vertical-align: middle">Medium</label>
                    </div>
                    <div class="col-2">
                      <label class="checkbox checkbox-blue radio mr-2" style="vertical-align: middle">
                        <%= f.radio_button :priority, "low" %>
                        <span class="checkmark"></span>
                      </label>
                      <label class="mb-0" style="vertical-align: middle">Low</label>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :due_date, "Due Date" %>
                  <%= f.date_field :due_date, class: "form-control" %>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :reminder_date, "Reminder Date" %>
                  <%= f.date_field :reminder_date, class: "form-control" %>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :tag_user_id, "Assign To" %>
                  <%= f.hidden_field :tag_user_id, class: "task_user_list_" + f.object.id.to_s %>
                  <input type="text" placeholder="Tag someone..." class="form-control mb-3" data-task-id="<%= f.object.id %>" data-reflex="debounced:input->TaskReflex#search_user">
                  <section class="search-results" id="user-search-edit-results-<%= f.object.id %>">
                    <% render partial: "search_user", locals: { current_user: current_user } %>
                  </section>
                  <span class="user-list_<%= f.object.id %>">
                    <% task.tag_user_id.split(",").uniq.reject { |s| s.to_s.empty? }.each do |id| %>
                      <span class="tag" data-id="<%= id %>">
                        <%= User.find_by(id: id).username.present? ? "@" + User.find_by(id: id).username : "@" + User.find_by(id: id).full_name %>
                        <span class="user-list-remove">
                          <%= show_svg("close.svg") %>
                        </span>
                      </span>
                    <% end %>
                  </span>
                  <script type="text/javascript">
                    $(document).on("click", "#user-search-edit-results-<%= f.object.id %> .user-search", function() {
                      var id = $(this).data("id");
                      var name = $(this).text().trim().toLowerCase().split(' ').join('_');
                      $(".user-list_<%= f.object.id %>").append('<span class="tag" data-id="' + id + '">@' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                    });
                  </script>
                </div>
                <div class="col-6 mb-3">
                  <%= f.label :tag_order_id, "Link Order" %>
                  <%= f.hidden_field :tag_order_id, class: "task_order_list_" + f.object.id.to_s %>
                  <input type="text" placeholder="Link order..." class="form-control mb-3" data-task-id="<%= f.object.id %>" data-reflex="debounced:input->TaskReflex#search_task_order">
                  <section class="search-results" id="order-search-edit-results-<%= f.object.id %>">
                    <% render partial: "search_order", locals: { current_user: current_user } %>
                  </section>
                  <span class="order-list_<%= f.object.id %>">
                    <% if task.tag_order_id != nil && task.tag_order_id != "" && task.tag_order_id != "," %>
                      <% task.tag_order_id.split(",").uniq.reject { |s| s.to_s.empty? }.each do |id| %>
                        <span class="tag" data-id="<%= id %>">
                          <%= Order.find_by(id: id).name %>
                          <span class="user-list-remove">
                            <%= show_svg("close.svg") %>
                          </span>
                        </span>
                      <% end %>
                    <% end %>
                  </span>
                  <script type="text/javascript">
                    $(document).on("click", "#order-search-edit-results-<%= f.object.id %> .order-search", function() {
                      var id = $(this).data("id");
                      var name = $(this).text().trim();
                      $(".order-list_<%= f.object.id %>").append('<span class="tag" data-id="' + id + '">' + name + '<span class="user-list-remove"><%= show_svg("close.svg") %></span></span>');
                    });
                  </script>
                </div>
                <div class="col-12 mb-3">
                  <%= f.label :description, "Description" %>
                  <%= f.hidden_field :description, class: "task_description_" + f.object.id.to_s %>
                  <div class="form-control" id="task_description_edit_<%= f.object.id %>" contenteditable="true" style="height: fit-content; min-height: 100px">
                    <%= f.object.description&.html_safe %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mr-4 switch-tab" data-switch-group="task-modal" data-switch-index="task-main">Back</button>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
              
            <script type="text/javascript">
              $(".task-edit-form").on("submit", function() {
                $(".task_description_<%= f.object.id %>").val($("#task_description_edit_<%= f.object.id %>").html().trim());
                var val = ",";
                $(this).find(".user-list_<%= f.object.id %> .tag").each(function() {
                  if ($(this).data("id") != null) {
                    val += $(this).data("id") + ",";
                  }
                });
                $(this).find(".task_user_list_<%= f.object.id %>").val(val);

                var orderVal = ",";
                $(this).find(".order-list_<%= f.object.id %> .tag").each(function() {
                  if ($(this).data("id") != null) {
                    orderVal += $(this).data("id") + ",";
                  }
                });
                $(this).find(".task_order_list_<%= f.object.id %>").val(orderVal);
              });
            </script>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= form_for @holiday, url: {action: "create"} do |f| %>
    <div class="modal" id="eventModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-thin">
        <div class="modal-content">
          <div class="modal-header">
            <span class="header2 modal-title">Create Event</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="text-black">
                <%= show_svg("close.svg") %>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-0">
              <div class="col-6 mb-3">
                <%= f.label :start_date, "Start Date" %>
                <%= f.date_field :start_date, class: "form-control" %>
              </div>
              <div class="col-6 mb-3">
                <%= f.label :end_date, "End Date" %>
                <%= f.date_field :end_date, class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :leave_type, "Description" %>
                <%= f.text_field :leave_type, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal" id="leaveHistoryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    </div>
  </div>

  <div class="modal" id="leaveRequestModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_for @leave, url: admin_leaves_path(@leave), html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
        <div class="modal-content switch-content active" data-switch-group="leave-modal" data-switch-index="leave-main">
          <div class="modal-header">
            <span class="header2 modal-title">Leave Request</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="text-black">
                <%= show_svg("close.svg") %>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-0">
              <div class="col-6 mb-3">
                <%= f.label :leave_type, "Type" %>
                <%= f.select :leave_type, options_for_select({ "PTO (" + current_user.employee.pto_remain.to_s + " / " + current_user.employee.pto_days.to_s + ")" => "PTO", "Personal (" + current_user.employee.personal_remain.to_s + " / " + current_user.employee.personal_days.to_s + ")" => "Personal", "Sick (" + current_user.employee.sick_remain.to_s + " / " + current_user.employee.sick_days.to_s + ")" => "Sick", "Unpaid" => "Unpaid" }), { include_blank: true }, class: "form-control" %>
              </div>

              <div class="col-6 mb-3 text-right">
                <a class="switch-tab" data-switch-group="leave-modal" data-switch-index="leave-history">History</a>
              </div>
              
              <div class="col-6 mb-3">
                <%= f.label :start_date, "Start Date" %>
                <%= f.date_field :start_date, class: "form-control leave-start-date", required: true %>
              </div>
            
              <div class="col-6 mb-3">
                <%= f.label :end_date, "End Date" %>
                <%= f.date_field :end_date, class: "form-control leave-end-date", required: true %>
              </div>
                    
              <div class="col-3 mb-3">
                <label>Half Day</label><br>
                <label class="checkbox checkbox-blue">
                  <input type="checkbox" class="leave-half-day" disabled="true">
                  <span class="checkmark"></span>
                </label>
              </div>
                    
              <div class="col-9 mb-3">
                <%= f.label :duration, "Duration (Days)" %>
                <%= f.number_field :duration, class: "form-control leave-duration", step: 0.5, readonly: true, required: true %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      <% end %>
        
      <div class="modal-content switch-content" data-switch-group="leave-modal" data-switch-index="leave-history">
        <div class="modal-header">
          <span class="header2 modal-title">Leave History</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black">
              <%= show_svg("close.svg") %>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th style="width: 20%">Type</th>
                  <th style="width: 20%">Start Date</th>
                  <th style="width: 20%">End Date</th>
                  <th style="width: 15%">Duration (Days)</th>
                  <th style="width: 15%">Status</th>
                  <th style="width: 10%"></th>
                </tr>
              </thead>
              <tbody>
                <% @leaves.order(created_at: :desc).each do | leave | %>
                  <tr>
                    <td><%= leave.leave_type %></td>
                    <td><%= leave.start_date.strftime("%B %d, %Y") %></td>
                    <td><%= leave.end_date.strftime("%B %d, %Y") %></td>
                    <td><%= leave.duration == leave.duration.to_i ? leave.duration.to_i : leave.duration %> <%= "Day".pluralize(leave.duration) %></td>
                    <td>
                      <% case leave.status %>
                        <% when "Pending" %>
                          <span class="badge badge-outline-red">Pending</span>
                        <% when "Approved" %>
                          <span class="badge badge-outline-green">Approved</span>
                        <% when "Declined" %>
                          <span class="badge badge-outline-black">Declined</span>
                      <% end %>
                    </td>
                    <td>
                      <% if leave.status == "Pending" %>
                        <a class="switch-tab" data-switch-group="leave-modal" data-switch-index="<%= leave.id %>">
                          <%= show_svg("recent_activity.svg") %>
                        </a>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary switch-tab" data-switch-group="leave-modal" data-switch-index="leave-main">Back</a>
        </div>
      </div>

      <% @leaves.where(status: "Pending").each do |leave| %>
        <%= form_for [:admin, leave], html: { class: "form-horizontal form-bordered task-edit-form needs-validation", novalidate: true } do |f| %>
          <div class="modal-content switch-content" data-switch-group="leave-modal" data-switch-index="<%= leave.id %>">
            <div class="modal-header">
              <span class="header2 modal-title">Edit Leave</span>
              <button type="button" class="close" data-dismiss="modal">
                <span class="text-black"><%= show_svg("close.svg") %></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row mx-0">
                <div class="col-12 mb-3">
                  <%= f.label :leave_type, "Type" %>
                  <%= f.select :leave_type, options_for_select({ "PTO (" + current_user.employee.pto_remain.to_s + " / " + current_user.employee.pto_days.to_s + ")" => "PTO", "Personal (" + current_user.employee.personal_remain.to_s + " / " + current_user.employee.personal_days.to_s + ")" => "Personal", "Sick (" + current_user.employee.sick_remain.to_s + " / " + current_user.employee.sick_days.to_s + ")" => "Sick", "Unpaid" => "Unpaid" }, f.object.leave_type), { include_blank: true }, class: "form-control" %>
                </div>
                <div class="col-12 mb-3">
                  <%= f.label :start_date, "Start Date" %>
                  <%= f.date_field :start_date, class: "form-control leave-start-date", required: true %>
                </div>
                <div class="col-12 mb-3">
                  <%= f.label :end_date, "End Date" %>
                  <%= f.date_field :end_date, class: "form-control leave-end-date", required: true %>
                </div>
                <div class="col-3 mb-3">
                  <label>Half Day</label><br>
                  <label class="checkbox checkbox-blue">
                    <input type="checkbox" class="leave-half-day">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-9 mb-3">
                  <%= f.label :duration, "Duration (Days)" %>
                  <%= f.number_field :duration, class: "form-control leave-duration", step: 0.5, readonly: true, required: true %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-secondary switch-tab" data-switch-group="leave-modal" data-switch-index="leave-history">Back</a>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
            
  <%= form_for @expense, url: admin_expenses_path(@expense), html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
    <div class="modal" id="expenseRequestModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="header2 modal-title">Expense Request</span>
            <button type="button" class="close" data-dismiss="modal">
              <span class="text-black">
                <%= show_svg("close.svg") %>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-0">
              <div class="col-12 mb-3">
                <%= f.label :expense_type, "Type" %>
                <%= f.select :expense_type_id, options_for_select(ExpenseType.where.not(title: ["", nil]).map{|s|[s.title, s.id]}, f.object.expense_type_id), { include_blank: true }, class: "form-control", required: true %>
              </div>

              <div class="col-6 mb-3">
                <%= f.label :expense_category, "Category" %>
                <%= f.select :expense_category_id, options_for_select(ExpenseCategory.where.not(title: ["", nil]).map{|s|[s.title, s.id, { "data-type": s.expense_type_id }]}, f.object.expense_category_id), { include_blank: true }, class: "form-control", required: true %>
              </div>

              <div class="col-6 mb-3">
                <%= f.label :expense_subcategory, "Sub-Category" %>
                <%= f.select :expense_subcategory_id, options_for_select(ExpenseSubcategory.where.not(title: ["", nil]).map{|s|[s.title, s.id, { "data-category": s.expense_category_id }]}, f.object.expense_subcategory_id), { include_blank: true }, class: "form-control", required: true %>
              </div>

              <div class="col-6 mb-3">
                <%= f.label :expense_payment_method_id, "Payment Method" %>
                <%= f.select :expense_payment_method_id, options_for_select(ExpensePaymentMethod.where.not(title: ["", nil]).map{|s|[s.title, s.id, { "data-subcategory": ExpensePaymentRelation.where(expense_payment_method_id: s.id).pluck(:expense_subcategory_id) }]}, f.object.expense_payment_method), { include_blank: true }, class: "form-control", required: true %>
              </div>

              <div class="col-6 mb-3">
                <%= f.label :expense_date, "Date of Expense" %>
                <%= f.date_field :expense_date, class: "form-control", required: true %>
              </div>

              <div class="col-3 mb-3">
                <%= f.label :gst, "GST" %>
                <%= f.number_field :gst, class: "form-control", step: :any %>
              </div>

              <div class="col-3 mb-3">
                <%= f.label :pst, "PST" %>
                <%= f.number_field :pst, class: "form-control", step: :any %>
              </div>

              <div class="col-3 mb-3">
                <%= f.label :tips, "Tips" %>
                <%= f.number_field :tips, class: "form-control", step: :any %>
              </div>

              <div class="col-3 mb-3">
                <%= f.label :amount, "Invoice Total" %>
                <%= f.number_field :amount, class: "form-control", required: true, step: :any %>
              </div>

              <div class="col-12 mb-3">
                <%= f.label :comment, "Comment" %>
                <%= f.text_area :comment, class: "form-control mb-3", style: "height: 8rem" %>
                
                <div class="file-input-container position-relative" id="dropzone">
                  <%= f.file_field :files, multiple: true, class: "file-temp", accept: ".pdf, .jpeg, .jpg, .png" %>
                  <span class="font-weight-bold">Drop files here or click to upload</span>
                  <p>(File format: pdf, jpeg, jpg, and png. File size no larger than 10MB per file.)</p>
                  <div class="d-flex justify-content-center">
                    <div class="col-12">
                      <button class="btn btn-light-blue file-input" type="button" style="width: 150px">Browse Files</button>
                    </div>
                  </div>
                </div>
                <div class="file-name"></div>
              </div>
            </div>
          </div>
          
          <div class="modal-footer">
            <%= f.hidden_field :store, value: current_store %>
            <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Close</button>
      	    <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="modal" id="announcementModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">Create Announcement</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: "admin/announcements/form", locals: { current_user: current_user} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  .ql-editor { height: 100px !important; }
</style>

<script type="text/javascript">
  $("#new_task").on("submit", function() {
    $("#task_description").val($(".ql-editor").html());
    var val = ",";
    $(this).find(".user-list .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#task_tag_user_id").val(val);

    var orderVal = ",";
    $(this).find(".order-list .tag").each(function() {
      if ($(this).data("id") != null) {
        orderVal += $(this).data("id") + ",";
      }
    });

    $("#task_tag_order_id").val(orderVal);
    $(".ql-editor").html("");
  });
</script>

<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],
  [{ 'color': [] }, { 'background': [] }]
];

  if (!$(".ql-toolbar").length) {
    var editor = new Quill("#editor", {    
      modules: { 
        toolbar: toolbarOptions 
      },
      theme: "snow",
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".calendar-heading").prepend('<span class="header2 mr-4">Calendar</span>');
    $(".calendar-heading").append('<button class="btn btn-primary mb-2 float-right" type="button" data-toggle="modal" data-target="#eventModal"><%= show_svg("plus.svg") %> Create Event</button>');

    $(".calendar-heading a").first().html('<span class="icon-left"><%= show_svg("arrow.svg") %></span>');
    $(".calendar-heading a").last().html('<span class="icon-right"><%= show_svg("arrow.svg") %></span>');

    var calendarEventId = {};
    var position = [];

    $(".calendar-event").each(function() {
      var id = $(this).data("id");
      var tr = $(this).parent().parent().index();
      var td = $(this).parent().index();

      if (tr.toString() + "-" + id.toString() in calendarEventId) {
        var i = calendarEventId[tr.toString() + "-" + id.toString()][0];
        var n = calendarEventId[tr.toString() + "-" + id.toString()][1] + 1;

      } else {
        if ($(this).data("type") == "PTO" || $(this).data("type") == "Personal" || $(this).data("type") == "Sick" || $(this).data("type") == "Unpaid") {
          var i = 0;
          var n = 1;

        } else {
          var i = -1;
          var n = 1;
        }
      }

      while (position.includes(tr.toString() + "-" + td.toString() + "-" + i.toString())) {
        i++;
      }

      position.push(tr.toString() + "-" + td.toString() + "-" + i.toString());
      calendarEventId[tr.toString() + "-" + id.toString()] = [i, n];
    });

    for (let key in calendarEventId) {
      var row = key.split("-")[0];
      var id = key.split("-")[1];
      var elements = $("tbody tr:eq(" + row + ") .calendar-event[data-id='" + id + "']");
      var text = elements.first().html();
      var type = elements.first().data("type");
      if (type == "PTO") {
        elements.first().after("<div class='event-block text-blue border-blue bg-light-blue' style='left: -2px; top: calc(30px + (22px + 0.5rem) * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");
      
      } else if (type == "Personal") {
        elements.first().after("<div class='event-block text-yellow border-yellow bg-light-yellow' style='left: -2px; top: calc(30px + (22px + 0.5rem) * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");
      
      } else if  (type == "Sick") {
        elements.first().after("<div class='event-block text-red border-red bg-light-red' style='left: -2px; top: calc(30px + (22px + 0.5rem) * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");
      
      } else if (type == "Unpaid") {
        elements.first().after("<div class='event-block text-grey border-grey bg-light-grey' style='left: -2px; top: calc(30px + (22px + 0.5rem) * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");

      } else {
        if (type.endsWith("Birthday")) {
          elements.first().after("<div class='event-block text-navy p-0' style='left: 30px; top: calc(30px + 22px * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");
        
        } else {
          elements.first().after("<div class='event-block text-red p-0' style='left: 30px; top: calc(30px + 22px * " + calendarEventId[key][0] + "); width: calc((100% + 2px) * " + calendarEventId[key][1] + ")' data-reflex-permanent>" + text + "</div>");
        }
      }
      
      if (elements.first().parent().height() < 30 + 35 * calendarEventId[key][0]) {
        elements.first().parent().height(30 + 35 * calendarEventId[key][0]);
        elements.first().parent().siblings("td").height(30 + 35 * calendarEventId[key][0]);
      }
      elements.remove();
    }
    $(".today").outerHeight($(".today").parent().height());
  });

  $(document).on("change", ".leave-start-date, .leave-end-date", function() {
    var start_date = $(this).parents("form").find(".leave-start-date").val();
    var end_date = $(this).parents("form").find(".leave-end-date").val();
    if (start_date != "" && end_date != "") {
      start_date = new Date(start_date);
      end_date = new Date(end_date);
      start_date.setTime(start_date.getTime() + start_date.getTimezoneOffset() * 60 * 1000);
      end_date.setTime(end_date.getTime() + end_date.getTimezoneOffset() * 60 * 1000);
      var holidays = [];
      var off_days = [<%= 0 unless current_user.employee.work_sun %>, <%= 1 unless current_user.employee.work_mon %>, <%= 2 unless current_user.employee.work_tue %>, <%= 3 unless current_user.employee.work_wed %>, <%= 4 unless current_user.employee.work_thu %>, <%= 5 unless current_user.employee.work_fri %>, <%= 6 unless current_user.employee.work_sat %>];
      var duration = 0;

      <% Holiday.where("DATE_PART('year', date) = ?", Date.today.year).each do |holiday| %>
        var h = new Date("<%= holiday.date %>");
        h.setTime(h.getTime() + h.getTimezoneOffset() * 60 * 1000);
        holidays.push(h.getTime());
      <% end %>

      while (start_date <= end_date) {
        if ($.inArray(start_date.getDay(), off_days) == -1 && $.inArray(start_date.getTime(), holidays) == -1) {
          duration++;
        }
        start_date.setDate(start_date.getDate() + 1);
      }

      if ($(this).parents("form").find(".leave-half-day")[0].checked) {
        duration -= 0.5;
      }

      $(this).parents("form").find(".leave-duration").val(duration);
      $(this).parents("form").find(".leave-half-day").attr("disabled", false);
    }
  });

  $(document).on("change", ".leave-half-day", function() {
    var value = parseFloat($(this).parents("form").find(".leave-duration").val());
    if ($(this)[0].checked) {
      $(this).parents("form").find(".leave-duration").val(value - 0.5);
    } else {
      $(this).parents("form").find(".leave-duration").val(value + 0.5);
    }
  });

  $(".switch-tab[data-switch-group='leave-modal']").on("click", function() {
    var id = $(this).data("switch-index");
    if ($(".switch-content[data-switch-group='leave-modal'][data-switch-index='" + id + "'] .leave-duration").val() % 1 != 0) {
      $(".switch-content[data-switch-group='leave-modal'][data-switch-index='" + id + "'] .leave-half-day").prop("checked", true);
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#expense_expense_category_id option").hide();
    $("#expense_expense_subcategory_id option").hide();
    $("#expense_expense_payment_method_id option").hide();

    $("#expense_expense_type_id").on("change", function() {
      $("#expense_expense_category_id").val(null);
      $("#expense_expense_subcategory_id").val(null);
      $("#expense_expense_payment_method_id").val(null);
      $("#expense_expense_category_id option").hide();
      $("#expense_expense_category_id option[data-type='" + $(this).val() + "']").show();
    });

    $("#expense_expense_category_id").on("change", function() {
      $("#expense_expense_subcategory_id").val(null);
      $("#expense_expense_payment_method_id").val(null);
      $("#expense_expense_subcategory_id option").hide();
      $("#expense_expense_subcategory_id option[data-category='" + $(this).val() + "']").show();
    });

    $("#expense_expense_subcategory_id").on("change", function() {
      $("#expense_expense_payment_method_id").val(null);
      $("#expense_expense_payment_method_id option").hide();

      var id = $(this).val();

      $("#expense_expense_payment_method_id option").each(function() {
        if ($(this).data("subcategory") != null && $(this).data("subcategory") != "") {
          var subcategory_id = $(this).data("subcategory").toString().split(" ");
          if ($.inArray(id, subcategory_id) != -1) {
            $(this).show();
          }
        }
      });
    });
  });
</script>

<style>
  .task-tab .btn { background: var(--light-blue); }
  .task-tab.active .btn { background: var(--blue); }

  .task-tab span { color: black; }
  .task-tab.active span { color: white; }

  .task-content { display: none; }
  .task-content.active { display: flex; }

</style>

<script type="text/javascript">
  $(document).on("click", ".task-tab", function() {
    var type = $(this).data("task");
    $(".task-tab").each(function() {
      $(this).removeClass("active");
      if ($(this).data("task") == type) {
        $(this).addClass("active");
      }
    });

    $(".task-content").each(function() {
      $(this).removeClass("active");
      if($(this).data("task") == type) {
        $(this).addClass("active");
      }
    });
  });
</script>