<a class="side-link <%= "active" if controller.controller_name == "pallets" %>" href="<%= admin_pallets_path %>">Pallets</a>
<a class="side-link <%= "active" if controller.controller_name == "truck_brokers" %>" href="<%= admin_truck_brokers_path %>">Truck Brokers</a>
<a class="side-link <%= "active" if controller.controller_name == "carriers" %>" href="<%= admin_carriers_path %>">Truck Carriers</a>
<a class="side-link <%= "active" if controller.controller_name == "ocean_carriers" %>" href="<%= admin_ocean_carriers_path %>">Ocean Carriers</a>
<a class="side-link <%= "active" if controller.controller_name == "shipping_rates" %>" href="<%= admin_shipping_rates_path %>">Shipping Rates</a>
<a class="side-link <%= "active" if controller.controller_name == "shipment_codes" %>" href="<%= admin_shipment_codes_path %>">Service Codes</a>
<a class="side-link <%= "active" if controller.controller_name == "tax_rates" && params[:action] != "warehouse_deliveries" %>" href="<%= admin_tax_rates_path %>">State/Province</a>
<a class="side-link <%= "active" if controller.controller_name == "tax_rates" && params[:action] == "warehouse_deliveries" %>" href="<%= warehouse_deliveries_admin_tax_rates_path %>">Delivery ETA</a>
<!--<a class="side-link <%= "active" if controller.controller_name == "tax_rates" %>" href="<%= zip_code_page_admin_tax_rates_path %>">Zip codes</a>-->
<a class="side-link <%= "active" if controller.controller_name == "state_days" %>" href="<%= admin_state_days_path %>">Deliveries</a>
<a class="side-link <%= "active" if controller.controller_name == "white_glove_directories" || controller.controller_name == "white_glove_addresses" %>" href="<%= admin_white_glove_directories_path %>">White Glove Directories</a>
<a class="side-link <%= "active" if controller.controller_name == "risk_indicators" %>" href="<%= admin_risk_indicators_path %>">Risk Indicators</a>