<a class="side-link <%= "active" if controller.controller_name == "groups" %>" href="<%= admin_groups_path %>">Groups</a>
<a class="side-link <%= "active" if controller.controller_name == "users" %>" href="<%= admin_users_path %>">Users</a>
<a class="side-link <%= "active" if controller.controller_name == "create_whitelists" %>" href="<%= admin_create_whitelists_path %>">Security</a>
<a class="side-link <%= "active" if controller.controller_name == "warehouses" %>" href="<%= admin_warehouses_path %>">Warehouses</a>
<a class="side-link <%= "active" if controller.controller_name == "store_addresses" %>" href="<%= admin_store_addresses_path %>">Stores</a>
<a class="side-link <%= "active" if controller.controller_name == "showrooms" %>" href="<%= admin_showrooms_path %>"> Showrooms</a>
<a class="side-link <%= "active" if controller.controller_name == "commission_rates" %>" href="<%= admin_commission_rates_path %>">Commission</a>