<a class="side-link <%= "active" if controller.controller_name == "categories" %>" href="<%= admin_categories_path %>">Categories</a>
<a class="side-link <%= "active" if controller.controller_name == "suppliers" %>" href="<%= admin_suppliers_path %>">Suppliers</a>
<a class="side-link <%= "active" if controller.controller_name == "factories" %>" href="<%= admin_factories_path %>">Factories</a>
<a class="side-link <%= "active" if controller.controller_name == "product_parts" %>" href="<%= admin_product_parts_path %>">Product Categories</a>
<a class="side-link <%= "active" if controller.controller_name == "product_variants" %>" href="<%= replacement_admin_product_variants_path %>">Replacements</a>
<a class="side-link <%= "active" if controller.controller_name == "invoice_macros" %>" href="<%= admin_invoice_macros_path %>">Invoice Macros</a>