<% if @template.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @template.errors.full_messages.each do |message| %>
        <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% if params[:action] == "edit" %>
    <div class="col-8 mb-3">
      <%= f.text_field :title, class: 'form-control', placeholder: "Template Title", required: true %>
    </div>
    <div class="col-2 mb-3">
      <%= f.submit "Save", class: "btn btn-secondary w-100" %>
    </div>
    <div class="col-2 mb-3">
      <button class="btn btn-primary w-100" type="button" onclick="window.print()">Download PDF</button>
    </div>
  <% elsif params[:action] == "new" %>
    <div class="col-10 mb-3">
      <%= f.text_field :title, class: 'form-control', placeholder: "Template Title", required: true %>
    </div>
    <div class="col-2 mb-3">
      <%= f.submit "Save", class: "btn btn-secondary w-100" %>
    </div>
  <% end %>
  <div class="col-12">
    <div id="editor" data-reflex-permanent></div>
    <%= f.hidden_field :content %>
  </div>
</div>

<style>
@media print {
  body * {
    visibility: hidden;
  }
  .ql-editor * {
    visibility: visible;
  }
  .ql-editor {
    position: fixed;
    left: 0;
    top: 0;
    height: fit-content !important;
    width: 100% !important;
    padding: 5rem !important;
  }
}
</style>

<script type="text/javascript">
  $("document").ready(function() {
    $(".ql-editor").html($("#template_content").val());
  });

  $("form").on("submit",function() {
    $("#template_content").val($(".ql-editor").html());
  });

  $("#download").on("click", function() {
  }); 
</script>

<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],
  [{ 'color': [] }, { 'background': [] }]
];

  if (!$(".ql-toolbar").length) {
    var editor = new Quill("#editor", {
        
      modules: { 
        toolbar: toolbarOptions 
      },
      theme: "snow",
    });
  }
</script>