<% @announcement = Announcement.new %>
<%= form_for @announcement, :url => admin_announcements_path(@annoucement), html: { class: "form-horizontal form-bordered needs-validation", novalidate: true } do |f| %>
  <% if @announcement.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @announcement.errors.full_messages.each do | message | %>
        <%= message %><br>
      <% end %>
    </div>
  <% end %>
      
  <div class="row mx-0">
    <div class="col-12 mb-3">
      <%= f.text_area :description, class: "form-control", placeholder: "Type your description", required: true %>
    </div>
    <div class="col-6 mb-3">
      <%= f.select :topic, options_for_select(["Company", "Product/Marketing", "System/Staff"]), {}, class: "form-control" %>  
    </div>
    <div class="col-6 mb-3 text-right">           
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>