<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_production" %>
    </div>

    <div class="col-10">
      <%= form_for @supplier.users.new , url: { action: "create", controller: "admin/users", supplier_slug: @supplier.slug }, html: { class: "form-horizontal form-bordered needs-validation", novalidate: true }, data: { reflex: "submit->UserReflex#submit", user_id: current_user.id, supplier_slug: @supplier.slug } do |f| %>
        <div class="row">
          <div class="col-12 mb-3">
            <p class="header1">Create User</p>
          </div>
          <div class="col-6 mb-3">
            <%= f.label "first name" %>
            <%= f.text_field :first_name, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label "last name" %>
            <%= f.text_field :last_name, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label "email" %>
            <%= f.text_field :email, class: "form-control", required: true %>
          </div>
          <div class="col-6 mb-3">
            <%= f.label "phone number" %>
            <%= f.text_field :phone_number, class: "form-control", required: true %>
          </div>
          <div class="col-12 mb-3">
            <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary mr-4" %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>