<div class="container px-4">
  <%= render partial: "admin/suppliers/navigation" %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12 mb-4">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 25%">Description</th>
              <th style="width: 10%">SKU</th>
              <th style="width: 10%">Qty</th>
              <th style="width: 10%">Type</th>
              <th style="width: 10%">Order Date</th>
              <th style="width: 10%">ETC Date</th>
              <th style="width: 10%">Days +/-</th>
              <th style="width: 10%">Purchase Order</th>
              <th style="width: 5%">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_items.order(status: :desc, created_at: :desc).each do |item| %>
              <tr>
                <td><%= link_to item&.product_variant&.title, admin_product_variant_path(item&.product_variant_id) if item&.product_variant_id.present? %></td>
                <td><%= item&.product_variant&.sku %></td>
                <td><%= item&.quantity %></td>
                <td><%= item&.purchase_type %></td>
                <td><%= item&.purchase&.created_at.strftime("%B %d, %Y") %></td>
                <td><%= (item&.purchase&.created_at.to_date + 22.days).strftime("%B %d, %Y") %></td>
                <td>
                  <% if (Date.today - (item&.purchase&.created_at.to_date + 22.days)).to_i > 0 %>
                    <span class="text-red">
                      <%= "+" + (Date.today - (item&.purchase&.created_at.to_date + 22.days)).to_i.to_s + " Days" %>
                    </span>
                  <% else %>
                    <span class="text-green">
                      <%= (Date.today - (item&.purchase&.created_at.to_date + 22.days)).to_i.to_s + " Days" %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <% if item&.purchase.try(:store) == "us" %>
                    <%= link_to "TUS" + "#{item&.purchase&.id}", admin_purchase_path(id: item&.purchase&.id), data: { turbolinks: false } %>
                  <% else %>
                    <%= link_to "TCA" + "#{item&.purchase&.id}", admin_purchase_path(id: item&.purchase&.id), data: { turbolinks: false } %>
                  <% end %>
                </td>
                <td>
                  <% case item&.status %>
                    <% when "not_started" %>
                      <span class="badge badge-outline-light-grey">
                        <%= item&.status&.titleize %>
                      </span>

                    <% when "in_production" %>
                      <span class="badge badge-outline-blue">
                        <%= item&.status&.titleize %>
                      </span>
                    
                    <% when "container_ready" %>
                      <span class="badge badge-outline-yellow">
                        <%= item&.status&.titleize %>
                      </span>

                    <% when "completed" %>
                      <span class="badge badge-outline-green">
                        Shipped
                      </span>

                    <% when "cancelled" %>
                      <span class="badge badge-outline-black">
                        <%= item&.status&.titleize %>
                      </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>