<tr>
  <td><%= index %></td>
  
  <td>
    <%= ff.text_field :carton_length, class: 'form-control', required: false %>
  </td>

  <td>
    <%= ff.text_field :carton_width, class: 'form-control', required: false %>
  </td>

  <td>
    <%= ff.text_field :carton_height, class: 'form-control', required: false %>
  </td>

  <td>
    <%= ff.text_field :carton_weight, class: 'form-control', required: false %>
  </td>

  <td>
    <a data-reflex="click->ProductVariantReflex#delete_carton" data-id="<%= ff.object.id %>" data-user_id= "<%= current_user.id %>">
      <%= show_svg("trash.svg") %>
    </a>
  </td>
</tr>