<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_production" %>
    </div>

    <div class="col-10">
      <%= form_tag update_replacement_admin_product_variant_path(@product_variant.id), class: "form-horizontal form-bordered mb-5 needs-validation", novalidate: true do |f| %>
        <div class="row">
          <div class="col-4 mb-3">
            <label>Description</label>
            <%= text_field_tag :title, @product_variant.title, class: "form-control", required: true %>
          </div>
          
          <div class="col-4 mb-3">
            <label>Product Category</label>
            <%= select_tag :product_part_id, options_for_select(ProductPart.order(:name).map { |s| [s.name, s.id] }, @product_variant.product_part_id), { include_blank: true, class: "form-control", required: true } %>
          </div>

          <div class="col-4 mb-3">
            <label>Quantity</label>
            <%= number_field_tag :quantity, @product_variant.inventory_quantity, class: "form-control" %>
          </div>

          <div class="col-12 mb-3">
            <%= link_to "Cancel", replacement_admin_product_variants_path, class: "btn btn-secondary mr-4" %>
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <%= form_for [:admin, ReplacementReference.new], html: { class: "form-horizontal form-bordered mb-5" } do |f| %>
        <div class="row">
          <div class="col-1">
            <label style="vertical-align: text-top">Reference</label>
          </div>
          <div class="col-2">
            <input type="text" value="<%= @product_variant.product_part.name&.parameterize&.upcase %>" class="form-control d-inline-block" style="width: calc(100% - 40px)" disabled>
            <label class="d-inline-block text-right" style="margin-left: 30px">-</label>
          </div>
          <div class="col-7">
            <%= text_field_tag :variant_search, "", class: "form-control", placeholder: "Search...", data: { reflex: "debounced:input->ProductVariantReflex#search_variant" } %>
            <section class="search-results" id="search-results">
              <% render partial: "search_variant", locals: { current_user: current_user } %>
            </section>
          </div>
          <div class="col-2 text-right">
            <%= hidden_field_tag :replacement_id, @product_variant.id %>
            <%= f.submit "Add", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <% if @product_variant.replacement_references.count > 0 %>
        <div class="row no-gutters">
          <div class="col-12">
            <label>References:</label>
          </div>
          <% @product_variant.replacement_references.each do |replacement_reference| %>
            <div class="col-3 mb-2">
              <%= replacement_reference.name.upcase %>
            </div>
            <div class="col-1 mb-2">
              <%= link_to admin_replacement_reference_path(replacement_reference), method: :delete do %>
                <%= show_svg("close.svg") %>
              <% end %>
            </div>
            <div class="w-100"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("click", ".product-variant", function() {
    var sku = $(this).data("sku");
    $(".search-results").html("");
    $("#variant_search").val(sku);
  });
</script>