<div class="container px-4">
  <%= render partial: "admin/orders/navigation_product" %>
  <div class="row position-relative mb-3" style="top: calc(57px + 1rem)">
    <div class="col-6">
      <span class="header1"><%=@product_variant&.title&.html_safe %></span>
      <% if ShipmentCode.pluck(:sku_for_discount).include? @product_variant.sku %>
        <span class="badge badge-outline-light-grey ml-2" style="vertical-align: middle">Service Code</span>
      <% end %>
      <p>
        SKU: <%= @product_variant.sku %><br>
        Price: <%= number_to_currency(@product_variant.price) %><br>
        Special Price: <%= number_to_currency(@product_variant.special_price) %><br>
        <% if @product_variant.product.present? %>
          ERP-Parent product: <%= link_to @product_variant&.product&.sku, edit_admin_product_path(@product_variant.product.id), data: { turbolinks: false } if @product_variant&.product.m2_original == nil %><br>
          M2-Parent product: 
          <% if @product_variant.product.m2_original == 'yes' %>
            <%= link_to Product.find(@product_variant.product_id).sku, edit_admin_product_path(Product.find(@product_variant.product_id).id), data: { turbolinks: false } %>
          <% elsif @product_variant.m2_product_id.present? %>
            <%= link_to Product.find(@product_variant.m2_product_id).sku, edit_admin_product_path(Product.find(@product_variant.m2_product_id).id), data: { turbolinks: false } %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-6 text-right">
      <% if ShipmentCode.pluck(:sku_for_discount).include? @product_variant.sku %>
        <a href="<%= edit_admin_shipment_code_path(id: ShipmentCode.find_by(sku_for_discount: @product_variant.sku).id, variant_id: @product_variant.id) %>">
          <button class="btn btn-primary">Edit Service Code</button>
        </a>
      <% else %>
        <a href="<%= new_admin_shipment_code_path(variant_id: @product_variant.id) %>">
          <button class="btn btn-primary">Add Service Code</button>
        </a>
      <% end %>
    </div>
  </div>

  <%= form_for @product_variant, url: { action: "update" }, html: { class: "form-horizontal form-bordered position-relative", style: "top: calc(57px + 1rem)" } do |f| %>
    <%= render partial: "form", locals: { f: f, current_user: current_user } %>
  <% end %>

  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-12">
      <% if @product_variant.audits.present? %>
        <div class="timeline-container">
          <div class="row mx-0 mb-3 timeline timeline-line">
            <% @product_variant.audits.where(action: :update).reverse_each do |audit| %>
              <% unless audit.audited_changes.values.all? { |value| (value[0] == nil || value[0] == "") && (value[1] == nil || value[1] == "") } %>
                <div class="col-1 mb-5">
                  <%= render partial: "/admin/comments/timeline_icon" %>
                </div>
                <div class="col-11 mb-5">
                  <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
                  <p>
                    <% audit.audited_changes.each_pair do |key, value| %>
                      <% unless (value[0] == nil || value[0] == "") && (value[1] == nil || value[1] == "") %>
                        <% case key %>
                          <% when "unit_cost" %>
                            Supplier Price
                          <% when "inventory_limit" %>
                            Alert Limit
                          <% when "stock" %>
                            Inventory Status
                          <% else %>
                            <%= key&.to_s&.titleize %>
                        <% end %>
                        is updated <%= 'from "' + value[0].to_s + '"' unless value[0] == nil || value[0] == "" %>
                        to "<%= value[1] %>"<%= key == audit.audited_changes.keys.last ? "." : ", " %>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="assignModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="header2 modal-title">Assign Inventory To Order</span>
        <button type="button" class="close" data-dismiss="modal">
          <span class="text-black"><%= show_svg("close.svg") %></span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Search..." class="form-control" data-reflex="debounced:input->OrderReflex#search_order_assign" data-variant-id="<%= @product_variant.id %>">
        <section id="assign-search-results" class="mb-3"></section>
      </div>
    </div>
  </div>
</div>