<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_production" %>
    </div>

    <div class="col-10">
      <%= form_tag create_replacement_admin_product_variants_path, class: "form-horizontal form-bordered needs-validation", novalidate: true do |f| %>
        <div class="row">
          <div class="col-4 mb-3">
            <label>Description</label>
            <%= text_field_tag :title, "", class: "form-control", required: true %>
          </div>
          
          <div class="col-4 mb-3">
            <label>Product Part</label>
            <%= select_tag :product_part_id, options_for_select(ProductPart.order(:name).map { |s| [s.name, s.id] }), { include_blank: true, class: "form-control", required: true } %>
          </div>

          <div class="col-4 mb-3">
            <label>Quantity</label>
            <%= number_field_tag :quantity, 0, class: "form-control" %>
          </div>

          <div class="col-12 mb-3">
            <%= link_to "Cancel", replacement_admin_product_variants_path, class: "btn btn-secondary mr-4" %>
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>