<% @product = Product.find_by(id: @product_variant.product.id) if @product_variant.product.present? %>
<div class="container px-4">
  <%= render partial: "admin/orders/navigation_product" %>
  <div class="row position-relative" style="top: calc(57px + 1rem)">
    <div class="col-6 mb-3">
      <span class="header1">
        <%= @product_variant.title&.html_safe %> - <%= @product_variant.sku.upcase %>
      </span>
    </div>

    <div class="col-6 mb-3 text-right">
      <% if @product_variant.supplier.present? %>
        <p>Supplier: <%= @product_variant.supplier.name&.titleize %></p>
      <% end %>
    </div>

    <div class="col-4 mb-3">
      <div class="btn btn-light-blue d-flex mb-3">
        <span class="header2">Carton Dimensions</span>
      </div>
      
      <div class="table-responsive mb-3">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 20%">Carton #</th>
            <th style="width: 20%">Length</th>
            <th style="width: 20%">Width</th>
            <th style="width: 20%">Height</th>
            <th style="width: 20%">Weight</th>
          </thead>
          <tbody>
            <% if @product.present? && @product.carton_details.present? %>
              <% @product.carton_details.order(:index).each do |carton_detail| %>
                <tr>
                  <td><%= carton_detail.index %></td>
                  <td><%= carton_detail.length %></td>
                  <td><%= carton_detail.width %></td>
                  <td><%= carton_detail.height %></td>
                  <td><%= carton_detail.weight %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @product_variant.image_url.present? %>
        <%= image_tag @product_variant.image_url, class: "border img-fluid mb-3" %>
      <% end %>

      <%= form_for @product_variant, url: { action: "update" }, html: { class: "form-horizontal form-bordered" } do |f| %>
        <%= f.text_field :image_url, class: "form-control d-inline-block mb-4", style: "width: calc(100% - 100px - 1.5rem - 2px)", placeholder: "Image URL" %>
        <%= f.submit "Save", class: "btn btn-primary ml-4 d-inline-block mb-4", style: "vertical-align: initial" %>      
      <% end %>

      <p class="header2">Comment</p>
      <%= render partial: "admin/comments/product_variant", locals: { commentable: @product_variant, current_user: current_user } %>
    </div>

    <div class="col-8 mb-3">
      <div class="btn btn-light-blue d-flex mb-3">
        <div class="w-50 text-left">
          <span class="header2">Quantity</span>
        </div>
        <% if current_user.user_group.inventory_cru %>
          <div class="w-50 text-right">
            <span class="toggle-view toggle-content active" data-toggle="quantity">Edit</span>
            <span class="toggle-view toggle-content text-black" data-toggle="quantity">
              <%= show_svg("close.svg") %>
            </span>
          </div>
        <% end %>
      </div>

      <% if current_user.user_group.inventory_cru %>
        <div class="toggle-content p-4 mb-3 border" data-toggle="quantity">
          <%= form_for @product_variant, url: {action: "update"}, html: {class: "form-horizontal form-bordered"} do |f| %>
            <div class="row">
              <div class="col-3">
                <label>On Hand</label>
                <%= f.text_field :inventory_quantity, class: "form-control" %>
              </div>

              <div class="col-9 text-right">
                <p>&nbsp;</p>
                <%= f.submit "Save", class: "btn btn-primary mr-4" %>
                <%= link_to "Sync", update_arriving_admin_product_variants_path(slug: params[:slug], id: f.object.id), class: "btn btn-secondary" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="table-responsive toggle-content mb-3 active" data-toggle="quantity">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 20%">On Hand</th>
            <th style="width: 20%">Not Started</th>
            <th style="width: 20%">In Production</th>
            <th style="width: 20%">Container Ready</th>
            <th style="width: 20%">In Container</th>
          </thead>
          <tbody>
            <tr>
              <td><%= @product_variant&.inventory_quantity.to_i %></td>
              <td><%= @product_variant.purchase_items.where(status: :not_started).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td><%= @product_variant.purchase_items.where(status: :in_production).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td><%= @product_variant.purchase_items.where(status: :container_ready).pluck(:quantity).reject(&:blank?).map(&:to_i).sum %></td>
              <td>
                <% @a = 0 %>
                <% @product_variant&.purchase_items.where(line_item_id: nil).each do |item| %>
                  <% if item.containers.present? %>
                    <% item.containers.each do |cant| %>
                      <% @a = @a + item&.quantity.to_i if !(cant.status == "arrived") %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= @a %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="btn btn-light-blue d-flex mb-3">
        <span class="header2">History</span>
      </div>
      
      <div class="table-responsive mb-3">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 20%">Date</th>
            <th style="width: 20%">Event</th>
            <th style="width: 20%">Adjusted By</th>
            <th style="width: 20%">Adjustment</th>
            <th style="width: 20%">Quantity</th>
          </thead>
          <tbody>
            <% @histories.each do |inventory_history| %>
              <tr>
                <td><%= inventory_history.created_at.strftime("%B %d, %Y") %></td>
                <td>
                  <%= inventory_history.event %>
                  <% if inventory_history.order_id.present? && Order.find_by(id: inventory_history.order_id).present? && Order.find_by(id: inventory_history.order_id).name.present? %> 
                    <%= link_to "(" +Order.find_by(id: inventory_history.order_id)&.name + ")", edit_admin_order_path(inventory_history.order)%>
                  <% end %>
                  <% if inventory_history.container_id.present? %>
                    <% container_number =  Container.find_by(id: inventory_history.container_id).container_number %>
                    <%= link_to "(Container " + "#{container_number})", edit_admin_container_path(inventory_history.container_id) %>
                  <% end %>
                </td>
                <td><%= (inventory_history.user_id.present? && User.where(deactivate: [false, nil]).find_by(id: inventory_history.user_id).present?) ? User.where(deactivate: [false, nil]).find_by(id: inventory_history.user_id).first_name : "Online Store" %></td>
                <td><%= inventory_history.adjustment %></td>
                <td><%= inventory_history.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        
      <% if @pagy.count > 1 %>
        <div id="page-nav" class="mb-3">
          <%= render partial: "paginator", locals: { current_user: current_user } %>
        </div>
      <% end %>

      
      <div class="btn btn-light-blue d-flex mb-3">
        <span class="header2">Warehouse Inventory</span>
      </div>
      
      <div class="table-responsive mb-3">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 20%">Warehouse</th>
            <th style="width: 20%">Quantity</th>
            
          </thead>
          <tbody>
            <% @product_variant&.warehouse_variants.each do |warehouse_variant| %>
              <tr>
                <td><%= warehouse_variant.warehouse.name %></td>
                <td>
                  <%= number_field_tag :warehouse_quantity, warehouse_variant.warehouse_quantity, data: { reflex: "change->WarehouseReflex#update_warehouse_quantity", warehouse_variant_id: warehouse_variant.id }, class: "form-control w-50 d-inline-block" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% @product_variant.warehouses.each do |warehouse| %>
        <div class="btn btn-light-blue d-flex mb-3">
          <span class="header2"><%=warehouse.name%> Warehouse History</span>
        </div>
        
        <div class="table-responsive mb-3">
          <table class="table table-borderless table-hover">
            <thead>
              <th style="width: 20%">Date</th>
              <th style="width: 20%">Event</th>
              <th style="width: 20%">Adjusted By</th>
              <th style="width: 20%">Adjustment</th>
              <th style="width: 20%">Quantity</th>
            </thead>
            <tbody>
              <% InventoryHistory.where(product_variant_id: @product_variant.id, warehouse_id: warehouse.id).order(created_at: :desc).each do |inventory_history| %>
                <tr>
                  <td><%= inventory_history.created_at.strftime("%B %d, %Y") %></td>
                  <td>
                    <%= inventory_history.event %>
                    <% if inventory_history.order_id.present? && Order.find_by(id: inventory_history.order_id).present? && Order.find_by(id: inventory_history.order_id).name.present? %> 
                      <%= link_to "(" +Order.find_by(id: inventory_history.order_id)&.name + ")", edit_admin_order_path(inventory_history.order)%>
                    <% end %>
                    <% if inventory_history.container_id.present? %>
                      <% container_number =  Container.find_by(id: inventory_history.container_id).container_number %>
                      <%= link_to "(Container " + "#{container_number})", edit_admin_container_path(inventory_history.container_id) %>
                    <% end %>
                  </td>
                  <td><%= (inventory_history.user_id.present? && User.where(deactivate: [false, nil]).find_by(id: inventory_history.user_id).present?) ? User.where(deactivate: [false, nil]).find_by(id: inventory_history.user_id).first_name : "Online Store" %></td>
                  <td><%= inventory_history.warehouse_adjustment %></td>
                  <td><%= inventory_history.warehouse_quantity %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <div class="btn btn-light-blue d-flex mb-3">
        <div class="w-50 text-left">
          <span class="header2">Location</span>
        </div>
        <% if current_user.user_group.inventory_cru %>
          <div class="w-50 text-right">
            <span class="toggle-view toggle-content active" data-toggle="location">Update</span>
            <span class="toggle-view toggle-content text-black" data-toggle="location">
              <%= show_svg("close.svg") %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="table-responsive toggle-content mb-3 active" data-toggle="location">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 20%">Carton #</th>
            <th style="width: 20%">Rack</th>
            <th style="width: 20%">Level</th>
            <th style="width: 20%">Bin</th>
            <th style="width: 20%">Qty</th>
          </thead>
          <tbody>
            <% if @product_variant.cartons.present? %>
              <% @product_variant.cartons.each do |carton| %>
                <% carton.carton_locations.eager_load(:product_location).order(:rack, :level, :bin).each do |location| %>
                  <tr>
                    <td><%= carton.carton_detail.index %> / <%= carton.carton_detail.product.carton_details.maximum(:index) %></td>
                    <td><%= location.product_location.rack %></td>
                    <td><%= location.product_location.level %></td>
                    <td><%= location.product_location.bin %></td>
                    <td><%= location.quantity %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <% @product_variant.product_variant_locations.each do |location| %>
                <% carton = CartonLocation.find_by(product_location_id: location.product_location.id) %>
                <tr>
                  <td><%= carton.carton.carton_detail.index %> / <%= carton.carton.carton_detail.product.carton_details.maximum(:index) %></td>
                  <td><%= carton.product_location.rack %></td>
                  <td><%= carton.product_location.level %></td>
                  <td><%= carton.product_location.bin %></td>
                  <td><%= carton.quantity %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if current_user.user_group.inventory_cru %>
        <div class="table-responsive toggle-content mb-3" id="location-edit-container" data-toggle="location">
          <table class="table table-borderless table-hover">
            <thead>
              <th style="width: 20%">Carton #</th>
              <th style="width: 20%">Rack</th>
              <th style="width: 20%">Level</th>
              <th style="width: 20%">Bin</th>
              <th style="width: 20%">Qty</th>
            </thead>
            <tbody>
              <% @product_variant.cartons.each do |carton| %>
                <% carton.carton_locations.eager_load(:product_location).order(:rack, :level, :bin).each do |location| %>
                  <tr>
                    <td><%= carton.carton_detail.index %> / <%= carton.carton_detail.product.carton_details.maximum(:index) %></td>
                    <td><%= location.product_location.rack %></td>
                    <td><%= location.product_location.level %></td>
                    <td><%= location.product_location.bin %></td>
                    <td><input type="number" value="<%= location.quantity %>" class="form-control" data-location="<%= location.id %>" data-reflex="change->WarehouseReflex#update_quantity" data-reflex-root="#location-edit-container"></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <div class="btn btn-light-blue d-flex mb-3">
        <span class="header2">Location History</span>
      </div>
      
      <div class="table-responsive mb-3">
        <table class="table table-borderless table-hover">
          <thead>
            <th style="width: 15%">Date</th>
            <th style="width: 10%">Rack</th>
            <th style="width: 10%">Level</th>
            <th style="width: 10%">Bin</th>
            <th style="width: 15%">Event</th>
            <th style="width: 15%">Adjusted By</th>
            <th style="width: 15%">Adjustment</th>
            <th style="width: 10%">Qty</th>
          </thead>
          <tbody>
            <% @product_variant.location_histories.order(created_at: :desc).each do |location_history| %>
              <tr>
                <td><%= location_history.created_at.strftime("%B %d, %Y") %></td>
                <% if location_history.product_location.present? %>
                  <td><%= location_history.product_location.rack %></td>
                  <td><%= location_history.product_location.level %></td>
                  <td><%= location_history.product_location.bin %></td>
                <% else %>
                  <td></td>
                  <td></td>
                  <td></td>
                <% end %>
                <td><%= location_history&.event.humanize %>
                <td><%= (location_history.user_id.present? && User.where(deactivate: [false, nil]).find_by(id: location_history.user_id).present?) ? (User.where(deactivate: [false, nil]).find_by(id: location_history.user_id).first_name) : "Online Store" %></td>
                <td><%= location_history.adjustment %></td>
                <td><%= location_history.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      

      <% if @product_variant.replacement_references.count > 0 %>
        <div class="btn btn-light-blue d-flex mb-3">
          <span class="header2">References</span>
        </div>
      
        <div class="table-responsive mb-3">
          <table class="table table-borderless table-hover">
            <thead>
              <th style="width: 100%">Reference</th>
            </thead>
            <tbody>
            <% @product_variant.replacement_references.each do |replacement_reference| %>
              <tr>
                <td><%= replacement_reference.name %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
        
      <% if @pagy.count > 1 %>
        <div id="page-nav" class="mb-3">
          <%= render partial: "paginator", locals: { current_user: current_user } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".edit-toggle").on("click", function(e) {
      e.stopPropagation();
      var edit = $(this).data("edit");
      $(".edit-container").each(function() {
        if ($(this).data("edit") == edit) {
          $(this).toggleClass("active");
        }
      });
    });
  });
</script>