<tr>
  <td><%= f.text_field :name, class: "form-control" %></td>
  <td><%= f.text_field :number, class: "form-control" %></td>
  <td><%= f.text_field :email, class: "form-control" %></td>
  <td>
    <a data-reflex="click->CarrierReflex#delete_contact" data-id="<%= f.object.id %>">
      <%= show_svg("close.svg") %>
    </a>
  </td>
</tr>