<% if @carrier.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @carrier.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-4 mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :tracking_url, "Tracking URL" %>
    <%= f.text_field :tracking_url, class: "form-control" %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :truck_broker_id, "Truck Broker" %>
      <%= f.select :truck_broker_id, options_for_select(TruckBroker.all.map{ |s| [s.name + " (" + s.country + ")", s.id, { "data-store" => s.country }] }, f.object.truck_broker_id), { include_blank: true }, { class: "form-control" } %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :carrierID, "Carrier ID" %>
    <%= f.text_field :carrierID, class: "form-control" %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :tracking_method, "Tracking Method" %>
    <%= f.select :tracking_method, ["BOL", "PRO"], { include_blank: true }, class: "form-control" %>	
  </div>

  <div class="col-4 mb-3">
    <%= f.label :billing_method, "Billing Method" %>
    <%= f.select :billing_method, ["Invoiced", "Prepaid"], { include_blank: true }, class: "form-control" %>	
  </div>

  <div class="col-2 mb-3">
    <label>Country</label><br>    
    <label class="mb-0 mr-2" style="vertical-align: middle">US</label>
    <label class="checkbox checkbox-blue radio mr-4" style="vertical-align: middle">
      <%= f.radio_button :country, "us", required: true %>
      <span class="checkmark"></span>
    </label>    
    <label class="mb-0 mr-2" style="vertical-align: middle">CA</label>
    <label class="checkbox checkbox-blue radio mr-4" style="vertical-align: middle">
      <%= f.radio_button :country, "canada", required: true %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="col-2 mb-3">
    <label>Deactive</label><br>
    <%= f.check_box :inactive, data: { switch: "blue" } %>
    <%= f.label :inactive, "&nbsp;".html_safe %>
  </div>

  <% if params[:action] == "edit" %>
    <div class="col-12 mb-3">
      <span class="header2 mr-2">Carrier Contact</span>
      <button class="btn btn-primary" type="button" data-reflex="click->CarrierReflex#add_contact" data-id="<%= f.object.id %>">
        <%= show_svg("plus.svg") %>
        Add Contact
      </button>
    </div>

    <div class="col-12 mb-3" id="carrier_contact">
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 30%">Name</th>
              <th style="width: 30%">Phone</th>
              <th style="width: 30%">Email</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :carrier_contacts do |carrier_contacts_attributes| %>
              <%= render "carrier_contact_fields", f: carrier_contacts_attributes %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_carriers_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (!$("#carrier_country_us")[0].checked) {
     $("option[data-store='us']").hide();
    }
    if (!$("#carrier_country_canada")[0].checked) {
     $("option[data-store='canada']").hide();
    }
  });

  $("input[type='radio']").on("change", function() {
    if ($("#carrier_country_us")[0].checked) {
      $("option[data-store='us']").show();
    } else {
      $("option[data-store='us']").hide();
    }

    if ($("#carrier_country_canada")[0].checked) {
      $("option[data-store='canada']").show();
    } else {
      $("option[data-store='canada']").hide();
    }
  });
</script>