<% if f.object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% f.object.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>
<%= f.hidden_field :store, value: current_store %>

<div class="row">
  <div class="col-6 mb-3">
    <%= f.label :order_min_price, "Order Min Price" %>
    <%= f.text_field :order_min_price, class: "form-control", required: true %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :order_max_price, "Order Max Price" %>
    <%= f.text_field :order_max_price, class: "form-control" %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :discount, "Shipping Rate" %>
    <%= f.text_field :discount, class: "form-control" %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :shipping_method, "Shipping Method" %>
    <%= f.select :shipping_method, ["White Glove Delivery", "Curbside Delivery"], {}, class: "form-control" %>	
  </div>
          
  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_shipping_rates_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>