<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_shipping" %>
    </div>

    <div class="col-10">
      <span class="header2 d-inline-block mr-2" style="width: 165px">Standard Shipping Rate</span>
      <% if current_user.user_group.admin_cru %>
        <a href="<%= standard_shipping_rate_admin_shipping_rates_path %>">
          <button class="btn btn-primary" style="width: 250px">
            <%= show_svg("plus.svg") %>
            Create Standard Shipping Rate
          </button>
        </a>
      <% end %>
      
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Order Min Price</th>
              <th style="width: 20%">Order Max Price</th>
              <th style="width: 25%">Shipping Rate</th>
              <th style="width: 25%">Shipping Method</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @standard_shipping_rates.order(:shipping_method, :order_min_price).each do |rate| %>
              <tr>
                <td><%= rate&.order_min_price %></td>
                <td><%= rate&.order_max_price %></td>
                <td><%= rate&.discount %></td>
                <td><%= rate&.shipping_method %></td>
                <td>
                  <% if current_user.user_group.admin_cru %>
                    <a href="<%= update_rate_admin_shipping_rates_path(rate: rate, shipping: "standard") %>" class="mr-2">
                      <%= show_svg("recent_activity.svg") %>
                    </a>
                    <%= link_to delete_rate_admin_shipping_rates_path(rate: rate, shipping: "standard"), method: :delete, data: { confirm: "Are you sure you want to delete this shipping rate?" } do %>
                      <%= show_svg("close.svg") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <span class="header2 d-inline-block mr-2" style="width: 165px">Local Shipping Rate</span>
      <% if current_user.user_group.admin_cru %>
        <a href="<%= local_shipping_rate_admin_shipping_rates_path %>">
          <button class="btn btn-primary" style="width: 250px">
            <%= show_svg("plus.svg") %>
            Create Local Shipping Rate
          </button>
        </a>
      <% end %>
      
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Order Min Price</th>
              <th style="width: 20%">Order Max Price</th>
              <th style="width: 25%">Shipping Rate</th>
              <th style="width: 25%">Shipping Method</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @local_shipping_rates.order(:shipping_method, :order_min_price).each do |rate| %>
              <tr>
                <td><%= rate&.order_min_price %></td>
                <td><%= rate&.order_max_price %></td>
                <td><%= rate&.discount %></td>
                <td><%= rate&.shipping_method %></td>
                <td>
                  <% if current_user.user_group.admin_cru %>
                    <a href="<%= update_rate_admin_shipping_rates_path(rate: rate, shipping: "local") %>" class="mr-2">
                      <%= show_svg("recent_activity.svg") %>
                    </a>
                    <%= link_to delete_rate_admin_shipping_rates_path(rate: rate, shipping: "local"), method: :delete, data: { confirm: "Are you sure you want to delete this shipping rate?" } do %>
                      <%= show_svg("close.svg") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <span class="header2 d-inline-block mr-2" style="width: 165px">Remote Shipping Rate</span>
      <% if current_user.user_group.admin_cru %>
        <a href="<%= remote_shipping_rate_admin_shipping_rates_path %>">
          <button class="btn btn-primary" style="width: 250px">
            <%= show_svg("plus.svg") %>
            Create Remote Shipping Rate
          </button>
        </a>
      <% end %>
      
      <div class="table-responsive">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Order Min Price</th>
              <th style="width: 20%">Order Max Price</th>
              <th style="width: 25%">Shipping Rate</th>
              <th style="width: 25%">Shipping Method</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @remote_shipping_rates.order(:shipping_method, :order_min_price).each do |rate| %>
              <tr>
                <td><%= rate&.order_min_price %></td>
                <td><%= rate&.order_max_price %></td>
                <td><%= rate&.discount %></td>
                <td><%= rate&.shipping_method %></td>
                <td>
                  <% if current_user.user_group.admin_cru %>
                    <a href="<%= update_rate_admin_shipping_rates_path(rate: rate, shipping: "remote") %>" class="mr-2">
                      <%= show_svg("recent_activity.svg") %>
                    </a>
                    <%= link_to delete_rate_admin_shipping_rates_path(rate: rate, shipping: "remote"), method: :delete, data: { confirm: "Are you sure you want to delete this shipping rate?" } do %>
                      <%= show_svg("close.svg") %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>