<% if @state_day.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @state_day.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-4 mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :state, "Abbreviation" %>
    <%= f.text_field :state, class: "form-control", required: true %>
  </div>

  <div class="col-4 mb-3">
    <%= f.label :region, "Region" %>
    <% if current_store == "us" %>
      <%= f.select :region, options_for_select(["West", "South West", "Mid West", "South East", "North East"], @state_day.region), { include_blank: true }, class: "form-control", required: true %>
    <% else %>
      <%= f.select :region, options_for_select(["West Coast", "Territories", "Prairie", "Central", "Atlantic"], @state_day.region), { include_blank: true }, class: "form-control", required: true %>
    <% end %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :state_days, "Start Days" %>
    <%= f.text_field :start_days, class: "form-control" %>
  </div>

  <div class="col-6 mb-3">
    <%= f.label :end_days, "End Days" %>
    <%= f.text_field :end_days, class: "form-control" %>
  </div>
  
  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_state_days_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>

