<% if @account_expense.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @account_expense.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>
  <%= f.hidden_field :store, value: current_store %>

  <% if @expense_type.present? %>
    <div class="col-6 mb-3">
      <%= f.label :expense_type, "Type" %>
      <%= f.select :expense_type_id, options_for_select(ExpenseType.all.map{|s|[s.title, s.id]}, @expense_type.id), {include_blank: true}, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_type" } %>
    </div>
  <% else %>
    <div class="col-6 mb-3">
      <%= f.label :expense_type, "Type" %>
      <%= f.select :expense_type_id, options_for_select(ExpenseType.all.map{|s|[s.title, s.id]}, f.object.expense_type_id), {include_blank: true}, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_type" } %>
    </div>
  <% end %>

  <% if @expense_type.present? %>
    <% if @expense_category.present? %>
      <div class="col mb-3">
        <%= f.label :expense_category, "Category" %>
        <%= f.select :expense_category_id, options_for_select(ExpenseCategory.all.where(expense_type_id: @expense_type.id).map{|s|[s.title, s.id]}, @expense_category.id), { include_blank: true }, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_category", type_id: "#{@expense_type.id}" } %>
      </div>
    <% else %>
      <div class="col mb-3">
        <%= f.label :expense_category, "Category" %>
        <%= f.select :expense_category_id, options_for_select(ExpenseCategory.all.where(expense_type_id: @expense_type.id).map{|s|[s.title, s.id]}, f.object.expense_category_id), { include_blank: true }, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_category", type_id: "#{@expense_type.id}" } %>
      </div>
    <% end %>
  <% end %>

  <% if @expense_category.present? %>
    <% if @expense_subcategory.present? %>
      <div class="col mb-3">
        <%= f.label :expense_subcategory, "Sub-Category" %>
        <%= f.select :expense_subcategory_id, options_for_select(ExpenseSubcategory.all.where(expense_category_id: @expense_category.id).map{|s|[s.title, s.id]}, @expense_subcategory.id), { include_blank: true }, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_subcategory", type_id: "#{@expense_type.id}", category_id: "#{@expense_category.id}" } %>
      </div>
    <% else %>
        <div class="col mb-3">
        <%= f.label :expense_subcategory, "Sub-Category" %>
        <%= f.select :expense_subcategory_id, options_for_select(ExpenseSubcategory.all.where(expense_category_id: @expense_category.id).map{|s|[s.title, s.id]}, f.object.expense_subcategory_id), { include_blank: true }, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#select_subcategory", type_id: "#{@expense_type.id}", category_id: "#{@expense_category.id}" } %>
      </div>
    <% end %>
  <% end %>

  <% if @expense_subcategory.present? %>
    <div class="col mb-3">
      <%= f.label :expense_payment_method, "Payment Method" %>
      <%= f.select :expense_payment_method_id, options_for_select(ExpensePaymentMethod.all.where(expense_subcategory_id: @expense_subcategory.id).map{|s|[s.title, s.id]}, f.object.expense_payment_method_id), { include_blank: true }, class: "form-control" %>
    </div>
  <% end %>

  <div class="col mb-3">
    <%= f.label :gst, "GST" %>
    <%= f.text_field :gst, class: "form-control" %>
  </div>

  <div class="col mb-3">
    <%= f.label :pst, "PST" %>
    <%= f.text_field :pst, class: "form-control" %>
  </div>

<div class="col-12 mb-3">
  <%= link_to "Cancel", admin_accounting_expenses_path, class: "btn btn-secondary mr-4" %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
</div>

