<div class="row">
  <div class="col-6 mb-3">
    <%= f.hidden_field :store, value: current_store %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="col-12 mb-3">
    <%= link_to "Cancel", accounting_admin_accounting_expenses_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>
