<% if @invoice_macro.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @invoice_macro.errors.full_messages.each do |message|%>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-6 mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="w-100"></div>

  <div class="col-6 mb-3">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control", required: true %>
  </div>
  <div class="w-100"></div>

  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_invoice_macros_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>