<div class="row">
  <div class="col-4 mb-3">
    <%= f.label :title, "Title", class: "w-75" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="col-1 mb-3">
    <label>Posting</label><br>
    <%= f.check_box :company_card, data: { switch: "blue" } %>
    <%= f.label :company_card, "&nbsp;".html_safe, class: "mr-2" %>
  </div>
  
  <div class="col-12 mb-3">
    <%= link_to "Cancel", admin_expense_payment_methods_path, class: "btn btn-secondary mr-4" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>