<div class="container px-4">
  <%= render "includes/admin_sub_nav" %>

  <div class="row">
    <div class="col-2">
      <%= render "includes/side_nav_accounting" %>
    </div>

    <div class="col-10">
      <%= form_for @payment_method, url: { action: "update" } , html: { class: "form-horizontal form-bordered" } do |f| %>
        <div class="row">
          <div class="col-4 mb-3">
            <%= f.label :title, "Title", class: "w-75" %>
            <%= f.text_field :title, class: "form-control", data: { reflex: "change->AccountingExpenseReflex#update_payment_method", reflex_dataset: "combined", payment_method_id: f.object.id } %>
          </div>

          <div class="col-1 mb-3">
            <label>Posting</label><br>
            <%= f.check_box :company_card, data: { switch: "blue", reflex: "change->AccountingExpenseReflex#update_payment_method", reflex_dataset: "combined", payment_method_id: f.object.id } %>
            <%= f.label :company_card, "&nbsp;".html_safe, class: "mr-2" %>
          </div>

          <div class="col-1 mb-3">
            <label>Deactivate</label><br>
            <%= f.check_box :deactivate, data: { switch: "blue", reflex: "change->AccountingExpenseReflex#update_payment_method", reflex_dataset: "combined", payment_method_id: f.object.id } %>
            <%= f.label :deactivate, "&nbsp;".html_safe, class: "mr-2" %>
          </div>

          <% unless f.object.deactivate %>
            <div class="table-responsive">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th style="width: 75%">Expense Type</th>
                    <th style="width: 25%">Selected</th>
                  </tr>
                </thead>
                <tbody>
                  <% ExpenseSubcategory.all.eager_load(:expense_category).order("expense_categories.title, expense_subcategories.title").each do |subcategory| %>
                    <tr>
                      <td> 
                        <%= link_to subcategory.expense_category.title.to_s + ": " + subcategory.title.to_s, edit_type_admin_accounting_expenses_path(id: subcategory.expense_category.expense_type.id) %>
                      </td>
                      <td>
                        <input data-switch="blue" type="checkbox" <%= "checked" if ExpensePaymentRelation.where(expense_subcategory_id: subcategory.id, expense_payment_method_id: f.object.id).present? %> id="expense_subcategory_link_<%= subcategory.id %>" data-subcategory-id="<%= subcategory.id %>" data-payment-method-id="<%= f.object.id %>" data-reflex="change->AccountingExpenseReflex#link_payment_method">
                        <label for="expense_subcategory_link_<%= subcategory.id %>">&nbsp;</label>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>