<%= form_for [@order.comments.new], remote: true, :url => admin_order_comments_path(@order), data: {reflex: "submit->CommentReflex#submit", user_id: current_user.id} do |f| %>
  <div class="row mb-3">
    <div class="col-9" data-reflex-permanent>
      <div id="editor"></div>
      <button type="submit" class="btn btn-primary mt-2">Comment</button>
      <button type="button" class="btn text-blue mt-2" data-toggle="modal" data-target="#taskModal">Add Task</button>
    </div>

    <div class="col-3">
      <%= f.hidden_field :description %>
      <%= f.hidden_field :tag_user_id %>
      
      <input type="text" placeholder="@ Tag someone" class="form-control comment-search" data-reflex="debounced:input->OrderReflex#search_user">
      <section class="search-results" id="user-search-edit-results">
        <% render partial: "search_user", locals: { current_user: current_user } %>
      </section>
      <div class="user-list mt-3"></div>
    </div>
  </div>
<% end %>

<% if @order.audits.present? || @order.associated_audits.present? %>
  <div class="timeline-container">
    <div class="row mx-0 mb-3 timeline timeline-line">
      <% aud = Array.new %>
      <% @order.audits.each do |audit| %>
        <% aud.push(audit) %>
      <% end %>

      <% @order.associated_audits.each do |audit| %>
        <% aud.push(audit) %>
      <% end %>

      <% aud.sort_by {|a| a.created_at}.reverse_each do |audit| %>
        <% if audit.auditable_type == "Order" %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <% if audit.action == "create" %>
                <% if audit.audited_changes["employee_id"].present? %>
                  <%= User.find_by(id: audit.user_id)&.username %> created New Order.
                <% end %>
                <% if audit.audited_changes["payment_method"].present? && audit.audited_changes["employee_id"].present? %>
                  <% if audit.audited_changes["payment_method"] == "CC via Stripe" || audit.audited_changes["payment_method"] == "Cash" || audit.audited_changes["payment_method"] == "Trade Cheque" %>
                    Payment collected via <%= audit.audited_changes["payment_method"] %>.
                  <% else %>
                    Partial Payment - deposit of (<%= number_to_currency(@order&.invoice&.deposit) %>) collected via <%= audit.audited_changes["payment_method"] %>.
                  <% end %>
                <% end %>
                <% if @order.name.start_with? "R" %>
                  <%= User.find_by(id: audit.user_id)&.username %> created Replacement Order
                  <% Order.where(id: @order.order_link).each do |order| %>
                    <% order.issues.each do |issue| %>
                      <% if issue.order_link&.split(",")&.map { |i| i.to_i }&.include? @order.id %>
                        <%= " from" + issue.replacement_type.titleize if issue.replacement_type.present? %>
                      <% end %>
                    <% end %>
                  <% end %>
                  .
                <% end %>
                
              <% else %>
                <% audit.audited_changes.each_pair do |key, value| %>
                  <% if (value.present?) && (get_changes(key, value[1]) == "cancel_request") %>
                    <% if @order.cancel_reason.present? %>
                      Cancel requested due to "<%= @order.cancel_reason %>"
                    <% else %>
                      Cancel requested
                    <% end %>
                  <% elsif (value.present?) && (get_changes(key, value[1]) == "hold_request") %>
                    <%= "Hold requested | Reason: #{@order.hold_reason}" %>
                  <% elsif (value.present?) && (key == 'status') %>
                    Moved to
                    <% if get_changes(key, value[1]) == "in_progress" %>
                      <%= get_changes(key, value[1]).to_s.humanize %>(<%= @order.shipping_details.first.status %>)
                    <% else %>
                      <%= get_changes(key, value[1]).to_s.humanize %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>

        <% elsif audit.auditable_type == "Issue" && audit.audited_changes.present? && audit.action =="create" %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <%=link_to "ISS-" + "#{audit.auditable_id}" , edit_admin_issue_path(id: audit.auditable_id) %> assigned
              <% if audit.audited_changes["assign_to"].include? "," %>
                <% list = audit.audited_changes["assign_to"]&.split(",").uniq.reject { |s| s.to_s.empty? } %>
                <% list.each do | id | %>
                  to <%= User.find_by(id: id).full_name.titleize %><%= ", " unless id == list.last %>
                <% end %>
              <% else %>
                to <%= audit.audited_changes["assign_to"] %>
              <% end %>
            </p>
          </div>

        <% elsif audit.auditable_type == "Issue" && audit.audited_changes.present? && audit.action =="update" && audit.audited_changes["assign_to"].present? %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <%=link_to "ISS-" + "#{audit.auditable_id}" , edit_admin_issue_path(id: audit.auditable_id) %> assigned to
              <% if audit.audited_changes["assign_to"][1].include? "," %>
                <% list = audit.audited_changes["assign_to"][1]&.split(",").uniq.reject { |s| s.to_s.empty? } %>
                <% list.each do | id | %>
                  <%= User.find_by(id: id).full_name.titleize %><%= ", " unless id == list.last %>
                <% end %>
              <% else %>
                <%= audit.audited_changes["assign_to"][1] %>
              <% end %>
            </p>
          </div>

        <% elsif audit.auditable_type == "ShippingDetail" && audit.audited_changes %>
          <% if audit.audited_changes["status"].kind_of?(Array) %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>
                Shipping status changed from "<%= ShippingDetail.statuses.key(audit.audited_changes["status"][0]).try(:titleize) %>" to "<%= ShippingDetail.statuses.key(audit.audited_changes["status"][1]).try(:titleize) %>"
              </p>
            </div>

          <% elsif audit.action == "update" && (audit.audited_changes["eta_from"].present? || audit.audited_changes["eta_to"].present?) %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>
                Shipment <%= @order.shipping_details.where("id <= ?", audit.auditable_id).count %> ETA date updated from
                "<%= audit.audited_changes["eta_from"].present? ? audit.audited_changes["eta_from"][0]&.to_date&.strftime("%B %d, %Y") : ShippingDetail.find_by(id: audit.auditable_id)&.eta_from&.to_date&.strftime("%B %d, %Y") %> -
                <%= audit.audited_changes["eta_to"].present? ? audit.audited_changes["eta_to"][0]&.to_date&.strftime("%B %d, %Y") : ShippingDetail.find_by(id: audit.auditable_id)&.eta_to&.to_date&.strftime("%B %d, %Y") %>"
                to
                "<%= audit.audited_changes["eta_from"].present? ? audit.audited_changes["eta_from"][1]&.to_date&.strftime("%B %d, %Y") : ShippingDetail.find_by(id: audit.auditable_id)&.eta_from&.to_date&.strftime("%B %d, %Y") %> -
                <%= audit.audited_changes["eta_to"].present? ? audit.audited_changes["eta_to"][1]&.to_date&.strftime("%B %d, %Y")  : ShippingDetail.find_by(id: audit.auditable_id)&.eta_to&.to_date&.strftime("%B %d, %Y") %>"
              </p>
            </div>

          <% elsif audit.audited_changes["remote"].present? || audit.audited_changes["overhang"].present? || audit.audited_changes["local_pickup"].present? %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>
                <% if audit.audited_changes["remote"].present? %>
                  <% if audit.audited_changes["remote"][0].present? %>
                    <% if audit.audited_changes["remote"][1] == "1" %>
                      "Remote Shipping" status added to shipment.
                    <% elsif audit.audited_changes["remote"][1] == "0" %>
                      "Remote Shipping" status removed from shipment.
                    <% end %>
                  <% end %>
                <% end %>
                
                <% if audit.audited_changes["local_pickup"].present? %>
                  <% if audit.audited_changes["local_pickup"][0].present? %>
                    <% if audit.audited_changes["local_pickup"][1] == "1" %>
                      "Local Pickup" status added to shipment.
                    <% elsif audit.audited_changes["local_pickup"][1] == "0" %>
                      "Local Pickup" status removed from shipment.
                    <% end %>
                  <% end %>
                <% end %>
                
                <% if audit.audited_changes["overhang"].present? %>
                  <% if audit.audited_changes["overhang"][0].present? %>
                    <% if audit.audited_changes["overhang"][1] == "1" %>
                      "Overhang" status added to shipment.
                    <% elsif audit.audited_changes["overhang"][1] == "0" %>
                      "Overhang" status removed from shipment.
                    <% end %>
                  <% end %>
                <% end %>
              </p>
            </div>
              
          <% elsif audit.action == "create" %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>Shipping created</p>
            </div>
              
          <% elsif audit.action == "destroy" %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>Shipping deleted</p>
            </div>
          <% end %>
                
        <% elsif audit.auditable_type == "Comment" && audit.audited_changes %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <% if audit.audited_changes["tag_user_id"].present? %>
                <% audit.audited_changes["tag_user_id"].split(",").uniq.reject { |s| s.to_s.empty? }.each do | id | %>
                  <% if id.include? "d-" %>
                    <% if Department.find_by(id: id[2..-1]).present? %>
                      <span class="font-weight-bold mr-2">@<%= Department.find_by(id: id[2..-1]).name %></span>
                    <% end %>
                  <% else %>
                    <% if User.find_by(id: id).present? %>
                      <span class="font-weight-bold mr-2">@<%= User.find_by(id: id).username %></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %>
            </p>
          </div>

        <% elsif audit.auditable_type == "Invoice" && audit.audited_changes %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              Payment 
              <% if audit.audited_changes["additional_deposit"].present? %>
                <%= number_to_currency(audit.audited_changes["additional_deposit"][1].to_f) %> collected
              <% end %>
              <% if audit.audited_changes["additional_payment_method"].present? %>
                via <%= Invoice.additional_payment_methods.key(audit.audited_changes["additional_payment_method"][1]) %>.
              <% end %>
            </p>
            <% if audit.audited_changes["additional_notes"].present? %>
              <p><%= audit.audited_changes["additional_notes"][1] %></p>
            <% end %>
          </div>

        <% elsif audit.auditable_type == "ShippingLine" && audit.audited_changes %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <% if audit.audited_changes["title"].present? %>
                Shipping method <%= audit.audited_changes["title"][0] %> changed to <%= audit.audited_changes["title"][1] %>.
              <% end %>
              <% if audit.audited_changes["price"].present? %>
                Shipping cost changed from <%= number_to_currency(audit.audited_changes["price"][0].to_f) %> to <%= number_to_currency(audit.audited_changes["price"][1].to_f) %>.
              <% end %>
            </p>
          </div>

        <% elsif !(audit.action == "create") && audit.auditable_type == "LineItem" && audit.audited_changes %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <% if audit.audited_changes.key?("order_id") %>
                "<%= audit.auditable.title %>" moved from <%= Order.find(audit.audited_changes["order_id"][0]).name %> to <%= Order.find(audit.audited_changes["order_id"][1]).name %>

              <% elsif audit.audited_changes.key?("status") && audit.audited_changes["order_id"] %>
                Status of "<%= audit.auditable.title %>" changed from "<%= LineItem.statuses.key(audit.audited_changes["status"][0]).try(:titleize) %>" to "<%= LineItem.statuses.key(audit.audited_changes["status"][1]).try(:titleize) %>"

              <% elsif audit.audited_changes.key?("reserve") %>
                <%= LineItem.find(audit.auditable_id)&.title %> <%= '(' + LineItem.find(audit.auditable_id)&.sku + ')' %> updated from
                <%= audit.audited_changes["reserve"][0] ? "WH Reserved" : "To Be Reserved" %> to<%= audit.audited_changes["reserve"][1] ? "WH Reserved" : "To Be Reserved" %>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#new_comment").on("submit", function() {
    $("#comment_description").val($(".ql-editor").html());

    var val = ",";
    $(this).find(".user-list .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#comment_tag_user_id").val(val);
    $(".ql-editor").html("");
  });

  $(document).on("click", "#new_comment .user-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(' ').join('_');
    var svg = '<%= show_svg("close.svg") %>'
    $("#new_comment .user-list").append("<span class='tag' data-id='" + id + "'>@" + name + "<span class='user-list-remove'>" + svg + "</span></span>");
    $(".comment-search").val("");
  });

  $(document).on("click", "#new_comment .department-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(" ").join("_");
    var svg= '<%= show_svg("close.svg") %>'
    $("#new_comment .user-list").append("<span class='tag' data-id='d-" + id + "'>@" + name + "<span class='user-list-remove'>" + svg + "</span></span>");
    $(".comment-search").val("");
  });
</script>

<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }]
];

  if (!$(".ql-toolbar").length) {
    var editor = new Quill("#editor", {
        
      modules: { 
        toolbar: toolbarOptions 
      },
      theme: "snow",
    });
  }
</script>