<%= form_for [@return.comments.new], :url => admin_return_comments_path(@return), html: { class: "new_comment mr-4" }, data: { reflex: "submit->CommentReflex#submit", user_id: current_user.id } do |f| %>
  <div class="row mb-3">
    <div class="col-9">
      <div id="editor" data-reflex-permanent></div>
      <button type="submit" class="btn btn-primary mt-2">Add</button>
    </div>

    <div class="col-3">
      <%= f.hidden_field :description %>
      <%= f.hidden_field :tag_user_id %>
      
      <input type="text" placeholder="@ Tag someone" class="form-control comment-search" data-reflex="debounced:input->OrderReflex#search_user">
      <section class="search-results" id="user-search-edit-results">
        <% render partial: "admin/orders/search_user", locals: { current_user: current_user } %>
      </section>
      <div class="user-list mt-3"></div>
    </div>
  </div>
<% end %>

<% if @return.audits.present? || @return.associated_audits.present? %> 
  <div class="timeline-container mr-4">
    <div class="row mx-0 mb-3 timeline timeline-line">
      <% aud = Array.new %>
      <% @return.audits.each do |audit| %>
        <% aud.push(audit) %>
      <% end %>
      
      <% @return.associated_audits.each do |audit| %>
        <% aud.push(audit) %>
      <% end %>
      
      <% aud.sort_by {|a| a.created_at}.reverse_each do |audit| %>
        <% if audit.auditable_type == "Return" && audit.action == "create" %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>Return created.</p>
          </div>

        <% elsif audit.auditable_type == "Return" && audit.audited_changes.present? %>
          <% if audit.audited_changes["status"].present? %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>
                Return status changed from "<%= Return.statuses.key(audit.audited_changes["status"][0])&.titleize %>" to "<%= Return.statuses.key(audit.audited_changes["status"][1])&.titleize %>".
              </p>
            </div>
          <% end %>


        <% elsif audit.auditable_type == "ReturnLineItem" && audit.audited_changes.present? %>
          <% if audit.audited_changes["status"].present? %>
            <div class="col-1 mb-5">
              <%= render partial: "/admin/comments/timeline_icon" %>
            </div>
            <div class="col-11 mb-5">
              <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
              <p>
                Return line item status changed from "<%= ReturnLineItem.statuses.key(audit.audited_changes["status"][0])&.titleize %>" to "<%= ReturnLineItem.statuses.key(audit.audited_changes["status"][1])&.titleize %>".
                <% if audit.audited_changes["status"][1] == 1 %>
                  <%= ReturnLineItem.find_by(id: audit.auditable_id).quantity.to_s + " item".pluralize(ReturnLineItem.find_by(id: audit.auditable_id).quantity) %> disposed.
                <% elsif audit.audited_changes["status"][1] == 2 %>
                  <%= ReturnLineItem.find_by(id: audit.auditable_id).quantity.to_s + " item".pluralize(ReturnLineItem.find_by(id: audit.auditable_id).quantity) %> added to stock.
                <% elsif audit.audited_changes["status"][1] == 3 %>
                  <%= ReturnLineItem.find_by(id: audit.auditable_id).quantity.to_s + " item".pluralize(ReturnLineItem.find_by(id: audit.auditable_id).quantity) %> added to overstock.
                <% elsif audit.audited_changes["status"][1] == 4 %>
                  <%= ReturnLineItem.find_by(id: audit.auditable_id).quantity.to_s + " item".pluralize(ReturnLineItem.find_by(id: audit.auditable_id).quantity) %> added to marketplace.
                <% end %>
              </p>
            </div>
          <% end %>

        <% elsif audit.auditable_type == "Comment" && audit.audited_changes.present? %>
          <div class="col-1 mb-5">
            <%= render partial: "/admin/comments/timeline_icon" %>
          </div>
          <div class="col-11 mb-5">
            <%= render partial: "/admin/comments/timeline_date", locals: { audit: audit } %>
            <p>
              <% if audit.audited_changes["tag_user_id"].present? %>
                <% audit.audited_changes["tag_user_id"].split(",").uniq.reject { |s| s.to_s.empty? }.each do | id | %>
                  <% if id.include? "d-" %>
                    <% if Department.find_by(id: id[2..-1]).present? %>
                      <span class="font-weight-bold mr-2">@<%= Department.find_by(id: id[2..-1]).name %></span>
                    <% end %>
                  <% else %>
                    <% if User.find_by(id: id).present? %>
                      <span class="font-weight-bold mr-2">@<%= User.find_by(id: id).username %></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <%= audit.audited_changes["description"]&.html_safe if audit.audited_changes["description"].present? %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
	</div>
<% end %>

<script type="text/javascript">
  $("#new_comment").on("submit", function() {
    $("#comment_description").val($(".ql-editor").html());

    var val = ",";
    $(".user-list .tag").each(function() {
      if ($(this).data("id") != null) {
        val += $(this).data("id") + ",";
      }
    });

    $("#comment_tag_user_id").val(val);
    $(".ql-editor").html("");
  });

  $(document).on("click", "#new_comment .user-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(' ').join('_');
    var svg = '<%= show_svg("close.svg") %>'
    $("#new_comment .user-list").append("<span class='tag' data-id='" + id + "'>@" + name + "<span class='user-list-remove'>" + svg + "</span></span>");
    $(".comment-search").val("");
  });

  $(document).on("click", "#new_comment .department-search", function() {
    var id = $(this).data("id");
    var name = $(this).text().trim().toLowerCase().split(" ").join("_");
    var svg= '<%= show_svg("close.svg") %>'
    $("#new_comment .user-list").append("<span class='tag' data-id='d-" + id + "'>@" + name + "<span class='user-list-remove'>" + svg + "</span></span>");
    $(".comment-search").val("");
  });
</script>

<link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],
  [{ 'color': [] }, { 'background': [] }]
];

  if (!$(".ql-toolbar").length) {
    var editor = new Quill("#editor", {
        
      modules: { 
        toolbar: toolbarOptions 
      },
      theme: "snow",
    });
  }
</script>