<%= form_tag new_sub_board_admin_board_sections_path(section_id: create_section.id), html: { class: "form-horizontal form-bordered" } do |f| %>
  <div class="modal" id="createSectionModal-<%= create_section.id %>" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-thin">
     <div class="modal-content">
        <div class="modal-header">
          <span class="header2 modal-title">New Section</span>
          <button type="button" class="close" data-dismiss="modal">
            <span class="text-black"><%= show_svg("close.svg") %></span>
          </button>
        </div>
        <div class="modal-body">
          <label>Name</label>
          <%= text_field_tag :name, "", class: "form-control" %>
        </div>
        <div class="modal-footer">
          <span class="btn btn-secondary mr-4" data-dismiss="modal">Cancel</span>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>