<div class="row">
  <div class="col-9 mb-3">
    <span class="header1"><%= board_page.name %></span>
  </div>
  <div class="col-3 mb-3 text-right">
    <span class="text-light-grey font-italic">
      (<%= ((board_page.updated_at - board_page.created_at) / 3600).round <= 1 ? "created on" : "updated on" %> <%= board_page.updated_at.strftime("%B %d, %Y") %>)
    </span>
  </div>
</div>
<div class="border mb-3 flex-auto">
  <div class="ql-snow">
    <div class="ql-editor">
      <%= board_page.content.gsub("\\\'", "\'").html_safe if board_page.content.present? %>
    </div>
  </div>
</div>
<div style="height: 30px">
  <% if board_page.tag.present? %>
    <% board_page.tag.each do |tag| %>
      <span class="tag"><%= tag %></span>
    <% end %>
  <% end %>
</div>